[2016-09-24 21:02] scopatz commented on #1754
Thanks for reporting @rtpg! Would you mind trying out the fix in #1759.  Otherwise @laerus's work around with strings should work too

[2016-09-24 21:10] scopatz commented on #1753
Any fix is most welcome!

[2016-09-24 21:13] scopatz commented on #1564
@laerus - I agree that we could certainly try to do better caching, but somethings like CWD and the last return code actually can and do change each time the prompt is printed.  I think we'd have to clear the cache pretty frequently, but we might be able to cut down on the prompt and rprompt overhead a bit.

[2016-09-24 21:17] scopatz commented on #1564
Of course this would only help if prompt and rprompt display the same information.  However, this may be more useful if / when we also add a bottom toolbar.  Also, maybe different entries should have a way of flagging how often they need to be revaluated. For example, once (for things like user and host name), every prompt (for repo status, cwd, etc), and every keystroke (for run time validation o

[2016-09-24 21:19] scopatz commented on #1550
Probably :)

[2016-09-24 21:32] laerus commented on #1564
Was thinking that `$FORMATTER_DICT` is not a nice name too. Think we should bring events on this?

[2016-09-24 21:36] scopatz commented on #247
Hi @blahgeek, @gforsyth is totally right about the GPL vs BSD issues.  Interestingly though, the first file you linked, `create_manpage_completions.py`, is actually BSD 3-clause licensed if you look at it.  This means that you could copy this into xonsh and make some minor edits, as long as you retained the original copyright notice at the top, that is already there.

So that simply leaves the der

[2016-09-24 21:38] scopatz commented on #1564
I don't think this is really event related, personally.  It is a different kind of system.

[2016-09-24 21:49] scopatz commented on #1744
Lesser shells don't even print an error message.  They won't let you cd into a dir that doesn't exist, but if you are in a dir that is removed underneath you, they'll chug along.  I think we need some behaviour like this.  I thought it worked like that already.  It sort of does, but it looks like when you run a command or try to cd out it crashes.

It is suprising easy to remove dirs you are in wi

[2016-09-24 22:02] scopatz commented on #1517
@flavius - thanks for the hint! Can you please try the fix in #1760?

[2016-09-24 22:06] scopatz commented on #1714
This should be easier to approach with #1758, since it is effectively the same logic as `$AUTO_CD`.  We could consioder doing something similar using open/xdg-open for Mac and Linux.  Maybe an `$AUTO_OPEN` envvar could turn this on and off?  I would be in favor of this :)

[2016-09-24 22:08] scopatz commented on #1725
Again, feel free to out vote me :).  I think an implementation would go a long way here.

[2016-09-24 22:09] scopatz commented on #1737
Hi @astronouth7303, thanks for pointing this out.  I think this runs into locale issues too.  I really have no idea what the story on windows is like.

[2016-09-24 22:13] scopatz commented on #1432
Hi @laerus sorry for the delay here.  I think we have basically decided to not escape in favor of quotes and subprocess macros.  My personal justifications for this are:

1. escape charaters can get overwhemlingly ugly fast.
2. We have escape characters, they are called quotes :)
3. We have literal input in subprocess mode via macros.

If you think we just need docs to this effect, I am happy to w

[2016-09-24 22:20] scopatz commented on #1723
Hi @gforsyth, sorry about this. I anticipated that this might happen.

I think that the fix is to have a bashisms xontrib that implements a precommand event handle which does does the textual history replacement.  This has the advantage of being more like what bash itself does, where you can use !! anywhere in the line, and not just as an alias.  This would also let othere bashisms naturally come

[2016-09-24 22:28] scopatz commented on #1700
Hi @melund - yeah.  I never seems to call that function at all.  Weird.

[2016-09-24 23:08] laerus commented on #1432
I went again over all the related issues and tried to come up with something to write in the docs but i'm not sure how to structure it. I really like quotes more than escape characters and never had an issue with this. You said in the previous post that there is *more work to be done*, did you mean about how the parsing is done, like do we want to autoquote some parts before parsing? My only conce

[2016-09-24 23:59] scopatz commented on #1432
Hi @laerus - I think that I meant by "there is more work to be done" with respect to how the tab completer will auto-quote invalid tokens.

As per making thing more clear to the user, if #1759 is merged we can just say that if the token contains any of the forbidden characters/tokens (which are explicitly listed) it will need quotes.  I think that is easier to explain than just the ones that are a

[2016-09-24 23:59] scopatz commented on #1432
Thanks for pushing this forward.

[2016-09-25 02:17] astronouth7303 commented on #1737
Well, "console encoding" is the current locale on linux.

Currently, windows is ASCII. I think that's slated to change in 3.6 when they add a wrapper around the console-specific functions.

[2016-09-25 02:20] astronouth7303 commented on #1744
Normally, doing the expected thing for shells is goo, but it's `os.getwd()` that's throwing the error. Unless we mock it out, everywhere that calls it would have to handle the error in some way.

So instead of dealing with it in innumerable places, what's just deal with it in one.

[2016-09-25 08:00] blahgeek commented on #247
That's great news! I think I can handle that, I'll let you know if I need some help :P

And one more thing, now that I thought more throughly about this feature, I have some second thoughts... We already have a good implementation for bash completion, which supports pretty large amount of commands (see [here](https://github.com/scop/bash-completion/tree/master/completions)) which I think covers 90

[2016-09-25 08:03] blahgeek commented on #247
Well, for fish shell, they don't seems to have support for bash completer, so they have no choice. (Or maybe they do not use that on purpose?)

[2016-09-25 12:36] #1754 closed

[2016-09-25 16:23] t184256 commented on #1048
I have no idea what I'm doing, but it seems like I just wrote a related xontrib: https://github.com/t184256/xontrib-prompt-vi-mode.

I've added its metadata in pull request xonsh/xonsh/pull/1762.

[2016-09-25 16:45] scopatz commented on #1048
Thanks @t184256!

[2016-09-25 16:59] scopatz commented on #247
@blahgeek - yeah I think that you are right about the mapage completion.  It would be great for descriptions, probably should have a lower priority than bash completions, and we should probably add a descriptions API to the completions interface, though not all shells could use it.

As per fish, I don't know a lot about fihs's development cycle. But I think it fair to guess that xonsh is probably

[2016-09-25 18:42] scopatz opened #1763 "Completion traceback on Windows"
I am now seeing this on Windows on master (eff2626)

[code]

[2016-09-25 18:48] scopatz commented on #1763
I see the problem, fix incomming.

[2016-09-25 19:09] scopatz commented on #1763
See #1764

[2016-09-25 19:46] #1763 closed

[2016-09-26 07:32] paulhybryant opened #1766 "xonsh failed to pickup the modules installed"
I am using OSX.

Installing xonsh through
brew install xonsh

After that installed xontrib module (e.g. z)
pip3 install xontrib-z

The python module is installed in the site-packages of homebrew python in /usr/local/lib/python3.5/site-packages.

When starting xonsh, it complains about unable to find the xontrib module z.

In xonsh, by adding /usr/local/lib/python3.5/site-packages through site.adds

[2016-09-26 10:49] gforsyth commented on #1766
Thanks for reporting, @paulhybryant!  This is a duplicate of #1733.

That's good to know.  This seems like it's an issue with the homebrew recipe and it also looks like you've already found a workaround.  Is it possible to include the `side.addsitedir` to the homebrew recipe?  ping @OJFord

[2016-09-26 11:16] OJFord commented on #1766
@gforsyth Is `site` a xonsh thing? Not familiar with that, but if so I doubt it would be possible in the brew formula, since it would need to be run inside xonsh (`xonsh -c "..."`?) - and I rather suspect the Homebrew folks wouldn't like that.

It ought to be possible to change its existing location though, but I haven't looked into it yet.

Just to reiterate what I said in #1733, a workaround on

[2016-09-26 11:19] gforsyth commented on #1766
`site` is part of the standard library.  I think `site.addsitedir` would accomplish the same thing as your workaround but without the `eval` statement.

[2016-09-26 16:53] astronouth7303 commented on #1766
[`site`](https://docs.python.org/3/library/site.html)

This is very strange. On Linux, I have no trouble with having system and user sites. On Windows, I'm using a user-installed Python and a _lot_ of venvs, so I can't confirm behavior.

This smells like you've got too many versions of Python running around, and you're actually using two different installations. It's either that or a bug in `brew`

[2016-09-26 17:32] gforsyth commented on #1766
Here's the brew recipe for `xonsh`: https://github.com/Homebrew/homebrew-core/blob/9c2c13e62cb3336953dc8c1599f1a5efe2712398/Formula/xonsh.rb

It installs `xonsh` in a virtualenv, so it won't have access to anything installed with `pip`.  I'm strongly leaning towards labelling this `wontfix` and punting to whoever handles the brew recipe

[2016-09-26 19:32] kootenpv opened #1769 "xonsh on login not having all commands available in emacs subshell"
I have setup xonsh to be my login shell. I have some command 'grip' that's available by default immediately in iTerm2. The problem is that somehow in Emacs whenever it executes in a subprocess, I assume my bashrc/bash_profile are ignored?

Does anyone have an idea what I should change?

[2016-09-26 20:48] gforsyth commented on #1517
Fixed in #1760

[2016-09-26 20:48] #1517 closed

[2016-09-26 20:53] gforsyth commented on #1769
Hi @kootenpv -- thanks for reporting!
Just to clarify: You open `xonsh` in iTerm2 and you have the `grip` command available, but when you run `term` in emacs it isn't?

Did you add `bash` as a foreign shell in your setup?

[2016-09-26 21:27] kootenpv commented on #1769
@gforsyth And thanks for answering on such short notice!

Yep. Steps:

1. xonsh then xonfig wizard
2. Resulting in the file `/Users/me/.config/xonsh/config.json`

[code]
3.  Ran `chsh -s /Library/Frameworks/Python.framework/Versions/3.5/bin/xonsh` to make xonsh my default shell
4. Logout, come back and notice that xonsh is working in iTerm2. grip works.
5. Open Emacs.app and executing any kind of

[2016-09-26 22:27] gforsyth commented on #922
I believe this was fixed in #1709.  Please reopen if the issue persists!  Thanks!

[2016-09-26 22:27] #922 closed

[2016-09-26 22:32] gforsyth commented on #1769
Are `ag` and `grip` both python scripts?

[2016-09-26 23:40] laerus commented on #1070
hey @cryzed is this still an issue?

[2016-09-26 23:59] cryzed commented on #1070
Hey @laerus no, @adqm's `nocompinscrpt` branch had fixed it successfully and has since been merged. Sorry for not closing the issue!

[2016-09-26 23:59] #1070 closed

[2016-09-27 01:48] paulhybryant commented on #1766
I ended up adding this in the brew formula.

def post_install
     pth_contents = "import site; site.addsitedir('#{HOMEBREW_PREFIX}/lib/python3.5/site-packages')\n"
     (libexec/"lib/python3.5/site-packages/homebrew.pth").write pth_contents
end

I will send a PR to homebrew and see what they say.

The strange thing is the different behavior between OSX and linux.
It seems the python in linux will

[2016-09-27 06:24] kootenpv commented on #1769
@gforsyth `grip` *is* a python script, `ag` isn't (C).

[2016-09-27 15:19] gforsyth commented on #1769
Ok.  So you are doing `M-x shell`, yes?  Then `xonsh` opens in the subshell but you can't use `ag` or `grip`.  What is the value of `$PATH` in the subshell?  If it's incorrect, you should be able to update it in your `xonshrc` and it will be loaded in the subshell.

[2016-09-28 12:36] shahinism opened #1771 "ValueError: embedded null byte while running in single command mode"
I'm using [spacemacs](/syl20bnr/spacemacs/) which uses [exec-path-from-shell](purcell/exec-path-from-shell) to retrieve and set environment variables from user shell. After switching to Xonsh, `exec-path-from-shell` returns following error whenever it's executing:

[code]

I've searched through it's source code and find it [here](/purcell/exec-path-from-shell/blob/master/exec-path-from-shell.el#L1

[2016-09-28 12:52] gforsyth commented on #1696
Closed in #1772

[2016-09-28 12:52] #1696 closed

[2016-09-28 13:03] gforsyth commented on #1771
Hey @shahinism, thanks for reporting!  I can confirm this issue. I've disabled `exec-path-from-shell` in my setup to make emacs stop complaining but I recognize that's a less than satisfactory workaround.

[2016-09-28 13:48] komuW opened #1773 "most commands don't work"
I've installed xonsh on OSX using brew,
However most commands especially of python packages do not work(unix commands though do work)

 ~ $ xonsh
xonsh: subprocess mode: command not found: xonsh

~ $  pip
xonsh: subprocess mode: command not found: pip
Did you mean one of the following?
    pp:   Command (/usr/bin/pp)
    lp:   Command (/usr/bin/lp)

~ $ youtube-dl
xonsh: subprocess mode: command n

[2016-09-28 13:56] gforsyth commented on #1773
hi @komuW -- thanks for opening the issue!

This sounds like a problem with your `$PATH`.  If you do a `which pip` and/or a `which xonsh` in Bash, do the directories containing those show up in `$PATH` in xonsh?

[2016-09-28 14:05] komuW commented on #1773
@gforsyth thanks for a prompt reply!

~ $ which xonsh
xonsh not in $PATH or xonsh.builtins.aliases

~ $ which pip
pip not in $PATH or xonsh.builtins.aliases

~ $ $PATH
['/usr/bin', '/bin', '/usr/sbin', '/sbin']

[2016-09-28 14:07] gforsyth commented on #1773
Hey @komuW -- ok, cool.  So it looks like your `$PATH` is just the default one that xonsh ships with.  However, if you use `brew` and whatnot, it symlinks a bunch of binaries to places like `/usr/local/bin` (I think... not a mac person).  So you want to find out where `pip` and `xonsh` live and then add those locations to `$PATH` in your `xonshrc` file so that they persist between sessions.

[2016-09-28 14:15] komuW commented on #1773
@gforsyth thanks!
seems like brew didn't symlink `/usr/local/bin`.
I just added that and now it works like a charm.

[2016-09-28 14:15] #1773 closed

[2016-09-28 14:22] gforsyth commented on #1773
Woohoo!  Awesome.

[2016-09-28 15:52] gforsyth commented on #1723
No worries!  And yeah, best to remove them rather than leaving broken things behind.

I can look at putting together a bashisms xontrib if I really end up missing `!!`

[2016-09-28 18:08] shahinism commented on #1771
Line `15956` in `__amalgam__.py` is trying to execute a `Popen` like this:
[code]
That `\x` is causing the problem.

[2016-09-28 18:56] scopatz commented on #1771
So it is a unicode null :(

[2016-09-28 22:00] gforsyth commented on #1771
Ok, so I did a runaround on the null thing, but found a different problem.
The `exec-path-from-shell.el` script has a special case for using either fish, tcsh or variants since they aren't posix compliant.  I added xonsh to the list of non-compliant shells and that gets rid of the null thing, but now it raises this:

[code]

The fallback is to use `sh` if the main shell isn't compliant, but that p

[2016-09-29 04:59] scopatz commented on #1723
If you don't mind, I think we should leave this open so that other people know will know it is potentially in the works... or they might beat us to it :)

[2016-09-29 05:02] scopatz commented on #1771
Out of curiosity, what happens if you use `xon.sh`, rather than `xonsh`?  This might apply the escapes correctly...

[2016-09-29 06:21] shahinism commented on #1771
[code]

[2016-09-29 08:35] xsteadfastx opened #1776 "git_dirty_working_directory always returns True if git not in english"
im using the latest version from master (commit 1c96dc4ab23ad67). i found out about the changes for `git_dirty_working_directory`. it checks for a dirty git directory in a different way. the old way was with `git status --porcelain` (https://github.com/xonsh/xonsh/blob/e10c38deccf94189012cca9864cac2bff77dd984/xonsh/environ.py#L1036) and right now it checks for the bytestring `nothing to commit` (h

[2016-09-29 09:42] laerus commented on #1776
Sorry for this @xsteadfastx, this change was part of a fix on the `vc_branch.py`, i should have kept the function in it's older version.

[2016-09-29 12:41] #1776 closed

[2016-09-29 18:22] Carreau opened #1778 "Wrong git branch name in edge case."
[code]

Oh, make sens.

[2016-09-29 18:28] laerus commented on #1778
Sorry about this @Carreau, on it!

[2016-09-29 18:30] Carreau commented on #1778
No need to apologize. I can likely have a shot at it but I wanted to open the issue before forgetting.

[2016-09-29 19:08] laerus commented on #1778
i introduced this bug recently, potential fix in #1779

[2016-09-30 05:47] derekbrokeit opened #1782 "Creation of anomalous folders when setting `$XDG_DATA_DIR` and `$XONSH_DATA_DIR` in config.json"
In the `config.json` file, I had the following items:

[code]

I found that whenever a new terminal was created, it would create a folder `~` in whatever the initial open folder is. So, there will end up being `~` folders everywhere if I open up `tmux` or start new terminals. This doesn't really affect me because I do not need to set these items, which are just defaults, but it may be good to have

[2016-09-30 07:01] ywangd opened #1783 "Prefix environment variable and temporarily disable alias"
I noticed that following two bash usages are not covered in xonsh.
- Prefixing a command with temporary environment variables, e.g. `DEBUG=1 make`. I do realise that the same effect can be achieved by using environment `swap(...)`.
- Temporarily disable an alias. For an example, if I have `alias ls=ls -a`, I can use `\ls` to temporarily ignore the alias and call to the actual `ls` command.

As I u

[2016-09-30 07:03] astronouth7303 commented on #1783
I didn't know about `swap()`. More visibility on "user-facing" functions would be good.

[2016-09-30 07:15] ywangd commented on #1783
I personally think `swap()` is more clunky to use.

It also does not work exactly the same as prefixing env variable. But this could be an advantage because Bash's behaviour is a bit confusing.`swap` does inline substitution, such as the follows
[code]
While `SOMEVAR=foo echo $SOMEVAR` does not work.

[2016-09-30 11:00] gforsyth commented on #1782
Hey @derekbrokeit, thanks for reporting!  I can't reproduce this.  Could you post the output of `xonfig`?  Thanks!

[2016-09-30 14:14] derekbrokeit commented on #1782
I think the problem is more peculiar that I originally thought. The folder tree is actually fairly complicated, but it may help point to the source of the problem.

[code]

My xonfig is as follows:
[code]

A more peculiar outcome is also that replacing the '~' in those fields with the absolute path actually seems to force `xonsh` to startup without a `.xonshrc` file at all.

[code]

I am currently

[2016-09-30 14:38] dam5h opened #1784 "Slicing the last result of a piped expression."
I needed to search via regex my zsh history so I tried the following in an effort to just retrieve the last line that is returned to stdout when I run the command.

`history show zsh | ack 'invoke\ make_' -1`

I get the following output:
[code]

That first line that you are seeing is the first line of the output, in total there are about 25 lines and I only want the most recent so that I can execu

[2016-09-30 14:47] gforsyth commented on #1784
hey @dam5h -- that sort of slicing operation isn't supported since the output from the `ack` isn't going to be a python list (unless you make it one).

So you could do:

`$(history show zsh | ack 'invoke\ make_').split('\n')[-1]`

but it's probably cleaner to just use `tail`, a la

`history show zsh | ack 'invoke\ make_' | tail -n 1`

[2016-09-30 14:55] gforsyth commented on #1782
@derekbrokeit -- that is really weird.  I still can't reproduce this so it might be an OSX thing?  But that's very odd.

If you use the absolute paths, what's the value of `$XONSHRC` after startup?

[2016-09-30 15:11] dam5h commented on #1784
Great, that makes total sense to use tail in this case since I just want the last item.  While I have your attention whats the easiest way to then get that output to execute from the command line.  Is there a xonsh alias for the most recent output?  Thank you!

[2016-09-30 15:52] laerus commented on #1784
i think you can also do `@$(history show zsh | ack 'invoke\ make_' -1)`

[2016-09-30 16:03] laerus commented on #1784
you can access the last output with the underscore  `_` for example:
[code]

[2016-09-30 16:21] scopatz commented on #1783
Hi @ywangd @astronouth7303, for what it is worth, you can use the `env` command instead of swap: `env SOMEVAR=foo echo $SOMEVAR`.  `swap()` is really for many subprocess statements, though it can be used in a small context, too.

The guiding principle has been to not have more syntax than necessary.  For the env/swap issue, `env` gets the job done with out additional syntax and is explicit rather

[2016-09-30 18:51] OJFord commented on #1750
@blahgeek Sorry for the slow response, `xonfig`:
[code]

I think I have a better clue though:
  - `ls --human-readable` highlights correctly (the three dashes);
  - `pre-commit run --all-files` still does not

Presumably the 'double-barrelled' command is throwing it off some how?

[2016-09-30 19:11] OJFord opened #1785 "Vi-mode `cw` inconsistent with actual vi"
In Vi,

-- http://vimdoc.sourceforge.net/htmldoc/motion.html#word-motions

This means that, if I type `brew search xonsh` in Vi(m), with my cursor placed at the beginning of 'search'; `cw` will allow me to type `install<esc>` to change the sentence to `brew install xonsh`.

In xonsh with `$VI_MODE == 1`, however, the same process would result in `brew installxonsh`.

It may sound trivial, but vim-

[2016-09-30 19:13] gforsyth commented on #1785
Hi @OJFord -- the entirety of `VI_MODE` is handled by prompt_toolkit, so you should raise this issue there.

[2016-09-30 19:22] OJFord commented on #1785
Thanks @gforsyth - I've opened jonathanslenders/python-prompt-toolkit#394.

[2016-09-30 19:22] #1785 closed

[2016-09-30 20:18] dam5h commented on #1784
This `_` approach only works for python results correct?  In subprocess mode I don't get anything from the `_` underscore character.
[code]

Thanks again!

[2016-09-30 20:24] dam5h opened #1786 "Git-completer tab complete?"
In trying xonsh for the first time for the past 24hrs I am missing the git completion that I had in zsh.  I read up on the completers section in the docs and also googled around a bit but I don't see any reference to git competetion for xonsh.  There is a [bash script](https://git-scm.com/book/en/v1/Git-Basics-Tips-and-Tricks#Auto-Completion) for this.  Is it possible to leverage this from xonsh,

[2016-09-30 20:34] scopatz commented on #1784
`_` is set to a special hidden object, which, like None, does not get printed in the display hooks.  However, you can still access its attribute to get info about the last command if you would like to.

[2016-09-30 20:38] scopatz commented on #1786
Hi @dam5h - Yes git - and all bash completions - should work in xonsh.  Please ensure that the `$BASH_COMPLETIONS` envvar points to your actual bash completion files. http://xon.sh/envvars.html#bash-completions  This works on windows too, if you are there.

[2016-09-30 20:42] dam5h commented on #1784
Very cool, I'll look in the source for more details.  Thanks.

[2016-09-30 20:46] astronouth7303 commented on #1784
It's a [`HiddenCompletedCommand`](http://xon.sh/api/proc.html?highlight=hiddencompletedcommand#xonsh.proc.HiddenCompletedCommand). Of course, the documentation on that and `CompletedCommand` are pretty horrific.

[2016-09-30 20:54] OJFord commented on #1786
I hadn't missed this, but I just noticed I have the same issue.

Without having changed it:
[code]

However, it seems the git completions are actually at `/usr/local/etc/bash_completion.d/git-completion.bash` - neither of the aforementioned directories exist on my (macOS) system.

[code]
resolves the issue, but I see no reason to leave the others if they don't exist for you either, @dam5h.

Are th

[2016-09-30 20:56] gforsyth commented on #1786
They're built-in xonsh defaults.  Their location can vary, especially on OSX, depending on how bash completion was installed

[2016-09-30 21:18] dam5h commented on #1786
Sweet!  Its working now.  I am on arch linux and needed to install bash-completion and it ended up in the default location.  My ZSH must have been using something other than bash-completion to do the same thing.  Thanks!

[2016-09-30 21:26] scopatz commented on #1784
And those are going away in the subproc refactor...

[2016-10-01 06:01] blahgeek commented on #1750
Thanks for your reply! Would you mind trying current master version of xonsh? This issue should already have been fixed by a new implementation of XonshLexer in #1711

[2016-10-01 11:30] derekbrokeit commented on #1782
I tried both options and the value of `$XONSHRC` Was the default built in value from xonsh for both cases.

[2016-10-01 16:11] gforsyth commented on #1786
Great news, @dam5h !  I'm going to go ahead and close this, then, but reopen if any issues persist.

[2016-10-01 16:11] #1786 closed

[2016-10-01 16:23] gforsyth commented on #1782
hey @derekbrokeit , could you try out the fix in #1788?  Thanks!

[2016-10-01 16:26] gforsyth commented on #1766
Ok @paulhybryant -- I'm going to close this as it appears to be a brew issue but please reopen if you have any issues on the xonsh side.

[2016-10-01 16:26] #1766 closed

[2016-10-01 16:28] gforsyth commented on #1733
Hey @OJFord -- closing this out as it appears to be a brew issue, but please reopen if issues persist after any brew fixes are applied.  Thanks!

[2016-10-01 16:28] #1733 closed

[2016-10-01 20:23] flavius commented on #1517
@scopatz @gforsyth I've checked out 2a0f778ca454cde82576b66908d63d7f8cce151c and it works! Thanks again!

[2016-10-02 04:59] laerus opened #1789 "#!/usr/bin/env python"
in `setup.py` causes `releash.xsh` to fail

[code]

debian-stable

[2016-10-02 05:13] laerus commented on #1789
the shebang on `setup.py` is where it goes wrong.
`#!/bin/env python`, debian uses the python2 version,
should i use virtual env?

[2016-10-02 07:10] derekbrokeit commented on #1782
I just checked out this commit, but unfortunately, that did not change the situation:

1. not setting `$XDG_DATA_DIR` and `$XONSH_DATA_DIR` (or setting with an absolute path) causes `~/.xonshrc` file to never run
2. setting `$XDG_DATA_DIR` and `$XONSH_DATA_DIR` to `~/any/path` causes anomalous folder creation in the start directory

[2016-10-02 07:43] astronouth7303 commented on #1789
On my machine, `python3` is also aliased in venvs, so it should be safe to use in shebangs.

[2016-10-02 12:06] laerus commented on #1789
yep this is perfectly fine when i'm on a venv, the problem is when i'm not

[2016-10-02 15:14] scopatz commented on #1789
Oh yeah, we can change that to python 3

[2016-10-02 16:59] #1789 closed

[2016-10-02 18:52] santagada opened #1791 "Running jobs builtin insert a tuple on the history rtn."
[code]

didn't investigate, but seems pretty wrong.

[2016-10-02 19:00] proboscis commented on #1425
The same thing seems to be happening to me on my mac with this xonfig setting.
[code]
What seems to be the problem?

[2016-10-02 20:12] scopatz commented on #1791
Thanks for reporting, @santagada!

[2016-10-03 02:40] astronouth7303 opened #1793 "release.xsh should submit a release to github"
I think the automated release script should also submit the changelog fragment to github as a [release](https://github.com/xonsh/xonsh/releases).

This process should be:
1. Read the merged news for that release
2. Run through pandoc (or similar) to convert the rst to markdown
3. Submit the converted news to [github as a release](https://developer.github.com/v3/repos/releases/)

[2016-10-03 03:28] scopatz commented on #1793
I totally agree with the automating of this.  I think (2) might not be strictly necessary, and I have used rst in that field before.

[2016-10-03 03:30] astronouth7303 commented on #1793
That would explain some of the formatting behavior I saw doing some of the recent releases manually.

I wish there was an option to abbreviate the body on the index page.

[2016-10-03 03:37] scopatz commented on #1793
Yeah, me too

[2016-10-03 16:21] astronouth7303 opened #1794 "~ expands even if there is no user for it"
There are commands that expect a leading `~`, such as `git reset --hard "~HEAD"`. I don't think there's a way to escape this properly.

[2016-10-03 16:30] gforsyth commented on #1794
I think `HEAD` only takes trailing `~`s or `^`s for relative checkouts -- are there other commands that expect the leading `~`?

[2016-10-03 16:47] adqm commented on #1794
I am not able to reproduce this.  Running `git reset --hard "~HEAD"` (with or without escaping with quotes) works fine for me (git receives `~HEAD`), and tab completion of `git reset --hard ~HEA<tab>` does not seem to try to expand to `/home/HEAD`.  Is there something I am missing?

[2016-10-03 17:35] astronouth7303 commented on #1794
@gforsyth Oops! You're right. I just ended up using the hash.

@adqm _That's_ odd. I'm currently on my Windows work box, and even with v0.4.7 it still happens.

[2016-10-03 17:36] astronouth7303 commented on #1794
`echo ~HEAD` also works just fine.

[2016-10-03 17:37] adqm commented on #1794
Extra interesting!  Maybe something Windows-specific?  I'll be around a Windows machine this evening, and I can try to test there.

[2016-10-03 18:12] astronouth7303 commented on #1794
Yes, it is. `ntpath.expanduser()` never actually checks the existence of anything, just looks up some environment settings and does some string manipulation. (`posixpath` actually calls out to the password database, where the home directory is stored.)

[2016-10-04 13:29] icarito commented on #374
`precmd` would also be useful for enabling `direnv` envirnoments (that modify your env in accordance to directory's `.envrc`).

[2016-10-04 13:48] astronouth7303 commented on #374
@icarito You want [`on_chdir`](http://xon.sh/events.html#on-chdir-olddir-str-newdir-str-none)

[2016-10-04 13:55] icarito commented on #374
@astronouth7303 nice! I'll try it!

[2016-10-04 14:02] astronouth7303 commented on #374
@asmeurer precmd is in v0.4.7 (from #1728). For some reason, it's not appearing in the online documentation. (Will investigate later.)

[2016-10-04 15:38] dam5h opened #1797 "pdb console input not showing on screen when using xonsh"
This is a bit odd but I am doing some debugging on an application and have entered `ipdb`.  For some reason when I launch the application from a xonsh shell I cannot see the letters that I type in the `ipdb` console.  Specifically I am working on a desaktop UI so I am using `pdb4qt`.

I tried a simple test outside of PyQt as well and had the same issue with regular `pdb`.

Anyone have any ideas?

[2016-10-04 15:41] gforsyth commented on #1797
Hey @dam5h -- this is a problem with stdin redirection.  For what it's worth, this is not an issue with the pending (and nearly merged) refactor that @scopatz is working on, so it should be resolved shortly.

[2016-10-04 15:42] dam5h commented on #1797
Great, good to hear.  Thanks for the rapid response!

[2016-10-04 16:52] astronouth7303 commented on #1588
Hard use case: AWS Lambda still requires Py2. So I need a Py2 venv to do any serious lambda work.

[2016-10-04 16:54] AstraLuma opened #1798 "Web Xonfig"
Create a web app for xonfig.

[2016-10-04 17:27] icarito commented on #374
for my specific need looks like I'd need to write the equivalent of https://github.com/direnv/direnv/blob/master/shell_fish.go but it's overkill for me at this time, I've spent way too much time already on this

[2016-10-04 17:28] icarito commented on #374
but nice to talk to you, thanks for all the xonsh! (silly pun)

[2016-10-04 22:30] astronouth7303 opened #1799 "Limit 'or' to whole words"
`find -name "_VIOLETT.png" -or -name "_VIOLETTCREAM.png"` is split on the `or`.

[2016-10-05 03:09] adqm commented on #1743
I'm not sure I would classify this as a bug, nor am I sure there's an easy way to fix it.

The "problem" (I suspect, based on what I've seen in other cases) is that the Ctrl+C is killing the subprocess (`sleep`) and so is never even reaching xonsh (since we give the terminal over to child processes when they start).  Then another `sleep` process starts up almost immediately thereafter, so Ctrl+C a

[2016-10-05 03:16] scopatz commented on #1743
For what is it worth this is fixed on the run subprocess branch.  The fix involves sending SIGINT to the subprocess, and then if this caused the suprocess to exit, PopenThread will call the original handler from Python.  This will cause Python to walk back up the stack until the shell KeyboardInterrupt handling is reached.

[2016-10-05 03:17] scopatz commented on #1743
Though Crtl+\ also works!

[2016-10-05 12:50] gforsyth commented on #849
This was implemented somewhere along the way.  `$VC_BRANCH_TIMEOUT` sets the time to wait on a git branch before timing out.

[2016-10-05 12:50] #849 closed

[2016-10-05 17:29] gforsyth commented on #1743
Closed via #1758

[2016-10-05 17:30] gforsyth commented on #1797
Fixed in #1758

[2016-10-05 17:30] #1797 closed

[2016-10-05 17:37] gforsyth commented on #1462
Hey @Droggelbecher -- could you try out the latest master?  I believe this issue has been resolved by #1758

[2016-10-05 21:33] asmeurer commented on #1743
This is still happening for me in master. It's especially annoying when running a script, because it becomes difficult to kill (you have to spam Ctrl-C until it dies.

[2016-10-05 21:33] gforsyth commented on #1743
Damn.  Sorry about that!

[2016-10-05 22:59] gotgenes opened #1801 "Jobs with pipes not working on fresh install of xonsh"
I believe this is related to #1330 but am opening a new issue in case it is not.

I'm encountering this issue on OS X with xonsh 0.4.7 installed via Homebrew. I did not run through the xonfig wizard:

[code]

I discovered this while running the following command in xonsh:

[code]

I did not receive a prompt for a password from `sudo` (which I do get from Bash).

Following this I checked to see if

[2016-10-06 00:52] scopatz commented on #1801
Thanks for reporting @gotgenes! I believe that we have just pushed fixes to these to master.  Please feel free to try out master and let us know how it goes.  Sorry about this!

[2016-10-06 00:59] scopatz commented on #1743
Ok, something weird is going on here. On master this works fine for me.  On the new perf branch, the behaviour is as described...

[2016-10-06 03:03] PaulReiber commented on #1801
Hi Anthony

I've just rebuilt the latest master and did some quick tests

pbr@mongo ~/xonsh master $ xonfig
+------------------+-----------------+
| xonsh            | 0.4.7.dev1131   |
| Git SHA          | 30e0b91         |
| Python           | 3.5.2           |
| PLY              | 3.8             |
| have readline    | True            |
| prompt toolkit   | None            |
| shell type

[2016-10-06 04:19] asmeurer commented on #1743
I see it with the `sleep 1` loop. It sometimes works, though, if I hit it at the right time:

[code]

[2016-10-06 04:21] asmeurer commented on #1743
Same behavior on `perf`. It's easier to get if you replace `sleep 1` with `sleep 3`.

[2016-10-06 04:52] scopatz commented on #1743
Strange, on perf with `sleep 3` or `sleep 30` +/- the echo afterwords, it always quits on the first Ctrl-C for me.  Something strange is going on here for sure.  Maybe it is not replacing the original SIGINT handle correctly.

[2016-10-06 06:31] scopatz commented on #1801
vim is special cased and has some weird effects because of that. I am trying to figure out what is going wrong, but the other cases should work. Also note that when you do `cmd | vim -`, there are are two stdin streams.  This is messing us up somehow.

[2016-10-06 15:38] Siecje opened #1804 "Running command in the background with '&' doesn't work"
If I do
[code]

geany is a text editor and it opens ```.xonshrc``` and ```&```.

I expect to return to the prompt.

If I do
[code]

It opens ```.xonshrc&```.

[code]

[2016-10-06 16:12] scopatz commented on #1804
Hi @Siecje - This seems to be fixed on master, at least with `idle .xonshrc &`

[2016-10-06 16:30] Siecje commented on #1804
Indeed it seems to be fixed on master

[2016-10-06 16:30] #1804 closed

[2016-10-06 17:39] gotgenes commented on #1801
@scopatz Overall it does look like this was fixed on latest `master`.

[code]

`echo junk | less` brings up `less` as expected. There is a traceback emitted for use of `sudo` after the pipe, though:

[code]

Note I am actually still being prompted for my password, I can still enter my password, and the command will succeed. I was caught off guard, though, by the traceback, and didn't realize xonsh

[2016-10-06 17:43] gotgenes opened #1806 "Using sudo downstream of pipe causes traceback to be issued"
As mentioned in #1801, using `sudo` downstream of a pipe causes a traceback to be emitted to the terminal.

[code]

Note that xonsh is still active, still awaiting input for the password prompt, and will allow the command to progress when the password is successfully input.

[code]

[2016-10-06 19:25] bobhy commented on #1744
Changing working directory to some other location under the covers could cause a Xonsh script to, e.g, delete the wrong set of files.  That's a non-starter.

I was thinking that we could have Xonsh lock the CWD directory.  CMD.EXE does this on Windows
[code]

I don't like the idea of adding code in Xonsh to cause an error to some other process.

How about letting Xonsh simply fail, but arrange to

[2016-10-06 19:44] astronouth7303 commented on #1744
@bobhy No, because we're talking about doing it during pre-prompt clean up.

Assuming that xonsh itself does not crash--remember, xonsh crashing usually means the user never sees the backtrace that caused it to crash because the GUI terminal immediately closes--still leaves the user unable to safely do anything besides `cd`, and praying that no extensions break themselves.

[2016-10-06 19:48] laerus opened #1807 "xexec crashes xonsh"
`xexec echo tt`
`xexec ls`

anyone can reproduce?

[2016-10-06 19:59] laerus commented on #1807
oh well xexec replaces current xonsh instance so i guess this is not a bug.

[2016-10-06 19:59] #1807 closed

[2016-10-06 20:00] astronouth7303 commented on #1807
Is that the shortest lived bug we've ever had?

[2016-10-06 20:01] laerus commented on #1807
:laughing: maybe, i may have opened a shorter living bug in the past.

[2016-10-06 20:13] gotgenes opened #1808 "Setting values for BASH_COMPLETIONS in xonfig wizard leads to TypeError, "not JSON serializable""
[code]

I have also entered the following values; I end up with the same error:
- `('/usr/local/etc/bash_completion', )`
- `['/usr/local/etc/bash_completion']`

[code]

[2016-10-06 20:37] laerus commented on #1808
hey @gotgenes, thanks for reporting! This seems like a legitimate bug in the wizard.

[2016-10-06 21:10] scopatz commented on #1806
Ahh ok, this is because xonsh is trying to end a process that because of sudo it doesn't have permissions to. Should be an easy fix

[2016-10-06 21:34] OJFord opened #1809 "Nested lookup in $PROMPT"
As described in #1660 (pinging @scopatz, who there suggested opening a separate issue) it would be nice to 'nest' lookup properties like `curr_branch` in config.json values.

For example, my prompt is currently:

[code]

which routinely times out when opening a new tab, and could anyway be much simplified to:

[code]

if such nested lookup were supported.

The cleanest way to implement this curren

[2016-10-07 11:43] gforsyth commented on #1808
Hey @gotgenes -- I can't seem to reproduce this, but I'm not on OSX which may(?) have something to do with it?  Could you start `xonsh` in debug mode and also enable the full traceback and paste it here?

To enable debug mode, just set `$XONSH_DEBUG=1` or something truthy, then start a new `xonsh` instance from there and set `$XONSH_SHOW_TRACEBACK=True`

Thanks!

[2016-10-07 13:43] astronouth7303 commented on #1809
`config.json` just sets `$PROMPT`. This has to deal with how `$PROMPT` (and `$TITLE`, etc) are formatted.

[2016-10-07 13:48] OJFord commented on #1809
Yes, sorry, I wasn't sure if other keys in `config.json` took the same or similar formatting tags and would similarly benefit.

[2016-10-07 13:49] astronouth7303 commented on #1809
I do wonder, though: What's the upper limit on complexity for the `$PROMPT` template language? Do we allow full django/jinja-like templating?

Maybe instead we could have the ability to embed python expressions like

[code]

[2016-10-07 13:55] OJFord commented on #1809
Personally, my preferred solution would be ditching `config.json` entirely, and embedding Python expressions natively via a lambda if not a truly static string. But my preference carries no weight :)

If you were to go that way, I think it could be better accomplished with Python 3.6 'literal string interpolation' [PEP 498](https://www.python.org/dev/peps/pep-0498/) than re-implementing it with a

[2016-10-07 14:01] astronouth7303 commented on #1809
It's not.

[2016-10-07 14:11] astronouth7303 commented on #1809
BTW, `.xonshrc` is a thing. I, myself, don't use `config.json` and do it all by hand in `.xonshrc`.

[2016-10-07 14:17] OJFord commented on #1809
Yep, but my `config.json` sets the `.xonshrc` location, so it made sense to me to do as much else there as possible. Though now that I say that, obviously it is picked up okay itself, so perhaps I need to revisit the way it's configured...

[2016-10-07 14:42] gforsyth opened #1811 "Move flake8 checks to circle ci"
They're being run on the nightly branch of travis right now, which is set to allow failures, so we aren't ever seeing errors reported back.

We should probably also disable allow failures on nightly, but then again, this might be a huge pain if nightly is adding a bunch of new features.

[2016-10-07 15:30] cryzed opened #1814 "stdin hides parts of stdout stream"
Something about the stdin/stdout handling must have been changed recently. When I run my package manager on my system now (pacaur, Arch Linux), I almost reliably run into [display issues](http://i.imgur.com/FcEemDk.png). The update prompt isn't displaying in this instance -- however when I enter `Y` and press enter the process continues (however the update prompt itself is never displayed).

Somet

[2016-10-07 16:14] laerus commented on #1814
Hey @cryzed! If you are on current master there was a major refactor on how the subprocesses are being run in xonsh and it's still a little unstable, you may want to bump `$XONSH_PROC_FREQUENCY` to something like `2e-4` or `5e-4` and see if that helps. We are actively working on this and any feedback is appreciated. Note that you can always roll back to version 0.4.7 before the refactor.

[2016-10-07 16:29] cryzed commented on #1814
Hey @laerus thanks for the quick reply, that explains it! Setting these and restarting xonsh doesn't seem to have any positive effect on the issue, I'll downgrade to the official 0.4.7 version for now. If you need me to test any branches or commits related to this issue, let me know and I'll try to do so ASAP and comment back here.

[2016-10-07 18:00] gforsyth opened #1815 "update vended PLY"
ply 3.9 is available -- there's also a recent bugfix that was just pushed to PLY master that fixes an uncaught 15-year-old bug

[2016-10-07 18:02] gforsyth commented on #1815
I'd actually like to see the vended PLY as a subtree.  I guess if I do it I'll have a leg to stand on there

[2016-10-07 18:34] astronouth7303 commented on #1814
This sounds a lot like the issues we were having with the refactor, but in the middle of the process.

The standard test I was using was:

[code]

If that produces any output on `master`, you need to adjust your settings as @laerus said above.

Otherwise, I think we might need to dig into this more and see if we get a minimum failing case.

[2016-10-07 19:59] Siecje opened #1817 "Add type"
As of version `0.4.7` there is no `type`.

[code]

[2016-10-07 20:30] astronouth7303 commented on #1817
Use `which`.

In general, we never claim to be bash-compatible or posix-compatible. And because `type` is a pretty major thing in Python, in general we don't like to overload it as an alias.

(`exec` is an exception because of the shear amount of expectation about its existence.)

[2016-10-07 23:56] gotgenes commented on #1808
@gforsyth Thanks for your reply. Here is the traceback I got:

[code]

[2016-10-08 10:49] melund commented on #1817
Yes. And `exec` is only overloaded in subproc mode not in Python mode

[2016-10-08 11:37] cryzed commented on #1814
That doesn't produce any output, however the issue isn't fixed either by setting it:

[code]

Running `pacaur/pacman -Syu` breaks it very often when it uses the animated progressbars for example.

[2016-10-08 11:40] daym opened #1818 "xonsh hangs when I write "aaaaaaaaaa ." and then press the Up arrow"
Hi,

xonsh 0.4.6 (also xonsh from git from a few minutes ago) hangs when I write "aaaaaaaaaa ." (without the quotes) and then press the Up arrow (on the interactive shell). Right before that the screen flashes.

First I thought it was a problem with the terminal emulator but it also happens on the Linux console. It's always 100% reproducible.

My .config/xonsh/config.json is:

[code]

How can I de

[2016-10-08 12:33] melund commented on #1818
Thanks for reporting. First check if it also happens on 0.4.7 or on master. It could be fixed and then you don't need to waste time debugging.

[2016-10-08 12:41] daym commented on #1818
I also tested it on xonsh from git master from a few minutes ago and it does the same. (Note: I didn't install the git master version, I just did `from xonsh.main import main ; main()` in there)

[2016-10-08 16:02] laerus commented on #1818
i cannot reproduce this in v0.4.7. Can you try with prompt_toolkit and see if this happens? Also you can try setting `$XONSH_DEBUG=1` and `$XONSH_SHOW_TRACEBACK=True` and then Ctrl-C when xonsh hangs and see if this produces more info.

[2016-10-08 16:41] daym commented on #1818
I tried that now; Ctrl-C does nothing.

Sometimes (very rarely) it flashes the screen and then a new prompt appears and then it hangs - hang, however, it always does.

[2016-10-09 03:39] blahgeek opened #1819 "Function aliases: stdout/stderr not flushed, sys.exit not handled"
On current master (seems related to #1758 ) function aliases is pretty broken... e.g.

[code]
This does not prints numbers one by one.

and:

[code]
This does not terminate

Both example works properly on f48baa7

[2016-10-09 10:35] blahgeek opened #1820 "`parallel` command failed on xonsh"
Running `seq 10 | parallel echo` fails on xonsh (works on bash) while `seq 10 | xargs echo` works

also seems related to #1758

[2016-10-09 18:51] OJFord opened #1821 "Pygments highlighting doesn't use terminal colour scheme"
What's the correct way to change syntax highlighting colour scheme?

![term colours](https://cloud.githubusercontent.com/assets/3946014/19222818/fc7e868e-8e58-11e6-9f76-5e35eec02aa3.png)

Ignoring that some of my colours are broken in the screenshot above, it's clear that the environment variable is a completely different colour to any of them, and barely legible (this is after I changed my backgr

[2016-10-09 20:02] OJFord opened #1822 "Prompt `curr_branch` breaks when git config has status.short"
If git config contains:
[code]
then [the current method of getting the git branch](https://github.com/xonsh/xonsh/blob/619ae11486f2e4febfc2218c0d53c7b3f3c9ea49/xonsh/prompt/vc_branch.py#L16-L25) fails, even if `status.branch = true` is also set.

`git status` is a heavy-handed way of doing this anyway; better would be `git rev-parse --abbrev-ref HEAD` IMO. (PR to follow.)

[2016-10-09 21:14] laerus commented on #1821
You can change the colors in general by setting `$XONSH_COLOR_STYLE`, you can see the available styles by running `xonfig styles`. Atm i don't think you can change only the highlighting colors.

[2016-10-09 22:56] OJFord commented on #1821
@laerus So it can only be changed among presets? And none of those presets is "use the terminal emulator's settings"?

I find it odd that anyone would want xonsh to be outputting a different colour scheme to that of any tool like `ls`, for example.

Even if you don't agree this should be the default, is there at least a way I can _manually_ set them to be the same as everything else (i.e. add a ne

[2016-10-09 23:17] OJFord commented on #1750
I'm sorry for the delay again - Github's auto-disappearing notifications make it easy to lose track if not actioned immediately on reading.

I'm not entirely sure what the desired highlighting looks like, but it no longer "looks broken" - on master the "pre-commit" is highlighted green, and "run --all-files" is not.

[2016-10-09 23:45] OJFord commented on #1809
Actually @astronouth7303, I just realised that in this case moving it to `.xonshrc` has no benefit, since unless I'm mistaken the `lambda` for `$PROMPT` would be given no arguments; so it doesn't know whether it's in a git repo any more than the string in `config.json` does?

Goal is to do `{curr_branch: (}{branch_color}{curr_branch:{}}{NO_COLOR}{curr_branch:)}` for `(branch_name)` where parenthes

[2016-10-10 08:36] santagada commented on #1084
My case for adding this is that on osx when you drop a folder in a terminal somehow it pastes a line with "\ " for spaces. Also related is the fact that we don't do tab completion inside strings so wrapping a very log path that has a space is very painful.

Can prompt-toolkit detect a paste happening? Maybe we can fix 2 and then detect 1 and correct the string in that case.

[2016-10-10 10:41] melund commented on #1821
@OJFord I think this will work once pygments 2.2 is released.

Can you try to run with pygments master?

You can see that it should use the ansicolors (terminal colors) but only if it detects that pygments support it.
https://github.com/xonsh/xonsh/blob/master/xonsh/pyghooks.py#L646

[2016-10-10 13:12] astronouth7303 commented on #1809
@OJFord They could always ask `os.getcwd()` or `$FORMATTER_DICT['curr_branch']`.

[2016-10-10 13:15] astronouth7303 commented on #1820
What version of xonsh?

Where is parallel from?

[2016-10-10 13:19] astronouth7303 commented on #1819
I think for the first example, you should use the [streaming arguments](http://xon.sh/tutorial.html#callable-aliases). (I don't know if it'll flush any better, though. I think you're relying on Python's flushing behavior.)

In general xonsh does not currently patch the system values (`sys.stdin`, `os.environ`, `sys.exit()`, etc), especially per-execution.

[2016-10-10 13:23] astronouth7303 commented on #1814
Ok, so this is a different issue than what we were seeing before.

[2016-10-10 14:14] rnovacek opened #1824 "Delay when autocompleting file/directory"
When I'm using autocompletion for files and directories, there is a delay between pressing the <TAB> button and the completion appearing. The delay is ~1 second.

Example:
$ touch somefile
$ ls somefil<TAB>
Nothing happens for like one second, then completion appears. I would prefer the completion to appear immediately. Other completions (command name, environment variable) appear immediately when

[2016-10-10 15:18] OJFord commented on #1809
Oh, thanks, I didn't know about that. I'm now doing:
[code]

which is a little messy, but at least it only makes one subprocess call to determine the branch.

[2016-10-10 16:03] blahgeek commented on #1819
I also tried streaming arguments, using `print('hello', file=stderr, flush=True)`, there's no difference.

Both example works several days ago at f48baa7, so I think these should be bugs introduced by the new subproc execution model.

[2016-10-10 16:06] rnovacek commented on #1824
I just found out that it only affects some commands:

[code]

[2016-10-10 16:23] astronouth7303 commented on #1809
You can assign `branch_prompt` directly to `$FORMATTER_DICT` and use it that way. The way you have it, it won't automatically update each prompt. (You'd have to manually recompute `$PROMPT` yourself each postcommand.)

[2016-10-10 16:47] OJFord commented on #1809
Ah, yes. So now it looks like:
[code]

which seems to be okay.

I still think nested lookup would be good though - `$PROMPT = "{env_name:{} }{cwd}{curr_branch: ({branch_color}{}{NO_COLOR})}{prompt_end}"` would be much neater!

[2016-10-10 19:18] CJ-Wright opened #1825 "Pretty printouts of history"
Would it be possible to print out histories in a pretty way, including inputs and any outputs (potentially to a PDF)? I am asking so I can use this to write examples/problem sets to be handed out.

[2016-10-10 21:11] astronouth7303 commented on #1825
Perfectly possible--see [`xonsh.history.History`](http://xon.sh/api/history.html#xonsh.history.History). I don't think anyone has, though.

[2016-10-10 21:17] gforsyth commented on #1084
Hey @santagada -- the osx pasting thing is annoying.

As for tab completion, it should work with spaces, the quotes will just keep autowrapping.

[2016-10-10 21:20] gforsyth commented on #1824
Hi @rnovacek , thanks for reporting!
We definitely don't want a 1 second delay for anything, really.
Are there a *lot* of files in the directory where you see the delay?  What happens if you try `ls somefi<TAB>` in directory that only has one or two folders/files?

[2016-10-10 21:21] gforsyth commented on #1824
Sorry, my brain is fried -- I see that that's what you did and there is a delay.  Ok, I'll try to dig around and see if I can see what's up.

[2016-10-10 21:30] gforsyth commented on #1750
Ok, great!  I'll close this, then, but please reopen if there are any remaining highlighting issues.

[2016-10-10 21:30] #1750 closed

[2016-10-10 21:34] gforsyth commented on #1818
Hi @daym -- 4 seconds is too long for startup, agreed.  Could you try renaming your `config.json` to something else and then starting xonsh without it?  It would be good to know if any of the options you have set there have any impact on startup times.

Also, could you please post the output of `xonfig`?

And a final request -- since `sys.path` is sometimes a little wonky, could you try

[code]

i

[2016-10-10 23:14] derekbrokeit commented on #1782
It would be good to re-open this ticket. Not only do I continue to see this in my OSX computer, but I just checked my windows computer as well. The problem persists in both systems.

[2016-10-11 01:14] derekbrokeit opened #1826 "`which` return code is always 0"
In xonsh, I am currently receiving `0` return code even when the command cannot be found. This makes it impossible to use !(which program-that-doesnt-exist) as a boolean or other similar effects. Ideally, `which` should exit with status `1` when no item is found.

Example use case
[code]

[2016-10-11 02:33] OJFord commented on #1821
@melund With pygments 2.2.dev20161011, it's fixed in the prompt (presumably anything using the `{COLOR}` formatters), but not the syntax highlighting:

![screen shot 2016-10-11 at 03 29 44](https://cloud.githubusercontent.com/assets/3946014/19256911/27ab5cc8-8f63-11e6-86f1-30bf1e46bfb0.png)
notice that `$FOO` is the same colour as it and the prompt were before starting a new `xonsh`.

[2016-10-11 03:14] scopatz commented on #1821
Also note that that you have to use the "default" style to get the terminal colors.

I agree that the color selection and customization interface could benefit from user-facing improvements. Pull requests very welcome!

[2016-10-11 03:34] #1815 closed

[2016-10-11 03:40] scopatz commented on #1824
My guess is that this delay is coming from Bash completions being slow for some reason.  Do you happen to know if you are using V1 or V2 Bash completions?  Also, can you try turning off Bash completions entirely and see if that improves performance.  See http://xon.sh/tutorial_completers.html#removing-a-completer

[2016-10-11 03:42] scopatz commented on #1817
Also, I personally find the semantics of type in sh-lang rather confusing.

[2016-10-11 03:54] blahgeek commented on #1820
I'm using current master version of xonsh (b8e4adbaf3b)

parallel is installed from homebrew (GNU parallel 20160922).

I did some more tests:

[code]

I think this bug may be related some complex behaviors in parallel (e.g. fork, stdout/stderr redirect, etc.) but is not specific to parallel

I can confirm that this bug is introduced by #1758 , so maybe @scopatz would like to take a look? Thanks!

[2016-10-11 04:04] blahgeek commented on #1820
ps: `ls | parallel ls` also fails (it's more generic since `echo` is a shell builtin)

[2016-10-11 04:08] OJFord commented on #1821
This is with default set @scopatz:
![screen shot 2016-10-11 at 05 07 10](https://cloud.githubusercontent.com/assets/3946014/19258564/9ccf6816-8f70-11e6-8f42-eaf4ea205f08.png)

[2016-10-11 04:32] scopatz commented on #1820
Yeah, I'll take a look. Sorry about the issues you have been having

[2016-10-11 06:46] melund commented on #1826
This used to work. Probably broke in one of the refactors. I will try to take a look. @derekbrokeit  Thanks for spotting it.

[2016-10-11 06:52] Russell-Jones opened #1827 "Hang after running "history --help""
This started happening on OS X 10.12, Ubuntu 14.04 and 16.04 after pulling from HEAD today. ^C stops it.

[2016-10-11 07:41] melund commented on #1826
There seems to be a bug with the return values of callable aliases. The which function does return non-zero if it doesn't find anything. But xonsh seems to ignore this.

I checked, and this was also a problem before the recent refracture of the subproc system. But after the refracture I can't enter pdb breakpoints in the code. So it is a little difficult to quickly debug. @scopatz How do you get `

[2016-10-11 07:50] melund commented on #1826
Ahh. A bug was introduced in the 'which' refactor 14 days ago. I fix is incoming

[2016-10-11 07:50] melund commented on #1826
Still no idea why I can't enter the `pdb` break point on master. Anyone.?

[2016-10-11 08:19] melund opened #1828 "streaming aliases fail with !(alias)"
I found an issue with the streaming aliases.

[code]

The `![]` works fine:
[code]

But `!()` gives me this error:
[code]

[2016-10-11 08:23] melund commented on #1826
@derekbrokeit  So there is a fix here #1829. But it probably won't help you much as `!(which)` fails due to some other bug with streaming aliases #1828 . Probably needs to be fixed first.

[2016-10-11 08:39] melund opened #1830 "Clearscreen (cls and clear) broken on master (windows)"
Clear screen `cls` or `clear` (from MSYS) are both broken on master. I believe it comes after the sub-proc refactor.

![image](https://cloud.githubusercontent.com/assets/1038978/19263848/a646b5e2-8f9e-11e6-914a-fa398c5e9c8a.png)

Instead of clearing the screen it just prints an unrecognizable character.

[2016-10-11 11:28] laerus commented on #1830
i cannot reproduce this in linux, probably some windows specific code is causing this?

[2016-10-11 11:48] #1822 closed

[2016-10-11 13:25] derekbrokeit opened #1831 "Interested in refactoring $PROMPT format to work like a formatted string"
I am interested in working on  a refactor of how the prompt string is generated, but I wanted to ask if it was of interest or not before beginning to work on it.

In particular, I feel like most users of xonsh will be familiar with typical string `format` functionality, but that is not how the `$PROMPT` is actually generated. It appears to be pieced together in stages and therefore it is difficult

[2016-10-11 13:41] Siecje commented on #1817
```which``` doesn't tell you if it is a builtin or a function.

[2016-10-11 13:44] gforsyth commented on #1817
You can use the `-v, --verbose` flags to show that info.  The `-a` flag will also show give additional info about all matches in PATH

[2016-10-11 13:47] gforsyth commented on #1830
Hey @melund, is there any difference if you try a different terminal emulator?

[2016-10-11 13:48] gforsyth commented on #1827
Thanks for reporting, @Russell-Jones!  I can confirm this.  And it looks like the same is true for `which --help`

[2016-10-11 13:48] astronouth7303 commented on #1830
Is this even something xonsh can control?

[2016-10-11 13:51] Siecje commented on #1817
Both ```-v``` and ```-a``` just seem to show the path location.

[code]

[2016-10-11 13:53] astronouth7303 commented on #1817
Try it on an alias, or something that appears on the path more than once.

[2016-10-11 13:53] gforsyth commented on #1817
[code]

[2016-10-11 13:54] gforsyth commented on #1817
Although it's true that we don't pass through information like `echo` being a shell builtin

[2016-10-11 14:24] astronouth7303 commented on #1831
[PEP 3101](https://www.python.org/dev/peps/pep-3101/) doesn't define any format specifiers for strings. Care to elaborate on what you hand in mind?

In addition, `{env_name:{{%e}} }` won't work the way you expect (brace doubling only escapes outside of fields).

I would like to suggest that because of the importance of color in the prompt (and for the sake of brevity), they should be promoted back

[2016-10-11 15:03] derekbrokeit commented on #1831
As an example, the idea I had in mind for `env_name` is as such:

[code]

Promoting colors to fields would break python format syntax in the event of a hex color code `#000`, but it could be reduced for brevity to something like `{c:#000}` with a more verbose `{color:#000}` that references the same object.

[2016-10-11 15:04] derekbrokeit commented on #1831
Similarly you could do this:
[code]

[2016-10-11 15:07] derekbrokeit commented on #1831
Silly me, I forgot the dictionary parentheses 😜

[code]

[2016-10-11 15:33] scopatz commented on #1831
Hi @derekbrokeit! Happy to have you (or anyone) take a stab at refactoring this stuff.  It would be great to have more eyes and ideas on this.

I do agree with @astronouth7303 that colors (and most things) should be first class.   Also, one of my personal guiding principles for xonsh is that it should be easy to learn, easy to teach, and easy to use.  Some of your examples seem a bit syntax heavy

[2016-10-11 16:20] derekbrokeit commented on #1831
I actually totally agree with you. One thing that I thought about but totally failed to mention is that most of these can also have a default string format that requires no special formatting. By that I mean that `{env_name}` could produce the most common or expected use case that works for most users. Then, we can have documentation that talks about **advanced prompt formatting**.

I also thought

[2016-10-11 16:23] astronouth7303 commented on #1831
Do we support hex colors now? Is that a feature we want?

Also, the formatter will happily take `#000` as an identifier are attribute. ie, "{#000}" and "{spam.#000}" are both valid format strings (if the appropriate data is passed in).

[2016-10-11 16:26] derekbrokeit commented on #1831
Yes, hex colors are supported already.

I guess I got ahead of myself. The main reason I would perform this correction and use a special object is that without a single color object, we would then need to format using a dictionary that has all possible iterations of colors. That would be very inefficient.

[2016-10-11 16:32] astronouth7303 commented on #1831
Or a dynamic mapping. Or a custom formatter with a custom `get_value()`.

[2016-10-11 16:51] gotgenes commented on #1808
I realize that traceback is less than helpful because it does not display what `self.state` is. Despite the fact that it `repr()`s like a list, the error raised by `json.dumps` indicates it does not believe it to be a list, but some sort of arbitrary Python object. `json.dumps` does not know by default how to serialize arbitrary Python objects.

Is there a way to run xonsh in a debugger like pudb

[2016-10-11 17:05] #1778 closed

[2016-10-11 17:07] laerus commented on #1831
caching of values and updating only when needed would be nice too, there was a small discussion here #1564

[2016-10-11 17:13] melund commented on #1831
I am all for this as well. As long as simplicity is a guiding principle.

Btw. I can't get pdb brake point working at the moment either. Is this something others are experiencing?

[2016-10-11 17:35] astronouth7303 commented on #1831
I don't think the prompt formatter itself can do caching because it has no idea when to invalidate the cache. That is: It's pretty easy for a xontrib to compute a value on event and store it in either a module value or in `$FORMATTER_DICT`, or do lazy evaluation with a cache-clearing event.

But having the formatter control caching would complicate the formatter interface without significant net d

[2016-10-11 18:14] Siecje opened #1832 "Wizard fails on Windows"
I just install xonsh (`pip install xonsh`) on Windows 10 with Python 3.5 using `cmd`.

When I run `xonsh` it runs the wizard and after I accept the default of no for the first question there is a traceback.

This does not happen if I install `pip install xonsh[ptk]`

To get the full traceback I set `$XONSH_SHOW_TRACEBACK = True` then ran

[code]

[code]

[2016-10-11 18:53] Russell-Jones commented on #1827
I just had a go at tracking it down with git bisect, but too many versions didn't have the command working at all. I skipped those, and the result was
[code]
Hope that helps :)

[2016-10-11 19:21] sejktmcsdlmfhsc opened #1833 "doubled commas in tab-completed aliases"
As posted on xonsh gitter channel Oct 10 20:25:
After update from 0.4.6 to 0.4.7 tab completion of custom aliases with leading comma (did work nicely in 0.4.6) from .xonshrc result in doubled commas:
[code]
after typing ", x s tab" turns into ",,xsconf" instead of ",xsconf".

Thank you!
Best, Sej

xonsh 0.4.7 on debian, python 3.4.2, prompt_toolkit 1.07, PLY 3.8, pygments 2.1.3, encoding utf-8

[2016-10-11 19:50] rnovacek commented on #1824
Thanks for the tip. Disabling bash completion with `completer remove bash` helps. Now there is no delay when I press the TAB button.

I don't know what version of bash completions do I use, but the package version suggests that it might be version 2: bash-completion-2.4-1.fc24.noarch (Fedora 24).

[2016-10-11 20:08] gforsyth commented on #1833
Hey @sejktmcsdlmfhsc, thanks for reporting!
Could you check out #1834 and see if that fixes the problem for you?

Also when you want to report system info you can use `xonfig` to print out a nice configuration summary.

[2016-10-11 20:31] melund commented on #1830
Apparently, since it works on 0.4.7. I have to read up on how `cls` works for Windows conhost.

[2016-10-11 20:46] melund commented on #1830
I am thinking that maybe subprocess are executed in their own process so that the does affect state of xonsh. Maybe that is also why I can't add pdb brakepoints in callable aliases. @scopatz could that be the reason for what I observe with the `cls` alias not working.

[2016-10-11 21:13] sejktmcsdlmfhsc commented on #1833
hej @gforsyth , thank you so much for the quick response!
I added your lines from #1834 to xonsh/completers/python.py and restarted terminals, then even machine.
But unfortunately the doubled comma is still popping up when tabbing..
I have the module installed to my user - not sure if that matters?
~/.local/lib/python3.4/site-packages/xonsh

sys info: yes, thanks - I actually took it from xonfig -

[2016-10-11 21:22] gforsyth commented on #1833
Hi @sejktmcsdlmfhsc -- we have a couple of somewhat confusing things happening behind the scenes in `xonsh` to help startup times and I think those are preventing you from seeing the changes.

If you have changed the appropriate lines in `xonsh/completers/python.py` within the `site-packages/xonsh` directory, then could you please set `$XONSH_DEBUG=1` within a xonsh session, then type `xonsh` to s

[2016-10-11 21:33] sejktmcsdlmfhsc commented on #1833
Nice - in the doubled xonsh it works like a charm!
Would I need to put $XONSH_DEBUG=1 into my .xonshrc to make it persistent?

[2016-10-11 21:37] sejktmcsdlmfhsc commented on #1833
Hm putting it into .xonshrc did not help - it only seems to work for the second/inner xonsh..

[2016-10-11 21:37] gforsyth commented on #1833
Hey @sejktmcsdlmfhsc -- great!

One of the ways that xonsh improves performance is by amalgamating all of its parts into one file so we avoid duplicate imports and a bunch of other stuff.  So the file that `xonsh` is running from (when it _isn't_ in debug mode) is actually `__amalgam__.py`.  That's why you didn't see the changes the first time.

From here, you have three options:
1. Clone the repo

[2016-10-11 21:48] sejktmcsdlmfhsc commented on #1833
I see. Thanks a lot for explanation and solutions!!
I will try option 2 and if I fail on that, option 3..

[2016-10-11 21:48] #1833 closed

[2016-10-12 08:25] blahgeek commented on #1827
This is directly related to #1819 . After #1758 , `sys.exit()` is not properly handled on function alias. While running `history --help` or `which --help` or any function alias that calls `ArgumentParser`, `sys.exit` is called inside `parse_args` and causes this issue.

[2016-10-12 08:32] blahgeek opened #1836 "Function aliases: stdout redirect causes OSError"
[code]

I'm on current master (6ee0c3c9)

[2016-10-12 19:27] melund commented on #1826
So. This problem was also fixed in #1803 which I just merged. But the problem with `!(fun_alias)` #1828 is still there...

[2016-10-12 20:09] airdrik commented on #1744
I've been running into this lately, as I've been cd-ing into project target/build directories to run the executables there.  I regularly do clean+build on the projects which will delete and recreate the target directory, oblivious to the fact that I might have a shell prompt in one of the target directories.
IMO, my order of priority for what needs fixed:
1: Do Not Crash!  Just because the current

[2016-10-12 22:30] derekbrokeit opened #1838 "Crash when running any command in windows"
I am currently running the master build (7cbe9e7652b6b6b0962d8ee01101816db8b63eac) on a windows machine. Running any command (either subprocess or python) results in an exception being thrown and xonsh crashing:

[code]

On a related note, are there tests in place to check if particular builds work on windows?

[2016-10-13 00:16] scopatz commented on #1838
This seems to be related to https://github.com/Drekin/win-unicode-console/issues/16 and also seems unlikely to be fixed, sadly.  I'll put in a robustness fix.

[2016-10-13 00:55] scopatz commented on #1838
See #1839

[2016-10-13 00:57] scopatz commented on #1744
I agree that this needs to be fixed post-haste.  Even with @laerus's fixes in #1745, I find that this still happens.

[2016-10-13 01:00] scopatz commented on #1826
Sorry @melund! I was out for the holiday!  I am back now.  I am not sure why pdb isn't working... That is concerning.  I'll take a look at this and the other problems in their own issues, which seems to have been opened up/

[2016-10-13 01:10] scopatz commented on #1836
Thanks for reporting @blahgeek.  My guess is that this is a /dev/null issue, as I believe that redirecting to a concrete file works.

[2016-10-13 01:37] laerus commented on #1744
yep the PR didnt fix this issue, the problem is that we call `os.getcwd()` and not catching the exception it raises when the dir was deleted, and there are potentially a lot of places where we ask about the cwd, for example when constructing the prompt.

[2016-10-13 02:09] blahgeek commented on #1836
no, it doesn't....

[code]

[2016-10-13 02:26] scopatz commented on #1836
Oof, OK.

[2016-10-13 06:50] scopatz commented on #1836
Alright, @blahgeek - I think i have fix in #1840. Would you mind testing it out, please?

[2016-10-13 06:59] scopatz commented on #1827
Ahh, I think that you are right about sys.exit() taking out the whole process.  This is a general no-no and a huge mistake for argparser to be doing.  That said, we do need to be robust to it.

[2016-10-13 07:04] scopatz commented on #1827
And looking at this, I am not sure how it ever worked...

[2016-10-13 07:25] scopatz commented on #1827
Alright, a potential fix is in #1841 for the sys.exit() stuff.

[2016-10-13 07:40] blahgeek commented on #1836
Thanks a lot @scopatz !

I tested this simple helloword function and it works great, but I have an alias called `gitignore`: `aliases['gitignore'] = lambda args, stdin=None: execx('curl -4 -s https://www.gitignore.io/api/' + args + '\n')`, running that alias would still fail occasionally:

[code]

I cannot seem to reproduce this issue on other aliases, weird.

[2016-10-13 08:29] melund opened #1842 "Colored output broken (Windows10/readline)"
The new windows 10 conhost can interpret ansicolor codes. Nice when using the fast readline shell.

The prompt coloring is still working on master, but the coloring the output seems to have been broken after the subproc refactor. Now it prints the ansi codes.

This is how it looks on 0.4.7:
----
![image](https://cloud.githubusercontent.com/assets/1038978/19341824/69476f64-912f-11e6-9c7f-c944cf8bd3

[2016-10-13 12:17] gforsyth commented on #1827
Closed via #1841

[2016-10-13 12:17] #1827 closed

[2016-10-13 12:35] blahgeek commented on #1836
@gforsyth hi I don't think this issue is completely resolved as I mentioned above... could you please reopen this issue or should I create a new one? Thanks!

[2016-10-13 12:43] gforsyth commented on #1836
Hey @blahgeek -- sure, sorry about that, it was an automatic close when I merged in the PR.

[2016-10-13 13:49] OJFord opened #1843 "Escaping spaces broken; mysterious missing directory; data loss"
It seems that spaces cannot be escaped:
[code]

This somehow allowed me to create a directory, move something into it, and now not have that directory accessible at all?!
[code]

The escaping issue is annoying; potentially harmful. But I can't even figure out what `mkdir` or `mv` did with the arguments they _did_ receive?

Brought it on myself by using spaces in a way - I was just trying to be con

[2016-10-13 13:55] gforsyth commented on #1843
Hey @OJFord, thanks for reporting.  See #1432 for a long discussion of this issue.
We use quotes to escape things, as `\` is the Python line continuation character and Python always wins in `xonsh`.

As for what happened, you created two directories, one called `Documents/foo\` and one called `bar`.  You then moved `thing` and `Documents/foo\` into `bar`

[2016-10-13 13:56] OJFord commented on #1843
From `__xonsh_history__` I can see that the `\` was escaped itself:
[code]

[2016-10-13 13:58] OJFord commented on #1843
Oops, thanks @gforsyth, sorry I missed the duplicate.

That's not what happened though - none of those exist anywhere (I've checked `find`).

[2016-10-13 14:00] gforsyth commented on #1843
Not sure, then, since that's the behavior I see:

[code]

[2016-10-13 14:06] OJFord commented on #1843
Oh, sorry, no I found it.. I overspecified previously.

My actual case was more confusing since I had 5 escape characters; so it did what you described just with more things. Thanks!

I think I know where I come down on "to quote or not to quote" though... I can't imagine ever wanting a literal backslash in this way; quite often if I start typing I'll escape instead of go back to quote - though of

[2016-10-13 14:06] #1843 closed

[2016-10-13 14:14] gforsyth commented on #1843
Happy to help!  And agreed, the literal backslash is hardly ever what anyone wants.

[2016-10-13 17:06] derekbrokeit commented on #1838
#1839 seems to do the charm

[2016-10-13 17:37] #1838 closed

[2016-10-13 17:57] melund commented on #1842
I think this is related to #1830 somehow. I didn't think ConHost on windows relied on escape characters, but it seems the ANSI escape sequences are messed up in the output. Could `cls` and `clear` work in the same way?

That would explain why the `cls` command also produce a weird character similar to the above.
![image](https://cloud.githubusercontent.com/assets/1038978/19360490/227d0b84-917f-11e

[2016-10-14 01:04] scopatz commented on #1842
Hi @melund, out of curiosity, what is the actual byte that you see for cls?

[2016-10-14 01:07] scopatz commented on #1836
Yeah, sorry about the text in that PR.

[2016-10-14 01:19] scopatz commented on #1830
Potential fix in #1845

[2016-10-14 01:20] scopatz commented on #1842
Also, are you in `win_unicode_console` when using this?

[2016-10-14 01:28] scopatz commented on #1836
Hi @blahgeek - can you try out #1846, please?

[2016-10-14 02:14] scopatz commented on #1843
As a quick though, maybe we could have an escape xontrib (as part of bashisms?) that has a precommand hook that let's people use their muscle memory? This would only affect the shalle and not scripts / the language, like other potential bashisms.  It might be a good middle ground.

[2016-10-14 02:16] scopatz commented on #1824
Ok, well, at least we have identified the problem.  This is usually super fast for most people.  Maybe your bash has a large set of things it does on startup for some reason (in the profile)? What are your normal bash startup times like?

[2016-10-14 02:18] scopatz commented on #1832
Thanks for reporting @Siecje.  I think we basically still require PTK on windows.  You'd have to have cygwin or some other form or readline.  @astronouth7303, is there an easy way to make PTK default on Windows?

[2016-10-14 02:21] scopatz commented on #1808
You should be able to run any python debugger in xonsh, but this may have been broken (mea culpa) recently.  I have been able to run xonsh in a debugger but we have gotten a couple reports of breakages.

[2016-10-14 02:25] blahgeek commented on #1836
That works great for me! Many thanks!

[2016-10-14 02:54] scopatz commented on #1828
Potential fix, and tests, are available in #1848

[2016-10-14 02:55] scopatz commented on #1836
Sweet! We'll just wait for another core-dev to review and merge then

[2016-10-14 03:02] scopatz commented on #1821
@melund, could this be because of the windows color intensifying?  @OJFord, could you try changing the value of [`$INTENSIFY_COLORS_ON_WIN`](http://xon.sh/envvars.html#intensify-colors-on-win) to see if this affects things?

[2016-10-14 03:38] scopatz commented on #1820
This might actually be a bug with parallel exiting too soon if the stdin buffer is not full / contains an EOF.  Note that both `seq 100000 | parallel echo` and `sleep 0.1 | seq 10 | parallel echo` work for me.  Also, echo is not a builtin in xonsh (or in Bash I don't think if it is an argument to another command).

[2016-10-14 03:42] scopatz commented on #1820
Note that the bug seems to be present no matter if we use Popen or PopenThread.

[2016-10-14 03:44] scopatz commented on #1820
Or maybe we are just doing it wrong...

[2016-10-14 05:26] scopatz commented on #1820
Ok, I have a tentative fix, but I am not happy with it yet.  Let me think on this one some more....

[2016-10-14 07:34] melund commented on #1842
I only recently reinstalled it to test. The example above is without `win_unicode_console` installed.

[2016-10-14 07:42] melund commented on #1842
I tried to dig into that. And it is 0x0C which is actually just the linefeed character. It also goes away with the fixes in #1845

´Clear.exe´ from the msys unix tool gives me some odd more characters.
1b 5b 48 1b 5b 4a

But those are also not visible when the program is not backgrounded.

[2016-10-14 08:03] melund commented on #1821
Well. That could swap some colors around. But is this windows?

[2016-10-14 09:38] rnovacek commented on #1824
Seems pretty quick:

[code]

Actually, it's something between xonsh 0.4.5 and 0.4.6. It was working fast in 0.4.5, but in both 0.4.6 and 0.4.7 it much slower.

[2016-10-14 12:05] OJFord commented on #1821
Thanks for the reply both, but no, this is on Mac.

[2016-10-14 12:32] melund commented on #1824
You could maybe try Git bisect and pin point which PR caused the change.

[2016-10-14 12:41] rnovacek commented on #1824
@melund good idea.

git bisect says that after this commit, the delays start to appear: f344231e21934530f056c3629af815727efe4fd7

[2016-10-14 12:43] rnovacek commented on #1824
This pull request: #1602

[2016-10-14 13:09] #1836 closed

[2016-10-14 13:10] #1828 closed

[2016-10-14 13:10] #1826 closed

[2016-10-14 13:11] gforsyth commented on #1811
Closed via #1813

[2016-10-14 13:11] #1811 closed

[2016-10-14 13:34] Siecje commented on #1832
Check for Windows and add ```prompt-toolkit``` and ```pygments``` to ```install_requires```?

[2016-10-14 14:18] melund commented on #1824
Interesting. I recall people generally experienced that the PR made everything go faster. Maybe @blahgeek has some ideas.

[2016-10-14 14:58] scopatz commented on #1832
Yeah, please anyone feel free to put in a PR for this.

[2016-10-14 15:08] melund commented on #1821
I think the styles for syntax highlighting comes from pygments and they are not implemented with the ANSI color keywords https://bitbucket.org/birkenfeld/pygments-main/src/a042025b350cd9c9461f7385d9ba0f13cdb01bb9/pygments/styles/default.py?at=default&fileviewer=file-view-default

We could implement our own default style that use ANSI color names. Just like we fall back to XONSH _BASE_STYLE if pygm

[2016-10-14 15:21] AstraLuma opened #1849 "Add `xontrib install`"
Certain flavors of install (eg brew) keep xonsh in its own isolated venv. While this is probably a good thing, it makes installing xontribs difficult.

A `xontrib install` command should be added that will inspect `xontribs.json` for a xontrib of the given name and call `pip.main()` (NOT the `pip` command on the `$PATH`), or possibly the conda equivelent?

## For community
⬇️  **Please click the 👍

[2016-10-14 15:23] gforsyth commented on #1849
`conda` won't work for this, it doesn't talk to PyPI, it should be `pip` for all xontribs unless we start creating conda-forge packages for them (which is massive overkill)

[2016-10-14 15:24] gforsyth commented on #1849
And I'm not sure if having `xonsh` in an isolated venv is a good thing (although that's not strictly speaking up to us).  We have a number of issues with users trying to use python packages they've installed and having errors.

[2016-10-14 16:01] OJFord commented on #1821
Thanks @melund, I'll have a go at it over the weekend.

[2016-10-14 16:14] derekbrokeit opened #1850 "'r' as first letter in directory name is escaped when using $PWD on windows"
The following will fail:

[code]

`$PWD` as a string is `'C:\\other\\dir\\repo'`, so I would have expected the `\\` to have been escaped rather than the `\r`. The problem is that the `$PWD` gets escaped (possibly twice) and the `\r` becomes a carriage return. The temporary fix is below:

[code]

[2016-10-14 16:56] astronouth7303 commented on #1832
@scopatz you can detect windows in setup.py and add it to the dependencies, but that means you'll need platform-specific "binary" distributions. (PyPI is currently source only, idk conda.)

@Siecje `ptk` is an extra, so the recommendation for windows today would be `pip install xonsh[ptk]`.

[2016-10-14 17:01] astronouth7303 commented on #1850
Can confirm. The last backslash is getting double-interpolated sometimes.

For me, these paths are dropped:

* `C:\Users\James\code\aca-dev`
* `C:\Users\James\AppData\Local\Temp\repo`

These are not:
* `C:\Users\James\AppData\Local\Temp`
* `C:\Users\James\AppData\Local`
* `C:\Users\James`
* `C:\Users\James\code`

I tested this with `echo $PWD`, and comparing to just `$PWD`.

[2016-10-14 17:04] astronouth7303 commented on #1850
Some stranger mis-transformations:

* `C:\Users\James\code\aca-dev\billing` -> `C:\Users\James\codeca-deilling`
* `C:\Users\James\code\aca-dev\users` -> `C:\Users\James\codeca-dev\users`

[2016-10-14 19:21] derekbrokeit opened #1851 "Color output from subprocess commands is lost"
This is a difference from `0.4.7` to the current `master` branch. The color output of sub process tasks are lost. This is common when piping a command, so that may be the cause of the behavior. An easy way to demonstrate this is `git status`. Typically, in most environments, this command color highlights files based on the status type. However, in the current master, the output is completely color

[2016-10-14 19:22] derekbrokeit commented on #1851
Note that I am currently running my tests on a windows machine in case it is difficult to reproduce.

[2016-10-14 19:31] melund commented on #1851
This is probably related to #1842

[2016-10-14 21:06] astronouth7303 commented on #1851
Are we handing commands pipes or ptys? Many commands toggle their color output based on if the file descriptor is a tty.

[2016-10-14 22:13] scopatz commented on #1851
We hand a pty if it is the last command in a pipeline and we are on posix and the command is uncaptured

[2016-10-14 22:13] scopatz commented on #1851
And a pipe otherwise

[2016-10-14 22:19] scopatz commented on #1832
Maybe we can changes the windows docs then to reflect this?

[2016-10-15 01:28] astronouth7303 commented on #1832
Yeah, I didn't realize the recommendation for windows was so strong, and conda doesn't really do "optional features" well.

[2016-10-15 04:35] blahgeek commented on #1824
hi @rnovacek sorry for the issue!

May I have a look at the bash completion script you are currenly using? (Check $BASH_COMPLTIONS variable to find the file, and maybe post it in gist) Thanks!

[2016-10-15 14:36] CJ-Wright opened #1853 "DOC: knight vs snail broken"
It seems this [link](https://github.com/xonsh/xonsh/blob/master/_static/knight-vs-snail.jpg) is broken in the guidelines.

[2016-10-15 16:49] #1742 closed

[2016-10-15 18:14] scopatz commented on #1853
I believe that this works in the rendered docs http://xon.sh/devguide.html  It might be too much to expect that the doc source will render correctly on github statically :) Thanks for reporting!

[2016-10-15 18:15] scopatz commented on #1832
Yeah, xonsh really doesn't work without PTK on windows is my understanding.

[2016-10-15 18:17] scopatz commented on #1850
Oof, thanks for reporting @derekbrokeit... This is on PTK?

[2016-10-15 18:24] scopatz commented on #1842
As long as #1845 and #1851 fixed the clear issue, that is good.  I doubt we'd be able to redirect just a single LF anyway. I am still concerned about the colored output being broken here, though...

[2016-10-15 19:23] laerus commented on #1432
*the tail of the lost quote*

#1148 makes no sense to force quoting around
why to treat `and` and `or` that are part of a word as separate token even in subproc mode

#621 xonsh wats
[code]

more xonsh wats
[code]

__IN DOUBT USE QUOTES__
parts of [this comment](https://github.com/xonsh/xonsh/issues/1402#issuecomment-231527580)  should be included in the tutorial in the upcoming Quoting section th

[2016-10-15 19:55] melund commented on #1832
Not true for Windows 10 which support ANSI color codes. I really like readline as it much much faster... If the wizard doesn't work that is not nice. But I don't think the wizards should be presented to new users anyway. We should have well come screen instead and make the wizard optional.

[2016-10-15 20:23] laerus commented on #1832
which terminal application do you use @melund?

 I think we must make readline work on windows and not force PTK as the default. Please correctly me but atm it seems that we only depend on readline for line editing and nothing else, we do history/completions ourselves.

[2016-10-15 20:42] melund commented on #1832
No special terminal application. Just Windows conhost which is what you get when you start cmd.exe...

[2016-10-15 22:47] astronouth7303 commented on #1850
For me, yes.

[2016-10-16 13:10] blahgeek commented on #1819
Update: if the function produces lots of output, the thread would stuck:

[code]

[2016-10-16 15:25] scopatz commented on #1820
Hi @blahgeek, can you try out #1859, which fixes this issue for me, please? Thanks!

[2016-10-16 15:38] blahgeek commented on #1820
@scopatz Thanks a lot! But it does not seem work for me. If I run `seq 10 | parallel echo`, xonsh freezes about 1 second and then prints only the header part of parallel and exit:

[code]

[2016-10-16 16:01] scopatz commented on #1820
Ok! can you try it now, please?

[2016-10-16 17:27] scopatz commented on #1819
Ok, I think this is because the ProcProxy classes don't do non-blocking reads. We have the tools to fix this.

[2016-10-16 20:51] rnovacek commented on #1824
My $BASH_COMPLETIONS contains this: `/etc/bash_completion.d:/usr/share/bash-completion:/usr/share/bash-completion/completions`.

This is the `/usr/share/bash-completion/bash_completion` file: https://paste.fedoraproject.org/453339/47665095/

I also printed the executed script in the bash competer (by writing the `script` content to file at https://github.com/xonsh/xonsh/blob/0.4.7/xonsh/completers

[2016-10-17 00:34] blahgeek commented on #1820
No, there's still no output :(

https://asciinema.org/a/3h4428xlqy23u8vc9cz06n2sz

[2016-10-17 00:39] blahgeek commented on #1824
Thanks!

Please try setting $BASH_COMPLETIONS to `(/usr/share/bash-completion/bash_completion, )` and see if there's any improvement. All the completion files should be lazy-loaded.

I think there's a bug while setting $BASH_COMPLETIONS 's default value, I would take a look at that later. But this temporary fix should work for you now.

[2016-10-17 02:19] bobhy commented on #1850
Garbling due to string escape processing '\a' --> BEL, etc. Only some subdirs start with a magic character.

[code]

[2016-10-17 06:25] rnovacek commented on #1824
@blahgeek Thank you very much, setting `$BASH_COMPLETIONS = '/usr/share/bash-completion/bash_completion'` fixes the issue for me.

[2016-10-17 17:03] gotgenes commented on #1808
Okay, my suspicions were correct. Despite the appearance of
[code]
indicating the `json` module can't serialize a list (wat?), `['/usr/local/etc/bash_completion']` is not a list. It is _actually_ an instance of `xonsh.tools.EnvPath`.

[code]

By default, `json.dumps` does not handle arbitrary Python objects, and will instead raise a `TypeError` when encountered, like happens here. I'm surprised @g

[2016-10-17 17:10] gforsyth commented on #1808
Hey @gotgenes, thanks for tracking all of this down.  I _can_ reproduce this -- I didn't realize from your initial report that you were getting the error at the end of the wizard, not immediately after entering the bash completions path.

[2016-10-17 17:16] gotgenes opened #1860 "__repr__ in xonsh.tools.EnvPath should be more precise"
[The current `__repr__` for `xonsh.tools.EnvPath`](https://github.com/xonsh/xonsh/blob/30e0b911a216e9865e31b91787ca4ede088f6188/xonsh/tools.py#L199) lacks precision, and can cause deception. (See #1808.) It makes instances of `EnvPath` appear to be instances of lists, which they are not. As stated eloquently in [this Stack Overflow answer](http://stackoverflow.com/a/2626364/38140),

A more represe

[2016-10-17 17:42] gotgenes commented on #1808
@gforsyth Sorry. I can see that the `[…]` in the copy-pasted output were a bit too subtle.

[2016-10-17 18:17] OJFord commented on #1853
I think it's because `docs/devguide.rst` is a symlink for `CONTRIBUTING.rst` - and the image URI is relative to the former.

This works on xon.sh, but not when Github renders it (because quite correctly, it doesn't find a `_static` dir in the repo root).

Without changing the symlink setup, the only solution is probably to make it an absolute link to one of:
- https://github.com/xonsh/xonsh/raw/ma

[2016-10-17 19:23] astronouth7303 opened #1861 "Add `vox enter` command"
Basically, a magic command that will apply the named venv to the prompt, or create a new prompt in the venv, without having to install xonsh & xontribs into the venv.

[2016-10-17 19:53] astronouth7303 commented on #1861
Hm. Could be done with caching state (`sys.path` and `$PATH`) and using [site.addsitedir()](https://docs.python.org/3/library/site.html#site.addsitedir).

[2016-10-17 20:32] laerus commented on #1861
note: vox has an 'enter' command which is an alias of activate.

[2016-10-18 00:30] daym commented on #1818
`shell
dannym@dayas /x/home/danny/src/xonsh/xonsh master $ python3
Python 3.4.3 (default, Jan  1 1970, 00:00:01)
[GCC 4.9.3] on linux
Type "help", "copyright", "credits" or "license" for more information.

print(>>> print(main.__file__)
/x/home/dannym/src/xonsh/xonsh/xonsh/main.py
`

[2016-10-18 00:32] daym opened #1863 "echo foo >bar doesn't work"
Maybe it's different in xonsh than in bash but I type that very frequently and I get:

[code]

[2016-10-18 02:03] astronouth7303 commented on #1863
Nope, that is [valid xonsh syntax](http://xon.sh/tutorial.html#input-output-redirection). Although in general, it's safer to assume xonsh does things different than bash.

[2016-10-18 07:02] daym commented on #1863
Hmm, what's doing on with it, then?

[2016-10-18 08:25] laerus commented on #1863
yes this is a place where xonsh separates from bash,
xosh can redirect the streams with words too, for example:
`echo foo err>out > file` will redirect both stdout and stderr in 'file'.
but if you wanted to redirect to a file named 'out' then it would be very ambiguous

Redirections are arguments that may take filename arguments,
and like every argument in subprocess mode, it's separated at whites

[2016-10-18 12:52] #413 closed

[2016-10-18 12:53] #1084 closed

[2016-10-18 15:28] santagada commented on #1521
can't we just amalgam prompt-toolkit and the files from pygments that we use? we could just stop using readline and have one less path to support as well? Seems drastic but right now with ipython using prompt-toolkit and the amazing support it has readline seems like just a heavy burden for us.

[2016-10-18 15:36] scopatz commented on #1521
Hi @santagada - some people prefer the readline interface over the PTK one. Also, I think we might have future front-end shells, so the architecture is fairly sound I think.

[2016-10-18 15:42] #1384 closed

[2016-10-18 16:05] pgoelz opened #1868 "Parentheses after shell commands when using sympy"
A friend just reported this to me and I could confirm it:
As soon as I enable unicode printing in sympy, there is an additional "()" after every shell command. Other commands are not effected.

[code]

I am working on xonsh 0.4.7 and sympy 1.0.

[2016-10-18 17:56] scopatz commented on #1853
Right, but absolute links would break locally hosted docs.

[2016-10-18 18:00] scopatz commented on #1868
Thanks for reporting @pgoelz! For what it is worth, this doesn't seem to happen on master for me.

[2016-10-18 19:17] OJFord commented on #1853
I don't follow, is there offline access to docs (without having cloned the repo)?

Trying to find such a thing made me think - could be neat to have xonsh override Python's `help()` to add xonsh-stuff; fallback on Python help when passed a Python object.

[2016-10-18 19:31] laerus commented on #1853
`which -a` pretty much searches for everything, better not mess with the builtin `help`
but it would be nice to have a general help-like command, a xontrib on this matter would be great.

note: you can also use `${...}.help(ENVVAR)` to get formatted info from the VarDocs.

[2016-10-18 19:36] #519 closed

[2016-10-18 19:50] gforsyth commented on #664
I don't remember when this happened, but `--no-rc` doesn't prompt for the wizard anymore.

[2016-10-18 19:50] #664 closed

[2016-10-18 20:44] astronouth7303 commented on #1853
Would a `help!` be ok? Then you could say `help! $XONSHRC`.

[2016-10-18 20:49] melund commented on #1853
What about ? and ??:  Could they be made to work on environment variables. `$XONS_SHOW_TRACEBACK??`

[2016-10-18 21:05] scopatz commented on #1853
Not really without the repo or tarball.  But being able to `cd docs and make html` is pretty important to ensuring the docs are correct.

Yes, it would take a small amount of mucking around in the parser, but could be done.

[2016-10-18 21:07] scopatz commented on #1853
I like `$VAR?` more than `help!` personally.  The other option, of course, is the make the Env class have keys that are special strings whose `__help__()` or `__doc__` is overwritten.  Then no changes to the parser would need to be made.

[2016-10-18 22:15] laerus commented on #1853
EnvVar object..  I've added Env.help but now i see there is no use for it in xonsh scripts, +1 for dropping it for the `?` syntax.

[2016-10-19 00:13] scopatz commented on #1868
Though, it does start adding newlines to all output, oddly.  Does sympy patch the display hook?

[2016-10-19 00:17] scopatz commented on #1820
Hi @blahgeek, that fix should have worked.  Can you do another asciinema where you run `xonfig` so we can be sure that you are actually on that branch, please? Thanks

[2016-10-19 00:22] scopatz commented on #1832
Can you explain why we need this? Personally, I think it is a huge waste of time to try to get readline working on systems where it doesn't already exist.  The Jupyter/IPython folks have been burned by readline support historically, and ultimately moved away from it. Just my two cents, but even though, I think we'd happily have better readline support, I would not recommend that folks spend a lot

[2016-10-19 01:16] scopatz commented on #1819
Ok, can you try out #1870, now please?  That branch fixes the remaining issues here for me.

[2016-10-19 02:36] blahgeek commented on #1820
sure

here it it: https://asciinema.org/a/0roas6lliscd17pr7cx7e001d

[2016-10-19 02:49] blahgeek commented on #1819
That works great for me, thanks a million!

[2016-10-19 04:31] scopatz commented on #1819
Great! hopefully that will get merged soon then

[2016-10-19 04:33] scopatz commented on #1820
I am inclined to say that you are having some mac specific problem.  That other PR fixes it for me on Ubuntu and should probably be merged in regardless of the additional issue here, which we can continue to work through.  I don't have access to a mac to try to debug this though, so any additional information you can give me would be most helpful.

[2016-10-19 08:53] laerus commented on #1832
So windows users can have at least one more option, maybe ptk breaks too in windows for some reason or it's very slow. then we could not run xonsh at all. I mean i know it's a huge pain to make something like this cross-platform, kudos to the ptk guys that managed it, apparently windows doesn't like terminals. But i would expect  xonsh to have a bultin frontend for terminal control in the future (

[2016-10-19 08:58] laerus commented on #1832
Btw i'm all for dropping readline on windows, even our wrapper is a little mess, it would benefit from a platform specific refactor. Atm though there is no alternative on windows and i feel that xonsh is getting coupled with ptk a lot.

[2016-10-19 09:04] koehlma commented on #1868
Yes it does patch the display hook in `sympy.interactive.printing._init_python_printing`. Should this be fixed in Sympy? Storing the old display hook and calling it if the object is not a Sympy object does fix it.

[2016-10-19 13:50] Wideshanks opened #1871 "File glob appears to work incorrectly with and"
I want to use `and` with two commands and use file globs in both, but ~~it appears to be re-using the same glob in the second command~~ it's not getting both globs correctly. What am I missing here?

[code]

[2016-10-19 14:27] gforsyth commented on #1871
Hey @Wideshanks -- thanks for reporting!  Just to note that the current xonsh release is 0.4.7, but I can reproduce this on current master.

And it's not reusing the first glob, so much as not parsing the second one correctly, it seems:

[code]

but if the `*` isn't the leading character then it seems to behave itself:

[code]

[2016-10-19 14:35] gforsyth commented on #1871
Yep, looks like a parser issue.

[code]
vs.
[code]

[2016-10-20 06:15] melund commented on #1842
I am going to close this in favor #1851.

[2016-10-20 06:16] #1842 closed

[2016-10-20 06:25] melund commented on #1851
We may get some clues from running xonsh with `readline`. Here the problem is the same.
Some things have been fixed on master. For example the prompt, and repr output:

![image](https://cloud.githubusercontent.com/assets/1038978/19548359/5016ce44-969e-11e6-96a3-59118bbc82ce.png)

With `readline` we know that these things are also coloured with ANSI escapes. But what is the difference in the way st

[2016-10-20 06:42] melund opened #1874 "less doens't work on Windows"
The `less` command (from the GitForWindows Unix tools) is broken on Windows. It just quits and prints all output.

This affects commands like `git log` which uses `less` to show large output. Running `git log` in xonsh repo outputs a _lot_ of lines :)

@BYK has also confirmed this issue.

[2016-10-20 08:48] laerus commented on #1874
for me on this slow machine this pretty much affects every command with huge output

[2016-10-20 09:35] mitnk commented on #1801
@scopatz I'm on mac too and the piped commands hangs forever. like this one:

$ ps ax | wc -l

$ xonfig

[code]

[2016-10-20 09:44] laerus commented on #1851
universal newlines? the ouput seems decoded, just a guess.

[2016-10-20 10:11] blahgeek commented on #1820
Hi @scopatz I found that if I set **both** `$XONSH_PROC_FREQUENCY = 0.01` **and** `$PARALLEL_SHELL = '/bin/bash'` then it will work, does that make any sense?

[2016-10-20 15:18] scopatz commented on #1874
Thanks for reporting @melund The only thing we should be doing different from 0.4.7 for less is that we os.pipe() stdout, where maybe we shouldn't.

@laerus are there specific commands that fail? Namely the ones that go into alternate mode?

[2016-10-20 15:29] scopatz commented on #1868
Yes, this should probably be fixed in SymPy. There isn't much we can do from xonsh, I don't think

[2016-10-20 15:31] laerus commented on #1874
using `ls` in big directories, or greping huge output like `apt list`.

[2016-10-21 16:55] JohnLunzer opened #1879 "Some aliases stopped working after commit 7be2813"
I have an alias for `ranger` which is not too complicated. It does two things, it renames my tmux window and it also changes to the last navigated directory upon exiting ranger.

This alias has worked for me for a long time. After checking out commit c262e0358f053ad374e256efcd31007141eb1c7e executing `ranger` at shell was working but with the next commit, 7be281375ae74995a7878cad20f387bb1e341353,

[2016-10-21 22:35] scopatz commented on #1879
Hi @JohnLunzer, I'll take a look at these this weekend (assuming my university duties don't take over my life.)

[2016-10-22 05:50] blahgeek opened #1880 "No output from scp command"
While running scp in xonsh, the progress does not showed up:

https://asciinema.org/a/322p80uvb0pjyaic2e51iqmhq

I'm using version 3f45378

[2016-10-22 11:58] dzervas opened #1881 "NeoVim hangs when I open or save a file"
this process is hogging my CPU when I open/save file with neovim:
[code]

I have to kill it to be able to continue to work.
Note: I just found out that nvim spits this in its logs:
[code]

[2016-10-23 16:23] astronouth7303 commented on #1881
That's bourne-ish syntax. Xonsh only loosely pretends to be compatible in a few specific cases.

You will need to reconfigure NeoVim to use a xonsh command or to run that from `sh` and not your login shell.

[2016-10-23 18:10] #1881 closed

[2016-10-23 19:41] jwhite007 commented on #1380
@scopatz
Anthony,

This does not appear to be an issue with the latest xonsh (0.4.7)

xonsh r0x!!

Cheers,
James

[2016-10-23 19:41] #1380 closed

[2016-10-24 10:42] grovesteyn commented on #1619
I have just upgraded from Ubuntu 14.04 to 16.04 and am running xonsh 0.4.7 from PyPI.  I again have the same problem as described in my initial comment on 24 August.  Any ideas?

[2016-10-24 12:10] blahgeek commented on #1619
Hi @grovesteyn , I didn't have this problem on either master or 0.4.7 on macOS. Could you please post your output of `xonfig` here? Thanks!

[2016-10-24 12:49] grovesteyn commented on #1619
My xonfig output is as follows:

`+------------------+-----------------+
| xonsh            | 0.4.7           |
| Git SHA          | None            |
| Python           | 3.5.2           |
| PLY              | 3.9             |
| have readline    | True            |
| prompt toolkit   | None            |
| shell type       | readline        |
| pygments         | 2.1             |
| on posix

[2016-10-24 12:50] grovesteyn commented on #1619
My xconfig output is as follows:

+------------------+-----------------+
| xonsh            | 0.4.7           |
| Git SHA          | None            |
| Python           | 3.5.2           |
| PLY              | 3.9             |
| have readline    | True            |
| prompt toolkit   | None            |
| shell type       | readline        |
| pygments         | 2.1             |
| on posix

[2016-10-24 13:30] JohnLunzer commented on #1879
Thanks for trying to find some time.

[2016-10-24 13:37] gforsyth commented on #1879
@JohnLunzer -- what happens if you remove the `@foreground` decorator?

[2016-10-24 13:57] JohnLunzer commented on #1879
If I remove `@foreground` then `ranger` loads but contains graphical errors, is sluggish, and upon exiting crashes `xonsh`. I wrote these aliases a long time ago, but that's probably why I added it in the first place.

Here is the traceback:

[code]

[2016-10-24 13:59] gforsyth commented on #1879
Can you post the output of `xonfig`?

[2016-10-24 14:23] JohnLunzer commented on #1879
Using the most recent upstream master
[code]

[2016-10-24 14:27] JohnLunzer commented on #1879
For good measure I updated prompt-toolkit to 1.0.8 with no change in behavior.

[2016-10-24 14:28] gforsyth commented on #1879
I thought that might help with the graphical irregularities in ranger but it didn't work on my end.

The only place we use the `@foreground` decorator in xonsh core is in `trace` which also appears to hang now, so I'm thinking that's the likely culprit.

[2016-10-25 00:27] scopatz commented on #1879
Thanks for hunting down the foreground issue. (And sorry I didn't get a chance to look at this over the weekend.) Looking at this now

[2016-10-25 01:00] scopatz commented on #1879
I think that this is partially, though not wholly related to #1870.

[2016-10-25 03:26] scopatz commented on #1380
Awesome!

[2016-10-25 03:27] scopatz commented on #1380
I love when things aren't an issue ;)

[2016-10-25 06:40] grovesteyn commented on #1619
I think I found the problem.  I did a:
 sudo pip3 install --upgrade  xonsh[ptk, proctitle]
which solved the problem.

Before this I had the old bash-like tab completion where the options were listed above the cursor and it was not possible to tab through them as it is with PTK.  In this case the tab completion still replaced the part before pressing TAB as explained in my first post above.  In oth

[2016-10-25 08:59] melund opened #1885 "Pipes hang on windows."
I get a hanging process if I pipe stuff on windows. Here are two examples:

[code]

[2016-10-25 12:53] Kilte opened #1886 "Completion for a line containing spaces does not work properly"
[![asciicast](https://asciinema.org/a/5fokn5ihezmh12c0xz816cno9.png)](https://asciinema.org/a/5fokn5ihezmh12c0xz816cno9)
[code]

[2016-10-25 13:14] gforsyth commented on #1886
Hi @Kilte, thanks for reporting!  I can confirm this bug on current master, but only on the readline backend.  prompt toolkit seems to work as expected.

[2016-10-25 13:49] jonathanhogg opened #1887 "Tab completion fails on Python 3.6 due to PEP 519 changes"
One for the future: tab completion throws exceptions on Python 3.6b2 because of changes made in `os.path.commonprefix()` as part of PEP 519 (file system path-like objects). It appears that a `set()` is being passed into this somewhere (no stack trace handy, but will re-create and post one after this message) and `commonprefix()` now requires an indexable object – in fairness, the 3.5.2 docs do sta

[2016-10-25 13:51] jonathanhogg commented on #1887
Promised traceback:

[code]

[2016-10-25 13:55] jonathanhogg commented on #1887
Sufficient – but slightly displeasing – fix:

[code]

[2016-10-25 14:04] jonathanhogg commented on #1887
This code in `xonsh.ptk.PromptToolkitCompleter.get_completions` may also be a problem, but I'm not sure:

[code]

[2016-10-25 14:18] blahgeek commented on #1619
Thanks for your information!

So it's only happening while using readline, that make sense. I'll see what I can do here.

[2016-10-25 14:24] blahgeek commented on #1397
I'm using PTK and seems pretty good to me:

<img width="137" alt="screen shot 2016-10-25 at 22 15 16" src="https://cloud.githubusercontent.com/assets/1308450/19689675/babe1f5c-9b00-11e6-9fcc-711147cb90c2.png">
<img width="122" alt="screen shot 2016-10-25 at 22 15 24" src="https://cloud.githubusercontent.com/assets/1308450/19689678/bc232c02-9b00-11e6-967e-fd99152f6e12.png">
<img width="135" alt="sc

[2016-10-25 14:27] scopatz commented on #1885
Hi @melund, thanks for reporting. I won't be at my windows box until after work, but did #1870 help at all?  I fixed a couple on piping issues on windows that I noticed there.

[2016-10-25 14:28] scopatz commented on #1881
@dzervas we could probably help you figure out the xonsh version, if you need it!

[2016-10-25 14:55] melund commented on #1885
I hoped it would as well, but sadly no.  #1870 didn't change anything for this issue.

[2016-10-25 14:56] scopatz commented on #1885
OK, I will take a look tonight.

[2016-10-25 16:38] gforsyth commented on #1887
Hey @jonathanhogg -- thanks a ton!  I especially appreciate your effort to get the behavior changed in Python 3.6, but I agree that that seems to be a non-mover.  Oh well.
I think your slightly displeasing fix will be the way to go for the moment.  On my long todo list is a refactor of the completions framework to allow returning lists for when a non-alphabetical order is desired.

In any case, th

[2016-10-25 16:40] gforsyth commented on #1860
Hi @gotgenes -- thanks for raising this and my apologies for the delay in getting back to you.
I think this change sounds reasonable.  If anyone has objections, they can raise them here or when someone submits a PR with this change.

[2016-10-25 16:46] gforsyth commented on #1880
Hi @blahgeek -- could you try out the fix in #1890 and see if that resolves your issue?

[2016-10-25 16:46] gforsyth commented on #1880
Also, sorry for not responding before thsi!

[2016-10-25 16:58] gforsyth commented on #1819
Fixed in #1870

[2016-10-25 16:58] #1819 closed

[2016-10-25 17:02] gforsyth commented on #1397
Hey @blahgeek -- some users prefer the `readline` shell and it's also faster, which is helpful for people on slower machines.

[2016-10-25 17:05] gforsyth commented on #1885
I'm seeing this, too, actually, but without any error messages.

[code]
just hangs and Ctrl-C returns to prompt without output.

[2016-10-25 17:09] scopatz commented on #1885
Oh yeah, weird.  Great though.  That means I can debug at least part of this on Linux :)

[2016-10-25 17:10] gforsyth commented on #1879
Adding `ranger` with a `predict_false` to the command cache does eliminate the graphical weirdness

[2016-10-25 18:51] grovesteyn commented on #1619
Yes - exactly.  Good luck.

On 25 October 2016 at 16:18, BlahGeek <notifications@github.com> wrote:

[2016-10-26 01:19] scopatz commented on #1885
At least the case @gforsyth brought up is a bug I introduced fixing the `parallel` command

[2016-10-26 03:14] vancesteven opened #1892 "echo and cp crash on os x"
('xonsh/0.3.2',)
'3.5.1 |Anaconda custom (x86_64)| (default, Dec  7 2015, 11:24:55) \n[GCC 4.2.1 (Apple Inc. build 5577)]'

https://gist.github.com/vancesteven/67737927c7f3d5a5c8b570247c78c1c1

[2016-10-26 04:38] #1880 closed

[2016-10-26 05:03] scopatz commented on #1892
Thanks for reporting @vancesteven.  Can you run the `xonfig` command to give us more information?  Also v0.3.2 is pretty far out of date at this point.  Any way that you could upgrade?  Also note that the error is actually coming from prompt-toolkit, which I am also guessing is far out of date....

[2016-10-26 05:04] scopatz commented on #1892
Also also, we now use the conda-forge channel, instead of the xonsh channel for conda packages. You'll probably want to switch...

[2016-10-26 05:04] scopatz commented on #1892
And sorry, didn't mean to close.

[2016-10-26 05:06] scopatz commented on #1879
what is ranger?

[2016-10-26 05:20] vancesteven commented on #1892
Hi @scopatz, here's the xonfig:
+------------------+-------+
| xonsh            | 0.3.2 |
| Python           | 3.5.1 |
| PLY              | 3.7   |
| have readline    | True  |
| prompt toolkit   | 1.0.3 |
| pygments         | 2.1.1 |
| on posix         | True  |
| on linux         | False |
| on darwin        | True  |
| on windows       | False |
| is superuser     | False |
| default encoding |

[2016-10-26 05:23] vancesteven commented on #1892
@scopatz okay, conda-forge install renders the echo error irreproducible. Thanks!

[2016-10-26 05:24] scopatz commented on #1892
Excellent.  Please feel free to close this then!

[2016-10-26 06:36] mitnk commented on #1885
mac has the same issue. the latest of #1893 not fixing it on mac.

[2016-10-26 06:43] scopatz commented on #1885
@mintk can you give some specific examples, one of the test cases was fixed on mac, and there are probably many simultaneous issues.

[2016-10-26 07:45] blahgeek commented on #1880
Works for me, thanks a million!

[2016-10-26 09:04] mitnk commented on #1885
As I mentioned in #1801, seems piped jobs has issue in general. cases are:

[code]

Basically, the new version (0.4.7) broken on Mac OS X. Currently I'm using bash :(

[2016-10-26 10:31] melund commented on #1885
Well. It fixes the pipe issue I was having on windows.

[2016-10-26 10:41] #1892 closed

[2016-10-26 10:45] gforsyth commented on #1879
@scopatz: It's a curses backed file manager written in Python

@JohnLunzer: Can you try out your alias now after removing the `@foreground` decorator?  And do you have any other alias failures on current master?

[2016-10-26 13:06] #1885 closed

[2016-10-26 13:08] gforsyth commented on #1824
Closing via doc updates and better defaults in #1888

[2016-10-26 13:08] #1824 closed

[2016-10-26 13:13] gforsyth commented on #1818
Hi @daym -- sorry for losing this thread.
Thanks for posting that output.
I'm glad to hear that the prompt_toolkit backend works, at least.

Could you try this please?

1. Open xonsh
2. set `$XONSH_DEBUG=1` and `$XONSH_SHOW_TRACEBACK=True`
3. run `xonsh` from within the current `xonsh` window
4. Try your breaking example
5. Ctrl-C if needed and see if there's any traceback printed to the parent `x

[2016-10-26 13:13] gforsyth commented on #1801
@gotgenes could you try out the latest master and see if this issue persists?  Thanks!

[2016-10-26 13:15] mitnk commented on #1885
Ah, #1893 fixed my issue on my Mac home, but not the one at work, weird.

[2016-10-26 13:22] melund commented on #1821
@OJFord ... I took at stab at it. It seems that PTK has some issues with the ansicolor names on windows. So we may need to wait until that is fixed.

[2016-10-26 13:33] gforsyth commented on #1621
I think this is now handled by the customization FAQ page.

[2016-10-26 13:33] #1621 closed

[2016-10-26 13:36] gforsyth commented on #731
I'm closing this as I believe it's addressed in the docs now, see https://xonsh.github.io/xonsh-docs/dev/customization.html#import-python-modules-from-a-local-directory

[2016-10-26 13:36] #731 closed

[2016-10-26 13:38] gforsyth commented on #1559
Both release and dev docs have been updated to address the inconsistency.  Please reopen or file a separate issue if there's still an issue.  Thanks!

[2016-10-26 13:38] #1559 closed

[2016-10-26 13:43] rnovacek commented on #1824
I can confirm that there is no delay in tab completion when using current master.

Thank you very much for fixing this bug so quickly!

[2016-10-26 13:44] gforsyth commented on #1824
Thanks for reporting @rnovacek -- and thanks a ton @blahgeek for handling the fix!

[2016-10-26 14:01] gforsyth commented on #1324
I'm going to close this as we don't handle the brew recipe

[2016-10-26 14:01] #1324 closed

[2016-10-26 14:02] gforsyth commented on #1306
@wreed4 -- does this behavior still occur on either 0.4.7 or current master?

[2016-10-26 14:18] gforsyth commented on #1148
I believe this has been resolved in 0.4.7 and on master.  Please reopen if the issue persists.  Thanks!

[2016-10-26 14:18] #1148 closed

[2016-10-26 14:55] mitnk commented on #1825
To a PDF or HTML? no ... sounds like a `won't fix/do` (out of xonsh scope) to me :) sorry.

[2016-10-26 14:57] scopatz commented on #1825
Well, there is no reason this couldn't be optional / in a xontrib.

[2016-10-26 15:00] mitnk commented on #1825
I forgot the existing of xontrib ...

[2016-10-26 15:18] #1547 closed

[2016-10-26 17:43] gotgenes commented on #1801
@gforsyth Latest behavior causes `less` to lose the ability to register keypresses when performing the following:

[code]

To gain control back of the terminal, I must execute a Ctrl+C, followed by two presses of Q.

This behavior does not seem to be exhibited when running something that takes up a screenful or more with `less`, like

[code]

[2016-10-26 19:31] gforsyth commented on #1801
Hey @gotgenes, thanks.  I can confirm that behavior.  I'm inclined to close this out and open a new issue for it so we can keep better track of the individual problems.

Question for you, if you open a file with less that takes up more than a screenful and scroll to the bottom and then try to scroll down further, do you also lose keypresses?

[2016-10-26 19:43] gotgenes commented on #1801
@gforsyth

Yes, I recommend marking this issue as resolved. I will file a new issue regarding the lost keypresses.

[2016-10-26 19:49] #1801 closed

[2016-10-26 21:16] gotgenes opened #1898 "Keypresses to less appear to be swallowed when piping in fewer lines than the terminal size"
xonsh has difficulty sending keypresses to `less` when `less` is fed fewer lines of content than the size of the terminal, via a pipe.

Below we create a file of a single line and pipe its contents into `less`:

[code]

To exit less in this scenario, I must press Ctrl-C followed by Q.

Below we produce a file of 100 lines and pipe its contents into `less`:

[code]

Here `less` appears to receive k

[2016-10-26 21:17] gforsyth commented on #1898
Thanks for reporting @gotgenes !  I can confirm this behavior on current master.

[2016-10-26 21:18] #1886 closed

[2016-10-26 21:18] gforsyth commented on #1886
Hey @Kilte -- this was autoclosed when I merged in the fix just now, but please let me know / reopen if the issue persists.  Thanks!

[2016-10-27 01:00] scopatz commented on #1898
Thanks for reporting @gotgenes! This is odd. I cannot reproduce this on my Ubuntu box.  Less works exactly how it works in Bash for me.  Is this maybe a mac (or a mac version of less) issue?

[2016-10-27 01:06] adqm opened #1901 "Mutt Line Wrapping Broken In Recent xonsh?"
In recent xonsh, mutt is not wrapping lines as it should (in particular, with the mutt sidebar enabled).  Rather than wrapping around inside the area where I can usually read the message, they are wrapping to cover up the sidebar, and not being properly cleared when I switch between messages.  I would guess this means that certain escapes aren't being handled properly?

[2016-10-27 01:08] scopatz commented on #1901
Mutt is curses based, right?

[2016-10-27 01:14] scopatz commented on #1901
@adqm, thanks for mentioning this.  Can you please try #1902?

[2016-10-27 01:16] scopatz commented on #1306
I hope not, since one of the points of the run subproc refactor was to fix these kinds of issues :)

[2016-10-27 02:05] scopatz commented on #1879
Ahh ok, basically everything that is curses based should go into the predict-false category

[2016-10-27 02:07] scopatz commented on #1860
Yup thanks for bringing this up!

[2016-10-27 02:10] scopatz commented on #1874
`apt list` seems to work for me.  What happens exactly?

[2016-10-27 02:13] gforsyth commented on #1898
Hey @scopatz, quick check: are you piping to less or using it directly? When I use it directly everything is fine but when I pipe to it that's when I see the behavior described

[2016-10-27 02:18] scopatz commented on #1898
Yes, I am piping.  If I do `echo x | less` or `cat file | less`, it works as expected.

[2016-10-27 02:19] scopatz commented on #1898
On linux.  Trying to figure out windows less right now (windows 9?)

[2016-10-27 03:34] mitnk opened #1904 "mvim issue - exec breaks on Mac?"
On Mac, when I start a MacVim from xonsh with `mvim`:

$ mvim foo.txt

It opens up a MacVim GUI window and,

in previous version of xonsh or bash:

the process of `mvim` exits and xonsh session can be typed with new commands.

**But in current xonsh**,

the xonsh session hangs up until I exit the MacVim Application process.

The code of `mvim` [is here](https://github.com/macvim-dev/macvim/blob/ma

[2016-10-27 07:44] melund opened #1905 "Piping to `less` not working on Windows."
So `less` is working again, and pipes also seem to work in general.

But piping to ´less´ doesn't work. It just prints all the output and exists less. I think @scopatz  is aware of that.

[code]

Maybe it is the same issue we see with `git log`. Behaviour seems very similar.

[2016-10-27 08:00] melund commented on #1851
If I do:
[code]
It doesn't print the color codes (But it doesn't color either). It suggests that `ls` knows it is not connected to a terminal. This is also why I can't get it to print in columns. It only does that when it thinks it is connected to a terminal.

[2016-10-27 08:21] melund commented on #1851
A workaround for `ls` is set the following alias:

[code]
It will preserve the column mode even though it is thinks it is connected to a pager. And it will deactivate the colors codes.

Are there a way we can trick the programs into thinking that they are not captured?

[2016-10-27 10:23] mitnk commented on #1904
It hangs on the `self._safe_close(s.captured_stdout)` line of `xonsh.proc.CommandPipeline`.

[2016-10-27 10:38] laerus commented on #1874
On the slow netbook the output gets cut off on commands with huge output, even with low proc frequency. (through piping or not)

[2016-10-27 13:29] gforsyth commented on #1904
Hi @mitnk -- thanks for reporting!  Could you try out the branch `mvim_cache` and let me know if that resolves your issue?  Thanks!

[2016-10-27 13:39] gforsyth commented on #1898
Weird... now it works fine on my machine?  No complaints!
Maybe since the piping fixes were also merged in?
What about you @gotgenes -- can you still reproduce this on master?

[2016-10-27 13:43] mitnk commented on #1904
Yes, it works. (I think I had tried the same way, like `mutt`, but did work that time. weird). Anyway thanks a lot!

I'm a little concerned the way it being fixed. The list would get longer and longer. And ever we add an ability to extend the list via xonshrc (can we now?), this is a new rule of xonsh for users to aware.

[2016-10-27 13:46] gforsyth commented on #1874
Hey @laerus -- if you add `apt` as a `predict_help_ver` in `xonsh/command_cache.py` do you still have issues with output being cut off?

[2016-10-27 13:47] gforsyth commented on #1814
Hey @cryzed -- would you mind trying out the `pacman_cache` branch and see if fixes the pacman/pacaur streaming issue?  Thanks!

[2016-10-27 13:59] scopatz commented on #1851
Yes, this is the source of many of the remaining Windows issues.  I spent a few hours last night trying to figure this out.  POSIX uses fnctrl and ioctrl to do this, but it does not seem like there is anything in the windows API that will help.  However, I have found a lot of sack overflow pages that say powershell can do this, and some `tee con` commands claim the same. So I think there must be a

[2016-10-27 14:38] scopatz commented on #1904
Yes, we need a generic way of predicting threadability. I am open to suggestions!

You can already do this at any time in xonsh (including the rc) with by adding an entry to the `__xonsh_commands_cache__.threadable_predictors`  dict.

[2016-10-27 14:54] wreed4 commented on #1306
@gforsyth Yes, I can confirm this still happens on 0.4.7

I'm not entirely sure how to replicate it, but I have determined that it doesn't have to do with the alias.  Here is the situation the best I can describe it:

The alias is something like:`aliases['mk'] = 'proprietary_make build'`
`proprietary_make` is a `rake`-like tool that my company owns and has written.  It is basically a perl script.

[2016-10-27 15:42] gforsyth commented on #1306
Hi @wreed4 -- noted.  How about on current master?

[2016-10-27 16:53] JohnLunzer commented on #1879
@gforsyth , sorry I'm a little confused. I updated to the current master and removed the `@foreground` decorator and received the same graphical issues when running `ranger` in `tmux` and crashing when running `ranger` in the straight xonsh shell.

I added `'ranger': predict_false` to `command_cache.py` and I'm getting the same behavior as if the `@foreground` decorator were there, ie. `ranger` do

[2016-10-27 16:56] gforsyth commented on #1879
Whoops!  Sorry, I thought I had added `ranger` to the threadable predictors dict.
There may be other parts of your alias causing trouble -- can you confirm whether or not ranger works as expected if you just run it as is, without the alias (but with the entry in `commands_cache.py`)?

[2016-10-27 17:03] JohnLunzer commented on #1879
with `'ranger': predict_false` on the current master an unaliased `ranger` runs fine (no crashing or graphical errors ) inside and outside of `tmux`. I must be doing something funny in my alias...

[2016-10-27 17:27] JohnLunzer commented on #1879
Let me simplify the error case here, this alias:
[code]
Hangs with `'ranger': predict_false` and graphical errors without. Am I misusing `evalx`? I also tried with `$(@(rcmd))` and the same behavior.

If I just type `evalx(rcmd)` at the command line with `'ranger': predict_false` it runs without issue.

[2016-10-27 17:34] JohnLunzer commented on #1879
And just for comparison, this last example works with and without the `@foreground` decorator in commit https://github.com/xonsh/xonsh/commit/c262e0358f053ad374e256efcd31007141eb1c7e.

[2016-10-27 18:11] gforsyth commented on #1879
Ahhh... ok, this is interesting.  No, you are not misuing `evalx`.  I can reproduce this with any program that we've set as not threadable being used inside an alias.

[code]
will hang, as will (mutatis mutandis) `htop`, `top`, `ranger`, etc...
but

[code]
works fine.

I think we're getting caught up in `_update_last_spec` in `xonsh.built_ins` -- we don't do the threadability check if something is

[2016-10-27 21:21] gotgenes commented on #1898
@gforsyth @scopatz Confirming latest on `master` does **not** exhibit this bug.

New `xonfig`

[code]

Feel free to mark this as resolved.

[2016-10-27 21:22] gforsyth commented on #1898
Awesome.   Thanks!

[2016-10-27 21:22] #1898 closed

[2016-10-27 22:16] chrisfilo opened #1909 "Current session is not included in `history show all`"
Output of  `history` (current session) is not included in `history show all`.

[code]

[2016-10-27 23:47] laerus commented on #1909
thanks for reporting @chrisfilo! This seems like an easy fix, a PR would be awewome!

[2016-10-28 06:24] scopatz commented on #1905
As an update, I think I have a generic fix for windows in the works that manages to retain normal streaming behaviour while also capturing output.  I think I have the hard pieces figured out, but haven't integrated it with the proc architecture yet.

[2016-10-28 14:24] gforsyth commented on #1904
Closed via  	1b85482

[2016-10-28 14:24] #1904 closed

[2016-10-28 14:26] gforsyth commented on #1806
This was fixed somewhere along the way.  Please reopen if the issue persists.  Thanks!

[2016-10-28 14:26] #1806 closed

[2016-10-28 14:27] #1784 closed

[2016-10-28 20:05] gforsyth commented on #1825
Hey @CJ-Wright, I needed (wanted?) something like this for an easier time writing tutorials -- it's early days (you know, like the last hour or so), but you can take a look at https://github.com/gforsyth/history_xonverter

Just a simple script that you hand a xonsh history file to and it outputs a markdown file with the input and outputs broken out.  You could pretty easily convert the md file to

[2016-10-28 20:09] CJ-Wright commented on #1825
@gforsyth Awesome thank you! I'll try to test this out soon.

[2016-10-28 23:21] OJFord commented on #1821
Any chance non-Windows folks could benefit in the mean time?

Or are you saying it would actually be worse on Windows with this change but without PTK being fixed?

[2016-10-29 05:24] melund commented on #1821
No worries. Happens to me all the time.

I am not saying we have to wait until the next PTK release. This only has effects if people have pygments master anyway.

 But I would like to see the effect on the fix to PTK before merging it in xonsh. I don't think it will be long @jonathanslanders is usual quite fast.

[2016-10-29 14:24] cryzed commented on #1814
At first glance it seems to fix the issue I had! Sometimes the console output still seems a bit wonky though, for example when aborting a process using Ctrl+C my cursor suddenly ends up somewhere in the line above etc. I'll keep an eye on it and see if I can come up with a more accurate description.

[2016-10-29 19:10] cryzed commented on #1814
Something that still breaks completely (stdout output and crashing) is running `nethogs`. After starting it many of the elements aren't displayed correctly and rapidly resizing it leads to crashes. This is the best traceback I could recover from the crash:

[code]

[2016-10-29 22:40] scopatz commented on #1905
At least that specific example is fixed for me on #1911

[2016-10-29 23:50] gforsyth commented on #1814
Ok.  `nethogs` is also a curses-based interface, so it should get an entry in `xonsh/command_cache.py`

[2016-10-30 00:06] scopatz commented on #1879
A glimmer of hope: $[myvim] seems to work for me.  Gonna figure out how to formalize this.

[2016-10-30 01:10] cryzed commented on #1814
I'm not sure what this module is used for, but it almost sounds like a whitelist for programs to make them work properly?

[2016-10-30 01:12] scopatz commented on #1879
Hi @JohnLunzer, would you mind trying #1912?

[2016-10-30 01:15] scopatz commented on #1879
And also @gforsyth :)

And by trying, I mean decorate your aliases with both unthreadable and uncapturable:

[code]

[2016-10-30 01:20] scopatz commented on #1814
That is effectively what it is for the time being from a users perspective. Really what it does it declares that a subproc (under certain argument conditions) does or does not produce capturable ouput.  For most alternate mode programs, it just gives a performance benefit. For certain programs that don't go into alternate mode but are interactive, like shells, it is more necessary to get things to

[2016-10-30 01:29] mitnk opened #1913 "xonsh consumes too much CPU"
I found on Mac, running server like applications, like `python3 -m http.server` will make xonsh consuming about 15% CPU. It seems xonsh loops hard for checking something?

[2016-10-30 01:32] scopatz commented on #1913
Hi @mitnk - thanks for reporting.  @laerus has mentioned this happens, particularly on slower and older machines.  We are trying to figure out how to address this.  What are the specs for your system?

[2016-10-30 01:35] mitnk commented on #1913
MBPr 2015, 2.2G i7, 16G Ram. And another older Mac has the same issue - both at 15% CPU (on one core).

[2016-10-30 17:18] gforsyth commented on #1879
Hey @JohnLunzer -- sorry about the autoclose.  Could you confirm that the following works for you on current master?

[code]

[2016-10-31 02:28] scopatz commented on #1825
Ok, just thought of something I really want: the ability to publish a session to a gist et al. That would be unimaginably useful.

[2016-10-31 08:50] SanketDG commented on #1909
So I have been trying to fix this, but haven't been able to get iterate through a `History` object properly.

This is the `_all_xonsh_parser` (slightly modified) which is called for `history show all`

[code]

I tried to do something like:

``
for h in hist:
    yield h
[code]

[2016-10-31 08:57] SanketDG commented on #448
I would like to work on this, I am guessing I should define the environment variables in `environ.py` but where would I define how it would behave?

[2016-10-31 12:39] rahiel commented on #1154
Starting from readline 7 it also has paste jacking protection, but it's off by default. Bash users can add `set enable-bracketed-paste on` to their `~/.inputrc` to enable it. Maybe xonsh can also enable it when it is in readline mode?

[2016-10-31 13:58] JohnLunzer commented on #1879
@scopatz, your provided ```myvim``` alias does not hang. If I remove the decorators it does hang. Interestingly if I create two aliases, one with the decorators and one without the decorators but otherwise identical, ```myvimold```, and I run ```myvimold``` first and it hangs and I ```Ctrl+c``` out then ```myvim``` will also hang when I try to run it.

@gforsyth, your provided ```ranger``` alias d

[2016-10-31 14:34] gforsyth commented on #1879
Hey @JohnLunzer -- can you try out #1919 and see if that fixes the ranger issues?  Thanks.

[2016-10-31 17:08] wreed4 commented on #1306
Yes, I can confirm this still happens on current master.

[2016-10-31 18:01] gforsyth commented on #1306
Ok @wreed4 -- it's going to be hard to debug this any further since we don't really know what's going on in that script (and, of course, understand that you can't tell us).
If output isn't streaming, then it's probably because something that shouldn't be threaded is being threaded.
I would try the following:
First, add the `proprietary_make` script to the `threadable_predictors` dictionary with a

[2016-10-31 18:02] gforsyth commented on #1879
We're open to any suggestions for how to manage that list heuristically...

Sigh.  I think all of these issues have been resolved -- please close if this is good to go!  Thanks!

[2016-10-31 18:56] OJFord opened #1921 "Strings split on `-and`"
Reproduce:
[code]

Expected:
[code]

Actual:
[code]

Workaround:
[code]

This is similar to #1432 discussion on quoting/escaping of special characters; in particular whitespace. But I think this is a distinct issue and I **very** much hope that _this_ is not intended behaviour.

[2016-10-31 20:36] laerus commented on #448
a good place would be in base_shell.py maybe in the `default` method

[2016-11-01 01:02] scopatz commented on #448
Yeah, I agree with @laerus.  Somewhere in BaseShell. Probably either in default() or postcmd()

[2016-11-01 01:02] scopatz commented on #448
Thanks for being willing to take this on @SanketDG!

[2016-11-01 01:05] scopatz commented on #1921
Hi @OJFord - thanks for reporting.  This is not the intended behaviour. and, or, and not should only be keywords when surrounded by whitespace.

[2016-11-01 01:15] scopatz commented on #1154
Ahh OK, This should like a good idea.  Would you be willing to put in a PR to this effect?  You'll want to modify the "setup_readline()" function, somewhere around https://github.com/xonsh/xonsh/blob/master/xonsh/readline_shell.py#L91

IIRC the parse and bind function lets you set config option programatically.

[2016-11-01 01:27] scopatz commented on #1909
Hi @SanketDG - it should iterate for the number of commands in each history. I think the mistake is that it should also iterate through the history in the current session.  Something like,

[code]

The buffer is the list of commands that have yet to be written to disk and are still in memory.  Thus these are missed.

[2016-11-01 12:47] rtpg opened #1922 "Setup fails without setuptools"
there seems to be some `setup.py` infrastructure for handling lack of setuptools, but I just tried (on a clean machine with just python3 and pip) to install `xonsh` and it was failing due to lack of `setuptools`.

[code]

[2016-11-01 13:47] astronouth7303 commented on #1922
What's your OS? I was under the impression that pip required `setuptools`.

[2016-11-01 14:41] wreed4 commented on #1306
I figured it out I think.  Turns out that if I hit `CTRL-C` while proprietary_make` is running, I get an error that includes this line:
[code]
  This led me to check `aliases['proprietary_make']` which turned out to be `<xonsh.foreign_shells.ForeignShellFunctionAlias at 0x.........>`.  This is odd because `which proprietary_make` gives simply `/home/bin/proprietary_make`.  This is what I checked b

[2016-11-01 14:51] gforsyth commented on #1306
Hey @wreed4 -- `predict_false` will only be available on master.

Not sure what's up with `which` acting that way.  It returns the command being run on my machine. You can pass it the `-v` flag for more information, or the `-a` flag to look at all possible returns.  But generally, the behavior is to show the expanded command (or in the case of a function alias, to show the name of the function it'

[2016-11-01 15:09] rtpg commented on #1922
This was a fresh Ubuntu 16.04 instance. I installed `pip` via the `python3-pip` package [found here](http://packages.ubuntu.com/yakkety/python3-pip). This might not have been the best way to go about things

[2016-11-01 15:21] wreed4 commented on #1306
@gforsyth Yes, in all other cases, I've seen `which` perform correctly as well.  I didn't know about `-v` and `-a` though.  I'll have to look at what those return.

[2016-11-01 15:38] scopatz commented on #1922
Thanks for reporting @rtpg. I don't think that this is a xonsh issue.  @astronouth7303 is right that pip requires setuptools...

[2016-11-01 16:08] astronouth7303 commented on #1922
@rtpg No, that should be a case we support...

That's extremely odd. `python3-pip` only _suggests_ `python3-setuptools`.

Oh. I think I can see how that can be. pip does use setuptools for its own `setup.py`, and the usual independent install scripts (ie `get-pip.py`) will install it. However, since deb packages are less "do these things" and more "unpack this bundle", it doesn't need to run `setu

[2016-11-01 16:08] Siecje commented on #1922
It is possible to install ```pip``` without ```setuptools``` but you can't install sdist or vcs distributions, only wheels.

[2016-11-01 16:21] OJFord commented on #1821
Thanks for working on this @melund - looking great with #1894 now!

![screen shot 2016-11-01 at 16 17 00](https://cloud.githubusercontent.com/assets/3946014/19897111/ba8b507e-a04e-11e6-80a3-022b96e2259f.png)

Will the next release bump the pygments dependency as required?

[2016-11-01 16:22] gforsyth commented on #1922
Should we just shell out to `get-pip.py` or something similar if setuptools is unavailable?

[2016-11-01 16:23] gforsyth commented on #1821
Hey @OJFord -- we can't bump the dependency until pygments actually does a release.  We can certainly add instructions to the customization FAQ in the docs related to this

[2016-11-01 16:24] scopatz commented on #1922
@gforsyth in general? Or when run from pip?

[2016-11-01 16:25] Siecje commented on #1922
@gforsyth To install setuptools?
@scopatz How would you tell it was run from pip?

[2016-11-01 16:26] scopatz commented on #1922
@Siecje Beats me, hopefully there is a way, though.

[2016-11-01 16:27] OJFord commented on #1821
Ah, gotcha. Sorry I wasn't sure if I actually needed master or if it was just the easiest way of getting at whatever unknown later version was required.

That's a shame, but presumably I can just `pip install` it as I did in the Docker container without unwanted effects?

[2016-11-01 16:29] Cadair commented on #1480
Where in the code base would a key binding like this belong?

[2016-11-01 16:30] scopatz commented on #1480
@Cadair - It would go in the PTK shell key bindings  (`xonsh.ptk.key_bindings`) or in the readline startup
`xonsh.readline_shell.setup_readline()`

[2016-11-01 16:40] gforsyth commented on #1922
@scopatz I guess I was thinking just generally -- there's still the edge case of having python and no pip
@Siecje yeah, that was my thought

[2016-11-01 16:43] scopatz commented on #1922
@gforsyth -  Yeah, I'd really prefer to not require setuptools or pip.  setuptools - via pkg_resources - was responsible for so much of the startup slow down I have lost trust in it until it undergoes a serious refactor and have started removing it from most other projects I work on. It isn't worth it in my opinion.

[2016-11-01 16:44] gforsyth commented on #1821
yep, kind of a pain

[2016-11-01 16:48] OJFord commented on #1821
Actually, I still can't get this right.

![screen shot 2016-11-01 at 16 45 55](https://cloud.githubusercontent.com/assets/3946014/19898131/b32482c0-a052-11e6-87e5-066010a92b8c.png)

Is there something more I need to do to get it to use the ANSI colours I have set?

[2016-11-01 16:57] Siecje commented on #1922
From a fresh Ubuntu 16.04 Server when I install ```python3-pip``` I get ```setuptools```.

[2016-11-01 17:07] Siecje commented on #1922
Another thing that is strange is that with that version of ```pip``` you should get a message if you don't have ```setuptools```.

[code]

[2016-11-01 17:25] melund commented on #1821
Good question. Are there other places where we get styles from. I will have look tomorrow.

[2016-11-01 17:53] melund commented on #1821
@OJFord. Can you try to run the following and check that all the styles use `#ansi` color names:

[code]

[2016-11-01 18:00] #1905 closed

[2016-11-01 18:01] melund commented on #1874
This is fixed in master now.

[2016-11-01 18:01] #1874 closed

[2016-11-01 18:01] melund commented on #1830
Fixed in master

[2016-11-01 18:01] #1830 closed

[2016-11-01 18:06] melund commented on #806
This is fixed on master :)

[2016-11-01 18:06] #806 closed

[2016-11-02 00:52] OJFord commented on #1821
At first it wasn't, but I just tried from 'scratch', and it's working great. Not sure exactly what the issue is but I'm sure it'll be smooth once all relevant packages have new versions :)

Thanks again for the fix!

![screen shot 2016-11-02 at 00 51 02](https://cloud.githubusercontent.com/assets/3946014/19912988/791a253c-a096-11e6-94df-499618d2fb6a.png)

[2016-11-02 01:47] rtpg commented on #1922
Odd, I don't think I did anything particular to my 16.04 setup... the main thing here that is weird to me is that xonsh's `setup.py` clearly has code for the "no `setuptools`" state, but it doesn't seem to actually handle that state properly?

 This might be an issue with how my machine was setup but like I said I haven't really done anything on this machine yet.

[2016-11-02 14:14] Siecje commented on #1922
@rtpg To install ```pip``` you did ```sudo apt-get install python3-pip```?

Can you see if you get an error when you do

[code]

I believe something about your setup is confusing the check inside ```pip``` about whether ```setuptools``` is available.

[2016-11-02 19:51] #1879 closed

[2016-11-03 09:49] SirNickolas opened #1928 "Background jobs are broken"
In the subprocess mode, the trailing ampersand is not recognized as a background job indicator, and instead passed directly to argv:

[code]

[2016-11-03 13:10] Siecje commented on #1928
This is fixed in ```master```

[2016-11-03 13:16] SirNickolas commented on #1928
My fault. Should test that before filing an issue.

[2016-11-03 13:16] #1928 closed

[2016-11-03 13:20] Siecje commented on #1928
I did just check ```master```. But the only reason I know is because I did the same thing https://github.com/xonsh/xonsh/issues/1804

[2016-11-03 14:25] Siecje commented on #1922
Okay I am able to reproduce this.

Starting from a fresh Ubuntu Server 16.04
[code]

[2016-11-03 14:38] Siecje commented on #1922
When I upgrade pip to 9.0.0 with

[code]

I was surprised that ```sudo``` wasn't required.

The proper error message that setuptools is required is shown.

[code]

I vote to close this.

[2016-11-03 16:55] scopatz commented on #1922
I am happy to close this with the note to update pip. Does that sound OK to the rest of you?

[2016-11-03 17:55] mangecoeur opened #1930 "MOUSE_SUPPORT=True prevents scrolling, selection macOS"
Setting $MOUSE_SUPPORT=True on macOS appears to break touch (two finger) and scrollwheel scrolling in macOS Terminal, as well as text selection and copy/paste. All of these actions simply stop working (no error messages). Somewhat ironically, mouse input is better supported with mouse_support=False :/

[2016-11-03 18:15] scopatz commented on #1930
Hello @mangecoeur, I am assuming that you are using the PTK shell.  We simply call out to their mouse handling.  I recommend that you report this to https://github.com/jonathanslenders/python-prompt-toolkit  If there is anything that we can do or should do in xonsh, please let us know!

[2016-11-03 18:16] mangecoeur commented on #1930
@scopatz yes I am using PTK shell, will report accordingly

[2016-11-03 21:04] astronouth7303 commented on #1922
Yeah. Given just how much of the Python community now implicitly depends on setuptools, I'm not sure this is something we should expend a lot of effort fixing.

[2016-11-04 19:55] gforsyth opened #1931 "Incorrect piping results when a job is "long""
TLDR: piping a long file through sort and writing it out to a file gives inconsistent/wrong results

I was putting together a tutorial using some uber pickup data and ran into this.
I have a csv file that's 14 million+ lines long

[code]

It's not sorted by date, so I do

[code]

but then I get

[code]

[code]

So is this overflowing an `os.pipe` somewhere or something?

[2016-11-04 19:59] gforsyth commented on #1931
If it's strictly a streaming affair, there are no issues:

[code]

[2016-11-04 20:58] scopatz commented on #1931
Hey gil I know this is a dumb question but could you verify that this actually works in bash please? My concern is that this might actually be a problem with sort

[2016-11-04 21:01] gforsyth commented on #1931
Hey @scopatz -- it does work in bash.  I checked to make sure I wasn't going crazy.

[2016-11-04 21:05] scopatz commented on #1931
Okay great. is there a place that you can point me to so I can get the data set and play around with it as well? Thanks!

[2016-11-04 21:07] gforsyth commented on #1931
Sure thing!
https://github.com/fivethirtyeight/uber-tlc-foil-response/blob/master/uber-trip-data/uber-raw-data-janjune-15.csv.zip?raw=true

[2016-11-04 21:08] gforsyth commented on #1931
And the `--parallel` flag in `sort` is your friend

[2016-11-04 21:11] scopatz commented on #1931
It is good to have friends ;) I might not get to this until tomorrow, if that is ok?

[2016-11-04 21:12] gforsyth commented on #1931
No worries at all.  Not a huge rush on this, just a strange thing I stumbled on

[2016-11-04 21:22] scopatz commented on #1931
OK Cool.  I am actually looking forward to debugging this one :)

[2016-11-06 16:01] daym opened #1935 "HISTCONTROL ignoreerr - Better would be commenterr"
Hi,

I've tried using ignoreerr for some weeks and it's just too jarring if the entry is missing from the interactive history (file history not so much).

I think much better would be something that, on error, added the offending line with a comment character "#" in front.

Let's say

[code]

failed, then it would add

`#garble`

to the history.

What do you think?

[2016-11-06 19:22] jonjitsu opened #1937 "Ctrl-w and alt-backspace do the same thing and are less powerful than in bash"
In bash the behavior is different and more useful.

Ctrl-w: delete chars backwards up to first whitespace char (non-inclusive) and put in "clipboard"
alt-backspace: delete chars backwards up to first non-alphanumeric (non-inclusive) and put in "clipboard"

I'm unsure of the exact behavior of these two commands in bash but they're more useful than the equivalents in xonsh. Perhaps being able to set

[2016-11-06 22:43] laerus commented on #1937
hey @jonjitsu thanks for reporting! can you please post the output of `xonfig`?

[2016-11-07 15:08] mitnk opened #1939 "inspect code with stdlib inspect"
In a xonsh session:

[code]

with a clean xonsh, got `OSError`:

[code]

With a xonshrc setup, I got:

[code]
This is the first line of a local xsh file loaded when xonsh got launched, see [here](https://github.com/mitnk/dotfiles/blob/master/xonsh/xonshrc#L99).

super help??:

[code]

[2016-11-07 16:56] scopatz commented on #1937
Thanks @jonjitsu, and yes, the `xonfig` command would help us determine if this is a readline or prompt-toolkit issue.

[2016-11-07 17:03] scopatz commented on #1935
Hi @daym, Thanks for bringing this up.  I am generally not a fan of rewriting history, and the behaviour that you want seems to be different than a simple ignore.

I would suggest that maybe we could have an additional flag for HISTCONTROL, maybe named `commenterr` that has the behaviour you suggest.  Does this sound reasonable? Pull requests very welcome!  I can point people to the relevant part

[2016-11-07 17:52] astronouth7303 commented on #1939
Hm. I'm not sure this is related, but in stack traces, things get attributed to the `vox_autocomplete` xontrib that shouldn't be.

[2016-11-08 15:25] gforsyth commented on #1397
Fixed in #1897

[2016-11-08 15:25] #1397 closed

[2016-11-08 21:11] laerus commented on #1913
hey @mitnk this got a lot better for me after the latest changes @scopatz introduced, can you check if the cpu usage is the same on latest master?

[2016-11-09 01:44] mitnk commented on #1913
`python3 -m http.server` still consume ~20% CPU.

[code]

[2016-11-09 15:32] cranmer commented on #318
could you make a link to the asciinema itself? It's nice for tweeting etc. I can't figure out how to get the URL to it from the embed code

[2016-11-09 15:33] d33tah commented on #318
@cranmer https://asciinema.org/a/9kp21a67ahhng25wtzoep3pyx

[2016-11-10 19:28] JohnLunzer opened #1944 "emacsclient -t"
I use the emacs daemon via the `emacsclient -t` command to run emacs in my console. I create an alias for that which I shorted to `em`.

Unfortunately I'm getting some odd behavior as an alias. Without `emacsclient` added to `commands_cache.py` the editor never opens, just hangs the shell. If I add `'emacsclient': predict_help_ver` to `commands_cache.py` then the editor will open and run correcty

[2016-11-10 19:32] laerus commented on #1944
Hey @JohnLunzer ty for reporting! Does Ctrl-C in either case of a hang up produce any traceback? this might need `$XONSH_SHOW_TRACEBACK=True`

[2016-11-10 19:34] JohnLunzer commented on #1944
I have `$XONSH_SHOW_TRACEBACK=True` and Ctrl-C in either case does not produce a traceback, but it does unhang the console.

[2016-11-10 19:55] scopatz commented on #1944
Hi @JohnLunzer, can you post the alias please? Thanks for reporting

[2016-11-10 20:55] JohnLunzer commented on #1944
I'll post it as soon as I get back to my desktop.

[2016-11-10 21:04] scopatz commented on #1913
I am seeing this myself.

[2016-11-10 22:09] JohnLunzer commented on #1944
[code]
The hanging behavior is not entirely consistent. If I run this a couple times and it hangs upon exit and I `ctrl+c` out it then sometimes it will not hang upon exiting emacs. Additionally, everytime I `ctrl+c` out it turns the process into a background process (which is the same behavior I've seen when I was having issues with other aliases of full screen console applications).

[2016-11-10 22:19] scopatz commented on #1944
I think the evalx is the blocking piece. What happens if you use:

[code]

instead?

[2016-11-11 15:01] cryzed opened #1947 "Subprocess output is not captured using $(...) for some commands"
[code]

So the stdout/stderr output of the pacman command seems to be entirely uncaptured. This has definitely worked in previous versions.

[2016-11-11 15:29] JohnLunzer commented on #1944
Your version works without . If possible can you explain why the one works and the other doesn't? Sometimes I find it more clear to use `evalx` (though in this case yours is far more elegant) so it would be nice to try to understand this a little bit.

As a reminder, the alias you provided only works if I add `'emacsclient': predict_help_ver` to `commands_cache.py`. This addition does not appear t

[2016-11-11 17:58] scopatz opened #1948 "Branch names no longer seem to show up until git is run"
[code]

[2016-11-11 18:05] scopatz commented on #1947
Thanks for reporting, @cryzed. Are you on master? What is the output of the xonfig command?

[2016-11-11 20:19] cryzed commented on #1947
Yes, I am, check the first few lines of the output I posted. [This](https://github.com/xonsh/xonsh/commit/28359582f3b71f3ef6cce4a592ab3d71f4e9ec60) commit to be specific.

[code]

[2016-11-11 21:40] scopatz commented on #1947
I think that this is because pacman was added to the `threadable_predictors` as false in most cases: https://github.com/xonsh/xonsh/blob/master/xonsh/commands_cache.py#L268

This seems weird to me and maybe it should be removed.  @gforsyth might know or remember more.

[2016-11-11 21:44] JohnLunzer commented on #1913
I believe I am seeing something similar using `gevent.wsgi.WSGIServer()` but I can't say for sure.

I just noticed that xonsh is running about 30% on one of my machines and 45% on my other (both linux, rhel and centos) when I run one of my applications which uses this. This didn't used to be the case.

[2016-11-11 21:50] gforsyth commented on #1947
Yeah, I did that because pacman output was being printed in the wrong order in some cases.  It may be that that problem has been resolved elsewhere and we can remove it from `threadable_predictors`.  That said, I tried that this morning and I still can't capture the output of `pacman`

[2016-11-11 21:53] scopatz commented on #1944
Basically, I think that you end up in a race condition where it is not clear whether evalx or the subproc or the alias should end first.  And for whatever reason, when the subproc ends, it is not propagating up.

That is interesting to note.  I rarely use evalx myself, and it might implement the blocking semantics.

Yeah, that could definitely happen.  Anyone should please feel free to put in a PR

[2016-11-11 21:54] scopatz commented on #1913
Yup, this is a serious issue. Now that I am done addressing some performance issues elsewhere, I'll take a look at this one.

[2016-11-11 21:56] scopatz commented on #1947
Does pacman print to stderr? That would explain this behaviour.

[2016-11-11 21:57] scopatz commented on #318
@cranmer sure, also, please feel free to open up a PR that changes the docs! Happy to have this

[2016-11-11 21:58] cryzed commented on #1947
Nope:

[code]

[2016-11-12 01:12] cryzed commented on #1947
I really have to say, the 0.4.7 release works much better than the current master. Of course that is to be expected from a stable release, but I feel that the recent changes to the stream-handling have introduced quite a few number of bugs. Could someone explain why these changes were necessary in the first place?

[2016-11-12 05:05] gforsyth commented on #1947
Hey @cryzed -- there were a large number of open issues that we wanted to address that required a refactor of `run_subproc`; that function was 300+ lines and very hard to touch (as evidenced by the ongoing issues in trying to get everything working again).  One of the main goals was to enable storing stdout in history files which caused a lot of problems in 0.4.7 and earlier.

[2016-11-12 11:13] laerus commented on #1944
I got my hands on windows10 machine, using PowerShell installed latest master
long story sort:
[code]

@JohnLunzer any chance the alias works by adding `__xonsh_ctx__`
on the `glbs` and `locs`  keywords of `evalx` ?

[2016-11-12 13:46] JohnLunzer commented on #1944
I should be clear, I'm not receiving any exceptions. I was interested in why my `evalx` syntax was hanging on exit of `emacsclient` but the syntax @scopatz provided does not hang on exit.

[2016-11-12 18:12] scopatz commented on #1913
Ok, woud you all mind trying out #1950.  This seems to do the trick for me.

[2016-11-12 19:35] jcrben commented on #497
Perhaps an escape hatch for those of who are bothered by the proliferation of globals could be considered - an environment variable allowing us to read the config from a file.

Like many developers, I've got lots of programs running on my machine, and many of them are setting at least one or two environment variables. Mixing another dozen environment variables into the mix just makes it feel more

[2016-11-13 03:01] mitnk opened #1952 "Exception when handle proc signals"
I encountered this exception once, when I hit `Ctrl + C`:

[code]

Checked the code in `proc.py`:

[code]

Seems the signal handlers are registered before `self.proc` are initialized. So that there a very rare chances got the exception I found earlier.

I'm not familiar with the code on proc, so all text here is my guess.

[2016-11-14 14:26] Siecje commented on #1948
This is caused by

[cmds.lazy_locate_binary('git')](https://github.com/xonsh/xonsh/blob/a413061d772d9ecf6c5419e366e867d9d640aaa1/xonsh/prompt/vc_branch.py#L128) introduce by https://github.com/xonsh/xonsh/commit/0f10c774cd8a1cde5b1746343d3e87749057b7fa

I have removed the checks for ```__xonsh_commands_cache__``` in https://github.com/xonsh/xonsh/pull/1943

[2016-11-14 15:10] laerus commented on #1948
lazy locate was there before but it also run when the cache was empty meaning that it tried to search for hg in every directory even if hg was not installed. i'm working on a fix atm.

[2016-11-14 19:46] gforsyth commented on #1952
Hey @mitnk -- thanks for reporting!  I'll see if I can reproduce this.

[2016-11-14 20:15] laerus commented on #1952
yes i got that one too at some point.

[2016-11-14 21:01] gforsyth commented on #1947
Sorry -- I must've missed something the first time.  After much digging, it looks like `pacman` was still in the `threadable_predictors` dict and so was being run as a "regular" subprocess.  Fix incoming.

[2016-11-15 02:53] scopatz commented on #1947
To echo @gforsyth, once all of the kinks are worked out, I believe that the new model will be much better than the old one.  I apologize for any temporary instabilities on master, but we are trying to keep them at a minimum.

[2016-11-15 03:08] scopatz commented on #1952
Thanks for reporting @mitnk. possible fix in #1952

[2016-11-15 03:09] scopatz commented on #1948
Thanks for working on this!

[2016-11-15 03:26] scopatz commented on #497
Hi @jcrben - there are two different forms of "reading configs from a file." There are both config.json and xonshrc files.  Also, the environment is not globals, but rather a separate namespace.

I am a little unsure of what exactly you are asking for and whether or not this use case is already satisfied.  Can you clarify a bit please? Thanks!

[2016-11-15 03:42] scopatz commented on #1931
Sorry for the delay @gforsyth! It seems like some of the performace fixes (and namely the blocking addition to the end of PopenThread.run()) may have fixed this.  The above two examples work locally for me at least:

[code]

I can send the scripts too, but they are copied directly from what you posted.

[2016-11-15 04:17] jcrben commented on #497
It doesn't seem like there's really a way to read configuration data from a file? Running scripts and a static file which sets environment variables aren't the same as what I'm thinking, which would a file that the app reads and writes from directly.

Forgive my ignorance of the details of how this program works. I've only spent a few hours playing with it.

I think there's two aspects to the glob

[2016-11-15 04:35] scopatz commented on #497
Actually, there are both run control files (http://xon.sh/xonshrc.html) and static configuration files (http://xon.sh/xonshconfig.html).  Both of these you can specify on the command line when xonsh starts, have sensible default locations, and can provide the locations in each other.  You might want to look into these to see if they meet your needs first.

I think that there is a difference betwee

[2016-11-15 04:37] scopatz commented on #497
Please let me know if this doesn't make sense in some way.

[2016-11-15 04:40] jcrben commented on #497
Well, for me it's mostly a tidiness thing.

Can a (non-xonsh) program which defines the environment variable `PRETTY_PRINT_RESULTS` exist safely side-by-side with a xonsh session which uses that xonsh environment variable?

[2016-11-15 09:21] cryzed commented on #1947
Thanks for explaining, it really was more curiosity than actual critique! Of course I'm aware that expecting the development branch to be as stable as an actual release is unreasonable.

[2016-11-15 10:31] laerus commented on #497
i think most programs read the envars they need at their startup time, after startup they dont care anymore (except maybe xontribs) and if one does it should in way that it knows that xonsh envvars may change. In xonsh you have the globals namespace that comes from python and a different namespace for the envvars that is conveniently just a dict.

[2016-11-15 13:49] alex3d opened #1955 "Garbled prompt on `enter` hold"
Doctor, when I hold down `enter` key my prompt gets garbled:
![image](https://cloud.githubusercontent.com/assets/712898/20307881/8f0e5f0e-ab52-11e6-94e0-df8fba20d5fd.png)

[2016-11-15 14:01] laerus commented on #1948
the problem whith running the git/hg binaries when building the prompt is that we get all the overhead on xonsh startup and on each prompt update. This also means that if for some reason we cant get the commands cache file we have to also populate the cache in order to locate the binaries.

note that `xonsh.prompt.gitstatus` does all that `xonsh.prompt.vc_branch` does for git and even more by call

[2016-11-15 14:14] JohnLunzer commented on #1944
I'm going to close this as a resolution was found. Because I do not understand the mechanics well enough I'm not willing to say that the hanging behavior seen when using `evalx` is an issue. That said, there should probably be a disclaimer in the docs with regards to using `evalx` in aliases.

[2016-11-15 14:14] #1944 closed

[2016-11-15 14:45] laerus commented on #1955
I've seen that too, can you please post the output of `xonfig`?

thanks for the screenshot!

[2016-11-15 14:46] laerus commented on #1944
+1 for a working `evalx` in aliases.

[2016-11-15 15:32] alex3d commented on #1955
[code]

Same behaviour with `0.4.7` and current `master`.

With `prompt-toolkit` installed behaviour is slightly different:
![image](https://cloud.githubusercontent.com/assets/712898/20311596/74d5873e-ab61-11e6-838b-01f2aefc3bed.png)
[code]

[2016-11-15 15:46] scopatz commented on #1944
@JohnLunzer did you try using the unthreadable decorator on the alias?

[2016-11-15 15:49] scopatz commented on #1948
It seems to be working now, thanks @laerus @Siecje!

[2016-11-15 15:49] #1948 closed

[2016-11-15 15:55] scopatz commented on #497
Hi @jcrben - I don't understand the "side-by-side" piece.  Can you please give a walk-through example of when you think something might fail.

Most subprocesses do not run simultaneously in most shells, and they are always forked. The spawn/fork procedure copies the environment and there is no possibility (without serious other issues in the kernel) for an environment variable to leak into its par

[2016-11-15 16:29] laerus commented on #1955
seems like a leaking ansi escape code, cant find it in the ansi tables atm.

thank you for the info!

[2016-11-15 16:47] jcrben commented on #497
If I change my $HOME in my xonshrc, that affects other programs, right? Programs which save their configuration files to $HOME/.something will save configuration files to the new home if I start them at the shell CLI. At least that's what I'd expect based upon my experience with other shells. (I do realize that GUI programs typically need their environment variables to be set differently, which I

[2016-11-15 16:52] gforsyth commented on #1931
Woohoo!  Works here, too!

[2016-11-15 16:52] #1931 closed

[2016-11-15 17:34] scopatz commented on #497
So this is a problem for all shells (as you point out) and is actually the consequence of the kernel abstraction that a child process inherits the environment from its parent. Likewise, the solution is the same for all shells.

If the parent an child share an environment variable name, but have two semantically different meanings for the same name, then the parent should call the child with a modi

[2016-11-15 17:47] jcrben commented on #497
Now that you mention it, yeah, I've seen that trick before. You say it's a consequence of the kernel abstraction, but it's also a consequence of environment variables not being namespaced. The Zen of Python: "Namespaces are one honking great idea -- let's do more of those!"

I can see why you'd say that environment variables not global in that the sense that they don't leak to a parent process. Ho

[2016-11-15 18:24] laerus commented on #497
we can always have a naming convention like some envvars already have with XONSH_

[2016-11-15 18:26] scopatz commented on #497
Yep, I agree with @laerus. Also, to wit about the namespaces, the environment system predates Python by decades and so, while I agree with the namespaces argument It is out of our hands.

That said, maybe we could do better with handling the environment somehow.  I am open to suggestions...

[2016-11-15 18:39] adqm commented on #497
Just a thought...

In a fork, I have made this change by adding a special environment variable that holds almost all xonsh-specific settings.  I still store this object in the environment mapping, but I don't pass it to child processes, which, while maybe not the "best" of both worlds, gets some of the niceness of both (easily accessible, but doesn't pollute the child process's environment with xo

[2016-11-15 18:52] scopatz commented on #497
Hi @adqm - that is an interesting idea.  How does it work if you start xonsh from within xonsh? Does the subshell get the parent's settings still?

[2016-11-15 18:55] adqm commented on #497
Ah, that's a good question.  I don't inherit that object at all (and it's not clear to me 100% either way as to whether it should be inherited), so the child shell process would be on its own to set those values, e.g., from the RC file.

[2016-11-15 18:56] gforsyth commented on #497
That might screw with `XONSH_DEBUG`, but that could always be left separate from the xonglomerated envvars

[2016-11-15 19:48] laerus commented on #497
a note, some vardocs desrcibe envvars as non-configurable but apparently you can change their value, maybe make some xonsh envvars read only.

[2016-11-15 23:15] scopatz commented on #497
Yeah, the non-configurable just means that they aren't seen in `xonfig wizard` and can't be represented in JSON and thus aren't in the `config.json`.  It doesn't mean that they aren't settable :)

Maybe we could have a non-inherited flag for envvars... That is a neat idea, but it is hard for me to come up with an example of where that is needed.

[2016-11-16 00:03] santagada opened #1956 "new mercurial error on master"
I have mercurial installed, but would prefer that it is not even called (I have maybe one mercurial repo) but anyway it fails on my machine

[code]

[2016-11-18 15:02] mitnk opened #1958 "History Load at Launch Time Seems Slow"
When open a new xonsh session, for the first few seconds, when I input some prefix (say `ssh `) and hit `<UP>` key. Xonsh doesn't complete it the the commands already in history. I have to wait some seconds and hit `Ctrl+C`, input `ssh <UP>` again, then the xonsh completion begins to work. Is this the same case at your side too? I'm using readline shell at a Mac.

And an idea to this is a proposal

[2016-11-18 17:39] scopatz commented on #1958
History is loaded asyncronously.  I doesn't really wait for many seconds for me.  1 sec tops.  How much history are you storing?

[2016-11-18 17:40] scopatz commented on #1958
We can definitely try to figure out a way to make this faster by caching closed histories or something.

[2016-11-18 18:16] kahrkunne opened #1959 "Running loops in the background"
Does xonsh have a way to run loops in the background, as in roughly the equivalent of the following bash code:
[code]

I'm new to xonsh, so I decided to learn to use it by rewriting some of my old bash scripts in it, but I can't figure out a way to do this.
If xonsh doesn't have such a feature, can we get it?

[2016-11-18 19:43] astronouth7303 commented on #1959
Currently, you have to do it with Python's [`threading`](https://docs.python.org/3/library/threading.html).

You can't currently background an alias. (_Might_ be fixed in master.)

xonsh is not bash. It's more like Python with some shell-friendly extras.

[2016-11-18 20:18] kahrkunne commented on #1959
I see. That's how I fixed it myself too, by using threading.
Personally I would prefer if xonsh had a way to do this though, because it's such a common operation (and doing it with threading is a bunch of ugly boilerplate code)

[2016-11-18 20:35] astronouth7303 commented on #1959
If you can think of a good, pythonic way of doing it, feel free to discuss it. Find us on [gitter](https://gitter.im/xonsh/xonsh).

[2016-11-18 20:41] adqm commented on #1959
Is that true?

In the old days, you used to be able to do that (wrap the loop in an alias, call it backgrounded).  Proc Proxies have never been job controllable, but they used to be backgroundable.  Does the following not work?

[code]

[2016-11-18 20:45] kahrkunne commented on #1959
@adqm

That does not work, sadly. (In fact, it was one of the first things I tried )

[2016-11-18 20:59] kahrkunne opened #1960 "Nonsensical SyntaxError"
The following code: http://pastebin.com/M0ZNXgT7
Gives me this error:
[code]

Which is of course nonsensical. As a matter of fact, copying this script up to and including line 30 (the mkfifo "$fifo" line) and running it gives no errors and executes correctly...
What exactly is going on here?

[2016-11-18 21:01] gforsyth commented on #1960
Hey @kahrkunne -- can you try `mkfifo $fifo` instead?

[2016-11-18 21:02] gforsyth commented on #1960
hmmm, and weirdly, I can't duplicate that error...

[2016-11-18 21:03] gforsyth commented on #1960
Could you post the output of `xonfig`, please?  Thanks.

[2016-11-18 21:05] gforsyth commented on #1913
Closing this -- if anyone still has spikes in CPU usage let us know and we can revisit this.

[2016-11-18 21:05] #1913 closed

[2016-11-18 21:05] gforsyth commented on #1952
Hi @mitnk -- I'm closing this for now but please reopen if the issue persists.

[2016-11-18 21:05] #1952 closed

[2016-11-18 21:06] kahrkunne commented on #1960
I get the same error without the quotes (e.g. `mkfifo $fifo`). I also get the same error with `echo "test"`. I *also* get the same error if I put `echo "test"` as the first line of the script. None of this happens with any other scripts.

Here's the output of xonfig:
[code]

[2016-11-18 21:06] gforsyth commented on #1947
Ok, I think this is sorted. Thanks for reporting!

[2016-11-18 21:06] #1947 closed

[2016-11-18 21:07] gforsyth commented on #1960
Can you try installing current master and see if the issue persists?

[2016-11-18 21:07] gforsyth commented on #1930
Closing this since it's a PTK issue.

[2016-11-18 21:07] #1930 closed

[2016-11-18 21:08] #1922 closed

[2016-11-18 21:09] gforsyth commented on #1901
Hey @adqm -- is this still an issue on master or did the unthreadable fix handle it?

[2016-11-18 21:09] kahrkunne commented on #1960
Issue persists in xonsh 0.4.7.dev559

[2016-11-18 21:09] gforsyth commented on #1868
I'm going to close this out since it's a SymPy issue.  Please reopen if there's something needed on our end.  Thanks!

[2016-11-18 21:09] #1868 closed

[2016-11-18 21:13] gforsyth commented on #1960
Can you clarify for me: when you say `echo "test"` -- that works when typed interactively, yes?  It's just in the script that there's a problem?

What if you change the shebang to `#!/usr/bin/env xonsh` ?

[2016-11-18 21:15] kahrkunne commented on #1960
Yes, it works interactively, and also in any other script.
Changing the shebang doesn't work, and neither does running the script directly (as in, `xonsh script.xsh`)

[2016-11-18 21:19] gforsyth commented on #1960
Sorry I can't be of more help @kahrkunne -- if you have a minimal example that can reproduce the error I'm happy to take a look at it, but on the surface now I can't see what's wrong and I also can't reproduce the error.

[2016-11-18 21:22] kahrkunne commented on #1960
I'll try and reproduce it. The code I'm trying to run is probably not bug-free (I had just finished writing it and was about to test it), but xonsh giving a syntax error in this place is very clearly a bug in xonsh.

[2016-11-18 21:30] adqm commented on #1959
:(

Okay, must have been one of the things that got lost in the recent refactor.

[2016-11-18 21:33] kahrkunne commented on #1960
@gforsyth

I've singled it out:
[code]
Is this most minimal example where I can reproduce the problem. Any occurrence of the latter line will cause any not-python-code to throw a SyntaxError. (I can't remember the xonsh terminology at the moment, but what I mean is that a line such as `echo "test"` will fail, while a line such as `print("test")` will not. Interestingly, incorrect but valid python

[2016-11-18 21:39] adqm commented on #1901
Yes, seems to be fixed.  Closing.

[2016-11-18 21:39] #1901 closed

[2016-11-19 00:11] astronouth7303 commented on #1959
@adqm I tried on 0.4.7.

[2016-11-19 01:59] mitnk commented on #1958
kept everything
[code]

[2016-11-19 03:09] mitnk commented on #1958
did some `gc`(to 2002 / 1043, numbers as above), load speed did get faster..

[2016-11-19 10:32] #1710 closed

[2016-11-19 12:46] laerus commented on #1959
jobs and backgrounding does seems to work in general. why did we close this issue?

[2016-11-19 17:24] CJ-Wright opened #1961 "ENH: tag history"
It might be nice to tag xonsh sessions so that we can search our histories for the session we want.

[2016-11-19 18:06] laerus commented on #1961
True that would be a nice feature, thanks for the proposal @CJ-Wright !

[2016-11-20 01:00] dansanderson opened #1962 "vox creates bin/python that can't see dyn lib; via Homebrew on macOS"
I installed xonsh on a new Mac (macOS 10.12.1 Sierra) via Homebrew. This puts xonsh's python binary (`sys.executable`) at `/usr/local/Cellar/xonsh/0.4.7_1/libexec/bin/python3.5`. This binary relies on dynamically loading a library stored at a path relative to the executable: `../.Python`, which in turn is a symlink to `/usr/local/opt/python3/Frameworks/Python.framework/Versions/3.5/Python`, which

[2016-11-20 01:06] dansanderson commented on #1962
A workaround is to symlink .Python into the virtual env's root directory:

[code]

This has to be done for each virtual env.

[2016-11-20 01:26] CJ-Wright commented on #1961
Would a reasonable syntax look like:
[code]

[2016-11-20 02:56] #1958 closed

[2016-11-20 11:34] santagada commented on #1962
so I have brew installed python and pip installed xonsh and it works perfectly with vox. I think the problem is probably the homebrew package for xonsh. Can you try removing it and installing xonsh with pip3? if that works fine with vox then this ticket should be filled on the homebrew formula.

[2016-11-20 11:35] santagada commented on #1956
I don't see it anymore on master.

[2016-11-20 11:35] #1956 closed

[2016-11-20 11:49] santagada commented on #1960
I could get it down to this: `$($textwidth "$font" inpt[0])`

[2016-11-20 12:04] santagada opened #1963 "CPU usage when idle if using bottom toolbar"
I noticed that when using bottom toolbar even when idle I see a 10% processor usage from xonsh. It might be a but with prompt_toolkit or with our implementation of bottom toolbar.

[2016-11-20 12:08] santagada opened #1964 "directory completion wrong when completing on user home abbreviation (~) eg: ~/.xonshrc"
when completing: "vim ~/.xon" on any directory and press tab I get:
"vim ~/.xon/Users/santagada/.xonsh"
which is obviously wrong. If there anything else to help debug this I would.

[2016-11-20 12:20] santagada commented on #1937
for me with prompt-toolkit ctrl+w works better than zsh (libedit/readline) examples:
"vim /" becomes "vim " in xonsh (prompt_toolkit) and "" in zsh.
"vim something" becomes "vim " in both.

alt+backspace doesn't do anything in either.

[2016-11-20 12:36] mitnk commented on #1964
Which version of xonsh are you using?
I tried master for both readline & PTK, both have no issue to complete `vim ~/.xon`

[2016-11-20 12:40] mitnk commented on #1963
version 0.4.7 did introduced some CPU usage issue, which have been fixed in latest master. If you are not using master, you can try it out to see if it fixes your issue.

[2016-11-20 12:44] mitnk opened #1965 "OSError Bad file descriptor with history and head"
[code]

[2016-11-20 12:46] santagada commented on #1964
master, ptk.

[2016-11-20 12:46] santagada commented on #1964
[code]

[2016-11-20 12:52] mitnk commented on #1964
Weird, I cannot reproduce your case. Completion works for both Mac and Linux.

[2016-11-20 12:56] santagada commented on #1963
I was on master and still saw it, but just updated and I don't see it anymore, thanks!

[2016-11-20 12:56] #1963 closed

[2016-11-20 13:05] santagada commented on #1077
http://xonsh.org/ is still up and pointing to 0.2.4 docs, can't we do anything about it?

[2016-11-20 13:09] santagada commented on #1964
Nailed it to $BASH_COMPLETIONS, if I set it to $BASH_COMPLETIONS = [] then it appears to work.

[2016-11-20 13:11] santagada commented on #1964
I need bash_completions for the git branch completion which is pretty nice, but that's the only one I care about.

[2016-11-20 13:24] mitnk commented on #1964
Nice that you found where this issue from. (Though I still cannot reproduce it with default `$BASH_COMPLETIONS`, it's `['/usr/local/share/bash-completion/bash_completion', '/usr/local/etc/bash_completion']` on my side).

For git completion you can hack it easily, (that's why we use xonsh, right?), see [my version here](https://github.com/mitnk/dotfiles/blob/master/xonsh/xonshrc#L83) :)

[2016-11-20 15:40] santagada commented on #1964
@mitnk can you submit those for inclusion in xonsh? or at least create a xontrib for them? I would use them now.

[2016-11-20 17:26] scopatz commented on #1964
Maybe we need to do a user/path expansion before calling bash completions....

[2016-11-20 17:28] scopatz commented on #1077
I wish I knew who owned it.  I have started contacting the hosting services to complain about copyright, but it hasn't been very responsive.

[2016-11-20 17:34] scopatz commented on #1965
Thanks for reporting @mitnk! #1967 should fix this issue.

[2016-11-20 18:38] scopatz commented on #1960
@kahrkunne `inpt[0]` is a Python expression, but you are trying to run it in a subprocess because it is wrapped by `$(...)`.  So this is a valid syntax error and the error message points you to the character that is the problem.

If you mean for this to be a Python expression, then you need to wrap it in @(...),

[code]

If you want this to literally say "inpt[0]" then you should put this part in

[2016-11-20 18:50] scopatz commented on #1959
Hello all, aliases are threadable / backgroundable by default.  The alias has to be explicitly marked as unthreadable in order to be run on the calling thread. This is separate from backgrounding and job control, which there have been some reports of not working.

[2016-11-20 18:51] scopatz commented on #1959
And I recall backgrounding being broken before the refactor. The refactor was suppossed to make it easier to reason about why these things were broken, because it was too coupled before.

[2016-11-20 19:06] scopatz commented on #1961
Thanks @CJ-Wright!  I am +1 on this idea.  It should probably follow the usual subprocess parsing conventions.

[2016-11-20 19:29] santagada commented on #1964
@scopatz I think we need to compress it back when we get the response, because I think the /Users/santagada is somehow not matching with the ˜/ dir.

But more importantly than that, can I give a much lower priority to bash completions? I really don't need directory completion from bash as the one from xonsh is supposed to be better.

[2016-11-20 19:41] scopatz commented on #1964
I think so, if you go through the completions API. http://xon.sh/tutorial_completers.html#registering-a-completer

[2016-11-20 20:34] astronouth7303 commented on #1962
vox leaves the hardwork of actually creating the virtual environment to the [`venv`](https://docs.python.org/3/library/venv.html) module. This is either a bug in Python or a bug in homebrew.

[2016-11-20 20:35] scopatz commented on #1962
Thanks for reporting @dansanderson

[2016-11-20 22:02] kahrkunne commented on #1960
That does make sense.

However, why would this throw a syntax error in valid code, *100 lines before this part*? That's clearly an error on the end of the xonsh parser - I could put this line at the end of a 10,000 line script and it would throw a syntax error on the first subprocess code it encountered (which could very well be the first line of the script).

[2016-11-20 22:09] scopatz commented on #1960
That is a fair point. The original error does seem to be in the wrong spot.

[2016-11-20 23:31] dansanderson commented on #1962
I can confirm that this is specific to the Homebrew installation, though I don't know where the fix belongs. I'll resolve this for now. Thanks!

[2016-11-20 23:31] #1962 closed

[2016-11-20 23:41] scopatz commented on #1962
If there is a fix or workaround that we can implement, please let us know. Happy to accept a PR for this.

[2016-11-21 00:53] mitnk commented on #1964
@santagada I could, I will clean it up and put it as a xontrib :)

[2016-11-21 15:54] santagada commented on #1964
Unfortunately if I move bash to last then it never triggers because the path completion triggers before it. for now what I did was this workaround:
$BASH_COMPLETIONS = ['/usr/local/etc/bash_completion.d/git-completion.bash']

I think the proper fix would be a way to block path completions for bash, as we supposedly have a better system for it. Another possible fix is correctly interpreting ~

[2016-11-22 05:57] #1965 closed

[2016-11-22 15:43] scopatz commented on #1964
I am all for correctly interpreting `~`.  It seems like your work around turns off all completions expect git.

[2016-11-25 00:28] mitnk opened #1973 "proc signal issue"
We may need more work here :)
[code]

[2016-11-25 06:40] mitnk opened #1974 "Stability - psql session freeze"
I seemed encountered psql session got freeze after opening psql for some time. Encounter twice. Should be easy to reproduce. Will test more.

[2016-11-25 18:41] laerus opened #1975 "multiline code block crashes xonsh"
[code]

bisect points to 8f5aa9d73df9701a77c0b6f272439f4a4fc76da1

[2016-11-25 18:47] laerus commented on #1975
this seems to be in any multiline code

[2016-11-25 22:14] kahrkunne opened #1976 ""native" $XONSH_COLOR_STYLE broken in urxvt"
Best explained in an image:
http://imgur.com/8uy1sM5

Top is a urxvt instance ($TERM is rxvt-unicode) running xonsh, showing that my $XONSH_COLOR_STYLE is 'native'. Bottom is another instance of urxvt running htop (only top is shown) to illustrate what my color scheme is supposed to look like (it's composed of all kinds of different blue hues, there is no red in it).

Issue exists on urxvt, but no

[2016-11-25 22:21] kahrkunne opened #1977 ""xonfig" autocompletion throws UnicodeDecodeError"
Typing "xonfig" in a prompt, then typing tab for tab completion gives the following error:
http://imgur.com/3j2lFD5
(sorry for providing the error message as an image - running xonsh seems to make it impossible to select text from the terminal, and I couldn't think of a way to log an error that occurs during the interactive shell to a file)

xonfig output:

[code]

[2016-11-26 12:31] mitnk opened #1980 "OSError: [Errno 9] Bad file descriptor"
[code]

[2016-11-27 08:41] anddam opened #1981 "Add styling info to documentation"
I was looking info about how to change the color theme in xonsh.
Searching for "style" in 0.4.7 documentation on website yields only "Developer's Guide" with coding style info and "Windows Guide" that has windows specific color style enhancement, other than API references.
The only info about how to change styling I found is in [this Gil Forsyth's message](https://groups.google.com/d/msg/xonsh/X1e

[2016-11-27 10:47] anddam opened #1982 "Stuck terminal in master"
Latest master, I specifically tried de9e1686353ec1d7a76e76e2c43185406de88e73, introduced some quirks with terminal so that child processes seems to not be able to take control under certain conditions.

In shell I use to have shorthands functions to quickly jump into remote hosts, attaching to remote sessions when no arguments are provided.
In xonsh this translated in having structures like the fo

[2016-11-27 12:36] mitnk commented on #1975
yes, I could reproduce it.
[code]
I know, I better use `ls -lh @$(history file)` here.

[2016-11-27 15:11] anddam commented on #1981
It's (shortly) described here, I still suggest to highlight styling info more.

[2016-11-27 15:21] laerus commented on #1981
More docs are always nice, a PR on this would be awesome!

[2016-11-27 18:06] scopatz commented on #1981
More docs are always welcome!

[2016-11-27 18:13] scopatz commented on #1975
Should be fixed in #1983

[2016-11-27 18:17] scopatz commented on #1982
Can you try decorating with `@unthreadable` or `@unbackgroundable`? See https://github.com/xonsh/xonsh/blob/master/docs/tutorial.rst#unthreadable-aliases These aliases might need these decorators to conform to the new execution model.

[2016-11-27 18:21] tgoodlet commented on #936
+1 on this! It's something I really miss in `xonsh` right now.

You guys might want to also consider that `IPython` also defines a `%reset` magic:
[code]
This is very handy for cleaning.
Obviously reuse of the name `reset` isn't ideal since it collides with the *nix utility.

[2016-11-27 18:24] scopatz commented on #936
PRs very welcome!

[2016-11-27 18:29] santagada opened #1984 "Provide a demo with dply to test xonsh without installing it on your own machine"
https://dply.co/ provides free 2 hour servers that can be initalised with a script: https://dply.co/help/cloud-init

I created one and the demo button is:
html:
`<a href="https://dply.co/b/UVPpAJqc"><img src="https://dply.co/b.svg"/></a>`
markdown:
`[][![Dply](https://dply.co/b.svg)](https://dply.co/b/UVPpAJqc)`
direct link:
https://dply.co/b/UVPpAJqc

it uses ubuntu 16.04 with this script:

[code

[2016-11-27 18:36] tgoodlet commented on #936
@scopatz as long as @JohnLunzer is cool with it I may take a stab at it :)

[2016-11-27 18:50] santagada commented on #1976
2 things:
1) you can drag+drop images here them they are visible inline (and no need for imgur)
2) can you run xonfig colors and paste a screenshot here?

[2016-11-27 18:51] santagada commented on #1974
Let's find and fix it, but just so you know there is pgcli which is a prompt-toolkit version of psql which I found to be awesome (been using it with redshift not pg but should work with both).

[2016-11-27 18:52] #1975 closed

[2016-11-27 18:52] scopatz commented on #936
I think this has been sitting long enough that you should feel free!

Help is always welcome!

[2016-11-27 18:58] JohnLunzer commented on #936
@tgoodlet, yeah go for it. Initially I rolled my own code but the ipython code is pretty solid so I recommend starting there. You just need to alter how the whos funtion accesses environmental variables in xonsh. Don't forget to include the ipython license snippet if you use their code.

[2016-11-27 19:03] scopatz commented on #1974
@mitnk maybe this needs to be added to unthreadable list...

[2016-11-27 19:07] scopatz commented on #1974
See #1985

[2016-11-27 19:11] scopatz commented on #1976
@kahrkunne, thanks for reporting. My first hunch is to blame this on pygments not having a release for a very long time.  Does changing $TERM to `xterm-color` fix it?

[2016-11-27 19:12] scopatz commented on #1976
Or `xterm-256color`?

[2016-11-27 19:16] scopatz commented on #1984
Thanks @santagada! Is there a way that you would like this integrated or put into the docs? PRs welcome!

[2016-11-27 19:17] scopatz commented on #1980
Thanks for reporting @mitnk, I am not able to reproduce this....

[2016-11-27 19:27] scopatz commented on #1977
Thanks for reporting @kahrkunne! Please see #1986

[2016-11-27 19:32] scopatz commented on #1973
Please #1987

[2016-11-28 05:49] #1973 closed

[2016-11-28 06:17] astronouth7303 commented on #1981
Sounds like we need a tutorial specifically on customizing xonsh? Probably including color samples.

[2016-11-28 08:01] mitnk commented on #1980
Cannot reproduce now, closing for now.

[2016-11-28 08:01] #1980 closed

[2016-11-28 08:16] anddam commented on #1982
Confirmed that uncapturable decorator did the trick.

[2016-11-28 08:16] #1982 closed

[2016-11-28 10:29] mitnk commented on #1974
Thanks!!

@santagada pgcli seems great! will try it out!

[2016-11-28 14:04] #1974 closed

[2016-11-28 19:37] scopatz commented on #1981
Almost certainly.

[2016-11-29 21:07] ns-phennessy commented on #1542
is this issue considered fixed?

i'm running `xonsh/0.4.6`

[2016-11-29 21:42] scopatz commented on #1542
I believe that this was fixed, if not in v0.4.7, then on master

[2016-11-30 20:09] gforsyth opened #1990 "redirect to same filename destroys data"
[code]
[code]

[2016-11-30 20:10] gforsyth commented on #1990
Wow... I was convinced this worked in bash, but I'm wrong.  Learn something new everyday.  Sorry for the noise.

[2016-11-30 20:10] #1990 closed

[2016-11-30 20:13] scopatz commented on #1990
No worries!

[2016-11-30 20:51] laerus commented on #1990
this is interesting, any idea why this isnt working?

[2016-11-30 23:35] scopatz commented on #1990
Well, this is because the `>` operator says to open a file, truncate its contents, and then write the output of the command into that file. So the truncation happens before the command is execute, which in this case reads from the same file.

[2016-12-01 18:39] anddam commented on #1982
Just as a note using only unthreadable decorator will correctly display the ssh session but leave a stray process when the calling terminal is closed. With both decorators the behavior is the expected one, on closing of the calling terminal the remote session is detached and local ssh process dies.

[2016-12-01 18:51] scopatz commented on #1982
Thanks @anddam, I think the docs that I linked above try to lead folks in that direction.  If you think it could be more clear or needs a note or something, please feel free to open a PR. My original docs weren't clear enough it seems :)

[2016-12-01 23:47] gforsyth commented on #1723
This was addressed (and then some) by #1968

[2016-12-01 23:47] #1723 closed

[2016-12-01 23:51] gforsyth commented on #1221
`sudo !!` is now available using the `bashisms` xontrib.  Just put `xontrib load bashisms` in your `xonshrc` and you should be good to go.

[2016-12-01 23:51] #1221 closed

[2016-12-05 13:45] mitnk opened #1994 "PTK Completion Issue"
[code]

Completion issue
[code]
then we expected it to be `ls foo/main.rs`, but it is `ls foo/` with a popup menu showing `rs`.

You can replace `foo/main.rs` with `foo/bar/`, completion would be `foo/` with a popup with an empty thing shows instead of `foo/bar/`

[2016-12-05 18:03] jmmills opened #1995 "Does xonsh not support environment variables on the same line as the to be executed command?"
This is sort of a standard thing in bash (and other unix shells iirc), what's the xonsh equivalent?

[code]

[2016-12-05 18:13] tgoodlet opened #1996 "Wrong events tutorial link"
The advanced events page (http://xon.sh/advanced_events.html) links to http://xon.sh/tutorial_events.rst when I'm pretty sure it should link to http://xon.sh/tutorial_events.html.

[2016-12-05 18:19] tgoodlet commented on #936
@scopatz so here's the relevant [`IPython` code](https://github.com/ipython/ipython/blob/master/IPython/core/magics/namespace.py#L242).

I want to discuss this a little further.
This is what I've hand rolled in my `xonshrc` to get a basic prototype going:

[code]
Yes I realize I changed the name. `ns` (namespace) seems cleaner to me as I never liked the name `whos` but I honestly don't care too mu

[2016-12-05 18:48] astronouth7303 commented on #1996
Sloppy of me.

@scopatz Do we want to expedite this to the live site?

[2016-12-05 18:51] astronouth7303 commented on #1995
No, it does not. Xonsh is not bash.

The closest equivalent is [swap()](http://xon.sh/tutorial.html#the-environment-itself).

[2016-12-05 18:55] gforsyth commented on #1995
Try prefixing the line with `env`, that should do the trick

[2016-12-05 23:19] gforsyth commented on #1994
Hey @mitnk -- thanks for reporting!
I can confirm this, but note that the _completion_ is still correct (if you select the `rs` option it fills in `main.rs`) but the display is incorrect.

I thought we had all of these issues fixed, but obviously not.

[2016-12-06 00:00] tgoodlet commented on #676
@scopatz I'm seeing this same problem (mind you different offending characters) when I set `xonsh` as my default shell and start a tty.

I'm pretty sure all my locale stuff is correct as well.

What can I get you to help?

[2016-12-06 00:08] laerus commented on #1994
do we have any tests for completions? i can't find any.

[2016-12-06 00:12] mitnk commented on #1994
If there is only one item in completion, popup should not show up, should extend path directly ;)

[2016-12-06 00:13] laerus commented on #676
Hey @tgoodlet can you please post the output of `xonfig` and/or the traceback you get, thank you!

[2016-12-06 01:14] tgoodlet commented on #676
@laerus hehe so I lied.

It is a different [traceback](https://drive.google.com/file/d/0B4eTDpaO9mj7ZnA0b05oLVlxUU0).

`xonfig` is:
[code]

[2016-12-06 01:53] scopatz commented on #1995
Yeah, I think the closest is `env`. I thought this was in the bash translation guide docs, but it isn't.

I don't know how the other core devs feel, but this isn't something that I would be opposed to having in some form. I am just not super compelled to work on it myself since `env` does the job well and it pretty explicit about it.  Maybe if users start clamouring one way or the other we'll have

[2016-12-06 01:56] scopatz commented on #1996
I think it can wait until we get the release out. Can you put in a PR, please?

[2016-12-06 02:10] scopatz commented on #676
Can you try setting `xon.sh` as your login shell instead?  Also note that your locale may be different if you login to a tty outside of desktop / X / unity / whatever the kids draw with these days environment. The windowing systems set a lot of envvars.

[2016-12-06 03:23] mitnk commented on #1994
@gforsyth we fixed all known issues for readline completion. nowadays I'm trying out PTK ...

The PTK completion works file for `ls foo/<TAB>`, but not for `ls f<TAB><TAB>`. The later will show a popup, which should not.

@jonathanslenders could you help here to see if this is prompt-toolkit issue itself, or a issue of using it? Thanks :)

[2016-12-06 04:51] astronouth7303 commented on #676
Yup. This is a thing that can happen with unicode on VTs, SSH,  etc. My experiences and debugging are documented in #1471. Basically, unicode in `$PROMPT` won't give you trouble, but unicode in `$TITLE` _will_.  My [xonshrc](https://gist.github.com/astronouth7303/33d5e61cdb1db435526b01ad140f14fb#file-xonshrc-L27) is written for this.

[2016-12-06 04:55] astronouth7303 commented on #1996
Oh, I just fixed it directly, since it was a 4-character change. Was that not the right thing?

[2016-12-06 05:13] scopatz commented on #936
Thanks for the detailed write up @tgoodlet!

My opinion is that we should *not* have a separate user namespace, and that there should only be `__xonsh_ctx__`.  (Cascading namespace lookup can be achieved with `collections.MultiMap`, but it is slower - which is bad since this is the globals dict that is hit all of the time. Also it complicates the model.)

Rather, I think that we should simply stor

[2016-12-06 05:14] scopatz commented on #1996
That is totally fine! I'd rather nothing got in the way of documentation ;)

[2016-12-06 09:19] hayd opened #1997 "exit status color"
I like to have the following setup:

![screen shot 2016-12-06 at 1 15 55 am](https://cloud.githubusercontent.com/assets/1931852/20919665/d664fdd6-bb51-11e6-896a-cabd2053db5b.png)

It would be neat to expose a {status_color} similar to {branch_color} to allow this setup.

[2016-12-06 10:45] melund commented on #1997
Hi @hayd

You can easily create something like this yourself:

![image](https://cloud.githubusercontent.com/assets/1038978/20922705/58556cd4-bba9-11e6-95a8-29e6f9aac0c9.png)

Just add those lines to your xonsh run-control file in your home directory (`.xonshrc`)

[2016-12-06 10:46] melund commented on #1997
maybe also append a line to remove reference to `_status_color` so it doesn't pollute your namespace,
`del _status_color`

[2016-12-06 11:36] melund commented on #1997
Ok. I realize that this can be done even simpler. So here is a one-liner that does the same:
[code]

[2016-12-06 13:08] mitnk opened #1998 "PTK OSError Bad file descriptor"
When I run a command like `cat foo.json | py -m json.tool`, xonsh got crash with following errors after the command pipe finish (with output correct). I'm not sure it's a ptk issue or xonsh one. Either way I think we should add some `try-catch` for not crashing the shell at least and for stability.

[code]

[2016-12-06 15:17] astronouth7303 commented on #1997
xontrib `prompt_ret_code` adds a `{ret_code_color}` formatting field (as well as `{ret_code}`).

[2016-12-06 15:45] tgoodlet commented on #936
@scopatz good exactly what I was thinking :)

My only last question is then should we store `START_NAMES` in one of the builtins maybe? `__xonsh_ctx__` or something else? I guess it can always be done later if something else needs it.

[2016-12-06 17:54] astronouth7303 commented on #936
You can just keep it in the module, especially if it's a xontrib. It's all Python. If you need to inspect it from the shell, `from xontrib.whos import start_names` would be fine, yes?

[2016-12-06 18:01] scopatz commented on #936
Yeah, I agree with @astronouth7303. This is an implementation detail of ns and doesn't need to be in the builtins.

[2016-12-06 18:06] scopatz commented on #1998
Hi @mitnk - thanks for reporting! I cannot reproduce this on Linux. But I agree that we should do something to fix it.  This does seem to be a PTK issue, for what it is worth. Would you mind reporting it there?

[2016-12-07 04:07] mitnk opened #1999 "Unnecessary Output for Some Python Expressions"
Doing this in xonsh:

[code]

xonsh prints 10000 lines outputs of `f.write()`, which I think is not what users expected. Run the same code in IPython does not has outputs.

[2016-12-07 04:59] PaulReiber commented on #1999
Unexpected results here as well - where did those 5s and 6's come from?

pbr@reiberlabs ~ $ with open('foo.txt', 'w') as f:
..................     for i in range(10):
..................         f.write('{}: {}\n'.format(i, i ** 2))
..................
..................
5
5
5
5
6
6
6
6
                                                               6