[2020-09-21 17:51] scopatz commented on #3782
Thanks for reporting @nu8! Can you please post the output of the `xonfig` command?

[2020-09-21 18:15] nu8 commented on #3782
[code]

[2020-09-21 18:28] scopatz commented on #3779
I think you use [`Lexer.split()`](https://xon.sh/api/lexer.html?#xonsh.lexer.Lexer.split), via `__xonsh__.execer.parser.lexer.split()`. For example: https://github.com/xonsh/xonsh/blob/master/xonsh/built_ins.py#L1035

[2020-09-21 18:28] scopatz commented on #3779
This could probably have an easier-to-find API

[2020-09-21 18:33] scopatz commented on #3782
Weird, why does

[code]

That doesn't seem right

[2020-09-21 18:35] nu8 commented on #3782
Not sure - I tried with Console Host and Windows Terminal - also not sure if it matters, but I am using Python embedded:

https://stackoverflow.com/questions/42666121/pip-with-embedded-python#48906746

[2020-09-21 18:42] #3779 closed

[2020-09-21 18:56] scopatz commented on #3782
What version of PTK does pip say you have?

[2020-09-21 19:01] nu8 commented on #3782
I dont know what PTK is, I dont know if I have PTK, and if I do have it, I dont
know how to check what version I have.

[2020-09-21 19:12] laloch commented on #3782
I think it's the "vended" one.

[2020-09-22 18:13] mwm-twx commented on #3769
@jonathanslenders As mentioned previously, the traceback is there, but it's click-to-expand.

[2020-09-22 19:54] asmeurer commented on #374
I don't think that PR actually fixes this.

[2020-09-22 21:10] mwm-twx commented on #3770
I do not believe this to be an issue with `PATH`, as `which python` returns the correct interpreter.

As far as I can tell from looking at the code and `$XONSH_TRACE_SUBPROC`, the requested command `python` is passed to `Popen`; rather than xonsh performing a `which` equivalent and providing the resulting path to `Popen`.  On windows, this results in a call to `CreateProcess`, which will check _fi

[2020-09-22 22:56] roblabla commented on #374
I don't use iterm2 right now (don't really use macos really) so I can't test this. Sorry.

[2020-09-23 01:18] scopatz commented on #374
Yeah, I think it just enables it, but doesn't implement actual support

[2020-09-23 05:41] bobhy opened #3790 "Duplicate global names detected by amalgamate.py don't cause setup error"
`amalgamate.py` requires global names to be distinct across the set of modules which are processed.  It issues a warning when it detects the same global name in multiple modules, but the setup proceeds and the warning is hard or impossible to see.  This should be treated as a fatal setup error, so dev doesn't have to waste a lot of time debugging a problem that won't repro in debug mode.

## Repro

[2020-09-23 11:06] melund commented on #3770
I don't understand why that didn't help. If the executable is not the in current directory then CreateProcess should find it in $PATH...

[2020-09-23 14:13] mwm-twx commented on #3770
My theory was the executable generated was tied to the python executable in the virtualenv.  A bit of spelunking confirms this to be the case.

Running `strings` on xonsh.exe contains a reference to `C:\Users\Vinay\Projects\simple_launcher\dist\t64.pdb`, which indicates the executable is created from https://bitbucket.org/vinay.sajip/simple_launcher/src/master/.  The readme indicates the executabl

[2020-09-24 17:05] Anonym-User-426 opened #3794 "Feature request: exit 1 should work"
Currently the commands "exit 0" or "exit 1" don't do anything.
It would be nice if it would do the same as "sys.exit(0/1)" to make it easier and faster to convert a bash script to xonsh.

[2020-09-24 18:14] Anonym-User-426 opened #3795 "Bad documentation or bug: _.rtn does not work"
[In the Documentation](https://xon.sh/bash_to_xsh.html) you write that `_.rtn` is the equivalent of the shell `$?` and that it `Returns the exit code, or status, of the previous command.`. Either I understand the documentation wrong or there is a bug:
[code]
Outputs
[code]

[2020-09-24 18:42] anki-code commented on #3795
It looks like this working only in the shell prompt:

![Screenshot_20200924_214133](https://user-images.githubusercontent.com/1708680/94185968-bc970580-feae-11ea-8cad-6ae433e51573.png)

I don't know is it a bug or not but for scripts try captured subproc:
[code]

[2020-09-24 19:34] anki-code commented on #3794
We can also use short import:
[code]

[2020-09-24 22:33] anki-code commented on #3794
After merging #3797 you can just call `exit(0/1)`.

[2020-09-25 05:33] bobhy opened #3798 "(Windows) Exception [WinError 995] The I/O operation has been aborted because of either a thread exit or an application request"
It seems that too much computation in the prompt string can cause issues in ptk / asyncio.  Windows only?

## Repro
1. Configure a "complex" `$PROMPT` in `.xonshrc`.  E.g:

[code]

2. start Xonsh
3. At prompt, simply lean on ENTER key to autorepeat.

### Expect
Xonsh should patiently display the prompt over and over.

### Observe

[code]
### Additional tests
1. So far, windows only.  I can't repro

[2020-09-26 13:09] cafehaine opened #3800 "typo in tutorial.rst"
While working on my pr I noticed a small typo repeated 3-4 times:

at around line 1530, intensity is miss-spelt intesnity.

## For community
⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2020-09-26 13:30] cafehaine opened #3801 "Differing behavior between ptk and readline backend"
## Expected Behavior
The ptk and readline backend shouldn't show any obvious difference when running.

## Current Behavior
The modifiers are reset when changing colors, but only for the ptk backend.

## Steps to Reproduce

[code]
This example will print both `green` and `red` in bold (which is the intended behavior) with the readline backend, but only `green` will be bold when using the ptk backen

[2020-09-27 22:51] anki-code opened #3804 "$THREAD_SUBPROCS=False freezes pipes with aliases"
Hi! xonsh is the best of the best! Thanks!

The `xontrib-pipeliner` user found that `bashisms` kills pipeliner (https://github.com/anki-code/xontrib-pipeliner/issues/1). I deep dive and found that @scopatz added `$THREAD_SUBPROCS=False` to bashisms (https://github.com/xonsh/xonsh/commit/dc8728bdafcf3c1967305df57451c225e8bf8ba2) and this is the cause.

How to repeat:
[code]

Please fix or advice ho

[2020-09-28 14:49] anki-code commented on #3706
Just want to save here:
![image](https://user-images.githubusercontent.com/1708680/94447866-f61f8780-01b2-11eb-9952-41933125c6e6.png)

[2020-09-28 21:36] anki-code opened #3806 "Update old page "Wishlist & To-Dos""
Hi! Xonsh is the one small step for a slug and one giant leap for mankind. Thanks for this!

I noticed that "[Wishlist & To-Dos](https://xon.sh/todo.html)" page looks old and not actual.

Supported.

This is still look as a good solution? I don't think.

Not needed.

Supported. Thanks to the xore!

Step by step. Issue by issue. Release by release. No special.

So may be we delete the page?

## For

[2020-09-28 23:42] anki-code opened #3807 "xonsh entrypoint for docker with catching SIGTERM, SIGINT, SIGHUP and waiting for another app?"
Hi! I love xonsh! Thanks!

I'm trying to create a xonsh wrapper for a program in docker. How it should work:
1. Docker runs container
2. Container runs xsh script as entrypoint
3. xsh script runs program (server)
4. When container stop (SIGTERM) xsh script should:
   * wait while server stop
   * do some work after serverstop

I need something like [this](https://stackoverflow.com/a/20606897) but

[2020-09-29 09:12] anki-code commented on #3807
I need something like this - https://stackoverflow.com/a/20606897 - but for xonsh.

[2020-09-29 10:59] anki-code commented on #3807
My solution:
[code]

[2020-09-29 11:44] anki-code commented on #3807
Solve here - https://github.com/anki-code/xonsh-docker-wrapper

[2020-09-29 11:44] #3807 closed

[2020-09-29 19:43] anki-code opened #3809 "Shorter syntax to getting env variables"
Hi! xonsh is inspiring!

After many scripts on xonsh I noticed that almost every time I need to use variables I'm using `${....}.get('ENV')` (or `__xonsh__.env.get`) instead of `$ENV` because it returns `None`, has default value and not rises exception.

And I have a question why it looks so ugly - `${...}` - and difficult to write? It's like a bash! =))

I suggest to replace this or create shorte

[2020-09-29 22:17] bobhy commented on #3801
Agreed different behavior should be reconciled, but which is the "correct" behavior? Is there an external tiebreaker you can point us at?

[2020-09-29 23:30] scopatz commented on #3801
I think in most of the examples that @cafehaine has show, it seems like PTK is throwing out the non-color formatting info

[2020-09-29 23:48] scopatz commented on #3809
Hi @anki-code - yeah I can understand how this is found to be a little ugly.  It comes out of the [`${expr}`](https://xon.sh/tutorial.html#environment-lookup-with-expr) syntax with a special lookup for the Ellipsis singleton. I am open to alternatives as long as they don't require changing the parser (ie no new syntax).

* Something like `env`, `environ`, or `environment` could be added to builtin

[2020-09-30 00:24] scopatz commented on #3806
Hey @anki-code - thanks, yeah I think this page should be updated, rather than removed.

[2020-09-30 00:29] scopatz commented on #3804
Yeah, probably the easiest fix is for xontrib-pipeliner to set `$THREAD_SUBPROCS=True`

[2020-09-30 00:34] bobhy opened #3810 "Can't clear bottom or right prompt (prompt-toolkit shell)"
Piling on PTK issues discussed in #3775, once you set `$BOTTOM_TOOLBAR` in a PTK session, you can't clear it!  And $RIGHT_PROMPT is rendered at the bottom of the screen, out of alignment with the left prompt.

Fixes require changes in prompt toolkit which I am working on in prompt-toolkit/python-prompt-toolkit#1259.

## Repro 1

1. in prompt-toolkit shell, start xonsh.
[code]

### Expect
Setting $

[2020-09-30 00:36] scopatz commented on #3800
PRs welcome! Thanks for noticing!

[2020-09-30 00:42] #3795 closed

[2020-09-30 00:45] #2803 closed

[2020-09-30 09:23] anki-code commented on #3804
Because we're talking about global variable `$THREAD_SUBPROCS` I don't know why this is a good way. I do `xontrib load bashisms` and the variable going to `False` then I run `xontrib load pipeliner` and the variable going to `True` and bashisms will not work? I'm going to leave this broken because I see many issues around THREAD_SUBPROC and the mess around it.

[2020-09-30 16:14] scopatz commented on #3706
Hey @anki-code, thanks for putting these together! Do we have the right to reuse that shell image?

[2020-09-30 16:27] anki-code commented on #3706
As I see on https://pixabay.com/vectors/conch-shell-sound-beach-ocean-48143/:

![Screenshot_20200930_192707](https://user-images.githubusercontent.com/1708680/94713065-fc4c6a00-0352-11eb-9aa5-9035f00cac55.png)

[2020-09-30 18:12] mwm-twx commented on #3769
I see the same error if I do completion for git:

1. `git checkout <TAB><TAB>`
2. Ctrl-C (exits completion correctly)
3. Ctrl-C again
4. "Application is already running." exception

[2020-09-30 20:34] cafehaine commented on #3801
IMO, the PTK backend is wrong discarding the modifiers.

I've tried to look into it, but it seems that we would need to keep all the modifiers from one "token" to the next, so it might be quite complex to fix this

[2020-09-30 22:40] bobhy commented on #3810
Edit: updated title.  right prompt *can* be cleared after being set (in main branch).  But the other 2 issues repro consistently.

[2020-09-30 23:42] anki-code commented on #3711
@bobhy this issue looks closed by PR. If yes please close.

[2020-10-01 01:49] anki-code opened #3818 "Env variables wrong substitution"
Hi! What the best shell? Xonsh!

I've found something like a buggy in environment variable substitution:
[code]

xonfig

<details>

[code]

</details>

Thanks!

## For community
⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2020-10-01 15:37] anki-code opened #3820 "Add more details about quotes and environment variables to the Tutorial?"
Hi! Thank you for xonsh! It helps!

I've read [in the tutorial](https://github.com/xonsh/xonsh/blob/1c7e841da00dd9aa781e57e38f250f5e10465afb/docs/tutorial.rst#quoting):
[code]
And yes it works in case we do `echo '${'` as example shows.

But when we try to do:
[code]
We will get `123` in all cases and the single way to get `$QWE` is to do `echo @('$QWE')`.

I just want to ask: am I right? If yes I

[2020-10-01 18:09] auneri commented on #3763
Let me know if there is anything I can do to expedite the process.
I can dig into the code and pointers on likely culprits would be very helpful.

[2020-10-01 18:11] anki-code opened #3821 "Add preview image to the xonsh/xonsh repo"
Hi! Xonsh is super cool! Thanks for this!

@scopatz could you please open the repo settings and add "Social preview" to improve xonsh`s Github Topics section?

![image](https://user-images.githubusercontent.com/1708680/94846222-751df580-0429-11eb-8e80-ee1e663cd9cc.png)

For example you could [use my drafts](https://github.com/xonsh/xonsh/issues/3706#issuecomment-700056485). I've made simple high r

[2020-10-02 06:01] jnoortheen opened #3823 "autocompletion - show description of flags"
## xonfig

<details>

[code]

</details>

## Current Behavior

as of now the autocompletion menu looks like this
![image](https://user-images.githubusercontent.com/6702219/94892537-87884580-04a2-11eb-8b9d-bf8dec891134.png)

## Expected Behavior

it is hardly usable. we can benefit from the suggestions only if we know what each option do. For that we need to check the manual or help page. Is it pos

[2020-10-02 07:13] anki-code commented on #3823
I also think about it and found that in jedi xontrib there is a code to show description:
![Screenshot_20201002_101308](https://user-images.githubusercontent.com/1708680/94897253-e8f6e700-0497-11eb-8bf3-eaece65e8acf.png)

[2020-10-02 07:17] jnoortheen commented on #3823
that looks like a good start. I will check there.

[2020-10-02 07:35] jnoortheen opened #3825 "github workflow refactoring"
## xonfig

<details>

[code]

</details>

## Current Behavior

I am curious about knowing the current setup of the github workflow. Any of the core members please clarify. I am ready to start working on them

1. having multiple workflow files
  - there are 3 platforms * 3 py versions
  - issue: upon failure it sends multiple emails. it is annoying.
  - single file with matrix would suffice. I want

[2020-10-02 07:36] jnoortheen commented on #3825
@scopatz

[2020-10-02 12:52] jnoortheen opened #3827 "NO_COLOR and RESET are not the same"
## xonfig

<details>

[code]

</details>

## Expected Behavior

using `RESET` should reset color as well as background . But only color is reset. While NO_COLOR resets both.

## Current Behavior

## Steps to Reproduce

using from master branch

## For community
⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2020-10-02 18:04] gforsyth commented on #3825
Hi @jnoortheen -- improvements to the CI are always welcome.  I'll try to answer a few of your questions

You can turn off those emails.

That's how I set it up initially, but github actions doesn't (or didn't) let you restart individual runs if one of them failed, so we were constantly re-running all jobs when just one of them failed, so we removed the OS dimension from the matrix.  If github fix

[2020-10-02 18:12] gforsyth commented on #3821
Hey @anki-code -- this seems fine with me, and I note from your linked issue that the conch image is permissively licensed, so we can go ahead and stick it into that "social preview" section

[2020-10-02 18:14] gforsyth commented on #3821
Thanks, @anki-code, for the image!  I've added it to our social preview.

[2020-10-02 18:14] #3821 closed

[2020-10-02 18:56] jnoortheen commented on #3825
Thanks @gforsyth for the clarification.

2. so can I start setup poetry ? with dephell we can manage the vendoring as well. What do you think ? we can also keep using conda but will manage dependencies with poetry.

3. Ok I will rewrite pre-commit with local version.

[2020-10-03 09:59] anki-code commented on #3779
@scopatz is there a way to split the line and get the python evaluation content? For example:
[code]
Split to something like:
[code]

I tried `__xonsh__.execer.parser.lexer.split()`:
[code]
But python evaluation was splitted.

[2020-10-03 11:45] anki-code opened #3829 "Add topics to xonsh/xonsh repository"
Hello! xonsh is inspiring!

xonsh/xonsh repository has `xonsh` and `python` topics. Please add new topics:
* `prompt` - xonsh repo will be on the first page by this topic
* `shell` -  xonsh repo will be on the second page by this topic
* `cli` (command line interface) -  xonsh repo will be on the second page by this topic
* `command-line ` -  xonsh repo will be on the second page by this topic

Th

[2020-10-03 14:54] gforsyth commented on #3829
Done.  Thanks for all the marketing tips, @anki-code !

[2020-10-03 14:54] #3829 closed

[2020-10-03 15:32] anki-code commented on #3829
@gforsyth I also suggest to change repo image to clean contrast squared conch:
![image](https://user-images.githubusercontent.com/1708680/94995410-c4d5fb80-05a6-11eb-9008-a2c4c1214a3b.png)

[2020-10-03 15:52] anki-code commented on #3820
I've found in wiki:

* **`"foo"`**: Regular string: backslash escapes
* **`f"foo"`**: Formatted string: brace substitutions, backslash escapes
* **`r"foo"`**: Raw string: unmodified
* **`p"foo"`**: Path string: backslash escapes, envvar substitutions, returns `Path`
* **`pr"foo"`**: Raw Path string: envvar substitutions, returns `Path`
* **`pf"foo"`**: Formatted Path string: backslash escapes, bra

[2020-10-03 15:52] #3820 closed

[2020-10-03 19:46] dyuri commented on #3810
Right prompt related issue: https://github.com/prompt-toolkit/python-prompt-toolkit/issues/1241

[2020-10-04 06:13] shadowrylander commented on #1403
@anki-code How did you manage to get the prompt properly formatted? I'm stuck like this (`xonfig` in the screenshot):
![2020-10-04-021120_1366x768_scrot](https://user-images.githubusercontent.com/12785394/95008337-08505a00-05e7-11eb-8ccd-e77553abb5db.png)

[2020-10-04 06:55] dyuri commented on #1403
@shadowrylander what's the value of your evaluated prompt? (`$PROMPT()`)

![image](https://user-images.githubusercontent.com/126637/95009005-c6430a80-061e-11eb-8a2a-3db08e7f54d4.png)

And does it work, if you set something directly, like `$PROMPT="\033[31mthis should be red > "` ?

[2020-10-04 08:01] anki-code commented on #1403
@shadowrylander first of all install xonsh from master because it's not released yet:
[code]

[2020-10-04 14:01] jaraco commented on #3661
I only now just got around to reviewing this. I'm okay with this approach, especially if it's working.

[2020-10-04 17:54] shadowrylander commented on #1403
@dyuri Same value as yours, and while the prompt you provided is not red, it does in fact work.

@anki-code Installed the (currently) latest commit `580b675f1a146e7f029eee1b0c1ccc1d770566ab`, but it's still not working for me.

[2020-10-04 18:20] dyuri commented on #1403
What terminal emulator are you using? It definitely seems to support some kind of formatting.
What if you simply print any string with ANSI color codes? Something like:
![image](https://user-images.githubusercontent.com/126637/95023743-ff12cc00-067e-11eb-91c9-deff40425887.png)

[2020-10-04 18:38] shadowrylander commented on #1403
Kitty, the GUI accelerated terminal; while the code prints RED, it does not so in, well, red. I'll try with some other terminals!

[2020-10-04 18:39] shadowrylander commented on #1403
Doesn't work with Alacritty; also, when starting up, xonsh prints `NO_COLOR is deprecated and should be replaced with RESET`. Is this related?

[2020-10-04 18:44] shadowrylander commented on #1403
Actually, is there a way to check exactly which commit I'm on directly from xonsh, to make sure?

[2020-10-04 19:12] shadowrylander commented on #1403
Ah; turns out the red color wasn't printing due to my terminal theme; it works fine on Alacritty. But the prompt itself is still not working properly, though.

[2020-10-04 19:13] dyuri commented on #1403
I'm using `kitty` too, it should support ANSI color codes, so it's strange.
The deprecation warning is in current `master` (might be fixed for the release), it's not related and that version should be fine.

Does executing the command `starship prompt` (w/o setting it as prompt) displays the colored prompt?

[2020-10-04 19:36] shadowrylander commented on #1403
Exactly as improperly formatted as the xonsh prompt. It seems to work fine with other shells, though, so it doesn't seem to be a problem with starship itself.

[2020-10-04 21:57] jonathanslenders commented on #1403
FYI: I did not read through the whole conversation, but this could be useful. If you're using the prompt_toolkit ``ANSI`` object, it supports any zero-width escape sequence, if it's wrapped between ``\001`` and ``\002``.
https://github.com/prompt-toolkit/python-prompt-toolkit/blob/master/prompt_toolkit/formatted_text/ansi.py#L14

[2020-10-04 22:30] shadowrylander commented on #1403
Unfortunately, I have no idea how to use that here! 😅

[2020-10-05 12:41] dyuri commented on #1403
That's really strange, if printing the ANSI colored string doesn't work, that's unrelated to the PROMPT issue.
Can you try to display it using `echo` like, and with for example disabling subprocess threading:
[code]
(For me both prints red "RED".)

[2020-10-05 13:42] gforsyth opened #3833 "PTK completion prefix matching is broken"
I believe #3774 had a few unintended side-effects (and also laid out that we probably need more completion tests).

## xonfig

<details>

[code]

</details>

## Expected Behavior
When completing available options, we should insert the entirety of the matching prefix of all available options, nothing more.

E.g. if I have this folder structure:

[code]

and I type

[code]

it should fill in the com

[2020-10-05 14:02] shadowrylander commented on #1403
Quick note: I quickly mentioned before that the red RED not appearing was due to my color scheme in Kitty; Alacritty works fine. However, the prompt itself still messes up, with percentage signs and curly braces all around the prompt.

[2020-10-05 14:07] dyuri commented on #1403
"Exactly as improperly formatted as the xonsh prompt." < That's why I assumed formatting did not work. Then please try the output of `starship prompt` with subprocess threading disabled. But I don't really have much more ideas.

[2020-10-05 14:51] gforsyth opened #3834 "`NO_COLOR` deprecation warning fires every time"
Even after replacing `NO_COLOR` with `RESET`, the warning still goes.
The warning also fires with a `xonsh --no-rc`, which seems incorrect.

## xonfig

<details>

[code]

</details>

## Expected Behavior
I should only get deprecation notices if I'm using a deprecated feature

## Current Behavior
The warning fires every time

## Steps to Reproduce

[code]

## For community
⬇️  **Please click the 👍

[2020-10-05 19:32] anki-code commented on #3829
@scopatz please take a look at this list also please.

[2020-10-05 19:36] #3794 closed

[2020-10-05 19:40] #3818 closed

[2020-10-05 19:42] #3800 closed

[2020-10-05 19:49] shadowrylander commented on #1403
Found the problem; it seems to be somewhat incompatible with the `source-zsh` command? I'm sourcing the `fasd` init script.

[2020-10-05 20:14] scopatz commented on #3779
I think you would want to reconstruct this from the AST

[2020-10-05 20:16] scopatz commented on #3834
Thanks for reporting this @gforsyth! I am seeing this too

[2020-10-05 20:36] scopatz commented on #3833
Potential fix in  #3835

[2020-10-05 20:37] scopatz commented on #3834
Potenial fix in  #3835

[2020-10-05 20:48] gforsyth commented on #3825
@jnoortheen the changes to pre-commit sound good to me

in re: poetry, I have nothing against it, I'm just unclear what it's bringing to the table here.  We have very limited dependencies.
Is there a big benefit to switching over to another package framework?

[2020-10-05 20:56] scopatz commented on #3810
PRs welcome, if there is anything we can do here

[2020-10-05 20:57] jnoortheen commented on #3825
1. managing development dependencies and locking their versions
2. managing the virtual environment.
3. single place to specify the deps. now it is reqs/environment file(3 of them).

[2020-10-05 20:58] jnoortheen commented on #3825
the tools like dependabot can integrated as well.

[2020-10-05 20:58] scopatz commented on #3827
Hmm they should be exactly the same... That seems odd. CC @cafehaine

[2020-10-05 20:59] AstraLuma opened #3837 "3.9: Remove docstring shenanigans from events"
Python 3.9.0 changed the way docstrings are searched, which I believe means we no longer need the dynamic type shenanigans in `xonsh.events`.

[2020-10-05 20:59] gforsyth commented on #3834
Closed via #3835

[2020-10-05 20:59] #3834 closed

[2020-10-05 21:00] scopatz commented on #3763
Hi @auneri - yeah, @melund is really the main xore developer for windows.  But I am happy to review & merge any PRs that come through.  If you could dig into the code to figure this out that would be super helpful!

[2020-10-05 21:01] scopatz commented on #3801
Maybe this is something to bring up with PTK?

[2020-10-05 21:03] scopatz commented on #3804
Yeah, this is one of those things that it hard to know what the right strategy is. The proper fix is to rewrite the whole subproc execution model.

[2020-10-05 21:05] scopatz commented on #3798
Thanks for reporting @bobhy - I was seeing this a couple of weeks ago on windows too. Any help would be most appreciated!

[2020-10-05 21:07] gforsyth commented on #3825
Thanks for laying that out, @jnoortheen!  I have a few other thoughts

Do we want to lock these versions?  We generally want to support as wide a variety of dependencies as possible to make `xonsh` widely usable.  I know `black` has breaking changes periodically, but are there other dev dependencies that we need this for?

Either way, we can probably remove `tests-35.txt`.  Fairly certain that isn

[2020-10-05 21:12] scopatz commented on #3753
So it turns out that `$XONSH_SHOW_TRACEBACK` only affects tracebacks that are handled with `tools.print_exception()`. This does not include all raise-statements that may be executed by the executor.  Grepping through the code base you see that this is used in interactive mode and in subprocess mode.

I think the code base could be extended to use this in a more general sense. PRs very welcome for

[2020-10-05 21:19] jnoortheen commented on #3825
I dont think the wide support is a valid point. we can skip adding the lock file to the repo if you feel strong about it. it is not only about black, the flake8 plugins, pytest versions may break tests, mypy versions will all breaking too. we are not excluding any sort of Python version users. all the versions supported by the xonsh can be specified in that file too.

even then managing reqs is a

[2020-10-05 22:00] anki-code opened #3838 "Github repository improvements"
Hi! xonsh is straight forward shell! Thank you for this!

I suggest to improve the Github repository:

1. Change organization image to clean contrast squared conch. I prepared this:
![image](https://user-images.githubusercontent.com/1708680/94995410-c4d5fb80-05a6-11eb-9008-a2c4c1214a3b.png)

2. Change organization description from "A general purpose, Python-ish shell"
  * to "Python-powered, cross

[2020-10-06 01:03] anki-code opened #3840 "print_color raises exception from RC file"
Hi! Xonsh is super incredible! Thanks!

I've found that `print_color` not working when it used in rc-file:
[code]
Result:
[code]

For example `aliases.py` contain `print_color` and could fail from rc.

It's on current master - `580b675f` (Oct 1 02:48:13 2020).

Please fix. Thanks!

## For community
⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2020-10-06 01:25] anki-code commented on #3804
I pray every evening that xore is working on it. 🙏

[2020-10-06 05:16] melund commented on #3763
Sorry. I am so tied up in other matters at the moment and I couldn't reproduce this.

If this is common issue for many users it is if course serious. If you could debug down to the subprocess we may be able to compare with my machine. Maybe there is problem with some of your environment variables which cause it to miss behave.

[2020-10-06 05:37] halloleo commented on #3753
Thanks @scopatz. Will try and have a look.

[2020-10-06 06:29] cafehaine commented on #3827
yup, only `DEFAULT` resets the color without the attributes, at least during my testing with readline.

I might have missed something while testing with PTK as the behavior is already different

[2020-10-06 06:32] cafehaine commented on #3801
I'm not sure about that, it might be on us to make sure it works as we intend it to, as PTK isn't really made for this specific use case

Their "token" system is built to reset everything once exiting a token, which is a sensible behavior, but not the one we want to achieve

[2020-10-06 06:49] cafehaine commented on #3827
![image](https://user-images.githubusercontent.com/11913365/95167933-c7a43c80-07b0-11eb-9927-48f027238cf4.png)
I'm observing the opposite of what you're describing, but this still is a differing behavior that should be fixed.

[2020-10-06 11:45] anki-code commented on #3794
@Anonym-User-426 now you can update xonsh from master and try exit:
[code]

[2020-10-06 12:51] anki-code commented on #3840
@scopatz it could be regress and related to THREAD_SUBPROC again because the last suspicious commit is ["THREAD_SUBPROCS=None for xonshrc files"](https://github.com/xonsh/xonsh/commit/22610f48d64b1ca7136babd8ab894cc5e6798987).

[2020-10-06 13:24] anki-code opened #3842 "Run xonsh with RC and xontrib from xonsh from xonsh: Inappropriate ioctl for device"
Hi! Let's deep dive into conch spiral!

[code]
As result:
[code]

xonfig

<details>

[code]

</details>

## For community
⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2020-10-06 14:58] scopatz commented on #3833
Sorry I got the number wrong

[2020-10-06 14:59] scopatz commented on #3833
Hmm should we revert #3774 then? CC @bobhy

[2020-10-06 16:00] ju-kreber opened #3843 "Completion dialog sometimes not shown when filenames with space exist (prompt_toolkit)"
## xonfig

<details>

[code]

</details>

## Expected Behavior

I'm in a directory with multiple files where at least one of them contains a space.
I start entering a command like `file ` and press tab.
A dialog should open, listing all the files in the directory (quoted) for completion.

## Current Behavior

_Sometimes_ no dialog with completion suggestions is shown.
Only the first completion is

[2020-10-06 16:20] scopatz commented on #3843
Thanks for reporting @ju-kreber! This may because `file` is a Python builtin, so just `file <TAB>` is ambiguous between Python and subprocess modes. Can you reproduce this with another command, such as `ls`?

[2020-10-06 16:32] ju-kreber commented on #3843
Hi, yes, it behaves the same for `ls`, `touch`, `head`, ... Sorry for the bad example!

[2020-10-06 16:42] scopatz commented on #3842
Thanks for reporting @anki-code - does this happen if you start your terminal emulator with xonsh?

[2020-10-06 17:56] anki-code commented on #3842
Yes. I can repeat it in Konsole and without X11 also (Ctrl+Alt+F2) with xonsh as default user shell and from bash as well.

[2020-10-06 18:28] #3833 closed

[2020-10-06 20:22] scopatz commented on #3840
That would be weird if it is related to THREAD_SUBPROCS.  In general, though I would not expect that `print_color()` to work until xonsh is fully started up. There may be some changes that could be made to use the ASCII printing prior to the shell being fully available as sort of a hack to get this working when xonshrc is run.

[2020-10-06 20:27] scopatz commented on #3804
haha I am really trying to find time to do work on it.

[2020-10-06 20:35] scopatz commented on #3838
1. I would prefer to have a larger community discussion around the logo.
2. Done
3. I don't understand the objection here. Could you explain?
4. Done.
5. Done.
6. Isn't it used?
7. I am OK with leaving the wishlist
8. Is it a problem to keep it? I can see people using the projects in the future.

[2020-10-06 20:36] scopatz commented on #3837
Oh, that would be nice!

[2020-10-06 21:11] willsALMANJ opened #3844 "An exception in a completer crashes xonsh"
## xonfig

<details>

[code]

</details>

## Expected Behavior
Falling back to `sh` is much better than completely losing your shell, but it is still disconcerting, especially for a new user first trying to write a completer. I think that when an exception is raised by a completer xonsh should skip over that completer when finding completion results. Possibly xonsh could prompt the user that compl

[2020-10-06 21:25] anki-code commented on #3838
I just suggest to set this image because it's more clear then current and then we will go to discuss  🍻 :)

I still see old text.

Make the description more strict, less funny. I understand that most of docs has a bit of sea rhetoric but on github it looks a bit too much and should be more strict to make first impression to admins/devops/devs.

Yeah:
![Screenshot_20201007_002347](https://user-imag

[2020-10-06 22:35] anki-code opened #3846 "Object converts to string when xonsh runs from xonsh"
Hi! I've found a old new creature in the consh spirals!

For example we store the `dict` to the environment variable and then want to run xonsh from xonsh:
[code]
Wow! Our `dict` in the second xonsh becomes `str` and our xonshrc or xontrib will crashed in common case.

I understand why it works like this. Because the second xonsh read environment as strings and don't know the types.

But there is

[2020-10-06 22:58] anki-code commented on #3846
Probably the `${...}.register('QWE', 'dict')` should solve this problem. I just faced with this and aware first time :)

[2020-10-06 22:58] #3846 closed

[2020-10-06 23:06] anki-code commented on #3846
One thought: why we don't use pickle of environment between processes instead of converting objects to strings and back?

[2020-10-07 04:22] scopatz commented on #3846
I think there are a couple of reasons:

1. Pickle is very sensitive to Python versions
2. The operating system (and all shells and commands) expect to receive the environment variables as strings.

[2020-10-07 04:24] scopatz commented on #3844
I think this may have been fixed on master or in a more recent version. Could you try updating to 0.9.22, or if it still fails there trying master, to see if this still occurs?

[2020-10-07 07:24] jnoortheen commented on #2490
I have created an extension

https://marketplace.visualstudio.com/items?itemName=jnoortheen.xonsh
https://github.com/jnoortheen/xonsh-vscode-ext

it has syntax support. It is just a start. Since we separate the file associations, we can have Python extension's formatting withing the same workspace. Contributions are welcome . Please check this awesome [tutorial](https://code.visualstudio.com/api/l

[2020-10-07 10:25] anki-code commented on #3303
I've tested `apt install xonsh` on Xubuntu 20 and it works perfect:

![Screenshot_20201007_132339](https://user-images.githubusercontent.com/1708680/95319304-6360a600-08a0-11eb-8eab-fbc6b63ec41b.png)

One thing is old xonsh version.

I suggest to close this issue.

[2020-10-07 10:35] anki-code commented on #3414
@cafehaine Please take a look at this issue. I tried to use `RESET` to check that this issue solved but still got backgrounds:

[code]
And:
![Screenshot_20201007_133504](https://user-images.githubusercontent.com/1708680/95320279-f0582f00-08a1-11eb-9f48-295be1b4397c.png)

[2020-10-07 10:37] cafehaine commented on #3414
@anki-code it should be solved by my last PR #3847

[2020-10-07 10:39] anki-code commented on #3414
@cafehaine I've made `pip install -U git+https://github.com/cafehaine/xonsh` but get the same result.

[2020-10-07 10:39] cafehaine commented on #3414
oh wait, I didn't look close enough, does it happen with the readline backend ?

[2020-10-07 10:40] anki-code commented on #3414
No, In the `readline` there is no BOTTOM_TOOLBAR )

[2020-10-07 10:41] cafehaine commented on #3414
alright, I'll try to look into it, but that kinda confirms what I thought, the PTK backend will probably need to be rewritten, at least the color handling part

[2020-10-07 10:42] anki-code commented on #3414
Meanwhile @orrinjelo could you please check that the problem is actual to you? I see xonsh 0.6.0 in the first message but now we have xonsh 0.9.22 :)

[2020-10-07 10:47] cafehaine commented on #3414
@anki-code from what I can see, the reversed color is the intended behaviour, and can be changed with `$PTK_STYLE_OVERRIDES['bottom-toolbar'] = 'noreverse'` as mentioned above. The `noreverse` could maybe be set as the default, but it's mostly a preference issue.

I however can't reproduce the deprecation warning, so this issue is probably no longer relevent.

[2020-10-07 10:51] anki-code commented on #3414
Ah, really, the toolbar reversed by default but I'm just interesting why the color of background is black?

![Screenshot_20201007_135100](https://user-images.githubusercontent.com/1708680/95321766-2a2a3500-08a4-11eb-96e3-aa56a6bb6a4b.png)

[2020-10-07 10:56] cafehaine commented on #3414
Since technically there is no color, and the "reverse" effect is probably implemented in PTK, PTK doesn't know how to reverse "nothing"

Not sure how it could be fixed, except by rewriting the color handling

[2020-10-07 11:00] anki-code commented on #3514
@KazWolfe does this thread still actual? If yes could you please update the xonsh to 0.9.22 and post the new snippets of gotted/expected results?

[2020-10-07 11:02] anki-code commented on #3414
@cafehaine thanks!

Meanwhile @orrinjelo could you please check that the issue is actual to you? I see xonsh 0.6.0 in the first message but now we have xonsh 0.9.22 :)
As I understand there is two issues: about DeprecationWarning and about colors. The first issue should gone after xonsh update and I think this thread could be closed.
The second issue is around colors and should be created.

[2020-10-07 11:05] anki-code commented on #3457
@laloch this issue was fixed and then reopened from another issue. I think it's misleading reopen. Please check. Should it be closed?

[2020-10-07 12:36] #3303 closed

[2020-10-07 12:42] anki-code commented on #2363
Hey @arkhan could you please test the latest version from master:
[code]
Does this issue still actual?

[2020-10-07 12:45] anki-code commented on #2505
I think this issue should be closed.

[2020-10-07 12:48] anki-code commented on #2488
This issue should be closed and the info about how to run ssh-agent will stay searchable without any additional actions.

[2020-10-07 14:40] #3827 closed

[2020-10-07 14:44] willsALMANJ commented on #3844
I tried with 0.9.22 using conda and master using `pip install -e .` and I see the same behavior for both cases.

[2020-10-07 15:32] anki-code commented on #3844
I agree with that xonsh should be stable and PR already here.

[2020-10-07 15:39] scopatz commented on #3844
PRs welcome!

[2020-10-07 15:40] #2505 closed

[2020-10-07 15:52] scopatz commented on #3838
2. Oh I see, you mean the org, not the repo.  It should be fixed now

[2020-10-07 16:02] #3844 closed

[2020-10-07 16:43] anki-code commented on #3844
@willsALMANJ if you're working on xontrib I recommend to try [xonsh cookiecutter template](https://github.com/xonsh/xontrib-cookiecutter).

[2020-10-07 16:51] anki-code commented on #3838
Thanks!

[2020-10-07 16:51] #3838 closed

[2020-10-07 18:06] arkhan commented on #2363
@anki-code not already solved

Thanks

[2020-10-07 18:06] #2363 closed

[2020-10-07 18:13] anki-code commented on #2345
Can't reproduce this on 0.9.22 version with ptk or readline. Looks solved.

[2020-10-07 18:16] anki-code commented on #2499
Hello @mikob! I can't reproduce this on 0.9.22. Looks solved.

[2020-10-07 18:18] anki-code commented on #2757
Hi @jeremy886! Does it actual issue or should be closed?

[2020-10-07 19:50] anki-code commented on #3101
This looks solved now and should be closed.

[2020-10-07 19:56] anki-code commented on #3090
I add that there are `XONSH_DEBUG` and `XONSH_TRACE_SUBPROC` env vars too.

Looks like this issue could be closed.

[2020-10-07 19:57] anki-code commented on #2953
Not actual now. Should be closed.

[2020-10-07 19:58] anki-code commented on #2987
@eppeters does this still actual? If yes please add the detailed description to the title.

[2020-10-07 20:00] anki-code commented on #2941
Looks not actual and should be closed.

[2020-10-07 20:06] anki-code commented on #2856
I can't repeat this. Looks not actual and should be closed.

[2020-10-07 20:12] anki-code commented on #2794
Looks like not actual and should be closed.

[2020-10-07 20:12] scopatz commented on #2345
Yeah, likely. Please let us know if we need to reopen

[2020-10-07 20:12] #2345 closed

[2020-10-07 20:16] #2856 closed

[2020-10-07 20:17] anki-code commented on #2926
Looks as solved or not actual question and should be closed.

[2020-10-07 20:31] #2953 closed

[2020-10-07 20:31] #3090 closed

[2020-10-07 20:31] #2941 closed

[2020-10-07 20:32] #3101 closed

[2020-10-07 20:32] #2499 closed

[2020-10-07 20:42] #2794 closed

[2020-10-07 21:22] anki-code commented on #3446
Solved in 0.9.22

[2020-10-07 21:22] #3446 closed

[2020-10-07 21:25] anki-code commented on #3531
The solution:
[code]

[2020-10-07 21:25] #3531 closed

[2020-10-07 21:27] anki-code commented on #3553
Don't know how to repeat.

[2020-10-07 21:27] #3553 closed

[2020-10-07 21:33] anki-code commented on #3583
I reviewed the MC code and I see that:
* MC expects strong path (`/usr/bin`) for shell. Because xonsh could be installed in any plase where python installed there is complex task to add xonsh as MC compatible shell.
* I tried to patch MC and put them the path to bash script that calls xonsh, but it looks like MC expects another binary interface.
Closed until new info or new heroes on this way.

[2020-10-07 21:33] #3583 closed

[2020-10-07 21:36] anki-code commented on #3771
Thanks to all xore for very interesting discussion here. Closed.

[2020-10-07 21:36] #3771 closed

[2020-10-07 21:38] anki-code commented on #3806
Not actual like described in or above.

[2020-10-07 21:38] #3806 closed

[2020-10-07 21:39] anki-code commented on #3767
Solved by using [on_precommand](https://xon.sh/events.html#on-precommand)

[2020-10-07 21:39] #3767 closed

[2020-10-07 21:42] anki-code commented on #3554
Don't know how to repeat.

[2020-10-07 21:42] #3554 closed

[2020-10-07 22:02] anki-code commented on #3771
Just want to be understandable.

I expect that xonsh is shell. Shell is not a toy is a core tool.

If I try to explain [like designer in Silicon Valley series](https://www.youtube.com/watch?v=V3jxWCJUPQQ) then

1. How I expect that xonsh should look in the visual materials:

![Screenshot_20201008_010037](https://user-images.githubusercontent.com/1708680/95392619-b880d400-0901-11eb-9136-6fce07e41b8

[2020-10-08 05:19] bobhy opened #3858 "Crash when setting $ENABLE_ASYNC_PROMPT=True"
Seems $ASYNC_PROMPT_THREAD_WORKERS has an invalid default value.

## Repro
[code]
### Expect
Should work.

### Observe
Crash as noted below.  Reference to `ASYNC_PROMPT_THREAD_WORKERS` is significant.  I can avoid the crash by doing this sequence:
[code]

### Traceback (if applicable)

<details>

[code]
</details>

## xonfig

<details>

[code]

</details>

## For community
⬇️  **Please click the 👍

[2020-10-08 13:54] auneri commented on #3763
An interesting observation: `$UPDATE_OS_ENVIRON = True` followed by `$PATH = $PATH` solves the error with the minimal snippet [I shared above](https://github.com/xonsh/xonsh/issues/3763#issuecomment-695022034). After these two lines, `xonsh` seems to locate executables in directories that are added to `PATH`.

Hopefully this workaround can shed some light on the actual problem, as I don't observe

[2020-10-08 16:16] scopatz commented on #3763
What is the output of `which -v python`?

[2020-10-08 16:27] scopatz commented on #3858
Thanks! PRs welcome!

[2020-10-08 16:27] scopatz commented on #3858
I would think that this is a one line change

[2020-10-08 17:08] auneri commented on #3763
[code]
Output of `where` is also the same. The path for that other Python is not in my environment variable; it is however in the environment that contains `xonsh`.

[2020-10-08 18:38] KazWolfe commented on #3514
Without Bashisms, everything seems to work normally.

    $ echo test @$(which cp)
    test /bin/cp

[code]

Still broken once `bashisms` is loaded though:

[code]

[2020-10-08 19:54] anki-code commented on #3514
Thank you! Bashism xontrib by themselves is not a problem. There is THREAD_SUBPROC=False in the code that raises a problem:
[code]

[2020-10-08 20:28] anki-code opened #3859 "NO_COLOR exception traceback.print_stack()"
0.9.23
[code]
Result:
[code]

## For community
⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2020-10-08 20:35] anki-code commented on #3859
I understand that it's expected

[2020-10-08 20:35] #3859 closed

[2020-10-08 21:57] bobhy commented on #3843
I can take a look at this, I've noticed some weirdness in both prompt toolkit completion menus (when there's only one row of matches) and in the file path completer when there are files with blanks in the name in the folder (whether or not they are displayed as completions).

@ju-kreber, there are a couple of known behaviors of prompt toolkit that might be involved here, please comment...

Prompt

[2020-10-09 08:18] raghavmallampalli opened #3864 "Sourcing ~/.bash_aliases throws off highlighting of ls and cd"
## xonfig
NOTE: I'm on Ubuntu 18.04 on WSL2, Windows 10. Maybe run a [WSL check](https://github.com/Microsoft/WSL/issues/423#issuecomment-221627364) while outputting xonfig?
<details>
[code]

</details>

## Expected Behavior

Sourcing `~/.bash_aliases` file should convert all aliases and make them available without affecting colors of the shell.

## Current Behavior

![image](https://user-images.g

[2020-10-09 12:21] scopatz commented on #3864
Hi @raghavmallampalli - thanks for reporting! Are you using source or using source-bash?

[2020-10-09 13:13] halloleo opened #3865 "f-string with env vars raises syntxc error in 0.9.23 under Python 3.9"
f-strings with env vars in expressions give an error. When you type into the repl

    f"hallo {$PATH}"

you get an error:

_SyntaxError: <xonsh-code>:1:0: f-string: invalid syntax_

### xonfig

<details>

[code]

</details>

[2020-10-09 13:29] anki-code commented on #3865
Hi @halloleo! I can't repeat:
[code]

[2020-10-09 13:38] anki-code commented on #3864
A bit off topic: @raghavmallampalli your terminal prompt looks like [xontrib-prompt-bar](https://github.com/anki-code/xontrib-prompt-bar) - take a look! May be you'll like it :)

[2020-10-09 13:48] halloleo commented on #3865
Interesting!

For me, both lines give a Syntax Error...

Any other way to debug this?

[2020-10-09 13:53] anki-code commented on #3865
I've tested it on ubuntu and on mac and it works for me. Try to run give the result:
[code]

[2020-10-09 13:58] scopatz commented on #3865
hmmm very strange, this works for me...

[2020-10-09 15:16] anki-code commented on #2364
I also use True value and PR is here.

[2020-10-09 15:19] anki-code commented on #2394
Current version is 0.9.23 could you please add actual commands to repeat the issue or close this issue?

[2020-10-09 15:32] anki-code commented on #3609
@AlexanderDavid Is this issue actual?

[2020-10-09 15:34] AlexanderDavid commented on #3609
@anki-code I think in a sense. I tried to port my existing config over which I think was the root of th problem. I no longer use this shell though so I never figured out a fix.

[2020-10-09 15:41] anki-code commented on #3609
Let's close this and reopen in case someone faced with this.

[2020-10-09 16:25] #3609 closed

[2020-10-10 06:15] bobhy commented on #3858
@jnoortheen, could you take a look?

[2020-10-10 08:05] anki-code commented on #3783
@shadowrylander please close this issue if you don't plan to make PR soon because the answer of how it could be achieved is above.

[2020-10-10 08:09] anki-code commented on #3338
This issue looks not actual and should be closed.

[2020-10-10 08:19] anki-code commented on #3324
Hello @nedsociety!

The best way is to create a simple but searchable Github repository:
* The name could be `xonsh-windows-context-menu`.
* The repository will contain script and readme with instructions of installation.
* Add topics `xonsh` and `xontrib` to your repository in About settings.
* Great that you have the screenshot! Add it to the repository "social preview" image in repository Setti

[2020-10-10 08:19] jnoortheen commented on #3858
My intention to leave this as `None` is to retain the [`ThreadPool`'s](https://docs.python.org/3/library/concurrent.futures.html#concurrent.futures.ThreadPoolExecutor)  behaviour. Here the converter, needs a way to set None value. Is there anyway to set Optional integer ? @scopatz

[2020-10-10 08:36] shadowrylander commented on #3783
Ah; yes, I overestimated how much time I actually have. Thanks for the reminder!

[2020-10-10 08:36] #3783 closed

[2020-10-10 09:51] anki-code commented on #3409
This looks solved and should be closed.

[2020-10-10 09:56] anki-code commented on #2575
This looks like not actual question and should be closed.

[2020-10-10 09:58] anki-code commented on #2489
Hello @fmv1992! We merged a PR about cygwin support recently. Could you please test it again with xonsh 0.9.23? Or if you haven't time for this just close this issue because it looks outdated.

[2020-10-10 10:10] anki-code commented on #3117
This looks solved and should be closed.

[2020-10-10 11:33] halloleo commented on #3409
No, no, cannot be closed yet. It needs to be tested, whether ptk is a viable alternative to readline on dump terminals! I will try it when I get around to it.

[2020-10-10 11:53] #2575 closed

[2020-10-10 14:24] #3117 closed

[2020-10-10 14:25] scopatz commented on #3117
Yep thanks!

[2020-10-10 14:29] scopatz commented on #3783
Hi there, no need to ask specific people for PRs, in my opinion.

[2020-10-10 14:41] scopatz commented on #3338
Finally fixed. Thanks!

[2020-10-10 14:41] #3338 closed

[2020-10-10 15:34] shadowrylander commented on #3783
Regarding which one of us? 😅

[2020-10-10 16:51] anki-code commented on #3783
It's to me. Ok, got it.

[2020-10-10 17:18] scopatz commented on #3783
Yeah, I think it better just to say that it would very welcome if I PR were made, so that anyone who comes along in the future knows that it is OK to put in a PR

[2020-10-10 17:18] #3858 closed

[2020-10-10 18:12] anki-code commented on #3865
I can repeat it. The key is:

[code]
[code]

[2020-10-10 18:38] scopatz commented on #3865
haha :laughing:

Yeah this might be a 3.9 issue

[2020-10-11 01:12] halloleo commented on #3865
Yes, I had xonsh running under 3.9.0 on that machine! (Had forgotten to pin the old Python version in Homebrew, so it got silently upgraded...)

[2020-10-11 07:15] tirkarthi commented on #3865
Python 3.9 enables new parser by default. Can you try setting `PYTHONOLDPARSER=1` as environment variable to see if it helps?

[2020-10-11 08:22] ndemou commented on #2394
I moved to another system where I don't have the issue and the original reporter is silent for 3 years.

Closing seems appropriate.

BTE, what is missing from this issue is not commands to repeat (they are: "xonsh").

[2020-10-11 09:48] anki-code commented on #2394
@scopatz let's close until new/actual info.

[2020-10-11 12:25] ju-kreber commented on #3843
Hi @bobhy, thank you so much for investigating!

I did not notice, but it seems like you're right, it really depends on whether I'm at the bottom of the screen or not. I don't think I require long names or many files for this to happen. Apparently, the behavior is the following: Usually when at the bottom and opening a completion dialogue, xonsh makes space for it by a few line feeds. For some rea

[2020-10-11 14:11] #2394 closed

[2020-10-11 18:03] jaraco opened #3875 "TypeError: 'Call' object is not subscriptable"
After copying the `.xonshrc` from my local macOS workstation to a Raspberry Pi Buster with Python 3.9 installed from source, I get the reported error when starting xonsh.

What can I do to troubleshoot?

## xonfig

<details>

[code]

</details>

## Expected Behavior
`xonsh` should start up without an error or provide an error that's indicative of the issue.

## Current Behavior

I tried bisecting

[2020-10-11 18:09] jaraco commented on #3875
Creating a new xonsh environment under the pre-built Python 3.7 for the platform, the error does not occur, so it seems the issue is related to a difference between Python 3.7 and Python 3.9 but on this platform only. I'm running xonsh under Python 3.9 on my macOS environment without any problems (using the same .xonshrc).

[2020-10-11 20:20] anki-code commented on #3875
Hi @jaraco! A bit off topic: if you're connecting to Raspberry Pi Buster over ssh you can install/update/remove repeatable xonsh environment using [xxh](https://github.com/xxh/xxh).

[2020-10-12 02:49] bobhy commented on #3833
Arrgh, late to the party, as always!
@scopatz, @gforsyth , I think both behaviors are valid, so we need a configurable option to select which.  I'll redo #3774 with an option, but it will be off by default.

[2020-10-12 06:34] halloleo commented on #3865
I have downgraded to Python 3.8.

So I installed Python3.9. sepeately and created a new venv with it in which I installed xonsh - but I cannot reproduce the issue anymore!

Now f-strings in xonsh 0.9.23 under Python 3.9 behave correctly - maybe because there _is_ a Python 3.8 still on the system...

[2020-10-12 11:37] rapha8l opened #3877 "[Feature] add cli tool like xonfig web"
Hi

Thanks for xonsh which is great
As I often use servers without gui, configuring xonsh is not as easy as having a desktop with a webbrowser
It would be great to have a text interface like xonfig web
Thanks

Raphaël

[2020-10-12 13:55] anki-code commented on #3877
Hi @rapha8l!
Have you tried `xonfig wizard`? If yes what in `xonfig web` helps to you in most?

You can find much more in `xonfig --help`:
[code]

[2020-10-12 14:51] scopatz commented on #3865
What does `xonfig` say in the xonsh session where it works?

[2020-10-12 15:30] rapha8l commented on #3877
Thanks
In fact I missed the styles and colors options, though they are not interactive and you can't set the configuration with them

[2020-10-12 15:36] scopatz commented on #3877
Yeah, this tool needs a bit of an overhaul and tightening down to behave more like the web config.  PRs very welcome in this space!

[2020-10-12 15:51] rapha8l commented on #3877
I'd love to, though I hardly can do a hello world in python :)

[2020-10-12 15:59] anki-code commented on #3877
Why you can't just copy xonshrc to the server instead of using wizard? :)

[2020-10-12 16:03] scopatz commented on #3877
Well, I think you could in most cases, but it would be good to have a CLI config tool too

[2020-10-12 18:12] telamonian commented on #3576
A [fix for this issue](https://github.com/python/cpython/pull/19111) (which `unset`s `__PYVENV_LAUNCHER__` as part of the Python startup process) has been added to cpython 3.9.0 and backported to 3.8 and 3.7.

Not sure which version for 3.8 it was first added to, but I know through testing that 3.7.9 has the `__PYVENV_LAUNCHER__` removal fix. So you could reasonably close this issue as "fixed upst

[2020-10-12 18:39] rapha8l commented on #3877
Indeed I copy my conf to my servers, but it's not very convenient, and I thought it could be useful for others too

[2020-10-12 18:39] rapha8l commented on #3877
or maybe have a version that works in a text browser like lynx or w3m

[2020-10-12 18:41] bobhy opened #3879 "$ENABLE_ASYNC_PROMPT not handling nested format string in $PROMPT"
Using a prompt with the "nested format string" syntax, e.g {_<prompt_field>_: _text_ **{}** _more_text_}, async prompt seems to ignore static string (e.g _text_, _more_text_) when it does the delayed update of the prompt field.  The static text (or something) is initially displayed, but then overwritten when the async update happens.

## xonfig

<details>

[code]

</details>

## Expected Behavior

[2020-10-12 18:52] scopatz commented on #3877
haha wow, that is an amazing idea!

[2020-10-12 18:52] scopatz commented on #3879
Thanks for the bug report!

[2020-10-12 19:21] jnoortheen commented on #3879
@bobhy it has unresolved tokens in a list and updates the item at index in place. It happens in formatter.py and updator.py . I will try to check this coming weekend.

[2020-10-12 21:01] jaraco commented on #3875
Nice. Never heard of it, but looks like a cool concept. I'll give it a try.

[2020-10-12 21:16] anki-code commented on #3356
Update. After a year:
* The bar theme is here - https://github.com/anki-code/xontrib-prompt-bar
* The solution for change input color is in PR #3878

[2020-10-13 03:34] sgraham opened #3880 "Crash on Win10 Windows Terminal"
## xonfig

<details>

[code]

</details>

## Expected Behavior

## Current Behavior

### Traceback (if applicable)

<details>

[code]

</details>

[2020-10-13 05:56] melund commented on #3880
I can confirm the error. Right now you are using the builtin version that comes with xonsh, which is a few month old. This version of prompt-toolkit seems to have a problem with the newest version of windows terminal.

Can you try to install the newest version of `prompt-toolkit`? `pip install prompt_toolkit`. Xonsh should automatically pick it up and it solved the problem for me.

[2020-10-13 05:57] melund commented on #3880
@sgraham Thanks for reporting. I will update the builtin version of prompt-toolkit in xonsh

[2020-10-13 06:13] sgraham commented on #3880
Yes, thanks `pip install prompt_toolkit` fixes it.

[2020-10-13 10:41] rapha8l commented on #3877
thanks :)

[2020-10-13 14:26] gforsyth commented on #3833
Sounds great, @bobhy -- thanks for taking this on!

[2020-10-13 15:37] #2364 closed

[2020-10-13 17:45] extrowerk opened #3882 "Exception at start in uptime code on Haiku"
xonsh prints some errors at startup:
[code]

## xonfig

<details>

[code]

</details>

## Expected Behavior

xonsh should start without any warning, error or exception

## Current Behavior

As it is clearly visible in the provided output xonsh prints an error about linux uptime, which is unexpected, as xonsh have code to get the uptime on BeOS/Haiku too. I don't know too much about python, so i do

[2020-10-13 18:43] scopatz commented on #3882
Hey Thanks for opening this issue! I think this is happening because xonsh will usually default to linux behavior if no other valid OS is found. I don't think we have ever had anyone try to use it on Haiku, so thanks for opening an error message.

PRs welcome!

Also, @extrowerk - do you know of any BeOS/Haiku CI services that we could use to develop and test on this OS?

[2020-10-13 20:44] raghavmallampalli commented on #3864
@scopatz I'm using `source-bash`. Perhaps the following screenshot will help?
![image](https://user-images.githubusercontent.com/49435792/95913291-a13e5c80-0dc1-11eb-81ac-12a2522da59d.png)
The behaviour is the same in both xonsh 0.9.22 and 0.9.23. The above screenshot also incorporates the suggestion made by @anki-code.
Also, I chose the informative-git prompt due to its similarity with the [zimfw

[2020-10-13 21:11] scopatz commented on #3864
I think I know what is happening.  So when you `source-bash`, you are loading a full bash session.  Your `~/.bashrc` or `~/.bash_profile` probably defines `$LS_COLORS`. This is getting read in and converted as part of the source-bash operation. Can you check in those files and see if LS_COLORS is defined?

[2020-10-13 21:19] scopatz commented on #3875
Thanks for reporting this issue @jaraco

[2020-10-13 21:27] scopatz commented on #3875
FWIW this seems to be an issue in constructing the return statement.  It seems like `testlist_star_expr_opt` is not coming back as a string on that platform.  I have no idea why it would succeed on some versions of 3.9 and fail on a different arch

[2020-10-13 21:35] scopatz commented on #3875
BTW - here is a test for this: #3883

[2020-10-14 06:54] extrowerk commented on #3882
If you check the uptime functions in xonsh you will see there is a codepath already for BeOS/Haiku and as far as i can see it should actually work, but somehow xonsh trying to use the linux way instead. No idea why. Haiku reports itself as "haiku1" in python i think (or maybe as "Haiku1", i am unsure, and no idea how to check it, sorry.)

Sorry, i don't know about any Haiku-enabled CI services yet

[2020-10-14 06:56] extrowerk commented on #3882
Maybe thiscould help:
[code]
Let me know if you need any other info.

[2020-10-14 09:19] raghavmallampalli commented on #3864
Perfect, using source instead of source-bash works fine. Thanks!

[2020-10-14 09:19] #3864 closed

[2020-10-14 13:18] laloch commented on #3865
Confirmed with a fix in #3884.
Thanks for reporting @halloleo.

[2020-10-14 14:21] #3865 closed

[2020-10-14 14:23] scopatz commented on #3864
Wait, source works?

[2020-10-14 15:28] #1207 closed

[2020-10-14 16:08] abingham opened #3885 "xonsh-vox-tabcomplete fails with assertion on load"
When I load xonsh-vox-tabcomplete with `xontrib load vox_tabcomplete`, fails with an assertion.

## xonfig

I'm not doing the loading via `.xonshrc`, but here it is in case it matters.

[code]

## Expected Behavior
I expect the `xontrib` call to load the module and make vox completion available.

## Current Behavior
I get an assertion when I run the `xontrib` call.

### Traceback (if applicable)

[2020-10-14 18:21] anki-code commented on #3280
xontrib template - https://github.com/xonsh/xontrib-cookiecutter

[2020-10-14 18:26] anki-code commented on #1798
This looks solved in `xonfig web` and should be closed.

[2020-10-14 18:29] anki-code commented on #2552
Can't repeat this:

![Screenshot_20201014_212831](https://user-images.githubusercontent.com/1708680/96030091-401b9500-0e64-11eb-8a99-795fb3a12eae.png)

Looks like solved and should be closed.

[2020-10-14 18:46] #1798 closed

[2020-10-14 18:48] scopatz commented on #2552
Yeah this seems pretty out of date. Please let us know if we should reopen!

[2020-10-14 18:48] #2552 closed

[2020-10-14 18:57] anki-code commented on #2373
Functions widely used as aliases. This issue looks solved and should be closed.

[2020-10-14 19:07] anki-code commented on #2487
hi! Command correction is an additional function (plugin). As I see you use zsh with OMZ or something like this. For xonsh you also can find the plugins - [xontrib-thefuck](https://github.com/meatballs/xontrib-thefuck) for example.

This issue could be closed I suppose.

[2020-10-15 00:51] samueldg opened #3888 "Python 3.9 regression in script parsing : AssertionError in xonsh/parsers/base.py::apply_trailers"
## xonfig

I'm using the latest Xonsh (0.9.23) installed on Mac OS with Homebrew, which just moved to Python 3.9.

My xonfig:

<details>

[code]

</details>

## Expected Behavior

I have a script, which I've reduced to a minimal reproducible example (call it `test.xsh`):

[code]

When I run it on Python 3.8, it terminates as expected:

[code]

## Current Behavior

Instead, if I try to run the scri

[2020-10-15 05:25] bobhy commented on #3843
Hi, @ju-kreber thanks for the very clear GIF.  A picture is worth a thousand words, indeed!
That looks pretty much like the issue I am working on.  I'm convinced it's prompt-toolkit "behavior" (design, not bug) that doesn't play well with completion menus displayed at the bottom of the screen.

I cannot explain why the presence of a file with embedded space should matter.  But 3 files in a complet

[2020-10-15 07:52] halloleo commented on #3865
@scopatz Not sure whether still relevant, but the xonfig with the "overloaded" Python 3.9. xonsh showed:

[code]

[2020-10-15 09:26] laloch commented on #3885
Hi @abingham, thanks for reporting! I can confirm the issue.
Minimal code to reproduce the issue is `"".split()[-1]`. The parser chokes at the unary minus operator. I'll try to come with a fix ASAP.

[2020-10-15 14:50] scopatz commented on #3885
Thanks @laloch!

[2020-10-15 14:52] #3879 closed

[2020-10-15 14:53] scopatz commented on #3865
Thanks @halloleo - always good to have more debug info

[2020-10-15 16:04] laloch commented on #3888
Hi @samueldg, thanks for reporting and for the analysis!
I suspect this to be another issue with Python 3.9 rather than v0.9.23. Can you reproduce the issue in Python 3.8?

[2020-10-15 16:40] anki-code opened #3889 "How to get the PID of the current xonsh session?"
Hi!

For example in bash the `$$` returns one stable pid:
[code]

How to get the PID of the current xonsh session?

## For community
⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2020-10-15 16:44] laloch commented on #3889
This is Python, so I think `os.getpid()` should do the trick.

[2020-10-15 16:49] #3889 closed

[2020-10-15 17:04] raghavmallampalli commented on #3864
Yeah it does.
[code]
Is it not supposed to?

[2020-10-15 17:14] laloch commented on #3864
Nope. It's supposed to fail and instruct you to use `source-bash` instead :laughing:

[2020-10-15 20:50] thisch opened #3891 "Creating aliases for pipelines"
Creating an alias that contains a pipeline doesn't work if the alias is created using

[code]

When `ll` is called, xonsh outputs

[code]

How is it possible to define an alias for a command pipeline?

[2020-10-15 20:56] scopatz commented on #3891
Thanks for reporting @thisch.  I expected this too work.  But a couple of things:

* It should probably be `aliases` in the above.
* I found that using an explicit subproc worked, i.e. `aliases['ll'] = "![ls -al | more]"`

[2020-10-15 21:07] thisch commented on #3891
Thx for the fast reply @scopatz

Yes you are right, I made a typo in the description but not when testing it in my xonsh.

Awesome! Thx this works.

It would be nice if this were documented in the `aliases` docu and maybe also in the bash to xonsh translation guide.

[2020-10-15 21:18] thisch commented on #3891
Your suggestion to use an explicit subproc also fixed the issue that I had with an alias that starts a program in the background:

`aliases["gk"] = "gitk --all &"` starts gitk in the foreground (-> `&` seems to be ignored) and when an explicit subproc is used it works as expected `aliases["gk"] = "![gitk --all &]"`

`aliases["gk" =

[2020-10-15 21:28] anki-code commented on #3891
It will be great to see this examples to the tutorial. PRs are welcome!

[2020-10-15 21:53] #3515 closed

[2020-10-16 13:18] laloch commented on #3457
I don't understand. This issue is closed since 2020-04-08.

[2020-10-16 13:46] sbillinge commented on #3888
@scopatz and @laloch this is causing CI to fail on Regolith too.  I am pretty sure it is a python 3.9 issue because everything was passing and then Travis switched to 3.9 and now the tests won't build because apply_trailers is returning an ``assert FALSE`` somewhere in the setup of the tests.   stack dump from Travis is below
[code]

[2020-10-16 13:55] laloch commented on #3888
Thanks for reporting @sbillinge. I'll try to fix the issue tonight or tomorrow.
Please use `<details>` markdown syntax when posting such a long outputs.

@scopatz, could you please postpone 0.9.24 for a day or two to give me some time to sort this out?

[2020-10-16 14:16] samueldg commented on #3888
@laloch

You were right about this issue being related to Python 3.8 -> 3.9 and not Xonsh 0.9.22 -> 0.9.23. As expected, Python 3.9 + Xonsh 0.9.22 don't work either, but Python 3.8 + Xonsh 0.9.23 work fine.

I updated the title of this issue accordingly.

Sorry for the initial confusion, I had not realized Homebrew had silently migrated a bunch of utilities to Python 3.9, while keeping the Python

[2020-10-16 14:34] sbillinge commented on #3888
Thanks so much @laloch

Also thanks for pointing out the ``<details>`` issue, very nice.  I have cleaned up my comment!

[2020-10-16 16:05] gforsyth commented on #3576
Sweet.  Thanks for the update @telamonian !  I'm going to close this out since it's been fixed upstream.

[2020-10-16 16:05] #3576 closed

[2020-10-16 20:09] orrinjelo commented on #3414
[code]
I've installed the latest. Still not sure what the deal with the invalid escape sequence.  I think I am even on a different laptop now, running 18.04 Ubuntu.

I try again with `$PTK_STYLE_OVERRIDES['bottom-toolbar'] = 'noreverse'` disabled:
![Screenshot from 2020-10-16 14-08-04](https://user-images.githubusercontent.com/12236285/96304315-1f188880-0fb9-11eb-8e32-d6ff3a0a2179.png)

[2020-10-16 20:29] jaraco commented on #3875
Cool - I'll try running that test on the indicated platform. If that doesn't exhibit the error, I'll continue to pare down the xonshrc until I can get a more surgical reproducer.

[2020-10-16 20:40] scopatz commented on #3864
Actually! I just realized that `source` could work if the bashisms xontrib was loaded.  We really need to have `xonfig` print out what xontribs have been loaded.

[2020-10-16 20:41] scopatz commented on #3891
Much agreed! A PR into the docs would be awesome!

[2020-10-17 00:22] laloch commented on #3234
This is in reply to https://github.com/xonsh/xonsh/pull/3873#issuecomment-710689514.

@scopatz, I'm glad you reconsidered refactoring the subprocess/job control code prior to the v1.0 release. Lately I've been thinking quite a lot about possible solutions. Unfortunately, I couldn't come with a portable one so far. There's already a lot of issues on Linux/POSIX systems, but on Windows some features

[2020-10-17 08:47] anki-code commented on #3234
A bit comment: if you take closer look to the traceback along with warning you can catch the place. For example it could have `self._get_prompt_tokens("PROMPT"` that points to `$PROMPT`.

[2020-10-17 08:55] anki-code commented on #3234
I agree with @laloch about stabilisation the core functionality (subprocess logic). When I use the prompt with amazing xontribs and python along with shell I'm really happy. But when I try to do some devops/scripting actions and run xonsh script from xonsh or catch some output I'm happy too but I'm facing with unpredictable errors (they have been reported). It happening not so often but it makes a

[2020-10-17 10:08] anki-code opened #3895 "Windows 10 WSL2: fast from root, slow from user"
Hi! xonsh is the best! Thanks!

I've made a try to run xonsh on Windows 10 WSL2 Ubuntu 20 and found that it works fast from root but slow from user.

Asciinema - https://asciinema.org/a/bFZb6nmH7bZSWq57VkQCfB0LQ

Screenshots:

<details>

Run from user:

![image](https://user-images.githubusercontent.com/1708680/96334426-7da53b80-1079-11eb-82b1-92fae97e1a49.png)

![image](https://user-images.github

[2020-10-17 13:19] gforsyth commented on #3891
I think that this usage is covered by a PR that we (certainly I) missed.
#3677

[2020-10-17 15:51] scopatz commented on #3891
Great eye @gforsyth! I don't know how I missed that too...

[2020-10-17 15:55] scopatz commented on #3895
Thanks for reporting @anki-code! Can you start xonsh with the `--timings` flag, ie `xonsh --timings` for both WSL1 & WSL2 so that we can start tracking down where the slowdown is coming from? Thanks!

[2020-10-17 16:24] scopatz commented on #3234
Thanks @laloch!  I think we can address a lot of the issues you brought up

Yeah I think this is exactly the point.  What xonsh (ie the code I wrote, so I'll take the responsibility here), was trying to come up with a single-ish mechanism that worked cross platform.  I don't think this is possible, my current thinking is to have a single API but different implementations for each platform. This sh

[2020-10-17 16:32] scopatz commented on #3234
Thank for being such a great user/developer @anki-code!

Does this happen only on WSL? Or is it true on native Linux too?

[2020-10-17 16:38] anki-code commented on #3234
I'm not using WSL. Just tried to understand how far it from pure linux some times.

It's true for native Linux. I haven't traceback now but two days ago I started important work and faced with this again when run `xonsh script.xsh` from xonsh. It was on pure ubuntu 18. I had no time to debug and I run this command from bash.

[2020-10-17 18:01] laloch commented on #3234
Yeah, we still have Slug, which is quite well laid out, but I still don't know how to implement virtual subprocesses or how to migrate Python callable execution into a real subprocess on Windows.
I think it's important (essential?) for a single Xonsh script to behave consistently across all the supported platforms.

They do, if I remember correctly.

Yeah, it is pretty bad and I'm not exaggerating

[2020-10-17 22:04] anki-code opened #3899 "Disable or update https://xonsh.github.io/"
Hi! xonsh is the one small step for a snail and one giant leap for mankind!

Please make the redirect from https://xonsh.github.io/ to https://xon.sh/contents.html.

## For community
⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2020-10-17 22:09] scopatz commented on #3899
That is weird, why is that pointing to the 0.4.4 docs....

[2020-10-17 22:13] scopatz commented on #3899
I think it is because this repo needs to be updated to point to https://github.com/xonsh/xonsh-docs

[2020-10-17 22:19] laloch commented on #3899
That's strange. This repo has GitHub pages disabled...

[2020-10-17 22:21] anki-code commented on #3899
But it is already in search index:
![Screenshot_20201018_012100](https://user-images.githubusercontent.com/1708680/96354509-32724380-10e0-11eb-8f5d-346d951f81de.png)

[2020-10-17 22:22] laloch commented on #3899
It probably comes from here: https://github.com/xonsh/xonsh.github.io

[2020-10-17 22:22] anki-code commented on #3899
The best way is to replace all html pages in the old repo to javascript redirect:
[code]

[2020-10-17 22:24] anki-code commented on #3899
[Google guidelines](https://support.google.com/webmasters/answer/2721217?hl=en) told:

[2020-10-17 22:37] anki-code commented on #3899
And add `robots.txt` with:
[code]
To remove all old pages from index.

[2020-10-17 22:51] scopatz commented on #3899
PRs to that repo welcome!

[2020-10-17 23:07] anki-code commented on #3899
Here it is https://github.com/xonsh/xonsh.github.io/pull/4

[2020-10-18 00:17] anki-code commented on #3706
New concept of the introduction image (it's not 4 images, it's one image with 4 blocks):

![image](https://user-images.githubusercontent.com/1708680/96355885-052d9180-10f0-11eb-8c08-8ddabb92b669.png)

<details>

[code]

</details>

[2020-10-18 00:19] scopatz commented on #3706
I really like this idea!

[2020-10-19 10:58] dogatekin commented on #3639
Thanks for the info, this is something I really wanted as well! For some reason, <kbd>Alt</kbd>+<kbd>→</kbd> does not work for me on macOS even after adding the binding to `.xonshrc`. The binding works if I actually press <kbd>Esc</kbd> and <kbd>→</kbd> though.

The [prompt_toolkit docs](https://python-prompt-toolkit.readthedocs.io/en/master/pages/advanced_topics/key_bindings.html#binding-alt-some

[2020-10-19 13:20] jaraco commented on #3875
Interestingly, running the test suite produces [29 failures](https://gist.github.com/jaraco/a2fd1cd3b4282644294a1166b64141a5) with seemingly related errors like:

[code]

My suspicion is that some of these factors are implicated:

- compile options used to build Python from source
- new PEG parser
- AMD64 platform

[2020-10-19 13:22] jaraco commented on #3875
The instructions I used to [build Python are here](https://installvirtual.com/how-to-install-python-3-8-on-raspberry-pi-raspbian/) (except I used [this source](https://www.python.org/ftp/python/3.9.0/Python-3.9.0.tgz)).

[2020-10-19 15:23] scopatz commented on #3875
Thanks @jaraco! Yeah, I think we are not fully ready for 3.9 yet

[2020-10-19 15:33] laloch commented on #3875
I know about those test errors since Python 3.9 beta releases. They are related to the new Python PEG parser. They do not necessarily mean that the Xonsh parser is broken. If you want to get rid of them and any potential bugs induced by the PEG parser, set `PYTHONOLDPARSER=1` in your environment.
@xonsh/xore, we should probably publish the information about `PYTHONOLDPARSER` at some very visible p

[2020-10-19 15:52] #3825 closed

[2020-10-19 17:01] das-g commented on #3706
Nice! :sparkles:

For valid syntax, should the claims ("Xonsh is ...") be comments?

[2020-10-19 17:46] anki-code commented on #3706
@das-g yeah, it should and examples could be more delicious too. Feel free to create more interesting ones using https://carbon.now.sh or similar services.

I think it really could be copy-paste-able html widgets on xonsh landing in the future. Every visit to the main page shows new examples :)

[2020-10-19 18:06] scopatz commented on #3234
Yeah we should track that down and revert or fix

[2020-10-19 18:21] #3899 closed

[2020-10-20 13:57] Hierosme commented on #3882
i can take a look , i think understand the trouble and clearly Haiku must have it work.

as start can It have one source of confusion:
[code]
and what return ``uname -o`` and ``uname -s`` on Haiku system ?

as exemple for GNU/Linux
[code]
In our case i suppose we searching for 'Haiku'. like:

[code]
Regards

[2020-10-20 14:06] extrowerk commented on #3882
Hi,

sadly not every python command works for me, probably i am just stupid :

[code]

Best Regards,
--Z

Hierosme <notifications@github.com>:

[2020-10-20 14:20] Hierosme commented on #3882
Look like ``platform`` work on Haiku-OS: ``platform.uname().system`` is the way...

I just have make a uname support for xonsh and my bad i have base it on ``os`` module .... i'll rewrite it for Haiku :)

Thank for you assistance i take a look

[2020-10-20 14:25] extrowerk commented on #3882
Thank you. Let me know if you need any other info.

[2020-10-20 15:05] Hierosme commented on #3882
extroweek, i back to you because i'll really hard to have a Haiku DEV env for me.

The uptime.py file line 260 use sys.platform.

Could you please return me what is the return on the Hailku please

[2020-10-20 15:11] Hierosme commented on #3882
in case juste go to ./xonsh/xoreutils/uptime.py line 244 and change "haiku1" by "haiku", that should work if i understand well...

[2020-10-20 15:12] anki-code opened #3905 "sh-compatible argument parsing in subprocess mode"
Hi! xonsh is better than best! Thanks!

Quick question just for understanding. Can potentially xonsh subprocess mode be sh-compatible around arguments parsing?

⚠️ **I don't mean full sh-syntax support (loops, conditions and others). I mean only the arguments and string behavior.**

For example:

1. [The line from stackoverflow](https://stackoverflow.com/questions/61618236/find-and-replace-text-in

[2020-10-20 15:15] scopatz commented on #3882
PRs very welcome!

[2020-10-20 15:21] scopatz commented on #3905
Thanks for opening this @anki-code. In my opinion, this is what `source-bash`or `source-sh` is for.

[code]

This might need some cleanup etc to make sure it fully works in all cases.

Also, it would be pretty easy to write a marco function or context manager that ran in sh.  https://xon.sh/tutorial_macros.html

[2020-10-20 15:34] jaraco opened #3907 "DeprecationWarning: The explicit passing of coroutine objects to asyncio.wait..."
## xonfig

<details>

[code]

</details>

## Expected Behavior
DeprecationWarning should be acknowledged here, suppressed for users, and ultimately addressed.

## Current Behavior

The issue isn't repeatable, but happens intermittently:

[code]

## For community
⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2020-10-20 15:38] Hierosme commented on #3882
The uptime.py have to be update, i have found the original script from [Pypi repo](https://pypi.org/project/uptime/)

https://github.com/Cairnarvon/uptime/tree/master/src last pull request 2014 ;)

haiku1 mean Haiku R1 Alpha 4.1 [from here](https://pythonhosted.org/uptime/index.html#supported-platforms)

I'll integrate the update inside the xonsh-uptime and add changes for Haiku.

[2020-10-20 15:38] anki-code commented on #3905
Ah, really, the command could be run in any shell and macro way is could solve it. Thanks!

[2020-10-20 15:38] #3905 closed

[2020-10-20 16:09] scopatz commented on #3905
Yep! Macros are pretty powerful!

[2020-10-20 16:11] scopatz commented on #3907
Thanks for reporting

[2020-10-20 16:57] extrowerk commented on #3882
@Hierosme:
[code]

[2020-10-20 17:16] Hierosme commented on #3882
I have update the uptime.py file for have the last version with more system detection, i hop it will fixe the trouble.

[2020-10-20 17:59] extrowerk commented on #3882
I can confirm, the changes in the PR #3909 solved the problem and seems to be working ok:

[code]

[2020-10-20 18:47] anki-code commented on #3895
Timing wasn't help. But I dive into the code and found the cause.

In WSL2 user has very rich PATH (by default!) with many directories with huge amount of files i.e. `/mnt/c/Windows/system32` with many subdirectories.

But root user has empty PATH (by default).

As result the call stack looks like:

1. PTK do `prompt_formatter` with `{env_name}{BOLD_GREEN}{user}@{hostname}{BOLD_BLUE} {cwd}{branch_

[2020-10-20 19:08] scopatz commented on #3895
Oh wow! That is bad... Maybe on WSL2 you can set the PATH to be something reasonable in the xonshrc

[2020-10-20 19:10] anki-code commented on #3895
The solution - https://github.com/microsoft/WSL/issues/1493#issuecomment-580643734

[2020-10-20 19:10] #3895 closed

[2020-10-20 19:13] scopatz commented on #3895
Ahh cool.  It would be nice to detect if this was happening and issue a warning with the fix then.

[2020-10-20 19:31] ajeetdsouza opened #3910 "Consider including zoxide under xontribs"
I'm working on adding xonsh support for [zoxide](https://github.com/ajeetdsouza/zoxide), a fast cross-platform directory jumper written in Rust.

This can't be made into a Python module - the initialization code is generated at runtime based on user-provided flags and is tied to a specific version of the zoxide binary. Therefore, it must be initialized by adding this line to .xonshrc:

[code]

I w

[2020-10-20 19:59] scopatz commented on #3910
@ajeetdsouza - absolutely! PRs welcome, docs on how to add here: https://xon.sh/tutorial_xontrib.html#tell-us-about-your-xontrib

[2020-10-20 20:40] Hierosme commented on #3882
Pooooooo congratulation !!!

It was a true honnor to make the port for Haiku-OS.

[2020-10-20 21:41] anki-code opened #3912 "Slower start: read files from PATH dirs many times"
Hi! xonsh is shell but python but shell but python but the best!

While I worked on #3911 I found that reading of the files in the PATH directories was done many times in case of using default conda init:

[code]
[code]
[code]

**As result instead of scan 5795 - 2298 - 420 = 3077 files once it scans 5795 files 3 times = 17,385 in sum.**
It looks like this is the cause why xonsh have 2 sec start ti

[2020-10-20 23:15] anki-code commented on #3912
Details by directories:
[code]
[code]
And we can see that:
[code]
So xonsh scan the same directory twice.

As result instead of scan 5795-2298-420=3077 files once it scans 5795 files 3 times (17,385 in sum).

[2020-10-20 23:21] anki-code commented on #3912
@scopatz and the counter here the source of true instead of `len(allcmds)`;)

[2020-10-20 23:25] scopatz commented on #3912
The counter is too slow in my opinion.

[2020-10-20 23:42] anki-code commented on #3912
@scopatz I've made the PR to fix the double reading of the directory and the symlink to this directory. But I still need help with understanding why the reading happens three times when conda init sourced.

[2020-10-21 05:22] bobhy opened #3914 "File path completer: 5 cases"
Several issues with Xonsh path completer displaying either completions in the (prompt-toolkit) completion menu or displaying a single selected completion on the command line.  No issues (found so far) with completer selecting the wrong set of completions.

I can take a crack at fixing these; I'm pretty sure most can be addressed by having the path completer return `RichCompletion`s and not have to

[2020-10-21 06:51] anki-code commented on #3914
Thanks for reporting this! #3766 also should be in the list.

[2020-10-21 07:00] anki-code opened #3915 "CommandsCache: reading the directory from PATH and the symlink to this directory from PATH (double work)"
This is the second part of #3912

While I worked on #3911 I found that reading of the files in the PATH directories was done many times.

I found that there is reading the directory from PATH and reading the symlink to this directory from PATH again. It makes xonsh start on Linux slower.

For example details by directories on Ubuntu:
[code]
[code]
And we can see that:
[code]
So xonsh scan the same

[2020-10-21 07:00] anki-code commented on #3915
PR is here:

[2020-10-21 10:52] sbillinge commented on #3888
@laloch @scopatz were you able to find time to look at this?  It would be a huge help if you can.  Let me know if there is anything I can do.

[2020-10-21 11:40] laloch commented on #3888
Nope, sorry. I changed my job a week ago (no C/kernel-space programming anymore, yay!), so I'm quite busy right now and I missed the last release anyway. I believe I'll manage to fix this for 0.9.25.

[2020-10-21 12:08] sbillinge commented on #3888
Congrats on the new job @laloch!

The urgency here is that we can't merge anything into either our regolilth
developments, but more importantly also our group databases that run
regolith in the CI so we are in a bit of a holding pattern.  If a fix is
months away we will need to make a workaround by changing the CI
parameters, but if the fix comes quicker I would rather just wait and get
the fix.

[2020-10-21 12:36] laloch commented on #3888
@sbillinge, can you set `PYTHONOLDPARSER=1` in your environment(s)? If you can, everything should work for you with Python 3.9 as it used to with the previous version.

[2020-10-21 12:37] sbillinge commented on #3888
Thanks @laloch, will try that.

On Wed, Oct 21, 2020 at 8:36 AM David Strobach <notifications@github.com>
wrote:

--
Professor Simon Billinge
Columbia University

[2020-10-21 13:59] #3915 closed

[2020-10-22 10:51] sbillinge commented on #3888
OK, got our database CI working by pinning to p3.8 for now.  It looks as if
I don't have permission to do anything to the regolith repo CI config
though.  @scopatz I wonder whether you could find a moment to look at that?

Thanks so much.

S

On Wed, Oct 21, 2020 at 8:37 AM Simon Billinge <sb2896@columbia.edu> wrote:

--
Simon Billinge
Professor, Columbia University
Physicist, Brookhaven National

[2020-10-22 13:07] Hierosme commented on #3882
After days of research i let here my notes

The fixe consist to edit: ``xonsh/xorutils/uptime.py`` file and relace **def _uptime_beos():** function by that

[code]
Original uptime from where xonsh uptime module was forcked is a Python 2 module it have never been port to python3.

The update of uptime module + pass the pipeline CI look a impossible task because the actual CI pipieline let totaly no

[2020-10-22 20:51] kip93 opened #3921 "Using ** to append dictionaries not working"
In python, you can use the ** operator to append dictionaries, but trying to use the same syntax in xonsh fails.

## xonfig

<details>

[code]

</details>

## Expected Behaviour

Using either python or xonsh, the result should be the same.

[code]

## Current Behaviour

Instead of running as expected, xonsh raises an exception:

[code]

### Traceback

<details>

[code]

</details>

## Steps to Rep

[2020-10-22 21:20] scopatz commented on #3921
Thanks for reporting @kip93!

[2020-10-22 22:34] scopatz commented on #3888
Hey @sbillinge - do you have a link?

[2020-10-22 23:05] sbillinge commented on #3888
sorry @scopatz, what does this mean?  Link to what?

On Thu, Oct 22, 2020 at 6:34 PM Anthony Scopatz <notifications@github.com>
wrote:

--
Simon Billinge
Professor, Columbia University
Physicist, Brookhaven National Laboratory

[2020-10-23 00:25] john9631 commented on #3111
I had a similar issue running the ion shell.   The suggested solution solved the problem.

[2020-10-23 13:19] laloch commented on #3891
Closed in #3677.

[2020-10-23 13:19] #3891 closed

[2020-10-23 14:40] daniel-shimon commented on #2304
Hi, this is an issue I stumble upon all the time, and I resort to doing things like `@($(cat SOME_FILE).strip())`

The thing is that unix and windows cli commands always append newlines to their output, and when `$(...)` is used in all shells adding a newline isn't appropriate or needed.

`@$(...)` isn't the solution either, since users don't always want to split the output to different arguments.

[2020-10-23 14:55] daniel-shimon opened #3924 "Re-thinking the command substitution operators"
# Abstract

This is a proposal for re-designing the command substitution (a.k.a command pipelines) mechanisms in xonsh.

A simple example for command substitution in bash:
[code]

#### NOTE: This example is very basic and naïve. Please look at the usage examples below.

# Motivation

Command substitutions have a range of usage scenarios, and we want them all to be easy and concise.
These usages di

[2020-10-23 15:42] laloch commented on #3924
Hi @daniel-shimon, this has been discussed (and rejected) several times already. The reasoning probably, if I remember correctly, was that the trailing newline is part of the captured output and therefore should be kept as is. What if the terminating newline character is significant to your pipeline? For instance `echo "foo" | wc -l` vs. `echo "foo\n" | wc -l`? What about outputs terminated by sev

[2020-10-23 18:33] dyuri commented on #3910
@ajeetdsouza I quickly created https://github.com/dyuri/xontrib-zoxide which does nothing really but executes the single line you provided. If you like it I can create a PR for xonsh to include it in the _official_ xontrib list.

P.S. `zi` doesn't work for me, the `-i` argument seems to be missing. (I built `zoxide` from github, and I have `fzf` installed and working.)

[2020-10-23 18:49] daniel-shimon commented on #3924
I understand what you're saying but it still doesn't feel very helpful. I'm talking of course only about subcommands which are substituted inside another command, in which case I can't really see how that's helpful.

In any case I guess this issue is a pretty opinionated thing if it has been discussed so many times.
Do you think adding a config option like $XONSH_STRIP_SUBPROC would be exceptible?

[2020-10-23 18:59] anki-code commented on #3924
@laloch could you please advice what to do with this cases:

[2020-10-23 20:43] anki-code commented on #3924
Hmm @daniel-shimon I see the same behavior in bash:
[code]
Solution in bash:
[code]
The same in xonsh:
[code]
Yeah, not so beauty )

[2020-10-23 21:22] anki-code commented on #3924
@daniel-shimon I have fun workaround to you:
[code]
[code]

[2020-10-23 21:32] anki-code commented on #3924
But simpliest way is to create alias :)
[code]

[2020-10-23 21:49] anki-code commented on #3924
I tend to agree with this.

@scopatz why we can't do the same as bash in this case:
[code]
[code]

[2020-10-23 21:57] scopatz commented on #3924
Yeah, it really is.  The fundamental issue is that many CLIs add a trailing newline without detecting if they are connected to a TTY or not. Bash and other shells effectively add an rstrip operation when capturing (or really a split operation), effectively deciding what the output of subprocesses should be.

I personally think that a lot of Bash's syntax and magic is particularly confusing to new

[2020-10-23 22:06] anki-code commented on #3924
My personal answer:
* `![], !(), $[]` - do nothing because they are not used in subprocess substitution
* `$()` - rstrip
* `@$()` - do nothing because current behavior with splitting by spaces is so special

[2020-10-23 22:23] anki-code commented on #3924
@scopatz what if create distinct operator for this?

[2020-10-23 22:31] scopatz commented on #3924
That is what `@$()` was supposed to be :wink: I am in favor or removing syntax at this point, rather than adding. I really want to avoid the issues that Bash has where there are so many specialized syntax elements that no one can remember them. Xonsh should be easy for people to learn and use and consistent in its implementation.

If anything I think we should either fully implement `@$()` or remo

[2020-10-23 22:34] daniel-shimon commented on #3924
Good to hear! I was fearing this is a dead end.

1. I agree with @anki-code that `@$()` should remain as-is since it's very xonsh-specific in nature and the ability to spread arguments is pretty cool
2. I think the other subprocess operators shouldn't change as well, since if we're using them we're probably doing something more advanced than just command substitution.

The basic jist is that `$()`

[2020-10-23 22:34] anki-code commented on #3924
@scopatz why `@$` use spaces? (not only `\n`)

[2020-10-23 22:42] anki-code commented on #3924
@daniel-shimon

I understand you and was agree but I rethink this. It's a new hidden logic when `$()` works with rstrip in subprocess and without in python mode. We should create parallel universe in mind for subproc and python. It's not so good.

[2020-10-23 22:43] laloch commented on #3924
I already have `@$[]` operator here long forgotten, that splits the captured output on newlines only, yielding
[code]
instad of
[code]
I can open a PR if there's general interest in the functionality.
I do, however, agree with @scopatz in that we should not add more syntax for no good reason.

[2020-10-23 22:47] anki-code commented on #3924
@laloch I also agree with @scopatz about weird bash syntax. May be to add env variable for this? Example: `$TYPE='newline' echo @$(echo '1 2\n3')`

A bit offtopic: could you please share your PR? I want to understand the process of creating additional operators =)

[2020-10-23 22:48] daniel-shimon commented on #3924
Another option is to only have `$()` strip the trailing newlines, while `!()` doesn't.
This way `$()` is robust for day-to-day command substitution but for full accuracy one can use `!().out`.

This resonates with `$()` being intended for simple usages (you can't use it to get the exit code etc), so I think adding the `rsplit` to make it more robust and useful is pretty sound

[2020-10-23 22:49] scopatz commented on #3888
Oh the regolith CI.  @CJ-Wright - can you take a look there?

[2020-10-23 22:49] daniel-shimon commented on #3924
Yeah I agree about not adding more syntax in this area

[2020-10-23 22:57] laloch commented on #3924
Yeah, of course. Here you go: laloch/xonsh@98363df. It's pretty trivial, since it copies almost everything from `@$()`.

[2020-10-23 22:58] anki-code commented on #3924
This way $() is robust for day-to-day command substitution but for full accuracy one can use !().out.

I like this logic when I thought about users from bash world and fast diving into xonsh.

[2020-10-23 23:00] scopatz commented on #3914
Hey @bobhy - sorry for taking a few days to read this amazingly comprehensive post!  I agree that all of these are pretty much long-standing issues that it would great to get addressed!

As per your specific question about (5), I agree that it is pretty weird that they all get quoted.  On readline, I think this is so that they all retain a common prefix for future hits of the TAB completion. Maybe

[2020-10-23 23:06] anki-code commented on #3924
Note! You don't need to add `.out` when using in subproc:
[code]
but:
[code]
Probably the complete solution is:
* `$()` - rstrip by default
* `!()` - return output in subprocess mode

@scopatz what do you think?

[2020-10-23 23:09] daniel-shimon commented on #3924
It's not just for users coming from a different shell, it's really more useful and intuitive since you want information from some standard unix command (e.g. whoami, uname, nproc etc), and they all append newlines to their outputs.

Here's another example from a classical daily shell use - `make -j $(nprocs)` fails. Yeah, you could use `@$()` but it doesn't really express what you want (stripping,

[2020-10-23 23:10] anki-code commented on #3924
I have only one concern :) I noticed many times that `$()` and `!()` works so different. In fact `$()` works easy in many cases but `!()` have side effects like #3394.
I will be happy with [this solution](https://github.com/xonsh/xonsh/issues/3924#issuecomment-715625964) but `!()` is not so stable as `$()`.

[2020-10-23 23:19] laloch commented on #3924
#3394 is a bug - sometimes you need to call `!(cmd).end()` in order to get the resulting `CommandPipeline` attributes populated.

[2020-10-23 23:21] anki-code commented on #3924
@laloch what do you think about https://github.com/xonsh/xonsh/issues/3924#issuecomment-715625964 ?

[2020-10-23 23:37] scopatz commented on #3924
My main point here is that if we are going to make one subprocess operator modal (ie Python vs Subprocess), it is worth thinking about how all of them should behave in a modal fashion.

Also, if as part of this, we can get rid of `@$()` or if we should fully implement it, and how this operator would behave modally too.\

@anki-code's suggestion [here](https://github.com/xonsh/xonsh/issues/3924#iss

[2020-10-23 23:44] anki-code commented on #3924
Why?

It's complete solution because the behavior is obvious and also it's Pythonic way:

When we use `!()` in python mode it returns an object. If it used in subprocess it returns the output. It's the same as python objects behavior but instead of subprocess there is print function for example.

In this approach we don't need a table with all 5 subprocess operators.

[2020-10-23 23:48] daniel-shimon commented on #3924
@anki-code if I understand correctly with your suggestion `$()` isn't modal?
Meaning `$()` always returns the rstripped output, and `!()` returns the complete output in subprocess mode and a CommandPipeline object in python mode?

This sounds like a pretty good idea to me - `!()` is used for a fine-grained usage and `$()` just works for substitutions.

[2020-10-23 23:49] anki-code commented on #3924
@daniel-shimon yeah, very seamless!

[2020-10-23 23:52] daniel-shimon commented on #3924
@scopatz In this suggestion, the `!()` operator doesn't really **act** differently wrt to the current mode, it just returns a helpful thing in subprocess mode and returns the complete `CommandPipeline` object in python mode.

[2020-10-24 00:37] anki-code commented on #3924
I've edited the description of the solution - https://github.com/xonsh/xonsh/issues/3924#issuecomment-715625964 - now the description is clean and with example.

[2020-10-24 07:44] daniel-shimon commented on #3924
@anki-code very nice!
Can you clarify that the behavior should be `.rstrip('\n)` like in other shells?
Also can you add the `make - j $(nproc)` example?

[2020-10-24 08:01] anki-code commented on #3924
You read old message. I replaced it to `.strip()`.

Added.

I already working on first draft of PR :)

[2020-10-24 09:21] anki-code commented on #3924
@daniel-shimon just want to let you know that

Should be:
[code]

[2020-10-24 12:21] sbillinge commented on #3888
@scopatz @cj-wright, panic over.  I managed to update .travis.yml to pin to
python 3.8 (for now) on the regolith repo, and that passed CI.  I will make
an issue to remove that when xonsh is working with 3.9.

Sorry for the panic, no action on your parts needed at this point (unless
you want to work on the xonsh issue ;)

On Fri, Oct 23, 2020 at 6:49 PM Anthony Scopatz <notifications@github.com>
wr

[2020-10-24 20:20] jaraco commented on #3875
I tried running the tests with `PYTHONOLDPARSER=1` and now I get 30 failures (where before I got 29)--basically the same as before. After activating the venv where the dependencies are installed, In bash, I ran: `$ PYTHONOLDPARSER=1 xonsh run-tests.xsh`. I haven't pulled any changes in the local checkout, so the code should be the same.

Similarly, setting the var appears to have no effect on the

[2020-10-25 03:57] duncreg commented on #3064
Just in the interest of completeness, xonsh feels immediate to me and I was shocked that anyone felt it was slow. The benchmarks quoted above have differences of one half and one quarter of a second! That's getting close to an interval a human can't even perceive the difference of.

Of course, as with Python, there's the issue of human time vs. computer time. Per @certik 's examples, I'd find myse

[2020-10-25 07:43] daniel-shimon commented on #3394
@shahinism as I understand it, this issue is with `.output` specifically since it's supposed to be lazy evaluated

Could you try the same with `.out`?

[2020-10-25 08:35] anki-code commented on #3924
@scopatz

Now:
|Operator| Subproc | Python |
|--------|---------|--------|
|`$()`   | output | output |
|`!()`   | - | object |
|`@(!())`   | output | - |
|`$[]`   | - | None |
|`![]`   | - | object |
|`@$()`  | splitted output | - |
|`@()`   | python susbstitution | - |

What we suggest in #3926:
|Operator| Subproc | Python |
|--------|---------|--------|
|`$()`   | ✔️ output lines | ✔️ output li

[2020-10-25 15:31] ju-kreber commented on #3843
Alright, first off, having only 3 files (`a`, `b`, `with spaces`) does not change the behavior at all. What I noticed is that when making space for the completion window works, it seems to always make space for exactly 4 lines, no matter the number of possible completions. I don't know if that's intended or not..

In an interactive bash session, `echo $LINES $COLUMNS` outputs `32 238` which seems

[2020-10-25 15:46] scopatz commented on #3394
Yeah, this should be the difference between `.out` and `.output`, one of them forces the process to end

[2020-10-25 16:00] scopatz commented on #3924
In my opinion, `$()` should return a string, not a list. The other operators are free to return various other objects

[2020-10-25 16:02] scopatz commented on #3394
Maybe this distinction is too subtle for public APIs...

[2020-10-25 16:06] anki-code commented on #3924
@scopatz could you give an arguments why?

[2020-10-25 16:09] anki-code commented on #3924
@scopatz I tend to go away from here. Because I write tons of clarifications here with code, example, thoughts, insights. But your response just "I think this should be string". It's totally not constructive.

[2020-10-25 16:23] anki-code commented on #3924
I planned to recommend xonsh to collegues and make a meetings to spread the word after improving of captured_subproc because on my oppinion it's the ugly xonsh design thing that should be fixed before 1.0.

But now I'm understanding that this ugly design have supporters. It's very sad. I think I will use xonsh like a local distinct tool for me. I don't want to be flushed when will get questions ab

[2020-10-25 16:50] anki-code commented on #3924
@laloch  You reproach me for playing with colors. How can I do something more meaningful if key changes in logic that folks stumbled over and asked to improve get stuck in meaningless discussions? I started from simple `strip-split` and after 2 days I suggested consistent solution that has the gold center between all parts. I heard and your thought and solved your concerns. I created `OutputLines`

[2020-10-25 17:17] scopatz commented on #3924
Anyway, on the technical side, the original design was for `$` to indicate that a built-in Python object was returned (str or None), while `!` indicated a more rich object, now `CommandPipeline`. `()` indicated capturing, ie nothing would be printed to stdout. `[]` means that output flows through to the screen.

So in this light, `$()` means capture the output and return a basic Python object. It

[2020-10-26 00:44] daniel-shimon commented on #3924
I agree we should improve the efficiency of the discussion, and document all the arguments in a centralized way.

Following what you guys said, since this is such a major design decision in xonsh I suggest we take a step back from implementation details, gather concise examples, compare to other shells and document the pros-and-cons for each proposal.

I'll try to make this issue a mini-PEP for th

[2020-10-26 00:50] anki-code commented on #3924
@scopatz your answers shows me that you don't read my comments in this thread and in PR. For example I am not the bash lawyer and like you I'm searching the good approach. I found it.

Please read https://github.com/xonsh/xonsh/pull/3926#issue-509393484 in silence and 2-3 times. Pay attention to logic and to `OutputLines` class and how it works in examples.

Short answer: no. Your answer is mostly

[2020-10-26 01:02] anki-code commented on #3924
@daniel-shimon please read https://github.com/xonsh/xonsh/pull/3926#issue-509393484 - it was rewrited many times and now the best. Please do it 2-3 times. After it review your text and make it closer to the ideas because your initial idea of just stripping the output is not so good. I suggest using lines as is and current PR logic is the best for me. Also I recommend try to install the PR (instruc

[2020-10-26 01:07] anki-code commented on #3924
@daniel-shimon and please avoid bash in the text! We really don't want to talk how it works in bash because in xonsh we have completely different behavior.

I suggest avoid mentioning bash and it's logic. We just know that `@$()` works like bash `$()` and this is enough.

[2020-10-26 01:27] adqm commented on #3924
Chiming in since I was one of those who was spam-mentioned in the other thread and because I was involved in the discussion and implementation of these operators the first time around, though I've not had a horse in this race for several years...

-----------------

Years ago when this conversation started, I was a proponent of stripping a trailing newline from the output of `$(...)` but leaving t

[2020-10-26 01:36] anki-code commented on #3924
@adqm thank you for your attention!
What do you think about this example:
[code]
And for this:
[code]

[2020-10-26 03:00] jnoortheen commented on #3924
@scopatz I am in favor of removing `@$`. We could find some pythonic ways to do it instead. Having too many operators leads to confusion. Python is as simple as one can get. We could use/abuse the pipe operator https://pypi.org/project/pipe/ 😄. We can discuss that in another issue I think.

We can blame bash for all we want but it is everywhere, even dockerfilss, CI configs etc, Copying the syntax

[2020-10-26 03:00] anki-code commented on #3924
@daniel-shimon please add to pros of my approach:
* String functions still works with `$()`. Example: `text = $(curl https://xon.sh).upper()`
* `$()` has `str` functions that modifies every line. Example: `text = $(curl https://xon.sh).lines_strip()` - returns list of stripped lines.

About cons:

This is not completely true. The `$()` result is `OutputLines` object that has `str` representation a

[2020-10-26 03:05] anki-code commented on #3924
@jnoortheen the backwards compatibility is not a strong argument. Bash becomes ugly because every day thinks about backwards compatibility.

I urge to think about use cases, pros and cons first. The practice shows that no one can suggest more higher quality solution than my PR. The other approaches either ugly (current xonsh) or not consistent.

[2020-10-26 03:06] kip93 opened #3929 "Cannot configure style colours for xonsh specific tokens"
When registering a custom style, you cannot modify the colours for any xonsh specific tokens.

## xonfig

<details>

[code]

</details>

## Expected Behaviour

When running

[code]

the output should show the detailed tokens as bright red (or whichever colour you want to configure).

## Current Behaviour
After running the commands specified above, the colours of any of those tokens do not change.

[2020-10-26 07:05] daniel-shimon commented on #3924
Hi @adqm, thanks for the detailed explanation!
A few questions:

1. Do you mean to exclusively strip **one** trailing newline or all of them?

2. Currently each line returned here contains it's trailing newline. In light of this discussion, don't you think these newlines should be stripped as well (like `str.splitlines()`)?

3. What about having `!()` return the entire output in command mode? I pe

[2020-10-26 07:32] daniel-shimon commented on #3924
@anki-code I updated the description 👍

On another note:

What I mean is that the splitting by **lines** is unintuitive and unfamiliar for the default `$()` implementation.
Most of our examples come from the upper-left corner of the usage scenario - `No split, Strip newline`.

In this regard, I feel that your proposal does too much magic for these cases. You're splitting by lines even though that'

[2020-10-26 07:35] jnoortheen opened #3931 "xontribs.json alternative format?"
## xonfig

<details>

[code]

</details>

As of now all the xontribs are mentioned in a single file.
 - it will grow in size and sometimes my IDE auto-formats the whole file.
 - it will be difficult to maintain as it grows in size.

I propose that we use directory called `xontrib/metadata` folder, that will hold `*.json` files. each describing a single xontrib info. We can add a README in that dir

[2020-10-26 08:25] anki-code commented on #3924
@daniel-shimon hi! Thank you!

You wrote:

But you mean under this sentence - different from default behavior:

This is misleading.

The default xonsh `$()` implementation is not refer or related with other shells logic. It's "simple" not because it's common or well known. No. It's have "simple output" because it implement this logic in xonsh but with weak arguments behind it.

The sentence "Retur

[2020-10-26 08:39] anki-code commented on #3924
@daniel-shimon I reviewed the description and I've found that the table "Strip | Split | Xonsh" is unclear. It just hide the examples and use cases. It makes focus on another thing.

I think we need a pack of examples that shows the solution for every approach.Could you get the "Before | After" table from my PR and add it to every approach?

Thank you for your support of this topic!

[2020-10-26 09:57] anki-code commented on #3924
@daniel-shimon thank you for this case:

The example
[code]

Please mark this bullet point by prefix *"[Reported to PR author, waiting for review]"*.
This needed to separate cons of approach design and cases that was found but not resolved yet by author of approach.

[2020-10-26 10:31] anki-code commented on #3924
@daniel-shimon

I've noticed that you wrote in the approach you prefer:

This pros are in my PR also and should be added to my PR pros too. Please make the lists of pros consistent between all approaches.

[2020-10-26 10:37] anki-code commented on #3924
@daniel-shimon please note that

Is not working cute in subproc mode. You should do `du -sh @($(ls).__iter__)`. This is cons. The same in my PR: `du -sh $(ls)`

[2020-10-26 14:34] scopatz commented on #3931
Hey @jnoortheen - I am totally in favor of rethinking how xontribs are loaded. The JSON was a quick and dirty initial implementation. As part of any redesign, I would like to make sure that load times are fast. This is because `xontrib load` is likely part of many people's xonshrc, and therefore would contribute to the startup time. Hope this makes sense!

[2020-10-26 14:45] scopatz commented on #3929
I think that #3920 fixes this.

[2020-10-26 14:45] scopatz commented on #3929
Thanks for reporting @kip93!

[2020-10-26 15:08] dyuri commented on #3929
Yep, #3920 should fix this, but those rules are for PTK1 and I doubt you are using it. For PTK2+ you'll need `Token.PTK.AutoSuggestions` (or simply `auto-suggestions`) for those to work.

The actual `*.PTK.*` tokens should be displayed by default in the output of `xonfig colors`, so you can check them once you have a version that contains the fix.

[2020-10-26 15:14] jnoortheen commented on #3931
Yes. I will try to benchmark the time difference between parsing a single large file and multiple single files. I will try to do it in the weekend.

[2020-10-26 15:15] scopatz commented on #3931
Amazing! Thanks for tackling this

[2020-10-26 15:23] traverseda commented on #3924
Honestly the specifics of this is beyond me right now, but I'm glad people are working through it. Keep up the good work!

[2020-10-26 18:14] anki-code commented on #3924
@daniel-shimon I dived into the `@(!())` example and found new (for me) strange behavior of the current xonsh version operator:
[code]
The `CommandPipeline` class is iterable and returns list of lines with trailing new line symbol (that should be stripped again if we want to use it as arguments 🤦). This strange behavior should be mentioned in description and we should think how to make is people-o

[2020-10-26 19:04] anki-code commented on #3924
I've read twice the @scopatz [comment](https://github.com/xonsh/xonsh/issues/3924#issuecomment-716180869).

Resume:

1. The `$()` operator was conceived as the same as in bash.
2. But it works not like a bash because the idea of `$IFS` (set split symbol) looks not good.
3. The cause why `$()` returns pure output - to give a user ability to set splitting function.
4. And user should do it every tim

[2020-10-26 19:40] daniel-shimon commented on #3924
You're right, changed it.

Agreed.
What I'm saying is that if we think about the real intent when using commands like `uname`, `hostname` etc, you want the **content**, not lines. This is why they're in the `No split` section in the examples.
The fact that their output has an extra newline is because unix tools always append it regardless of the tty. It doesn't mean you want to split them by lines

[2020-10-26 19:41] #3912 closed

[2020-10-26 19:42] ajeetdsouza commented on #3910
@dyuri thanks! I had temporarily removed `zi` on master while refactoring, it should be all good now. I'll create a new release once I'm able to do a bit more testing.

[2020-10-26 19:58] daniel-shimon commented on #3924
As of now, I have two issues with @anki-code 's proposal:

* No clean solution for `no split, strip newline`. For me at least, this seems to be the daily usage.
* I'm not convinced the custom `OutputLines`'s benefits are really worth it. In my experience at least, customized hybrids like this do more damage than good in the long run. They're hard to maintain, they surprise users and require a larg

[2020-10-26 20:58] kip93 commented on #3929
Seems like this is a known problem already, so I would like to close this as a duplicate if there is another issue that I could link, but I cannot find the original one referenced in either #3920 or #3932. Otherwise, I will keep this open for tracking purposes and wait for the fix so I can re-test this once this is solved.

Let me know if you need any more info or some help testing some pre-releas

[2020-10-26 22:13] scopatz commented on #3929
Feel free to keep this open now

[2020-10-26 22:18] scopatz commented on #3924
Hey all, my thoughts generally align with @adqm (Hi! Hope you are doing well too!). Other than that, I think I am going to take a week break from this issue. I don't have the bandwidth to follow all of the details of the discussion. I suggest everyone also take a small break from this particular thread as well.

[2020-10-27 09:09] anki-code commented on #3924
@daniel-shimon

The cons of the adqm approach that hide your tables:

As we discuss above default `$()` behavior in other shells is to return splitted list of arguments. If we have the `file1\nfile2\n` output then in bash it will be the list of arguments `['file1', 'file2']`. In the adqm approach you just remove the triling new line and got the `file1\nfile2` - this is: a) not common and whell kno

[2020-10-27 09:26] anki-code commented on #3924
@daniel-shimon

It's totally your personal opinion. Look at `CommandPipeline` class in xonsh. It's a combine object, list and with lazy streaming attributes. All xonsh tutorial is a "unfamiliarity and complexity for new users". The object should solve common use cases. Let's avoid personal opinions and think by use cases.

If you want to save `"OutputLines is added unfamiliarity and complexity for

[2020-10-27 09:49] anki-code commented on #3924
@daniel-shimon

It's totally your personal opinion. Look at `CommandPipeline` class in xonsh. It's a combine object, list and with lazy streaming attributes. All xonsh tutorial is a "unfamiliarity and complexity for new users". The object should solve common use cases. Let's avoid personal opinions and think by use cases.

If you want to save `"OutputLines is added unfamiliarity and complexity for

[2020-10-27 09:50] anki-code commented on #3924
@daniel-shimon

The cons of the adqm approach that hide your tables: // JFYI @scopatz (because you like adqm solution too)

#### First

As we discuss above default `$()` behavior in other shells is to pass splitted list of arguments to the command. If we have the `file1\nfile2\n` output then in bash it will be the list of arguments `['file1', 'file2']`. In the adqm approach you just remove the tri

[2020-10-27 09:50] anki-code commented on #3924
@daniel-shimon

It's totally your personal opinion. Look at `CommandPipeline` class in xonsh. It's a combine object, list and with lazy streaming attributes. All xonsh tutorial is a "unfamiliarity and complexity for new users". The object should solve common use cases. Let's avoid personal opinions and think by use cases.

If you want to save `"OutputLines is added unfamiliarity and complexity for

[2020-10-27 11:16] anki-code commented on #3924
@scopatz

 Sounds good. One request to you.

I want to avoid situation when xore don't read this discussion and keep old mindset and after a weeks xore will come to this discussion with messages like "Let's stay on the old logic because backwards compatibility etc etc etc". If you plan to back here after a weeks please plan your time to read the discussion, the examples and arguments to completely

[2020-10-27 18:30] dyuri commented on #3929
Yep there was no "original issue", I discovered those PTK-only styles while introducing `$XONSH_STYLE_OVERRIDE` and trying to provide a common interface for all the different "render backends".
Now with #3933 I hope I'm on a good path, @kip93, I'd be happy if you could give it a try.

[2020-10-27 20:08] anki-code commented on #3924
I've read messages above from different parts (scopatz, adam, daniel-shimon, laloch) and I want to do some meaning points.

Guys, when you reasoning you miss some prerequisites:

1. **There is python and subproc mode** and it looks obvious but when you talk about pros of one approach in python mode you miss the cons in subproc mode.

2. **There is cases with one line output and a many lines output

[2020-10-27 20:37] jaraco opened #3934 "Discussion on broad @mentions"
In https://github.com/xonsh/xonsh/pull/3926#issuecomment-716232379, @anki-code mentioned a large number of people attempting to reach contributors to gather broader input. Some [expressed dismay](https://github.com/xonsh/xonsh/pull/3926#issuecomment-716233013) and the action led the maintainers to [lock the discussion](https://github.com/xonsh/xonsh/pull/3926#issuecomment-716237861).

I wanted to

[2020-10-27 20:40] jaraco commented on #3934
Also, if Github had a feature where commenters or admins could unsubscribe users or where commenters could one-time-mention a user (without also implicitly subscribing them), that would likely have limited the fallout of such a communication attempt.

[2020-10-27 20:51] anki-code commented on #3934
Hi @jaraco! Thank you for support and kind words! I had lack of them. I agree with you that unsubscribe is easy.

And I agree with @gforsyth. His reaction technically right. And I agree with @gforsyth. His reaction technically right. It's not a good step and I made it out of despair.

As you see we continue the discussion in 3924 issue. You're welcome :)

[2020-10-27 21:03] scopatz commented on #3934
Thanks for your thoughtful post here @jaraco. I think we should have some sort of code-of-conduct. I also think that there should be an enhancement proposal process, where these kinds of details can be hammered out that is outside of particular issues and PRs. Changes to aspects of xonsh, like fundemental syntax, will not happen quickly if we are being honest with ourselves.

Speaking personally,

[2020-10-27 21:21] anki-code commented on #3934
@scopatz I successfully push the PRs and you accept them. Many thanks!

And the problem (for me) with "subproc syntax" PR is not around place of talking.

The key questions for me is how to understand that you open for changes without backwards compatibility, you accept them, you agree with them and you help to release it smooth? I have no answer on this questions and now.

We write overwhelming p

[2020-10-27 23:22] kip93 commented on #3929
Hey @dyuri! Just tested it using both `register_custom_style` and `$XONSH_STYLE_OVERRIDE` and both methods seem to be working correctly now. Thanks for looking into it!

The only thing that I cannot find is how to change the background of the auto-completion menu, but that might be an unrelated issue. I am not even sure if PTK allows for that (at least I think that is done with PTK, I have not loo

[2020-10-27 23:43] ashwinvis commented on #2488
To persist ssh-agent across sessions ([source](https://wiki.archlinux.org/index.php/SSH_keys#SSH_agents)):
[code]

[2020-10-28 07:06] dyuri commented on #3929
![image](https://user-images.githubusercontent.com/126637/97403042-fb780b00-18f3-11eb-80b8-e8effa0745bd.png)
Which "background" do you want to change? The one in the pink rectangle can be changed, it's `Token.PTK.CompletionMenu` (or `completion-menu`). The other (yellow rect.) is the background of the terminal, nothing is drawn there AFAIK, so we cannot really change that indeed.

[2020-10-28 17:11] scopatz commented on #3934
Yeah, I think that is fundamental issue. I am not the only one who has a voice in the decision making process here. I think most or all of the xore team will need to buy into these kinds of changes. That takes time. I do my best to keep up with the PRs and releases, but I am only one voice on xore.

Xonsh is a community project. It cannot move as fast as a single person working on their own person

[2020-10-28 19:55] kip93 commented on #3929
Never mind, I forgot to add `bg:` before the colour. It was a noob mistake :p
I have only been using xonsh for a couple of weeks, and just began ricing it last week to try to use is as my main shell.

I have not encountered any more issues with this. Do let me know if you need anything else from me (:

[2020-10-28 21:35] anki-code commented on #3924
### Folks! I've created the repo for my approach - [xonsh-operators-proposal](https://github.com/anki-code/xonsh-operators-proposal) to create a complete description and working on changes and issues without lags. Feel free to make pull requests, open an issues, support me by clicking stars :)

@daniel-shimon please update the links in your description. Remove link to PR and put the link to the re

[2020-10-29 01:35] kip93 opened #3936 "Inconsistency importing modules between using ~/.xonshrc and ~/.config/xonsh/rc.xsh"
I found that you can use `~/.config/xonsh/rc.xsh` instead of `~/.xonshrc` to configure xonsh, but when I tried to import a module on a separate file I found that while on `~/.xonshrc` this works as [detailed in the tutorial](https://xon.sh/tutorial.html#importing-xonsh-xsh), trying to do the same in `~/.config/xonsh/rc.xsh` fails. I was able to work around this by using the following snippet

[cod

[2020-10-29 14:55] carmenbianca opened #3938 "Attributes in CommandPipeline.__repr__ are str() instead of repr()"
## xonfig

<details>

[code]

</details>

## Expected Behavior

When I do `!(echo hello)`, I expect all attributes in the returned CommandPipeline repr string to be repr instead of str.

## Current Behavior

[code]

Note the newline printed in the middle of that object, because `output` is not a repr-escaped string.

## Steps to Reproduce

See above

## For community
⬇️  **Please click the 👍 react

[2020-10-29 14:57] scopatz commented on #3936
Thanks for reporting this @kip93! What is your $PYTHONPATH set to? This is really what determines what is importable.

[2020-10-29 15:13] scopatz commented on #3938
Thanks for reporting @carmenbianca!

[2020-10-29 15:53] #3938 closed

[2020-10-29 18:46] #3840 closed

[2020-10-29 19:57] kip93 commented on #3936
Hello @scopatz! The `$PYTHONPATH` variable is not set, and even if I do `$PYTHONPATH = [p"$HOME/.config/xonsh/"]` before importing the module is still not found. I will update the issue to add this.

[2020-10-29 20:05] kip93 commented on #3936
Ok, with some more testing I realised that while putting `$PYTHONPATH = [p"$HOME/.config/xonsh/"]` on top of `~/.config/xonsh/rc.xsh` does not work, running `$PYTHONPATH=[p"$HOME/.config/xonsh/"] xonsh` does seem to work. Still, I do not think that this should be the correct behaviour, but it at least provides a starting point.

Maybe, when importing from `~/.config/xonsh/rc.xsh` this value could

[2020-10-30 00:00] anki-code commented on #3936
Hi @kip93! This works for me:
[code]

[2020-10-30 06:33] wangjiawen2013 opened #3942 "vi syntax highlighting"
Hi,
It seems that my vi editor doesn't support syntax highlighting in .xsh (xonsh script), while .sh scripts is suppoted. who can tell how to highlight it in vi editor ?

[2020-10-30 09:23] anki-code commented on #3942
Hi @wangjiawen2013 ! You can find supported editors in [Editors and IDE](https://xon.sh/editors.html) page.

There is [third party solution for vim](https://xon.sh/editors.html#vim).

[2020-10-30 10:01] dyuri commented on #3942
Or - since `.xsh` files are basically python - you can just put something like this into your `.vimrc`:
[code]

[2020-10-30 10:04] anki-code opened #3943 "Update and close 3926"
Hi! xonsh is super cool!

Please:
1. Replace the description of PR 3926 to the text:
[code]

2. Remove the emoji from the title.

3. Close it.

Thanks!

[2020-10-30 10:25] laloch commented on #3943
Hi @anki-code, done and closed.
I'm glad you reconsidered using emoji in PR titles.

[2020-10-30 10:43] anki-code commented on #3943
Thanks @laloch ! Yeah :)
If you have time it will be great to get your feedback on [XEP-2](https://github.com/anki-code/xonsh-operators-proposal/blob/main/XEP-2.rst) approach.

[2020-10-30 10:43] #3943 closed

[2020-10-30 18:20] scopatz commented on #3936
Yeah, I can see an argument for adding these default rc directories to the PYTHONPATH, even if just temporarily while loading rc files. I think that would be a good fix.

[2020-10-30 21:27] kip93 commented on #3936
@anki-code That's what I clarified on my last comment, if you patch the `$PYTHONPATH` either by setting it before running xonsh or by using `sys.path.append` as per your example, this works. But, I would say that that is a workaround rather than correct behaviour.

[2020-10-30 21:34] kip93 commented on #3936
@scopatz If patching the `$PYTHONPATH` while loading rc files is a good approach, then this weekend I can try to do it myself and create a PR.

I just have 2 questions to help me with this fix faster, since this is my first time hacking at xonsh:
1. Which file has the code responsible for start up and loading rc files, and
2. Which are all the possible directories that an rc file could be located

[2020-10-30 22:56] scopatz commented on #3936
I believe that there is a `load_rcs()` function or similar somewhere.  The list of default RC files lives in `enviorn.py`. See https://xon.sh/envvars.html#xonshrc too

[2020-10-30 23:28] anki-code opened #3945 "Python code substitution"
Hello! xonsh is great! thanks!

I have [xontrib-pipeliner](https://github.com/anki-code/xontrib-pipeliner) that implements line modification in pipe i.e.
[code]
[code]

One thing that I miss in this use case of aliases is Python code substitution with highlighting and autosuggestion.

What do you think if I add `@{}` operator that will pass the Python code as an argument. Does it makes sense?

Exa

[2020-10-30 23:31] beetleb commented on #3763
I did confirm that setting `OS_UPDATE_ENVIRON` to True fixed this for me.

[2020-10-31 09:12] anki-code opened #3946 "Autosuggestion is not working in python substitution"
Hi! xonsh is inspiring for change the mindset! Thanks!

I've noticed the auto suggestion is working in command substitution in python mode. Meaningless example:

![Screenshot_20201031_120914](https://user-images.githubusercontent.com/1708680/97775468-e6a8ab00-1b71-11eb-93ff-d47906a4cfc3.png)

But not working in subproc mode:

![Screenshot_20201031_121040](https://user-images.githubusercontent.com/

[2020-10-31 09:20] anki-code commented on #3763
Hello! I may be wrong and this is unrelated to this issue but want to remind that in commands cache the command in Windows [is going to cache in upper case](https://github.com/xonsh/xonsh/blob/0f9f74bfdac89b357491f6c2ce69698c732abed6/xonsh/commands_cache.py#L117). May be try to run `RG` or `RG.EXE`?

[2020-10-31 09:24] anki-code commented on #3946
Workaround is to use jedi:

![Screenshot_20201031_122407](https://user-images.githubusercontent.com/1708680/97775711-fa551100-1b73-11eb-82e5-b6d44b251d68.png)

[2020-10-31 11:47] daniel-shimon commented on #3945
You could make pl a macro https://xon.sh/tutorial_macros.html

[2020-10-31 14:51] scopatz commented on #3946
thanks for reporting!

[2020-10-31 15:37] anki-code commented on #3945
@daniel-shimon I thought about it i.e. `cat file | pl!(line + '!') | head`. But after code review and machinery behind macro this looks like huge new design and feature. If my impression is wrong I'll be happy to review parts of code which could achieve this easily.

[2020-10-31 16:46] kip93 commented on #3936
Thanks @scopatz! Those pointers are a really big help (:

I will work on this and let you guys know if and when I have a fix ready.

[2020-10-31 18:48] ajeetdsouza commented on #3910
I've released zoxide v0.5 with xonsh support, so everything should work fine now.

@scopatz is there any way I can get this added to the [website](https://xon.sh/xontribs.html), or is that a curated list?

[2020-10-31 18:49] dyuri commented on #3910
I think it will be added at the next release.

[2020-10-31 18:53] ajeetdsouza commented on #3910
Awesome! Closing the issue.

[2020-10-31 18:53] #3910 closed

[2020-10-31 20:09] datwaft opened #3948 "Input Lag with fresh install in WSL with conda installation"
## System information

WSL 2 Debian 10
Windows 10 Pro 2004

## xonfig

<details>

I don't have any xonfig yet, it is a fresh install.

</details>

## Expected Behavior
Not have any lag, like with zsh or bash (or even fish).

## Current Behavior

There is input lag with the fresh install of xonsh. A very noticeable input lag.

## Steps to Reproduce

1. Install the latest version of conda using:

[c

[2020-10-31 21:53] anki-code commented on #3948
Hi @datwaft ! Please check it out - #3895

[2020-10-31 22:22] datwaft commented on #3948
Thank you! I tried to google it but didn't find anything. That explains it.

[2020-10-31 22:22] #3948 closed

[2020-10-31 22:25] anki-code opened #3949 "os.waitpid invokes unwanted output"
Hi! xonsh spiral is infinite like a xonsh potential!

Just want to let you know that while I worked on [XEP-2 fork](https://github.com/anki-code/xonsh-operators-proposal/blob/main/XEP-2.rst) I've found that `os.waitpid` can produce unwanted output for commands in RC file.

Step by step:

1. I added `__str__` representation to `CommandPipeline` class.
2. Did `xonsh --rc conda_init.xsh`  (default `c

[2020-11-01 02:37] kip93 commented on #3936
Hello again! As you can see above, I just opened a PR with a fix. Only really tested it on my linux machine, but nothing I used should cause any issues with Windows. Let me know what you think!

[2020-11-01 03:05] kip93 commented on #3936
Well, it seems I was wrong, god damn Windows test do not pass ):

I will continue debugging and report back.

[2020-11-01 14:01] Spriithy commented on #3810
Having the same issue here. Is there any fix available at the moment ?

[2020-11-01 14:14] dyuri commented on #3810
I'm currently using `prompt-toolkit` with @bobhy's patch (https://github.com/prompt-toolkit/python-prompt-toolkit/pull/1271), works for me. (The `DeprecationWarning` is annoying, but it's easy to remove.)

[2020-11-01 14:43] anki-code commented on #3924
![image](https://user-images.githubusercontent.com/1708680/97805859-9f054a80-1c69-11eb-9b4b-a6d7ebfbf315.png)

Hello all! Hope your weekend going well.

I made a lot of homework during the week of silence. I took into account all the comments and suggestions in this and other topics. I want to told you about the result.

1. I figured out one new approach that looks the best. I described this appro

[2020-11-01 17:17] anki-code commented on #3924
First feedback on XEP-2:
![image](https://user-images.githubusercontent.com/1708680/97809651-2dd09200-1c7f-11eb-815d-0fbe10c19fe3.png)

[2020-11-01 21:20] kip93 commented on #3936
Hello there! It's me again. I wanted to put down some findings that I discovered while failing to fix Windows support.

Seems like on Windows, prior to version 3.9 of Python, the registry is used to handle the `sys.path` (see [this issue](https://bugs.python.org/issue8901)). I tried several workarounds, but none of them were able to correctly handle the case when an user might explicitly add the s

[2020-11-02 15:50] auneri commented on #3763
Setting `UPDATE_OS_ENVIRON` covers a number of cases, but at least the [issue in finding the correct python](https://github.com/xonsh/xonsh/issues/3763#issuecomment-705586333) remains.

@anki-code Changing casing had no impact; one still has to set `UPDATE_OS_ENVIRON` and it does not address my other case.

[2020-11-02 15:56] gforsyth opened #3952 "Travis is ending (changing?) their free OSS runs"
https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing

The only thing we still run on Travis is `doctr` for managing the doc builds + pushes.  It looks like we'll get some free credits that should tide us over for a while (i can't grok right now if those credits are on a monthly basis or just a one-time thing).  So this might be enough for our purposes, or it might not.

[2020-11-02 16:03] scopatz commented on #3952
yeah, I am hoping that it is enough for us

[2020-11-02 20:34] #3949 closed

[2020-11-02 20:38] anki-code commented on #3391
This issue looks solved.

[2020-11-02 20:46] anki-code commented on #3487
Hi @useredsa!
Could you please install xonsh from master and try again?
[code]
If you still see the lags please run:
[code]
Post here the output please.

[2020-11-02 20:54] gforsyth commented on #3391
Yep, thanks @anki-code !

[2020-11-02 20:54] #3391 closed

[2020-11-02 21:08] anki-code commented on #2582
I can't reproduce this. Looks not actual and should be closed.

[2020-11-02 21:10] anki-code commented on #2558
set_pre_input_hook [looks implemented](https://github.com/xonsh/xonsh/search?q=set_pre_input_hook). This issue looks not actual and should be closed.

[2020-11-02 21:12] anki-code commented on #2498
I can add for this issue that you can use WSL/WSL2 with full linux support on Windows 10.
This issue looks not actual and should be closed.

[2020-11-02 21:17] anki-code commented on #2572
[code]

This issue looks not actual and should be closed.

[2020-11-02 21:51] scopatz commented on #2558
Has anyone fully tested pypy with Readline? That is the bigger issue here, not only the `set_pre_input_hook` problem.

[2020-11-03 08:11] anki-code commented on #2572
Oh, my bad, I can repeat:
[code]

[2020-11-03 19:15] anki-code commented on #3706
Landing page draft:

![image](https://user-images.githubusercontent.com/1708680/98030302-df0f2d80-1e21-11eb-86fc-e9fa9d3c7641.png)

The code blocks are copy-pastable and could be different if we detect Windows browser for example.

[2020-11-03 21:14] anki-code opened #3953 "Compile xontribs"
Hi! xonsh is a giant snail in small conch!

I found that xonsh compile scripts and save it to the `~/.local/share/xonsh/xonsh_script_cache` directory. But xonsh not compiles xsh xontribs. It will be great to compile them too to reduce the speed of start xonsh!

## For community
⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2020-11-03 21:35] scopatz commented on #3953
Yeah! I just noticed this too, @anki-code.  This would be great to have!

[2020-11-03 22:38] anki-code opened #3954 "Universal new lines in captured object output"
Hi! The snail-hole went straight on like a tunnel for some way, and then dipped suddenly down, so suddenly that Alice had not a moment to think about stopping herself before she found herself falling down a very deep conch.

While I'm working on [XEP-2](https://github.com/anki-code/xonsh-operators-proposal/blob/main/XEP-2.rst) I've found that `!().out` returns not original command output. Example:

[2020-11-03 23:11] anki-code opened #3955 "Versioning major versions of xonsh like in Python"
Hi! Every snail wants to know where the conch is sitting.

While I'm working on [XEP-2](https://github.com/anki-code/xonsh-operators-proposal/blob/main/XEP-2.rst) I came to the conclusion that to do the changes without backwards compatibility we need major versions like in python: `python2`, `python3`, etc.

In this way we can release new/alpha/beta/preview version of xonsh that will be called as

[2020-11-03 23:51] daniel-shimon commented on #3954
This is a known and expected feature of python, see  [Universal Newlines](https://www.python.org/dev/peps/pep-0278).

Note in regular python on windows:

[code]

[2020-11-04 06:28] halloleo opened #3956 "In prompt-toolkit Shift-Right (and other Shift + Cursor keys) does nothing in macOS Terminal"
When using prompt-toolkit `Shift-Right` is suppose to extend the selection in emacs-mode. At least it does so in xonsh on Linux (xterm) and of course in Emacs.

However in macOS default Terminal app  `Shift-Right` doesn't do anything.

Is this rather a prompt-toolkit problem? Maybe there is a custom fix possible in the .xonshrc file?

Here the xonfig:

<details>

[code]

</details>

[2020-11-04 07:17] anki-code commented on #3954
Hi @daniel-shimon! I understand that it's expected in Python. I just don't have strong confidence that this difference is expected in the shell:

[code]
I think:
1. This difference should be in the [Tutorial](https://xon.sh/tutorial.html).
2. We should have the method/property to get pure output without universal newline replacing to solve the example above. This is the cause why I suggest to you

[2020-11-04 09:46] useredsa commented on #3487
I can confirm it's working smooth now, although I had stopped using `xonsh`. I may use it again now.

[2020-11-04 10:46] anki-code commented on #3487
Great! Please close this issue if it's solved.

[2020-11-04 10:48] #3487 closed

[2020-11-04 11:27] anki-code commented on #2374
Hello!
This functionality looks very welcome in xontrib. The best way to create xontrib is [to use cookiecutter template](https://github.com/xonsh/xontrib-cookiecutter).

This issue looks not related to core xonsh functionality. Please close this issue.

[2020-11-04 11:31] anki-code commented on #2369
Hi @lazmol !
Could you please install xonsh from master and try again? Install:
[code]
If you still see the lags please run:
[code]
and post here the output please. If no please close the issue.

[2020-11-04 11:40] anki-code commented on #2316
Hello! I can't repeat this behavior and never seen it on xonsh >= 0.9.12.

This issue looks not actual and should be closed.

[2020-11-04 11:47] anki-code commented on #2425
Hello! I can't repeat this:
[code]

[2020-11-04 11:50] anki-code commented on #2427
Hello! I can't repeat this:
[code]
This issue looks not actual and should be closed.

[2020-11-04 11:54] anki-code commented on #2591
Hi @MareinK and @aut0!
Could you please install xonsh from master and try again? Install:
[code]
If you still see the lags please run:
[code]
and post here the output please.

[2020-11-04 11:58] anki-code commented on #2495
This issue looks not refer to xonsh core functionality and should be close.

PR with info about hatch in the docs still welcome.

[2020-11-04 12:00] anki-code commented on #2491
This issue looks fixed duplicate and should be closed.

[2020-11-04 12:25] MareinK commented on #2591
Hi @anki-code, I've installed the git version and repeated most of the timings from my original post.

This is on a different computer, so they might not be directly comparable. I'm on Manjaro Linux now.

There seems to be a small reduction, about 10% in most measurements (except for `xonsh --timings`, which gives much higher values).

`time xonsh` while holding Ctrl+D:

[code]

`time bash` while

[2020-11-04 12:45] anki-code commented on #2591
@MareinK thank you for the fast feedback and the logs!

Not the when you measure the first start you can get x2 time than other runs because it takes time to compile Python code. The best way is to do 3-5 runs and then measure the time.

As I see you have 1 sec on `xonsh --no-rc` and it's strange.

[2020-11-04 13:06] anki-code commented on #2591
Alternative:
[code]
On Ubuntu 20.04 I have around 1 sec with my huge RC and around 0.13 sec with no-rc.

[2020-11-04 13:06] MareinK commented on #2591
No problem!

I ran just `xonsh` a bunch of times in the terminal before doing any of the timings, to account for the possibility of something like that. I also repeated most of the timings a number of times to make sure I didn't have a bad case.

[2020-11-04 13:11] MareinK commented on #2591
Interesting method! I got 0.24 and 0.27 seconds respectively. That is in the order of the commands in your snippet.

[2020-11-04 13:13] anki-code commented on #2591
Hm... In this case I don't understand why you got:

[2020-11-04 15:05] paulkernfeld commented on #2316
I no longer use xonsh (😭) so I don't mind if you want to close the issue. 👍

[2020-11-04 15:11] anki-code commented on #2316
@paulkernfeld thank you for the response! I have no access for this. Please just click close.

[2020-11-04 15:27] paulkernfeld commented on #2316
After using xonsh for a year or two, I migrated back to zsh. I think that xonsh didn't feel as snappy and that I sometimes needed to modify shell scripts before using them in xonsh. I ended up not using the Python scripting functionality enough to make xonsh the right choice for my workflow.

[2020-11-04 15:27] #2316 closed

[2020-11-04 16:10] anki-code commented on #2316
Thanks! JFI I'm using [xontrib-sh](github.com/anki-code/xontrib-sh) to run the scripts from sh-shells. Also I'm using [xontrib-ergopack](https://github.com/anki-code/xontrib-ergopack) that improves my experience with the shell and I don't want to use zsh or fish for this. Finally I'm using [xxh](https://github.com/xxh/xxh) with xonsh that completely change the mindset of using SSH seesions to remo

[2020-11-04 19:43] grg121 opened #3957 "Using Xonsh as a base for a pentesting project. (Ask for advise and oppinions)"
Hello there! I'm Paco, a QA Software engineer.

I'm working on a project for a penetration testing environment tool. I want to send logs to my tool with the command executed on a shell (I don't mind if it is bash, zsh or xonsh) and their outputs (to parse them and log them along with relevant information such as hosts discovered, IPs, vulnerabilities detected, etc...).

I've found various solution

[2020-11-05 09:33] daniel-shimon commented on #3954
What you wrote doesn't seem to be a problem on windows:

[code]

On linux though, we get weird behavior because files shouldn't contain `\r\n` line endings.
I agree it should be easy to get the raw output from a command without python decoding shenanigans. That's what the `raw_out` PR is for.

So `echo -n @(!(head txt).raw_out)` should do what you want.
Currently it doesn't work because the `@()`

[2020-11-05 10:08] anki-code commented on #3954
It will be much better. And we still need the couple of word in the Tutorial about difference between `out`, `output`, `raw_out`.

[2020-11-05 10:13] anki-code commented on #3957
Hi @grg121 ! Could you please describe your desired use case of the shell step by step?

[2020-11-05 10:26] daniel-shimon commented on #3954
Added commit in the PR for this, now on Ubuntu:

[code]

[2020-11-05 10:48] jnoortheen commented on #3931
@scopatz I did check with multiple files. Here are the [results](https://gist.github.com/jnoortheen/5ce9b267a941f9751dadd7bc353193b7)

Loading multiple files did take some time. so the best bet would be to use pickle to compile them and package as part of setup.py build process.  What do you think?

[2020-11-05 11:41] grg121 commented on #3957
Hello @anki-code, thanks for your answer! Yes, it is something like that.

My server will listen to syslog messages and analyze them to find relevant information, let's say, for example, that the IP `172.217.8.164`appear in the input or in the output of a command executed.

So the use case could be:

1. User open the shell and run "nmap -sn 172.217.8.164"
2. Shell send to the server something like

[2020-11-05 12:27] anki-code commented on #3957
Got it! Thank you for detailed description! I heard about solutions for "ssh proxy servers". You can connect to the server via ssh and then use shell or connect to another ssh servers and all what you will do during session will be saved to the logs without regarding what shells you run or what you do after ssh to another servers. Sad but I haven't names. It's like a "ssh bastions" or "ssh proxy"

[2020-11-05 16:35] grg121 commented on #3957
Alright, @anki-code , thanks for your answer, I will check these ssh proxies... and I will think about if it is worth to use xonsh as a base for the auditor project or keep using terminator (or something else).

If anyone else  has anything to share I would be glad to know! thanks!

[2020-11-05 21:43] scopatz commented on #3957
Hi @grg121 - that sounds like a great application for xonsh.

Xonsh really shines in projects where you really need to do a lot of complex logic (relative to things like Bash) and a lot of subprocess calls (relative to Python).

FWIW there is rever ([code](https://github.com/regro/rever/), [docs](https://regro.github.io/rever-docs/)) that is a full project / application written in xonsh, if you ne

[2020-11-05 21:54] scopatz commented on #3931
Are the results total time? Or time per instance?

[2020-11-05 22:09] ajeetdsouza opened #3958 "Importing aliases and events via Xonsh Python library"
I'm developing a plugin for Xonsh, and I'm experimenting with writing it in pure Python to get the benefit of linting, formatting, typechecking, etc. However, `mypy` complains that some identifiers (which are globally available in Xonsh) have not been imported or declared. Is there any way to import these?

- `@events.on_post_prompt` and `@events.on_chdir`
- `aliases`

[2020-11-05 23:24] ajeetdsouza opened #3959 "xonsh does not support type hinting"
I'm writing a plugin for Xonsh in pure Python using the Xonsh library. I've added [type hints](https://docs.python.org/3/library/typing.html) so that I can use `mypy` and other static checkers on it.

However, it seems Xonsh does not support this. Type hints not only improve correctness, but also serve as a form of documentation. Since Xonsh is intended to be a superset of Python, it would be nice

[2020-11-06 01:51] jnoortheen commented on #3931
Per function. It is simply the output from the test function

[2020-11-06 03:45] scopatz commented on #3931
Hmm yeah, well, moving pickles around can be problematic because the bytecode changes.  But maybe it would be better to turn this into a regular Python module than can be imported. Wheels and import caching would make this fast then.

[2020-11-06 03:47] scopatz commented on #3959
Hi there, I believe that the type hit syntax is supported. I do see this bug too, though.

[2020-11-06 03:48] jnoortheen commented on #3931
Yeah that is better. How that will look like? a single py file per xontrib that inherits a base class ?

[2020-11-06 03:52] scopatz commented on #3958
Yep! You can find where these are defined in the API docs. (`xonsh.aliases` and `xonsh.events`), but it is usually best to get them from the builtins module.  That is,

[code]

The reason to do this is because what is in builtins is proxied over to the current XonshSession object, called `builtins.__xonsh__`

[2020-11-06 03:55] jnoortheen commented on #3931
I think we can define the schema as `typing.NamedTuple` and have instances of it for every xontrib in a single file.

[2020-11-06 03:59] scopatz commented on #3931
This sounds like a good plan

[2020-11-06 04:02] #2491 closed

[2020-11-06 04:02] jnoortheen commented on #3931
OK I will create a Draft PR with it.

[2020-11-06 04:04] scopatz commented on #2425
Maybe they were calling help on a module object?

[2020-11-06 04:08] scopatz commented on #3956
This might be a xonsh problem. It probably could be fixed in a xonshrc, but the interface should be the same across platform.  Pull requests welcome!

[2020-11-06 04:18] scopatz commented on #2572
I think it should return `__main__` or the filename.

[2020-11-06 06:44] halloleo commented on #3956
I just found out this seems to be a problem with the vendored prompt-toolkit. When I install the current version prompt-toolkit 3.0.8 into my xonsh environment, everything works as expected. :-)

[2020-11-06 06:52] ajeetdsouza commented on #3958
Thanks! Unfortunately, `mypy` still isn't happy with this, since `builtins` is part of Python and it can't find `aliases` or `events` within the module. I don't think there's a better solution here, so I'm closing this.

I've added `# type: ignore` to pacify `mypy`, but do let me know if you can think of any other way.

[2020-11-06 06:52] #3958 closed

[2020-11-06 07:39] anki-code commented on #2425
It also works:

[code]

[2020-11-06 11:09] andry81 commented on #2427
Now it prints (`0.9.24`):

[code]

[2020-11-06 11:13] anki-code commented on #2427
@andry81 thanks for the new test! The output looks right. Or it's wrong?

[2020-11-06 16:34] andry81 commented on #2427
I am not sure, but the second output w/o the quotes for some reason and the warning is on the same line with the expression.

[2020-11-06 17:04] anki-code commented on #2427
AFAIK it's another issue. In this issue we are talking about `invalid group reference` exception and it is solved.

[2020-11-06 20:59] lazmol commented on #2369
Hi @anki-code,

thanks, got much faster compared to 2,5 years ago. The timings say 0.5s startup compared to 1.6s before.

[2020-11-06 20:59] #2369 closed

[2020-11-06 21:15] ajeetdsouza commented on #3958
Leaving this here in case anybody else needs it:

[code]

[2020-11-06 22:07] laloch commented on #3958
Why not just `aliases = builtins.aliases` or even `from builtins import aliases`?

[2020-11-07 02:13] ajeetdsouza commented on #3958
Tools like mypy or pylint complain if you use `builtins.aliases`, because `builtins` is a standard module that is known not to contain `aliases`.

One could add a comment that disables static analysis on those lines. Each tool requires a different comment format in order to do this. I didn't see the point of doing this - the entire reason I'm adding in this line is to please the typechecker.

Howe

[2020-11-07 03:46] #2427 closed

[2020-11-07 04:17] scopatz commented on #3958
I would skip linting on those lines rather than use `__dict__` personally.

[2020-11-07 09:32] kip93 commented on #3936
I'm back!

During the week I remembered that you can get a copy of Windows 10 without a key for reduced functionality, so I spun up a VM and did some debugging. With this, I found that:

1. On Windows, any sort of wrapper I try to put on the `sys.path` is completely ignored (prior to Python 3.9), probably because of how Windows handles it using the registry.
2. Seems like the error with missing `s

[2020-11-07 09:37] kip93 commented on #3955
Hello @anki-code! Just to put my 2 cents here, the project still has a major version of 0, which (if we follow the [SemVer](https://semver.org/)) means that we are still in a development stage, and backwards compatibility can be broken. Citing from that link:

If we consider that breaking backwards compatibility is a major issue, then we probably should already move to use a 1.x.x version.

[2020-11-07 10:05] grg121 opened #3961 "Error following Tutorial: Write Your Own History Backend"
Hello there,

I'm trying to follow the document [Tutorial: Write Your Own History Backend](https://xon.sh/tutorial_history_backend.html) but got some error when making the first described test.

I've added the file `~/.xonsh/history_couchdb.py` with:

[code]

## xonfig

And my xonshrc:

[code]

When I run xonsh:

[code]

(Installed from sources in a Pipenv)

[code]

Any idea what going on?

[2020-11-07 11:50] grg121 commented on #3957
Hello @scopatz,

I think you may be able to help me with this: I've read that doc: https://xon.sh/tutorial_hist.html#exciting-technical-detail-teeing-and-pseudo-terminals which says there is a `xonsh.teepty` to tee the STOUD of the process that run as subproces. Nevertheless, this class seems to not exists anymore.

I've found this issue you oppened in 2016 https://github.com/xonsh/xonsh/issues/79

[2020-11-07 11:54] laloch commented on #3958
Oh, I see, sorry for the confusion. I didn't read the original post well enough. Yeah, that's a known mypy deficiency. Alas, there seems to be no incentive to fix it.

+1 for suppressing linting rather than accessing `__dict__`.
The best solution would, of course, be to add Xonsh builtins stubs to typeshed.

[2020-11-07 12:59] laloch commented on #3961
Hi @grg121, thanks for reporting. It's a documentation bug.
The current `xonsh.history.base.History.all_items()` prototype is
https://github.com/xonsh/xonsh/blob/f158a8e5e10468cb81a64bf37eae00c8687dea7c/xonsh/history/base.py#L132-L134

So, you need to implement the method as `all_items(self, newest_first=False)`.
I guess the argument is there to instruct the method to return history in reversed or

[2020-11-07 14:48] ajeetdsouza commented on #3958
Fair enough, I've switched to disabling the linter on that line.

I too would appreciate type hinting within Xonsh - not only will the API become easier to use, you might just catch a couple of bugs along the way.

[2020-11-07 15:01] grg121 commented on #3961
Oh! thanks @laloch I will review this and report here if I find a solution!

[2020-11-07 21:47] anki-code commented on #3955
Hi @kip93! Hah, you're right but life a bit complex :)
AFAIK xonsh can't move to 1.0 because some core features require improvement (i.e. subprocess).
And xonsh can't make breaking changes to zero version because it's the main branch and huge amount of users are using it right now.
As result IMHO the one way is to start planning and releasing backwards incompatible releases as new versions.

[2020-11-07 23:58] anki-code commented on #3924
After creating [XEP-2](https://github.com/anki-code/xonsh-operators-proposal/blob/main/XEP-2.rst) I want to read the @scopatz [comment](https://github.com/xonsh/xonsh/issues/3924#issuecomment-716180869) and answer more detailed.

This just an idea. You are not described the benefits behind or arguments why we should support this idea.

We deleted `!` operator in XEP-2 and have the same functionali

[2020-11-08 16:50] jnoortheen opened #3963 "'Window' object has no attribute 'children'"
## xonfig

<details>

[code]

</details>

## Expected Behavior
interactive shell runs without any error

## Current Behavior

I get the above error randomly when `$UPDATE_COMPLETIONS_ON_KEYPRESS = True`

### Traceback (if applicable)

<details>

[code]

</details>

## Steps to Reproduce

1. it happens randomly. sometime doing simple `ls -a` triggers the error

## For community
⬇️  **Please click t

[2020-11-08 21:40] #3963 closed

[2020-11-08 21:42] #3961 closed

[2020-11-09 12:38] jnoortheen opened #3967 "marcel like pipes"
I've known [marcel](https://github.com/geophile/marcel) for sometime and it is cool. Xonsh could get some inspiration from the project especially composing output from subprocess with python functions through pipe. It feels like doing functional programming and it is useful when filtering/formatting output.

Also there is this another project that uses pipes to pass values too. https://github.com/

[2020-11-09 14:06] jnoortheen opened #3968 "autocompletions support for generators"
[PromptToolkit](https://python-prompt-toolkit.readthedocs.io/en/master/pages/asking_for_input.html#a-custom-completer) lets you return generators from autocompleters. But xonsh requires one to return `set`. It beats the purpose of having the env variable `COMPLETION_QUERY_LIMIT` . All the functions will be running and that is not efficient.

## xonfig

<details>

[code]

</details>

## Expected Be

[2020-11-09 14:20] gforsyth commented on #3968
If I remember correctly (it was many years ago) we did this to allow combining results from many completers and de-duping them.  But that certainly doesn't mean we can't `yield from` those sets (or explore a different implementation).

Dropping readline support is a larger discussion issue, but I don't think it needs to block this.  Worst case, we can just exhaust the generator by dumping it into

[2020-11-09 14:56] jnoortheen commented on #3968
I think it is better to use `yield from` from the sets and let ptk handle the rest. Atleast when the shell is PTK we can add wrapper around the existing functions that return sets.

But I just wanted to know the reasons for keeping readline with the project. I will create an issue maybe where one can list what it brings to the table.

[2020-11-09 15:45] jnoortheen opened #3969 "readline shell benefits?"
It will be clear if we summarize the benefits of using readline over `prompt_toolkit`. Previously it would be that it comes with python. But now `prompt_toolkit` ships as part of `xonsh`. It adds maintainance overhead and in the process of abstraction, some features provided by `ptk` is not explicitly shown or not available at all. I just want hear from people who use `readline` shell and what peo

[2020-11-09 15:45] jnoortheen commented on #3969
#3968

[2020-11-09 22:08] kip93 commented on #3955
@anki-code I totally agree that we cannot go willy-nilly breaking backwards compatibility, but talking about a xonsh 2 when there is no xonsh 1 just strikes me as a little odd.

I think this could cause problems with maintaining the two versions, leading to either the xonsh 1 being half finished and as times goes on it misses more and more features as development naturally concentrates on the newe

[2020-11-10 04:04] scopatz commented on #3969
I don't use it as my preferred shell, but I do use it ~1/2 of the time.  A major benefit of readline (in addition to the ones you named) is that it boot much faster than PTK.  So people on slower or reduced compute machines will still be able to use xonsh in a snappy time frame.

[2020-11-10 04:08] scopatz commented on #3967
I am open to ideas here! Are there specific features that you would like to see implemented?

[2020-11-10 04:17] scopatz commented on #3957
Hi @grg121 - yeah, we moved everything to the CommandPipeline object.  You should look there.  There are `.out` attributes of subprocess calls that allow you to get the output of commands.

[2020-11-10 04:19] scopatz commented on #3936
I'll take a look at the PR again

[2020-11-10 04:28] scopatz commented on #2425
Those are strings. It is supposed to work on module objects, which in my testing it does.  For example,

[code]

[2020-11-10 04:29] scopatz commented on #3956
Ahh OK.. PRs to update the vended version welcome!

[2020-11-10 04:34] scopatz commented on #3706
PRs welcome!

[2020-11-10 04:37] scopatz commented on #3924
Given XEP-2 says that it is backwards incompatible (which it is) and you want a xonsh2, I don't know how to approach this in any short time frame.

[2020-11-10 04:40] scopatz commented on #3924
That is to say, is there any way to change this so that it is actionable in the near future? Maybe have something which is mostly backwards compatible, so that we can move toward 1.0 with whatever changes we do want to make.

[2020-11-10 05:18] jnoortheen commented on #3967
Mainly I wanted to have the pipeline chaining as the means to compose functions. I achieve this with [pipe](https://github.com/JulienPalard/Pipe)

![image](https://user-images.githubusercontent.com/6702219/98630444-2f661e00-2341-11eb-9ad1-7be4ed3d155e.png)

But extending this to commands don't work
![image](https://user-images.githubusercontent.com/6702219/98630605-84099900-2341-11eb-8ccf-81d7691c

[2020-11-10 06:29] jnoortheen commented on #3924
I think the decision should be left to user, instead of forcing them to adapt to a behaviour one seem fit.
So making this configurable with some list of choices(string names like `no_new_line`, `raw` ...) and a callback path(to return custom class) would suffice all use cases.

[2020-11-10 10:06] daniel-shimon commented on #3924
@scopatz Why is backwards compatibility a big issue before we're at 1.0? If it's because of the time frame maybe we can split tasks to a few parallel PRs?

[2020-11-10 10:34] jnoortheen opened #3970 "configure codespaces for the project"
https://docs.github.com/en/free-pro-team@latest/github/developing-online-with-codespaces/configuring-codespaces-for-your-project

[2020-11-10 13:22] anki-code commented on #3955
I mentioned xonsh 2 just for example. It could be `xonsh1.1` or `xonsh1.5` like `python3.7`, `python3.8`.

The point about additional efforts to maintaining - this is a backward compatibility fee. And originally I mean XEP-2 that have no new code and it could be the branch from master as has `xonsh1.1` name.

For package managers it could be the distinct package i.e. `pip install xonsh1.1`. This a

[2020-11-10 13:29] anki-code commented on #2425
My last example above with pandas shows the same. You example works for me as well:
[code]

[2020-11-10 14:37] grg121 commented on #3957
Oh, just what I was looking for, thank you very much : )

[2020-11-10 15:58] scopatz commented on #3957
Great! Glad that helped!

[2020-11-10 16:07] #3954 closed

[2020-11-10 16:17] scopatz commented on #3924
Yeah, I 100% agree that we are not at v1.0 yet and so we should feel free to make backwards-incompatible changes.  However, I don't know that we can fundamentally break every xonsh script & module that has ever been written.

I would also like to avoid Python 2 ->3 transition issues, especially in pre-1.0 world.

I guess we could use the current parser to translate older APIs into the newer ones,

[2020-11-10 16:35] scopatz commented on #3967
Interesting.  Would it be OK if you had to wrap the subcommand? That is `as_list | !(head 1)`.  Something like that could be achieved by giving the CommandPipeline object the right API.

[2020-11-10 16:39] jnoortheen commented on #3967
Yes I think that can be a good start for composing them together.

[2020-11-10 18:08] scopatz commented on #3967
We could do something like with the subprocess mode, where there is a formal version of the lang that includes the explicit mode, ie `as_list | !(head 1)`, but if something fails to parse, then xonsh would attempt to autowrap the expressions like `as_list | head 1` into `as_list | !(head 1)`. This might be tricky to jointly implement with the autowrapping of subprocesses, but if someone got this w

[2020-11-10 20:44] #3931 closed

[2020-11-10 23:35] scopatz commented on #3970
Hi @jnoortheen - can you give a little more context here please? Thanks!

[2020-11-10 23:44] scopatz commented on #3924
Also, is there a place I should be giving specific feedback on XEP-2?

[2020-11-11 01:12] jnoortheen commented on #3970
codespaces is a cloud editor. users can contribute without setting up local dev environment.

[2020-11-11 13:18] SolarAquarion opened #3971 "TypeError which is causing xonfig wizard to fail"
[code]

[2020-11-11 15:07] anki-code commented on #3924
If you want to ask questions or point out to grey zones that should be described or improved in the proposal the best way is [to create an issue in the repo](https://github.com/anki-code/xonsh-operators-proposal/issues/new). I'll think about it. We already have a question from laloch [that was answered](https://github.com/anki-code/xonsh-operators-proposal/issues/2).

Other thoughts feel free to p

[2020-11-11 15:43] jnoortheen opened #3972 "Python API for auto-completers"
## xonfig

<details>

[code]

</details>

## Expected Behavior

for registering or removing completers one has to fiddle with `__xonsh__.completers` dictionary. It should have equivalent API as `completer` command.

#3965

## For community
⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2020-11-12 03:03] scopatz commented on #3971
Hi @SolarAquarion - what is the output of `xonfig`?

[2020-11-12 14:20] #3971 closed

[2020-11-15 11:59] grg121 opened #3976 "Some doubts about Xonsh syntax"
Hello there,

I have some doubts about Xonsh syntax:

1. How can I catch a Xonsh command output? For example, I want to have some config block on .xonshrc that check if a xontrib is installed and install it if it isn't:

[code]

2. What is the correct way to import xonsh modules into a xonsh script? For example, if I want to run some code from `xonsh/xontribs.py`, how should I import functions fro

[2020-11-15 19:19] kip93 commented on #3955
Semantic versioning is probably the most popular versioning standard, but not universal. Python itself is an example of a program not following SemVer. See the latest issues about 3.9 dropping features that were deprecated in 3.4, and so breaking back compat. Search online and you can find stuff like [this](https://tirkarthi.github.io/programming/2020/01/27/python-39-changes.html) with more info o

[2020-11-16 01:42] naefl opened #3977 "%autoreload like functionality for rapid prototyping"
Thanks for the fantastic work.

It's very likely that I'm just not good enough in searching issues here/missing the correct keywords so apologies if that's the case in advance.

The one feature that keeps me from switching to xonsh from ipython is the availability of a %autoreload like functionality when using it as a REPL when developing, that recursively imports the modules and its dependencies.

[2020-11-16 09:50] anki-code commented on #3955
Thanks for your thoughts and links @kip93!

[2020-11-16 09:52] anki-code commented on #3955
[**scopatz** comment from another thread](https://github.com/xonsh/xonsh/issues/3924#issuecomment-724807525) that related to xonsh versioning:

The last line is interesting.

[2020-11-16 10:49] anki-code opened #3978 "Option to disabling additional checking of the directory in autocomplete"
Hello! There is a house in New Oceans, they call the Rising Snail!

When I'm using network drives (i.e. [FUSE filesystem over Google Drive](https://github.com/astrada/google-drive-ocamlfuse)) I see lags in xonsh autocomplete. Example:

[code]

It will be great to have an option to disabling additional checking of the directory (I suppose this needed to colorize the path).

## For community
⬇️  **P

[2020-11-16 21:31] anki-code commented on #3924
Just for statistics. I've counted the meaning of `$()` operator in [regro/rever](https://github.com/regro/rever) that written on xonsh. As result only 2 lines (12%) use `$()` operator to get string. All other 15 lines (88%) use `$()` to get argument and have `strip()` or `splitlines()` tails.

<details>

[code]

| File | Line | Meaning |
|---|---|---|
| `rever/conda.xsh` | `envs = json.loads($(con

[2020-11-16 21:54] anki-code commented on #3924
Just for statistics.

1. I've counted the meaning of `$()` operator in [regro/rever](https://github.com/regro/rever) that written on xonsh. As result only 5 lines (30%) use `$()` operator to get string. All other 12 lines (70%) use `$()` to get "arguments" and have `strip()` or `splitlines()` tails.

    <details>

[code]

    | File | Line | Meaning |
    |---|---|---|
    | `rever/conda.xsh` | `

[2020-11-17 04:31] halloleo commented on #3956
Well, teh issue is bettered when using PTK 3.0.8. How would I go about "vendoring" this into the xonsh project? Just copying the `site-packages/prompt_toolkit` files to `xonsh/vended_ptk/prompt_toolkit`?

[2020-11-17 04:41] halloleo commented on #3976
I just tried it, and I can see something iswrong with `xontribs list`: If you wrap that subprocess line in `$(...)` it still writes to the terminal and nothing is captures in Python. :-(

Might be a bug in the underlying implementation of `xontribs list`. You can look at it with `which -a xontrib`.

[2020-11-17 05:03] BrianGallew opened #3979 "Unable to find xontrib.json"
Following the instructions in https://xon.sh/tutorial_xontrib.html?highlight=extensions#tell-us-about-your-xontrib I forked xonsh/xonsh and attempted to edit xontrib.json to provide a pointer to my xontrib, only to discover that xontrib.json is a symlink to xonsh/xontrib.json, which doesn't exist in master.

FWIW, my xontrib can be found at https://github.com/BrianGallew/xonsh_shells.  Once instal

[2020-11-17 06:32] halloleo commented on #3969
`readline` is valuable for people on "dumb" terminals.

 For example if you want to run your beloved xonsh in your beloved Emacs,  `readline` in a shell-buffer is still a feasible option. (I personally have switched to [emacs-libvterm](https://github.com/akermu/emacs-libvterm), but this lessens the integration with Emacs editing a bit.)

[2020-11-17 06:52] halloleo opened #3980 "xonsh with prompt-toolkit does not recognise setting the terminal width on the command line"
In **bash** I can do the following:

    $ stty cols 40
    $ wget http://ipv4.download.thinkbroadband.com/10MB.zip

And the printed progress bar will lie nicely in the width of 40:

    23%  2,489,475    167K/s  eta 48s

If I am in  **xonsh with readline** all is good and happy as well. However when I issue in **xonsh with prompt-toolkit**:

    $$$ stty cols 40
    $$$ wget http://ipv4.download.

[2020-11-17 16:00] jnoortheen commented on #3979
This has been changed in the master. Here is the current version of the docs https://xon.sh/dev/tutorial_xontrib.html?highlight=extensions#tell-us-about-your-xontrib

[2020-11-17 18:20] gforsyth commented on #3980
Thanks for reporting @halloleo -- it sounds like this might be an issue with either/both of `prompt_toolkit` and `wget` -- or is there something particular that xonsh is doing wrong here?

[2020-11-17 18:26] gforsyth commented on #3956
Hey @halloleo -- yes -- although if you are going to do that, can I suggest adding a directive to the `Makefile` that is similar to the one we use to (infrequently) update `ply`?  That way we can have a way of reliably repeating the process.

[2020-11-17 19:35] gforsyth commented on #3977
Hey @naefl -- thanks for raising this.  We don't currently have an `autoreload`, although it should be possible to grab it from `IPython` and package it up as a `xontrib`.

In the interim, you can do

[code]

for _some_ of that kind of functionality (although not "auto")

[2020-11-18 04:54] jnoortheen opened #3982 "semantic versioning"
The recent releases follow `0.9.*` versioning. It should be like patching like fixing any bugs introduced in `0.9` series. But it often introduces breaking changes. Even though xonsh hasn't reached version 1 and hence this behaviour can be justified.
But people have been using xonsh for long time and it could atleast have breaking changes in a minor release like `0.10` ...

It will help people usi

[2020-11-18 14:56] engdan77 commented on #374
Too bad, I'd really love to see support for this sometime in the future 🙄

[2020-11-18 15:30] scopatz commented on #3982
Yeah, I was under the understanding that we are using semantic versioning right now, and that we are in the pre-1.0 state.

[2020-11-18 15:33] scopatz commented on #374
Pull requests very welcome! Since I don't own a Mac this is something that I don't own the capability to work on.  (I wish they would port iTerm2 to Linux)

[2020-11-18 15:40] scopatz commented on #3977
PRs welcome! I think this would make a nice built-in xontrib

[2020-11-18 16:24] jnoortheen commented on #3982
It is good to hear that it is under your radar. Sometime back my PROMPT were broke after upgrading.

[2020-11-18 16:24] #3982 closed

[2020-11-18 16:45] scopatz commented on #3982
Yeah, I think that was a bug rather than intentional

[2020-11-18 17:59] roblabla commented on #374
Heh, don't expect an iterm2 port to happen, it's all objective-c and swift, with deep integration into MacOS' GUI toolkit.

I'll try to see if I can boot my old MacOS and see if I can adapt my old gist to work with the recently merged PR.

[2020-11-18 19:17] anki-code opened #3985 "First filling of CommandsCache takes around 60% of boot time"
Hi! We are the champions my snail! And we'll keep our conch till the end!

I've made some experiments to understand why empty xonsh has around 0.4s to boot on Ubuntu 20:
[code]

As result around 60% time (0.2s) takes reading 3k executable files from PATH in this loopster:

https://github.com/xonsh/xonsh/blob/ee46b17255bc30a383529bfbdbc87fd106446499/xonsh/commands_cache.py#L112-L118

I think this l

[2020-11-18 19:53] anki-code commented on #3985
Interesting fact:

If we wrap the code to timer:
[code]
And run xonsh:
[code]

But if we create distinct py file with the same code:
[code]
We will have:
[code]

0.14s vs 0.015s - why we can see so significant difference?

[2020-11-18 20:06] anki-code commented on #3985
@scopatz what do you think about difference above?

[2020-11-18 20:55] scopatz commented on #3985
Yeah, this does seems like an issue on certain platforms. What are the contents of snail.py?

[2020-11-18 20:55] scopatz commented on #3985
FWIW, I am not seeing these kinds of issues, but I think my PATH is much smaller

[2020-11-18 21:44] anki-code commented on #3985
@scopatz

1. [snail.py is above](https://github.com/xonsh/xonsh/issues/3985#issuecomment-729916942)

2. The PATH directories is normal for Ubuntu + conda:

[code]

3. JFYI Python 3.8.2, xonsh from master

[2020-11-19 00:00] naefl commented on #3977
Thanks for the pointers @scopatz / @gforsyth I'll have a look at it

[2020-11-19 00:16] gforsyth commented on #3977
Awesome! Let us know if you have any questions (and please feel free to open "half-finished" PRs if you need pointers)

[2020-11-19 03:47] alannt777 commented on #3880
I am getting this error:

[code]

[2020-11-19 03:48] alannt777 commented on #3880
when I run `ls`

[2020-11-19 13:02] ashwinvis opened #3987 "Support for zsh style multiple dot parent directory paths"
This is a suggestion. In prezto (and possibly oh-my-zsh too), paths like `...`, `....` are immediately transformed into `../..` and `../../..` and so on. I did not see way to do that in xonsh, but I managed to add it as a completer in xonsh.

c.f.: https://github.com/sorin-ionescu/prezto/blob/0a405494cae54e208ff550c1ba83380ed115410a/modules/editor/init.zsh#L203-L211

In oh-my-zsh `...`, `....` are

[2020-11-19 13:33] ashwinvis commented on #3987
See also https://asciinema.org/a/LP9sM4hmLgSXqkXhJZR1rL0MK

[2020-11-19 14:31] jnoortheen commented on #3987
I got around this shortcoming with shortcuts. using `alt+up `

[2020-11-19 14:34] ashwinvis commented on #3987
@jnoortheen Could you elaborate?

[2020-11-19 14:43] jnoortheen commented on #3987
I have this keybinding
[code]

[code]

[2020-11-19 15:24] alannt777 commented on #3798
Hey @scopatz I have the same problem. I also had the same problem with iPython. The issue seems to explained in detail [here](https://github.com/ipython/ipython/issues/12049)

[2020-11-19 18:53] daniel-shimon commented on #3987
This might also be implemented using abbrevs

[2020-11-19 22:17] anki-code commented on #3985
I tried to repeat this in docker and on virtual ubuntu server but with no similar result.

On my local I see that the speed of the loop is different for shell type:
[code]

I tried to install xonsh using local pip instead of conda but I see this big speed difference also.

This bug is abomination.
I'm going to close this issue because don't know how to repeat by using docker and have no additional

[2020-11-19 22:17] #3985 closed

[2020-11-19 22:22] anki-code commented on #3987
@jnoortheen nice approach! xontrib is very welcome!

[2020-11-20 05:37] halloleo commented on #3956
Ok, I had a look at the Makefile.

So, I don't _copy_ the prompt_toolkit-files into the xonsh tree, but rather _issue the following git command_ instead:

    git subtree pull --prefix xonsh/vended_ptk/prompt_toolkit https://github.com/prompt-toolkit/python-prompt-toolkit.git master --squash

(This command then goes into the Makefile as well.)

[2020-11-20 06:24] jnoortheen commented on #3987
I have this [xontrib-hist-navigator](https://github.com/jnoortheen/xontrib-hist-navigator) to switch back and forth. I will add the keyboard shortcut Alt+up to it.

[2020-11-20 06:30] halloleo commented on #3980
Actually as it turns out, this is neither a `xonsh/prompt_toolkit` nor a `wget` issue, but a issue with my terminal emulator `emacs-libvterm`.

The emulator seems to start the shell before it is fully initialised. See [Shell starts up before vterm completely finishes initialising · Issue #452 · akermu/emacs-libvterm](https://github.com/akermu/emacs-libvterm/issues/452).

Sorry for the noise.

[2020-11-20 06:30] #3980 closed

[2020-11-20 07:35] jnoortheen commented on #3936
I use the following setup and it helps me to avoid PATH problems https://gist.github.com/jnoortheen/8b5220f200bc5c9e121a7722836bf674

[2020-11-20 10:19] WouldYouKindly opened #3988 "ulimit builtin is inconsistent with bash"
Hi!

`ulimit -n` in bash shows the correct number of max open files, while in xonsh it shows `unlimited`.

Mac OS Catalina 10.15.7

## xonfig
<details>

[code]

</details>

## Expected Behavior
[code]

## Current Behavior

[code]

### Traceback (if applicable)

<details>

[code]

</details>

## Steps to Reproduce

## For community
⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  c

[2020-11-20 11:57] jnoortheen commented on #3987
moved to the up command to [xontrib](https://github.com/jnoortheen/xontrib-hist-navigator) with version 0.6.0

[2020-11-20 12:04] laloch commented on #3988
Hi @WouldYouKindly, thanks for reporting.
The `ulimit` builtin only displays what `resource.getrlimit` reports. So this may be a bug in the Python standard library. Can you please verify my assumption, that the incorrect value comes from `resource.getrlimit`?
[code]

[2020-11-20 12:25] ashwinvis commented on #3987
Thanks @jnoortheen. I tried your xontrib. One obvious drawback with this approach is, it is usable with only one command: `cd`. One cannot make use of it with other commands for example `git`.

@daniel-shimon's suggestion of `abbrevs` look lovely and easy to implement:

[code]

Here the only trouble is the transformation works upon a space / enter, and then I have to press backspace to continue sp

[2020-11-20 13:21] laloch commented on #3988
You can also verify the correctness of the values using
[code]

[2020-11-20 13:31] daniel-shimon commented on #3987
Since this is relevant to the abbrevs key, maybe we can have a second argument like `abbrevs['...', '/'] = '../../'`?
This would also need to collapse the final `/` if it was used which is kinda weird.

Another option is to somehow specify that the last char should trigger the expansion, like `abbrevs['...'] = Abbrev('../../', expand_on_final_char=True)`, this seems a bit more intuitive

[2020-11-20 13:36] jnoortheen commented on #3987
instead we can also callbacks in the abbrevs that checks for custom conditions. I also wanted to extend abbrevs with glob/regex/callback . In some places it needs a context to control the expansion.

[2020-11-20 13:51] dyuri commented on #3988
Or it might be bash's "bug":
[code]

While in xonsh:
[code]

[2020-11-20 14:27] laloch commented on #3988
@dyuri, you're right. It's the same here. `ulimit` in bash doesn't seem to support combining `-S` and `-H` arguments.

[2020-11-21 10:02] jnoortheen opened #3989 "PTK clipboard integration"
## xonfig

<details>

[code]

</details>

## Expected Behavior

PTK is able to use [system's clipboard](https://github.com/prompt-toolkit/python-prompt-toolkit/blob/master/examples/prompts/system-clipboard-integration.py) with pyperclip library. I'd expect the same with xonsh.

## Current Behavior

The PTK shell doesn't fillup the clipboard param.

### Traceback (if applicable)

<details>

[code]

[2020-11-21 16:36] anki-code commented on #3988
JFYI on ubuntu:
[code]

[2020-11-21 19:25] roblabla commented on #374
The PR helps a lot! There's just one small problem now: Setting $PROMPT from an `on_pre_prompt` hook doesn't affect the prompt immediately - instead, it takes effect on any prompt shown *after* the current one. E.G. with the following hook:

[code]

The first shell will **not** have HELLO_FROM_PREPROMPT, only the second prompt will have it:

[code]

This delayed effect is a problem: we need to inj

[2020-11-21 19:34] anki-code commented on #3945
@scopatz give your thoughts please. I know new operators are not very welcome but I haven't more beautiful way. May be you thought about something like mix of aliases and macro before?

[2020-11-22 12:18] laloch commented on #3988
@anki-code, that's due to the fact that `ulimit` in bash displays soft limits by default, whereas Xonsh defaults to hard limits.

[2020-11-22 19:01] grg121 commented on #3976
Hello @halloleo, thanks for answering! Yeah, it seems that the xontrib command itself isn't executed as a regular command, I've noticed that when you check the history entry for these commands, the output and return value are `None` and 0, I've checked what you proposed but I'm not understanding the code of the xontrib module...

[code]

As far as I understand, `_MAIN_XONTRIB_ACTIONS[ns.action](ns

[2020-11-22 20:39] carmenbianca commented on #3907
Created a PR here: https://github.com/prompt-toolkit/python-prompt-toolkit/pull/1291

@scopatz There also lives prompt-toolkit code inside of Xonsh. Should I create a separate PR against Xonsh to fix this, or will code from upstream slowly make its way back to Xonsh?

[2020-11-24 02:42] halloleo commented on #3956
Sorry, running into a problem:

    git subtree add --prefix xonsh/vended_ptk/prompt_toolkit https://github.com/prompt-toolkit/python-prompt-toolkit.git master --squash

adds an additional directory level: i.e. what was before in `xonsh/vended_ptk/prompt_toolkit`  is now in `xonsh/vended_ptk/prompt_toolkit/prompt_toolkit`.

 I guess it is safer just to copy the files into the proper dirctory - but

[2020-11-24 18:53] gforsyth commented on #3989
Happy to see a more configurable option here.  In the meantime, it is possible to override the default (which is the `prompt_toolkit` `InMemoryClipboard`):

[code]

[code]

[2020-11-25 07:25] grovesteyn commented on #1619
This issue (as described above) still exists in the latest version.

Ubuntu 20.04
`
+------------------+----------------------------------+
| xonsh            | 0.9.24                           |
| Python           | 3.8.5                            |
| PLY              | 3.11                             |
| have readline    | True                             |
| prompt toolkit   | 3.0.5

[2020-11-25 07:28] grovesteyn commented on #1619
This issue still exists as described above.  Would be great to get it working.

Ubuntu 20.04

xconfig output:
+------------------+----------------------------------+
| xonsh            | 0.9.24                           |
| Python           | 3.8.5                            |
| PLY              | 3.11                             |
| have readline    | True                             |
| prompt t

[2020-11-25 07:40] grovesteyn opened #3991 "Taskwarrior tab completion"
This issue still exists as described in previous issue (see below).  Would be great to get it working.

Ubuntu 20.04

xconfig output:
+------------------+----------------------------------+
| xonsh            | 0.9.24                           |
| Python           | 3.8.5                            |
| PLY              | 3.11                             |
| have readline    | True

[2020-11-26 02:21] scopatz commented on #3991
Thanks for reopening @grovesteyn! Is this the kind of thing that would make a good xontrib?

[2020-11-26 05:43] grovesteyn commented on #3991
I guess that depends on the nature of the problem. Can one use a xontrib to fix a bug?
What happens is that bash returns the appropriate list of completions, but somehow, when the completion is selected it overwrites part of the end of existing line, rather than completing it neatly. It looks like it has something to do with the location at which the completion is inserted.

[2020-11-26 15:13] scopatz commented on #3991
Ok yeah that sounds more like a general bug than a taskwarrior issue.  A minimal, real example would help a lot.

[2020-11-26 17:46] #3989 closed

[2020-11-26 21:18] gforsyth commented on #3991
I've hit this recently when trying to use test name completion using argcomplete and pytest -- I'll try to push up a fix this weekend

[2020-11-27 07:03] grovesteyn commented on #3991
A  simple example from Taskwarrior:

`task add "test" proj:<tab>`
should complete as: `task add "test" proj:Admin`
But instead, what I get is: `task add "test" Admin`
If I add an "A" after the colon before hitting tab ("Admin" is my only project starting with an "A") then it works correctly

[2020-11-28 00:41] gforsyth commented on #3991
Thanks for the example, @grovesteyn ! That tracks with my issues, also. We don't currently split on colons when calculating replacement length, hence the issue here

[2020-11-28 16:19] anki-code commented on #3706
New concept:

![xonsh-landing-anki-code-2020-11-28](https://user-images.githubusercontent.com/1708680/100520411-96dbf480-31ae-11eb-92a1-1e392692fada.png)

Here I chosen similar colors with the current "landing page" but make the style more strict.

[2020-11-29 17:05] anki-code commented on #3985
After new experiments I've found that 50% of time (0.2s / 0.4s) takes conda init hook in xonsh. After disabling conda hook I got normal 0.2s speed start.

[2020-11-30 14:59] n0x32schneider opened #3999 "ssh interaction causes 100% CPU and growing memory usage (until out of memory)"
I am a little short on time, therefore I will omit some things, and fill out the blanks later, in case it is neccessary. This issue does not seem to be xonshs fault, but xonshs handling of it is problematic

## xonfig

<details>

+------------------+-----------------+
| xonsh            | 0.9.24          |
| Python           | 3.8.6           |
| PLY              | 3.11            |
| have readlin

[2020-11-30 18:34] bestlem commented on #3946
I think the cd completer is failing in the same way in subproc mode

[2020-11-30 18:41] anki-code commented on #3999
It will be great to have repeatable test using docker container with xonsh and with ssh server. For example you can get docker-compose and Dockerfile for this from [xxh/xxh-dev](https://github.com/xxh/xxh-dev).

[2020-11-30 18:49] bestlem commented on #3267
I just had this.

I think the issue is that a shell gets called to run xonsh and if that shell is zsh, bash or tcsh (and possibly others) then that shell gets initialised and that will include a startup file in /etc. These startup files in macOS include calls to path_helper and to your startup files. If you setup conda in your bash or zsh+ files then that setup is there before xonsh starts.

I 'so

[2020-11-30 20:56] anki-code opened #4000 "Using fastest json library to increase the speed of json history"
Hi! I am a snailger, And I ride, and I ride, I ride through the ocean backsides, I see the conchs come out of the sky.

What about using fastest json library to increase the speed of json history?

For example:

* orjson - https://github.com/ijl/orjson - the fastest Python library for JSON.
* ujson - https://pypi.org/project/ujson/ - UltraJSON is an ultra fast JSON encoder and decoder written in p

[2020-11-30 21:18] anki-code opened #4001 "How to convert xonsh history from json to sqlite?"
Hi! Smells like conch spirit!

I think this should be frequent question but I've not found the answer. How to convert history from json files to sqlite database?

## For community
⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2020-12-01 22:05] bestlem commented on #3595
Just as a note for others who might find the same issue I had. It is not a bug in xonsh but a feature in emacs.

It is not just macOS but on non Microsoft Systems emacs  call to sanitise shell arguments `shell-quote-argument` uses \ escaping to deal with spaces - note that it also escapes other non posix filename characters so makes sense for that consistency, but with unicode filenames that is br

[2020-12-02 15:10] gforsyth commented on #3956
Sorry, @halloleo -- I missed this.  What if you do:

[code]

instead?  I'm also not attached to the directory name of "vended_ptk" -- it's pretty obvious that we vended it

[2020-12-03 06:11] jnoortheen opened #4003 "Using Entrypoints to discover and load Xontribs"
# Feature Request
- Currently making a xontrib discoverable to users require making a PR to the main repo. This is different from other popular projects(pytest, flak8, etc.,). Can we start using setuptools' entrypoints group feature to discover xontribs ?

## Advantages
- no need for extra PR and complex xontribs loading mechanism
- Could use setuptools to find and load packages.
    i. Currently

[2020-12-03 06:16] jnoortheen commented on #3278
Oh biy! I am seeing this issue only now.
I also wanted to have a nice wrapper for aliases and was looking for lightweight library. At the last I've created https://github.com/jnoortheen/arger . I think finally now it is ready for general use.
Can we vendor this to solve the issue ?

[2020-12-03 07:48] jnoortheen opened #4004 "logging support"
## xonfig

<details>

[code]

</details>

It will be useful to have the tracebacks logged to a file instead of asking to use `$XONSH_SHOW_TRACEBACK = True` and rerun the session. It will be easier to debug issues. One could use a lazy logger to limit the startup impact.

## For community
⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2020-12-04 00:32] Esfo opened #4005 "Pandas syntax incompatibility"
## xonfig

<details>

[code]

</details>

## Expected Behavior

Functional pandas syntax for referencing dataframe coordinates, as is in python.

## Current Behavior

xonsh can't seem to handle pandas syntax since I switched to python 3.9. I get similar behavior when referencing a column of an imported dataframe. Such as `t.loc[:,'hi'] * 4`
### Traceback (if applicable)

running xonsh/0.9.24 in li

[2020-12-04 14:55] laloch commented on #4004
Hi @jnoortheen, do you think `xog` xontrib  (#3896) would suit your needs?

[2020-12-04 15:06] laloch commented on #4004
You can, of course, use [`$XONSH_TRACEBACK_LOGFILE`](https://xon.sh/envvars.html#xonsh-traceback-logfile) variable without using the xontrib. The xontrib only creates temporary file for the log and adds `xog` command to print it.

[2020-12-04 15:07] jnoortheen commented on #4004
I have checked the code but I don't get where the traceback gets written to the file.

[2020-12-04 15:08] laloch commented on #4004
See `$XONSH_TRACEBACK_LOGFILE` :wink:

[2020-12-04 15:20] jnoortheen commented on #4004
Oh I see that now :)
But it obviously needs to be the default way right. Or atleast we can update the message like `set $XONSH_TRACEBACK_LOGFILE or use xog in order to record tracebacks` or something similar.

[2020-12-04 15:23] laloch commented on #4004
The message about `$XONSH_TRACEBACK_LOGFILE` is already there:
https://github.com/xonsh/xonsh/blob/286b177555691a905cbe5045c35a7ffee0a1dc97/xonsh/tools.py#L988-L992

[2020-12-04 17:31] anki-code commented on #3706
New version of new concept of the xonsh landing page:

![20201204](https://user-images.githubusercontent.com/1708680/101194882-aa380580-366f-11eb-88c9-c32fe389aa0a.png)

[2020-12-06 18:12] anki-code commented on #3706
@scopatz @melund @laloch what do you think about this concept? What is missed? What should be changed?

[2020-12-06 21:48] anki-code commented on #4001
My solution for xonsh 0.9.24:

1. You have json backend for history.
2. Add `$XONSH_HISTORY_BACKEND = 'sqlite'` to `.xonshrc`
3. Run xonsh
4. Exit from xonsh and open bash
5. `cd ~/.local/share/xonsh` and run vim `json2sqlite.xsh` with:
[code]

6. Run `xonsh json2sqlite.xsh`
7. Optionally: `rm xonsh-*.json json2sqlite.xsh`

[2020-12-06 21:48] #4001 closed

[2020-12-06 22:21] anki-code commented on #4000
Load time on 2785 history json files:
* json - 0.62s
* ujson - 0.52s
* orjson - 0.50s

[2020-12-07 08:32] anki-code commented on #4005
I can repeat:
[code]

[2020-12-07 16:48] anki-code commented on #4001
Drop duplicates from sqlite history (xonsh 0.9.24):
[code]

[2020-12-08 16:36] grg121 opened #4007 "assert False Error using custom appimage"
Hello there, I'm having troubles building a custom app image for Xonsh with additional pip dependencies.

I want to install and load (among others contribs, the [powerline2](https://github.com/vaaaaanquish/xontrib-powerline2) plugin. Which I've tested and worked well in the official appimage for `xonsh/0.9.24`. Nevertheless, if I try to build the app image using the following:

## Dockerfile
[code

[2020-12-08 16:42] AstraLuma commented on #4007
I've always avoided the parser. AppImage actually mounts--xonsh is not running in a container or from zip.

[2020-12-08 16:43] gforsyth commented on #4007
Whoop, sorry, I should've read the traceback more carefully!

[2020-12-08 16:43] gforsyth commented on #4007
@grg121 can you try building this on python 3.8 instead and see if it works?

[2020-12-08 16:51] grg121 commented on #4007
EY @gforsyth you're rigjt, I didn't realized that the official image is built with 3.8, I've just tried extracting both appimages and looking for differences and it seems that the only difference is the python version.

[code]

I'm going to build it with python 3.8 and return here, thanks!

[2020-12-08 17:23] anki-code commented on #4007
The xonsh AppImage was built by [regro/rever](https://github.com/regro/rever) using [appimage.xsh](https://github.com/regro/rever/blob/master/rever/activities/appimage.xsh).

[2020-12-08 18:00] grg121 commented on #4007
Hello there!

Yes, I tried building the app image with python 3.8 and it worked just fine! I imagine that the problem is with pytho3.9 then.

I'll check that appimage,xsh script @anki-code, thank you very much!

Best regards

[2020-12-09 07:55] jnoortheen opened #4008 "rich's console.print not working in interactive mode"
rich - https://github.com/willmcgugan/rich

## xonfig

<details>

[code]

</details>

## Expected Behavior
expected to print the colored text
![image](https://user-images.githubusercontent.com/6702219/101597999-7e28d580-3a1d-11eb-9fd6-e9782a4aa97f.png)

## Current Behavior

Running this interactively
[code]
raises error

### Traceback (if applicable)

<details>

[code]

</details>

## Steps to Rep

[2020-12-09 08:17] anki-code commented on #4008
When I run:
[code]
I have no colors or italic red in xonsh.
I have colors and italic red in python.

[2020-12-09 14:22] gforsyth commented on #4007
Thanks for helping out @anki-code !  I'm going to close this out @grg121 -- please feel free to ping here if you have further issues.

[2020-12-09 14:22] #4007 closed

[2020-12-09 21:16] jnoortheen commented on #4004
I meant this

[2020-12-10 20:07] anki-code commented on #2895
I've made a try to disable lazyasd and have some success with xonsh 0.9.24 on Linux.

1. Added `__new__(self, load, ctx, name)` to `LazyObject` class that returned just `d["load"]()`.
2. The lazy imports in `lazyimps.py` replaced to the ordinary import.
3. The code should be reordered in a few scripts because without "lazy" the order has meaning.

After these steps the command that described in th

[2020-12-10 22:06] AstraLuma opened #4011 "prompt_ret_code: <xonsh.history.json.JsonCommandField object at 0x7fdce67b3310>"
[code]
v0.9.24

## For community
⬇️  **Please click the 👍 reaction instead of leaving a `+1` or 👍  comment**

[2020-12-11 17:19] grg121 commented on #3957
I finally decided to use xonsh as a base for my project along with XXH, I will use a modified history backend to store the command execution in the format that I need and merge remote xxh-xonsh logs when connecting to outside hosts.

Thanks for your help!

[2020-12-11 17:19] #3957 closed

[2020-12-11 17:19] #3976 closed

[2020-12-11 19:24] anki-code commented on #2895
hi! During last days I dive deeper into the error that we got when try to run xonsh binary that created by Nuitka:

After tens of experiments I've found that the call:

[code]
is working in Python but is not working in xonsh binary from Nuitka.

The issue is in `dict(...)` constructor logic. Unlike most of `LazyObject` use cases the dict constructor makes the series of calls to `LazyObject`. Durin

[2020-12-12 13:44] willmcgugan commented on #4008
Author of Rich here. Can you run the following command (requires Rich v9.4.0) and paste the output here...

[code]

[2020-12-12 14:04] jnoortheen commented on #4008
Sure. Here it is
![image](https://user-images.githubusercontent.com/6702219/101985928-db888500-3cb0-11eb-90d4-2c954d5ccd9f.png)

it seems all OK here.

When ran the same inside xonsh shell (it is like ipython)
![image](https://user-images.githubusercontent.com/6702219/101985973-138fc800-3cb1-11eb-9a70-4eacc7a6292e.png)

[2020-12-12 14:11] anki-code commented on #4008
Hi! It's inspiring! My log:

<details>

![image](https://user-images.githubusercontent.com/1708680/101986082-d3264f00-3c9c-11eb-9f93-c74312566a6a.png)

</details>

I see additional interesting thing that if I repeat the running of rich there is I/O error.

[2020-12-12 15:07] willmcgugan commented on #4008
It looks like Rich has detected (incorrectly) that is not running on a terminal. I think this may be because Xonsh has wrapped sys.stdout with a proxy class (shell._TeeStd) that doesn't declare itself to be a terminal. The fix might be to add an `isatty` method to `TeeStd` that returns True. The Xonsh devs may be able to comment further.

The traceback may be a related issue. The Console class wil

[2020-12-12 16:15] jnoortheen commented on #4008
Yes that seems to be the case.
![image](https://user-images.githubusercontent.com/6702219/101988989-50fd5100-3cc3-11eb-8cc3-657a92f12300.png)

We can wait for core members to respond.

[2020-12-13 06:37] jnoortheen opened #4014 "declutter and organise ENV variables based settings"
as of now the default variables are defined inside a big dict here `xonsh/environ.py:632`. It doesn't do any organisation of the variables.

I want to organise them into groups like done in https://takoshell.org/documentation.html#section_27 . We can create a custom class (Settings) that gets value from env variables or return a default value. This singletons can be passed around/imported.

It can