[2015-03-09 09:09] jalanb opened #1 "Installation failed using pip"
[code]

[2015-03-09 09:12] jalanb opened #2 ""TypeError: 'NoneType' object is not iterable" on first run"
[code]

[2015-03-09 09:48] paradoxxxzero commented on #1
The readme.rst is not packaged.

![screenshot from 2015-03-09 10 45 26](https://cloud.githubusercontent.com/assets/271144/6552758/ce7d9424-c649-11e4-9feb-a7d062052924.png)

[2015-03-09 11:39] andybak commented on #1
I'm getting a different error on Mac using Python 2.7:

UnicodeEncodeError: 'ascii' codec can't encode characters in position 28-39: ordinal not in range(128)

Shall I open a separate ticket?

[2015-03-09 12:11] abingham opened #4 "`ls` doesn't work"
I've installed xonsh using `setup.py` from a git clone. When I start xonsh I first see some noise about `/etcc/bash_completion`:

[code]

I can live with this. A much bigger problem (and surprise) is that `ls` doesn't seem to work:
[code]

`which ls` reports that it's using `/bin/ls`. This is on OS X Yosemite, python 3.4 installed via homebrew.

[2015-03-09 12:18] paradoxxxzero commented on #1
I think this is python 3.4 only

[2015-03-09 14:47] aufrank commented on #1
I get the error on Mac using Python 3.4
[code]

[code]

[code]

[2015-03-09 18:31] #1 closed

[2015-03-09 18:37] scopatz commented on #2
Hi @jalanb - what kind of system are you on? Also what does this output:

[code]

[2015-03-09 18:43] scopatz commented on #4
Ahh, so ``ls`` is aliases by default to ``ls --color=auto -v``.  I bet the ``-v`` option is not supported on mac.  Can you confirm this please by doing the following in xonsh:

[code]

You should see normal ls output.  I can change the alias default easily.

Also, would you mind making a new issue for the bash completion on macs? Thanks!

[2015-03-09 18:44] scopatz commented on #1
Thanks for solving this.  Let me know if I need to push a new pip package.

[2015-03-09 19:20] abingham commented on #4
Deleting the alias seems to fix the problem.

[2015-03-09 19:21] abingham opened #5 "Complaints about missing bash_completion on startup"
I've installed xonsh using setup.py from a git clone. When I start xonsh I first see some noise about /etcc/bash_completion:

[code]

This is on OS X Yosemite, python 3.4 installed via homebrew.

[2015-03-09 19:21] abingham commented on #4
I've create a new issue for the bash_completion stuff: #5

[2015-03-09 19:48] scopatz commented on #4
Thanks!  I have pushed up what I think is a fix for the problem.  Would you mind testing it out?  You can just pull from master.

[2015-03-09 19:48] scopatz commented on #5
I'll look at this later tonight.

[2015-03-09 20:03] abingham commented on #4
That seems to fix it. Thanks!

[2015-03-09 20:05] scopatz commented on #4
Awesome!

[2015-03-09 20:05] #4 closed

[2015-03-09 22:51] jamiees2 opened #6 "Aliases return repr output (also pipes do not work properly)"
I added a function which returns a simple string into the aliases, `aliases["hello"] = lambda arg, stdin=None: ("Hello World!", None)` returns `'Hello World!'` and not `Hello World!` as expected.

Piping this output to cat gives an error `AttributeError: 'str' object has no attribute 'fileno'`

[2015-03-10 00:44] scopatz commented on #5
OK, please try the latest master and let me know how it goes.  6a5803b should fix the issue.

[2015-03-10 01:05] scopatz commented on #6
Thanks for reporting @jamiees2. Are you working from the repo or pip or conda?

[2015-03-10 01:05] jamiees2 commented on #6
From the repo.

[2015-03-10 02:57] dahlia opened #7 "Dependencies should be declared by package metadata"
xonsh requires ply both at runtime and install-time.  It makes hard to install xonsh using [pipsi][].  There are `install_requires` (runtime dependencies) and `setup_requires` (dependencies for invoking setup.py script) keywords provided by setuptools.  It would be better if dependencies are declared using these keywords.

[pipsi]: https://github.com/mitsuhiko/pipsi

[2015-03-10 03:08] scopatz commented on #6
Ok! I think I have this working now and subprocess and callable aliases playing nicely together.  Would you mind checking out my 'pipes' branch?

[2015-03-10 03:09] scopatz commented on #7
These are setuptools only, correct?

[2015-03-10 03:44] scopatz commented on #7
Ok @dahlia, can you try it now please?

[2015-03-10 03:57] dahlia commented on #7
@scopatz Now it does work well!

[2015-03-10 03:57] #7 closed

[2015-03-10 03:59] admire93 opened #8 "FileNotFoundError while install xonsh via pip"
`$ pip install xonsh`  throw me a error.

[code]

[2015-03-10 04:04] scopatz commented on #7
Great!

[2015-03-10 04:05] dahlia opened #9 "Symbol not found: rl_completion_suppress_append"
[code]

[2015-03-10 04:13] scopatz commented on #8
I think that this is a duplicate of #1 and #3. The current master should work. Please let me know either way!

[2015-03-10 04:14] scopatz commented on #9
Are you on a mac, out of curiosity?

[2015-03-10 04:15] #8 closed

[2015-03-10 04:16] admire93 commented on #8
thanks!

[2015-03-10 04:18] dahlia commented on #9
Yes, I’m on Mac.

[code]

[2015-03-10 04:57] scopatz commented on #9
Hi @dahlia - I have a potential fix on my 'rl' branch.  Are you able to test it out?

[2015-03-10 06:27] scopatz commented on #2
Ok I believe I have a fixed for this in eefe989, which is now on master. Could you try it out @jalanb and let me know if it works? Thanks!

[2015-03-10 06:34] abingham commented on #5
Commit 6a5803b fixed the problem, but then it reappeared with eefe9891.

[2015-03-10 06:37] scopatz commented on #5
Hmmm, same exact issue?  That doesn't make much sense...can you try a clean install, please, if you didn't?

[2015-03-10 06:46] abingham commented on #5
Yeah, I couldn't see how the last commit broke things either. A clean install fixed things. Thanks!

[2015-03-10 06:47] scopatz commented on #5
Sweet! Thanks again for reporting.

[2015-03-10 06:47] #5 closed

[2015-03-10 09:17] jamiees2 commented on #6
Neat! works very well!. Only issue i noticed is that running `hello` outputs with a newline, while `hello | cat` does not. This isn't a big problem, bot maybe it should be unified?

[2015-03-10 09:53] jamiees2 commented on #6
See this pull request: https://github.com/scopatz/xonsh/pull/10
I used output redirection instead of returning a tuple, this makes it way easier to write aliases.

[2015-03-10 12:10] jalanb commented on #2
I'm on Ubuntu 12.04.5 LTS, the python I was using for that command is version 3.4.2, and am happy to say the problem is now fixed

[2015-03-10 12:10] #2 closed

[2015-03-10 12:18] abingham opened #12 ".xonshrc parse error when function arguments are on new line"
If my `.xonshrc` looks like this:
[code]
then it works as expected. (BTW, I'm mostly guessing as to how .xonshrc is supposed to work.)

However, if I put `user='me')` on a new line like this:
[code]
then I get an error on xonsh startup:
[code]
`xonsh` still starts as you can see, but my prompt is ignored.

[2015-03-10 13:10] paradoxxxzero commented on #1
Yeah I think a 0.1.1 wouldn't hurt

[2015-03-10 15:03] mbollmann opened #13 "Multi-line input never terminates"
When starting a multi-line input, I can't seem to ever get out of multi-line mode no matter how many times I press 'enter'.

I tried to do some good old print-debugging in `shell.py`, outputting the contents of `col` and `buf` [immediately after line 106](https://github.com/scopatz/xonsh/blob/master/xonsh/shell.py#L106), and `col` is always zero no matter what I entered before. So it seems that `b

[2015-03-10 17:37] dahlia commented on #9
It still raise the same error, but with different traceback:

[code]

[2015-03-11 00:34] scopatz commented on #2
Great!

[2015-03-11 01:32] scopatz commented on #6
fixed with cdc039c, thanks for all the help @jamiees2!

[2015-03-11 01:32] #6 closed

[2015-03-11 01:48] scopatz commented on #9
Hmm have you ever done a `pip install gnureadline`?

[2015-03-11 01:49] scopatz commented on #9
It seems like you have a version of readline installed that is incompatible with certain tab completion features.

[2015-03-11 02:01] scopatz commented on #13
Thanks for reporting @mbollmann. Super important question, what does the following command return:

[code]

[2015-03-11 02:06] scopatz commented on #12
Hi @abingham, this is how it is supposed to be used :). This seems like a parser error. I am looking into it.

[2015-03-11 02:21] dahlia commented on #9
No, I haven’t installed `gnureadline`.  Isn’t it an optional dependency?

[2015-03-11 02:40] scopatz commented on #12
Actually, it was a lexer error more than a parser one.  Should be fixed by 62cc3dc.  Do you mind trying it out?

[2015-03-11 03:14] shoyer commented on #13
Just installed xonsh and came here to report the exact same issue.
[code]

[2015-03-11 03:19] shoyer opened #16 "xonsh equivalent of "source"?"
I'd like to use conda environments with xonsh. These are usually invoked with `source activate my-environment`, but that doesn't work with xonsh:

[code]

[2015-03-11 06:10] sanchopanca commented on #8
I think, you should definitely update the pypi-package.

[2015-03-11 06:51] scopatz commented on #16
Hmm ``source`` is a bash built-in command.  What does activate do exactly?  Inside of the activate source code it says `"Only bash and zsh are supported"`.  It is worth figuring out.  It seems like we should be able to write an activate alias for you.

[2015-03-11 06:52] scopatz commented on #16
And I'll also try to think of a meaningful way to source bash scripts.  I think I know a way... But 2 am is not the time to test it :)

[2015-03-11 06:59] scopatz commented on #1
@paradoxxxzero v0.1.1 is out!

[2015-03-11 07:09] scopatz commented on #9
It shouldn't be a dependency at all.  However, the readline that come with your Python seems to have been mis-compiled.  How did you install Python on your machine?  Installing `pip install gnureadline` might help. If you could try and let me know, that'd be great!

[2015-03-11 07:13] scopatz commented on #8
Updated.

[2015-03-11 07:16] scopatz commented on #13
@crbates - I think that this is the same issue you were seeing too.  This seems mac specific. @mbollmann and @crbates, are you on conda too?

[2015-03-11 08:41] mbollmann commented on #13
[code]

I'm neither on Mac nor on Conda -- using Xubuntu 14.04 and installed xonsh from source via setup.py.

[2015-03-11 08:45] shoyer commented on #13
I'm on OS X and use conda environments to manage applications, but I also installed xonsh from source (well, `pip install https://github.com/scopatz/xonsh/archive/master.zip`).

Your binstar channel doesn't have builds for OS X. If you're going to continue advertising that method of install, I would consider adding those (e.g., by using `conda convert`).

[2015-03-11 08:48] shoyer commented on #16
Note that `venv`/`virtualenv` uses `source` in a similar way to switch between environments.

[2015-03-11 09:09] jalanb opened #17 "More complete history"
I suggest that each command executed in xonsh should create an history object, some of whose attributes could be

1. The command which ended up being run
2. stdout
3. stderr
4. return status
5. timestamp

History should be stored in a normal, text based, configuration file, e.g. ~/.xonsh_history, or ~/.config/xonsh/history, and (Unlike bash) history should be unlimited by default

A function, or c

[2015-03-11 15:02] dahlia commented on #9
I installed it using official Mac OS X 64-bit/32-bit installer distributed by python.org website.  Its version is [3.4.2][].

I think we’d better add some workaround code for it if it’s a bug of official binary.

[3.4.2]: https://www.python.org/downloads/release/python-342/

[2015-03-11 15:41] paradoxxxzero commented on #1
And now it works :+1:

[2015-03-11 15:47] scopatz commented on #1
Awesome!

[2015-03-11 15:48] scopatz commented on #9
I agree, we'll need to have a work around. I don't think it will be that hard.

[2015-03-11 15:51] scopatz commented on #16
Thanks @shoyer - good to know. I don't use this aspect of those tools, but I agree that it is important to support.  Would you be opposed to writing `bash-source activate myenv`?

[2015-03-11 16:29] shannonlucas opened #18 "Exception on startup on MacOS X 10.10.2"
After installing via `pip3` on MacOS, I get an exception and stack trace whenever I try to start the shell:

[code]

MacOS X 10.10.2
Python 3.4.3

[2015-03-11 16:54] shoyer commented on #16
Sure, that seems reasonable to me.

On Wed, Mar 11, 2015 at 8:51 AM, Anthony Scopatz <notifications@github.com>
wrote:

[2015-03-11 17:16] torgny commented on #13
I think what's needed is to use the cmd.Cmd.emptyline to detect that an empty line is used (instead of using RL_POINT). I have a local patched version that fixes this bug using this method, but I have to test it more thoroughly and I don't have time right now.

[2015-03-11 17:27] abingham commented on #12
Yep, seems to work now.

[2015-03-11 17:43] scopatz commented on #12
Fantastic!

[2015-03-11 17:43] #12 closed

[2015-03-11 21:22] scopatz commented on #16
I might go with `source-bash`, actually, so people who search for this or start tab-completing will get the right thing.

[2015-03-11 22:42] scopatz commented on #13
closed by #19

[2015-03-11 22:42] #13 closed

[2015-03-12 00:51] scopatz commented on #18
I believe that this is a duplicate of #9.  Can you confirm , @shannonlucas? Thanks

[2015-03-12 00:53] shannonlucas commented on #18
Yes, it's a duplicate of #9.

[2015-03-12 00:53] #18 closed

[2015-03-12 03:25] shoyer commented on #17
This is a nice idea. IPython does something similar with the `In` and `Out` objects.

[2015-03-12 05:37] scopatz commented on #17
I wouldn't mind if someone beat me to implementing this :)  Probably should persist as JSON.  This is on the to do list, though.

[2015-03-12 06:09] scopatz commented on #9
Sorry for taking so long, 10e5147 should fix the issue. Can you confirm that it does?

[2015-03-12 06:09] scopatz commented on #18
@shannonlucas 10e5147 should fix the issue, if you could confirm that'd be great!

[2015-03-12 08:56] ischurov opened #20 "can't install xonsh on Mac OS X: UnicodeEncodeError"
[code]

Using Mac OS X Yosemite

[2015-03-12 12:37] ischurov commented on #20
btw,

[code]

[2015-03-12 13:35] scopatz commented on #20
Hi @ischurov - xonsh is currently Python 3.4+ only. I'll setup.py fail in a more meaningful way.

[2015-03-12 13:43] dahlia commented on #9
Now it does work well.  Thanks!

[2015-03-12 13:43] #9 closed

[2015-03-12 13:47] scopatz commented on #9
Great!

[2015-03-12 13:50] dahlia opened #21 "Cursor is on the beginning of prompt"
See also: <http://asciinema.org/a/17584>.

Prompt should be followed by input cursor, but cursor is on the beginning of prompt.

[2015-03-12 14:06] scopatz commented on #21
Before I dive into this too deeply later today, are you on the current master HEAD?

[2015-03-12 15:26] dahlia commented on #21
Yes (10e51475ae137a22269bcae0b2b593f89c58440b).

[2015-03-12 16:44] mbollmann opened #22 "Crash after error in multi-line input"
So if I'm entering something stupid, I usually get some kind of exception. For example, for a non-existant command:

[code]

However, the same thing in multi-line input causes xonsh to crash completely, sending me back to my default shell:

[code]

Shouldn't it at least fail in a way that allows me to continue my current session?
(I was experimenting with what I can or can't do in xonsh, and havin

[2015-03-12 16:58] mbollmann commented on #13
For what it's worth, this still happens if the multi-line input contains syntactically invalid lines, e.g.:

[code]

Maybe the solution to this issue is "just don't do that", but I can imagine it to be confusing when you're not aware where the error actually is, and you have no way to find out. (Maybe related to #22 ?)

[2015-03-12 16:58] admire93 commented on #8
:+1:

[2015-03-12 23:31] naufraghi opened #23 "Problem parsing a command ending with comment, like: $ ls # foo"
[code]
Besides that, a very usable shell!

[2015-03-12 23:33] scopatz commented on #21
There is nothing that is jumping out as obvious to me here.  Where does the cursor end up when you run the following:

[code]

[2015-03-12 23:37] naufraghi opened #24 "Problem parsing a command like $ git commit -m"message" (option arg with no space)"
Without the space: :skull:
[code]
With the space: :ok_hand:
[code]

[2015-03-12 23:50] scopatz commented on #13
Thanks for reporting this @mbollmann.  82aa979 should fix this issue - which sadly seems unrelated to #22

[2015-03-13 01:23] scopatz commented on #22
So this was a series of errors mostly stemming from miscalculating the current line number.  b19692d should fix it. Can you confirm @mbollmann?

[2015-03-13 01:36] scopatz commented on #24
So this isn't a bug, per say.  Quote provide the way to dump the content of the string directly as a single argument to the subprocess command.  This means avoiding a whole nest of nasty string syntax issues (especially regarding env variables) that BASH has.  In this particular case, you should be able to get away without the quotes at all:

[code]

Alternatively the following syntaxes should als

[2015-03-13 01:39] scopatz commented on #23
Thanks for reporting @naufraghi - I think I know what the problem is.

Thanks!

[2015-03-13 01:40] scopatz commented on #23
The problem has to do with the `subproc_line()` function being applied as `$[ls # foo]` instead of `$[ls] # foo`, for the interested.

[2015-03-13 01:44] scopatz commented on #20
87052bd Should cause xonsh to fail to install on Py2k.

[2015-03-13 01:44] #20 closed

[2015-03-13 04:07] scopatz commented on #16
Ok! In 71e95fa I added an experimental `source-bash` functionality.  I have tested it with some local shell files but not with conda.  Can you try running:

[code]

[2015-03-13 04:12] shoyer commented on #16
I'll need to add some tweak so that the command prompt changes as it does in bash/zsh... but it works! Thanks!

[2015-03-13 04:15] shoyer opened #25 "Make tab work in multi-line input?"
It would be nice if I could use the tab key to indent four spaces if the first line of multiline input is something like a `for` loop. Even better, things could be automatically indented (like IPython).

[2015-03-13 04:15] scopatz commented on #16
Oh right!  Because this changes your $PS1, and xonsh uses the $PROMPT variable.  Let me know if you run into problems, but I am glad that it *mostly* works.

[2015-03-13 04:16] shoyer opened #26 "BUG: some multi-line input crashes xonsh"
I just installed off of master:
[code]

[2015-03-13 04:19] scopatz commented on #16
The following would probably work, if you stuck this in the ~/.xonshrc

[code]

You could make this fancier, obviously.

[2015-03-13 04:19] #16 closed

[2015-03-13 05:09] scopatz commented on #26
I can confirm that this happens.

[2015-03-13 05:47] scopatz commented on #25
So it is not immediately apparent how to do automatic indenting.  And TAB is very strongly bound by readline to completion.  However, I did set up Shift-Tab to indent on 6336907.  The amount of indentation is controlled by $INDENT on start-up.  It is 4 spaces by default.

Unfortunately, Ctrl-Tab is actually the same key press as just Tab. I'd be happy to consider other key-bindings or being able t

[2015-03-13 06:08] shoyer commented on #25
Yes, shift+tab would do the trick.

I do wonder to what extent you might be able to leverage IPython console for some of these features....

[2015-03-13 06:11] scopatz commented on #25
Yeah, I have thought of that too.  Maybe in a future version that can be the case. The `cmd.Cmd` interface was just to get started and to always be there so other dependencies can be optional.  Personally, I'd really like to see an IXonsh notebook too.

[2015-03-13 06:30] scopatz opened #27 "Probably need to set $LANG"
[code]

[2015-03-13 09:09] dahlia commented on #21
`Cmd().cmdloop()` seems to work well: <https://asciinema.org/a/17634>.

[2015-03-13 10:20] pdavydov108 opened #28 "Path auto complition for vim returns error"
Hi, thanks for this new cool shell, I realy like it! The only problem I've got so far is when I type 'vim ' and then press tab button it prints error message "/usr/share/bash-completion/bash_completion: line 1856: compopt: not currently executing completion function" instead of list of files in a directory. If I press tab again, it shows files as usual, but the error message is still printed to co

[2015-03-13 11:35] mbollmann commented on #22
Yes, seems to work now. I can also use subprocess-mode now within multi-line input, which was not previously possible. Yay!

[2015-03-13 11:35] #22 closed

[2015-03-13 15:55] reckoner opened #29 "Usable if system Python is not version 3.4?"
Will this work if my system Python is 2.7?

[2015-03-13 16:38] xliiv commented on #29
I can't answer your question, but i think it's easy to install python 3.4 unless you don't have admin privileges. Can you describe your case, why wouldn't you want use python 3.4 :)

[2015-03-13 19:41] reckoner commented on #29
You got it! I don't have admin rights on the machine(s) I work on :(.

[2015-03-13 20:46] scopatz commented on #29
Hi @reckoner - this xonsh is Python 3.4 only.  If you don't have admin rights on your machine, I recommend installing Anaconda or Miniconda (stripped down anaconda), and using conda to install xonsh.  Anaconda and Miniconda both are meant to be used solely from within your userspace.

[2015-03-13 23:54] scopatz commented on #26
2402b49 should fix this.  Can you confirm @shoyer? Thanks for reporting!

[2015-03-14 00:33] #28 closed

[2015-03-14 00:37] scopatz commented on #28
Thanks for reporting @pdavydov108! This should be fixed now

[2015-03-14 00:38] scopatz commented on #28
Thanks for reporting @pdavydov108! This should be fixed now

[2015-03-14 00:43] scopatz commented on #21
What happens if you set your `$PROMPT = '>>> '`?

[2015-03-14 01:13] mbollmann opened #32 "Whitespace-only input crashes xonsh"
Entering only spaces and pressing enter crashes xonsh:

[code]

The same happens in multi-line input, e.g. if you separate parts of an indented block (say, in .xonshrc) with an empty line, and that line happens to contain whitespace.

[2015-03-14 01:32] mbollmann opened #33 "Auto-completion doesn't expand ~/"
Pressing TAB for auto-completion doesn't expand ~, making it difficult to auto-complete filenames in the home directory.

I identified [the line that would probably need to be changed](https://github.com/scopatz/xonsh/blob/master/xonsh/completer.py#L86), but I'm not sure whether `os.path.expanduser` or some of the internally defined globbing functions from built_ins.py would be more appropriate.

[2015-03-14 01:52] wrywerytwreywery opened #34 "Virtual Terminal Prompt Issues"
Running with xonsh as my shell (set via `chsh` rather than starting from within bash), some virtual terminals seem to have trouble with the `PROMPT` environment variable being a Python function rather than a string, leading it to display, e.g., the following as its prompt:

`<function default_prompt at 0x7f5ffba65400>`

Tested with lxterminal, terminator, and gnome-terminal on Ubuntu 14.04 64-bit.

[2015-03-14 02:06] wrywerytwreywery opened #35 "Semicolon not able to separate shell commands?"
The semicolon works fine to separate Python statements, e.g.:

But it does not seem to work to separate shell commands.  For example:

or

[2015-03-14 02:12] scopatz commented on #35
This is related to #23, which I am working on a fix for now.

[2015-03-14 06:40] scopatz commented on #35
Thanks for reporting @wrywerytwreywery! I believe I have a fix for this on my `sl` branch.  Would you be willing to try it out, please?

[2015-03-14 06:41] scopatz commented on #23
I believe that I have a fix for this on my `sl` branch @naufraghi. Would you please try it out?

[2015-03-14 06:51] scopatz commented on #34
This is definitely a bug. I am going to have to look at this and your fix when I am more awake tomorrow.  Note that you can get the same behaviour by running xonsh from within bash from within xonsh.  This is because of the way the Env.detype() stores the variable. We might be able to do something fancier like de/persist the bytecode of callables... but I'd need to be less sleepy.

[2015-03-14 06:59] scopatz commented on #33
I think that expanduser() is correct. The `built_ins` ones are for regex globbing (which does expand user). This might also affect the `bash_complete()`method.

[2015-03-14 11:31] mbollmann commented on #33
It does indeed. Not sure where the expansion belongs in `bash_complete()` though.

[2015-03-14 18:27] shannonlucas commented on #18
I pulled and installed master, but now I get a different exception:
[code]

[2015-03-14 19:55] scopatz commented on #18
Ok!  Try the current master (6de56db).  This should fix it.

[2015-03-14 20:00] shannonlucas commented on #18
That fixed it. Thanks!

[2015-03-14 20:04] scopatz commented on #18
Great!

[2015-03-14 20:57] wrywerytwreywery commented on #35
Looks great!  Just tried out a few things, and it seems to be working as I would expect it to.

[2015-03-15 04:38] scopatz commented on #35
Awesome! I am going to merge it in then.

[2015-03-15 04:40] #35 closed

[2015-03-15 04:40] scopatz commented on #23
This should now be fixed on master

[2015-03-15 04:40] #23 closed

[2015-03-15 05:17] scopatz commented on #24
I am going to close this issue.  Please reopen if you feel it was not properly addressed.

[2015-03-15 05:17] #24 closed

[2015-03-15 05:19] scopatz commented on #32
Now whitespace only input never terminates, but neither does to it enter multiline mode. definitely a bug. Thanks for reporting.

[2015-03-15 05:20] scopatz commented on #29
I am closing this issue. Please reopen if you feel it was not addressed.

[2015-03-15 05:20] #29 closed

[2015-03-15 05:22] scopatz commented on #25
Closing.

[2015-03-15 05:22] #25 closed

[2015-03-15 05:30] scopatz commented on #27
Actually $LANG and $LANGUAGE seem to be set automatically.

[2015-03-15 05:30] #27 closed

[2015-03-15 05:38] scopatz commented on #32
Somewhat hilariously, this causes an infinite loop.

[2015-03-15 06:13] scopatz commented on #34
Closed by #42

[2015-03-15 06:13] #34 closed

[2015-03-15 07:03] scopatz commented on #32
This should be fixed with 2a4d126 @mbollmann. Can you confirm?

[2015-03-15 07:25] dahlia commented on #21
It does work well: <http://asciinema.org/a/17708>.

[2015-03-15 07:28] dahlia commented on #21
I just found that it seems to work correctly if I widen my terminal width: <http://asciinema.org/a/17709>.

[2015-03-15 07:31] scopatz commented on #21
Ahhhh OK.  That is super helpful to know.  Oddly, this seems like it might be a mac-specific issue because it works fine on my linux machine with a small terminal.  I'll try to reproduce on my mac tomorrow.

[2015-03-15 12:54] mbollmann commented on #32
Yes, works now.

[2015-03-15 12:54] #32 closed

[2015-03-15 17:54] wrywerytwreywery opened #44 "Line wrap covers up prompt"
I haven't yet figured out exactly when/why this happens, but sometimes the input line wraps around to cover the prompt, rather than wrapping onto a different line.  Even when making the terminal much larger, the input seems to want to wrap around the original size of ther terminal or something like that, rather than wrapping at the current size.

![xonsh_wraparound](https://cloud.githubusercontent

[2015-03-15 20:57] scopatz commented on #44
I can't reproduce this locally, but I bet this comes from readline not computing the size of the line properly.  This might be because the title line is not being ignored. I am going to put in a potential fix in a few min.

[2015-03-15 20:58] scopatz commented on #21
I cannot reproduce this locally.  I am going to put in a potential fix though.

[2015-03-15 21:10] scopatz commented on #44
What terminal are you using? I have tried this in both xterm and gnome-terminal... My potential fix caused other problems.

[2015-03-15 21:16] scopatz commented on #44
Just tried with rxvt and rxvt-unicode and can't trigger this.

[2015-03-15 21:23] scopatz commented on #44
For reference the fix was to change the settitle() line to the following:

[code]

Maybe you could try this out and see if it works for you.

[2015-03-15 21:29] wrywerytwreywery commented on #44
I am not sure whether there are other ways to trigger this, but I have been able to reproduce consistently by doing the following:

* Open new terminal (small, e.g., 80*24)
* Type enough characters to force wrap
* Before hitting return, resize window to be larger
* Hit Return
* Type enough characters to wrap the old terminal's size

I will try your fix in a few.

[2015-03-15 21:30] debugger22 opened #45 "Couldn't install with pip or pip3"
Error with pip
[code]

Error with pip3
[code]

[2015-03-15 21:33] scopatz commented on #45
The pip issue looks like a Python 2 issue.  xonsh does not support Python 2 (yet).

The pip3 issue looks like you are on a version of Python < v3.4.  What version of Python 3 are you on?

[2015-03-15 21:35] debugger22 commented on #45
Cool.

Pyhton 3.3

I have python3.4 installed too. How do I install it then?

Thanks for the help.

[2015-03-15 21:37] scopatz commented on #45
This link should help you with specifying Python versions in pip: https://docs.python.org/3/installing/#work-with-multiple-versions-of-python-installed-in-parallel

[2015-03-15 21:39] wrywerytwreywery commented on #44
Changing `settitle` as above didn't seem to fix, nor does removing the call to `settitle`.

It does seem like a readline issue, since once it is in this failure mode, a whole bunch of readline-ish things (up arrow, for example) break down.  Worse, these errors seem to persist when opening a new terminal window.

Not sure when I'll have a chance, but I will try to poke around and gather some more i

[2015-03-15 21:40] debugger22 commented on #45
Thanks! :)

[2015-03-15 21:41] icarito opened #46 "xonsh goes crazy when calling itself"
icarito@aiki ~ $ xonsh --help
<function default_prompt at 0xb6cefb6c> # wtf?
.......................................
.......................................
.......................................exit
.....................................................................................................................

[2015-03-15 21:46] scopatz commented on #46
This does not happen on the current master for me:

[code]

[2015-03-15 21:54] scopatz commented on #44
Well we did revert back to using the `PROMPT` variable from `XONSH_PROMPT`...

[2015-03-15 21:55] icarito commented on #46
I don't know why.

I just installed with pip and haven't logged out yet.

I'm running up to date manjaro (arch based) OS.

Let me know if you need anything more to debug.

btw nice project!

[2015-03-15 21:56] scopatz commented on #46
OK this is probably fixed in master then.  I am going to do a new pip release later tonight to deploy the fix.  Thanks!

[2015-03-15 21:57] icarito commented on #46
Just logged out and back in, problem persists.

Reset, clear, or any other command, don't work at all once it goes into
"dots" mode

[2015-03-15 22:01] scopatz commented on #46
Did you install from master?

[2015-03-15 22:03] icarito commented on #46
Finally I did:
sudo pip install git+https://github.com/scopatz/xonsh --upgrade

This installed master for me and now it's fixed.

I just learned that pip incantation, I'm really happy about it :-)

[2015-03-15 22:04] scopatz commented on #46
Haha nice.  I am glad it is fixed.  Thanks a ton for reporting @icarito.

[2015-03-15 22:13] icarito commented on #44
I can confirm that I can trigger the failure with @wrywerytwreywery 's procedure.

I'm running Manjaro (ArchLinux based OS), using Terminator terminal.

[2015-03-15 22:27] wrywerytwreywery commented on #44
I'm going to back up through the history to see if this issue started showing up after a particular changeset yesterday...

[2015-03-15 23:01] scopatz commented on #33
Ok @mbollmann - this should now be fixed in master.

[2015-03-15 23:01] #45 closed

[2015-03-15 23:02] scopatz commented on #46
closing this issue. please reopen if you feel it hasn't been addressed.

[2015-03-15 23:02] #46 closed

[2015-03-15 23:03] wrywerytwreywery commented on #44
I rolled back as far as c836c7eb786100e859e8df8bd1d188e420ab6934 and still saw this issue, so I don't think it is something we did yesterday.

Poking around a bit, it almost seems like `cmd` might want to wrap around the width of the terminal _when the program was started_ rather than on its current width.  If I start xonsh in a big window, then I can resize with impunity (make the window smaller,

[2015-03-15 23:21] TheJJ opened #48 "implement dirstack"
`cd -` and `cd -%d` would be awesome.

This allows switching to some previous directory.

[2015-03-15 23:22] scopatz commented on #48
I'd happily accept a PR that implemented this kind of feature :)

[2015-03-15 23:23] TheJJ opened #49 "compatibility with zsh and bash-completions"
Many programs ship some completion files, which are updated by the completed package itself. Parsing these files and providing zsh-like completion menus would be the killer feature.

[2015-03-15 23:27] scopatz commented on #49
bash completion hooks are already there. I am not super familiar with what zsh does.  Is it significantly different than bash?

[2015-03-15 23:31] scopatz commented on #44
I wonder, does this issue show up if you run a basic Cmd() loop:

[code]

Also, add terminator to the list of terminals that I am not able to reproduce this on.

[2015-03-15 23:34] TheJJ commented on #49
uh-oh. It's much more awesome than bash :grin:

If you are too lazy to write the config yourself, use [oh-my-zsh](https://github.com/robbyrussell/oh-my-zsh), or [try mine](https://github.com/TheJJ/conffiles/blob/master/homedir/.zshrc).

[2015-03-15 23:44] wrywerytwreywery commented on #44
Yep, still broken for me in the same way on the basic Cmd loop...

[2015-03-15 23:56] scopatz commented on #44
Ok great! this is definitely a readline issue. I'll try to come up with a hacky work around.  Out of curiosity, where did you get Python from (your distro, conda, etc.), @wrywerytwreywery and @icarito?

[2015-03-16 00:07] wrywerytwreywery commented on #44
Right now I'm running Python 3.4.0 from `apt` on Ubuntu 14.04.

I can try in a bit building 3.4.3 and seeing whether it could be as simple as that...

[2015-03-16 00:08] scopatz commented on #44
Ok.  For reference, I am on Ubuntu 14.10 using conda's Python 3.4.3

[2015-03-16 00:21] wrywerytwreywery commented on #44
No luck after compiling 3.4.3.
My version of `libreadline-dev` is 6.3-4ubuntu2

[2015-03-16 00:23] icarito commented on #44
Here is the full info for my python3 version, installed from
distribution packages, originally from Archlinux. BTW I remember having
a similar problem like a year ago with bash, so it may be tricky.

    icarito@aiki ~ $ python
    Python 3.4.3 (default, Feb 26 2015, 16:19:21)
    [GCC 4.9.2 20150204 (prerelease)] on linux
    Type "help", "copyright", "credits" or "license" for more information.

[2015-03-16 00:33] scopatz commented on #44
I have added some diagnostic information to the shell that should print out on startup on the `wrap` branch.  Could you try it out and tell me what it says? Thanks!

[2015-03-16 00:41] wrywerytwreywery commented on #44
Here are mine:
RL_CATCH_SIGNALS: 1
RL_CATCH_SIGWINCH: 1
RL_CHANGE_ENVIRONMENT: 1

[2015-03-16 00:50] scopatz commented on #44
OK I have two ideas, then.  I have pushed the first one up to wrap.  Can you try reproducing this issue?  Sorry for all the back and forth. I wish I could reproduce this.

[2015-03-16 00:54] scopatz commented on #44
Also, does this happen on all prompts? Or just the first one?

[2015-03-16 01:20] wrywerytwreywery commented on #44
No luck on that one.  And no worries on the back-and-forth; I'd be happy to help try and implement a fix if I knew anything about cmd and/or readline.

Once it happens once, it seems to happen for all subsequent prompt as well (even after increasing the window size again).

[2015-03-16 01:48] wrywerytwreywery commented on #48
I'm happy to work on this unless somebody else wants dibs.

[2015-03-16 02:02] wrywerytwreywery commented on #33
Woo-hoo!  This is great.  Seems to be working for me.

[2015-03-16 02:21] scopatz commented on #44
Ok, try it now please.

[2015-03-16 02:21] scopatz commented on #44
And thanks for understanding.

[2015-03-16 02:24] wrywerytwreywery commented on #44
Still the same problem, unfortunately.

[2015-03-16 02:29] scopatz commented on #44
How about now?

[2015-03-16 02:49] wrywerytwreywery commented on #44
Okay, this is getting closer now (and I see what you are doing in the code).  And in some sense, it seems to work (the width of the wrapped text seems to change).

It does, though, have a mysterious side-effect, which I can't really explain in words.  After running a command (or sending a keyboard interrupt), a second prompt appears (despite the `PROMPT` variable not being changed).  In fact, it's

[2015-03-16 02:57] shoyer commented on #26
Yes, fixed. Thanks!

[2015-03-16 02:57] #26 closed

[2015-03-16 02:58] scopatz commented on #44
Hahah! This happens to me too.  I will try to figure out how to suppress it.  Also note that I have been looking at [this section of the readline docs](http://cnswww.cns.cwru.edu/php/chet/readline/readline.html#SEC44) and then using ctypes to call the functions or set the variables.

Have a good rest of your night @wrywerytwreywery!

[2015-03-16 03:01] scopatz commented on #44
It seems that `lib.rl_resize_terminal()` is what is causing the doubling. I have commented these out in the latest version.  If you play around with it tomorrow and let me know what works, that'd be great!

[2015-03-16 03:25] hfaran opened #54 "Whole traceback thrown when subproc'ing to a non-existing command"
This is how bash handles it:
[code]

And here is xonsh:
[code]

Ideally, I think it would be preferable not to see the raw exception.

[2015-03-16 03:32] scopatz commented on #54
It probably would be, I agree. Thanks for pointing this out @hfaran.  Pull requests welcome, of course.

[2015-03-16 03:33] juanpabloaj opened #55 "flake8 to python code style (PEP8)"
@scopatz , maybe you will like check [flake8](https://pypi.python.org/pypi/flake8) to verify the python code style (PEP8)

https://www.python.org/dev/peps/pep-0008/

to install

    pip install flake8

a use example:

[code]

[2015-03-16 06:45] ivh opened #56 "Take over bash aliases?"
Custom bash aliases (eg. in ~/.bash_aliases) do not work after starting xonsh from bash.

Maybe documenting how to best port them to xonsh-aliases ist enough.

[2015-03-16 08:37] hfaran commented on #54
I would be more than happy to submit a pull request for this (whenever I find the time, which may be later rather than sooner). That being said, in your opinion, what would be good behaviour here (or good output)?

On the one hand, there is the argument, that since is xonsh is actually a Python superset, the whole stacktrace should be shown. On the other hand, xonsh is also a shell, and seeing tha

[2015-03-16 09:37] naufraghi commented on #23
Sorry to be late, fix confirmed!

[2015-03-16 09:37] naufraghi commented on #23
Some pointer to add a regression test if not already done?

[2015-03-16 09:44] naufraghi commented on #24
The rational is ok, but the UX problem remains.

Is it possible to detect this case and notify the user with the correct syntax?

[2015-03-16 11:39] mbollmann commented on #33
Great work, thanks!

[2015-03-16 11:39] #33 closed

[2015-03-16 11:58] Samathy opened #59 "Running python's quit() causes unclean exit with file write error."
Using the python function quit() from the xonsh shell results in a spew of traceback finally resulting in a file writing error.

Possibly redirect python's quit() to xonsh's own exit method as the latter seems to exit cleanly.

![xonsh_error](https://cloud.githubusercontent.com/assets/6306834/6665601/4419f40a-cbd3-11e4-89b9-ffc9fdc66d46.png)

[2015-03-16 12:12] mbollmann commented on #56
Not sure about the automatic porting (xonsh doesn't have to be started from bash after all), but `alias ll='ls -l'` in bash is equivalent to `aliases['ll'] = ['ls', '-l']` in xonsh, which is [documented in the tutorial](http://xonsh.org/tutorial.html#aliases). You can put the respective lines in a ~/.xonshrc file to execute them automatically when xonsh starts. Do you have any suggestions how to m

[2015-03-16 12:23] mbollmann commented on #48
I think it would be great if this functioned as a proper stack similar to `pushd` and `popd` by default. I have functions in my .bashrc that basically replace `cd` with `pushd` and provide functionality to view the full dirstack and easily travel to a specific dir in the stack. Just a suggestion.

[2015-03-16 12:23] ivh commented on #56
I understand that automatic porting might not be a good idea. What about an alias (similar to source-bash) to a function that can swallow a .bash_aliases as argument and parse it to xonsh-aliases?

For the documentation, maybe mention potential pit-falls when naively parsing/converting bash-aliases? Being new to xonsh, I was reluctant to just run a loop over the lines and split the right-hand-side

[2015-03-16 12:27] tim-d-blue opened #60 "Tab Completion on OS X"
Tab completion does not work. Instead it appears an actual tab character is inserted.

Python 3.4.3
OS X 10.10.2 (14C1510)
14.1.0 Darwin Kernel Version 14.1.0
xonsh master as of now...

[2015-03-16 12:31] TheJJ commented on #48
jup, the like the zsh cd feature completes the - with the last n directories visited, so e.g. typing `cd -3` visits the third-last one. `cd -<tab>` shows the whole stack and completes the number.

[2015-03-16 12:34] mbollmann opened #61 "Crash on parsing list nested in dict"
When parsing a line containing a dict that has a list (or tuple) as a value, xonsh crashes.

[code]

Other nested structures seem to work fine. Putting the list in a variable first and then constructing the dict also works fine.

[code]

[2015-03-16 12:36] mbollmann commented on #48
That sounds even better than my bash aliases. I'm not familiar with zsh, but this behaviour sounds great.

I won't have the time to implement this before the weekend though, so go ahead @wrywerytwreywery if you like. :)

[2015-03-16 12:37] TheJJ commented on #49
btw, i packaged `xonsh` in our [gentoo overlay](https://github.com/SFTtech/gentoo-overlay)

[2015-03-16 13:29] icarito opened #62 "Hangs when attempting to group activities with parenthesis in subproc-mode."
![captura de pantalla_2015-03-16_07-52-22](https://cloud.githubusercontent.com/assets/199755/6666902/790ca2b0-cbb6-11e4-9179-a76bb1dc6f4f.png)

After this, vim becomes unresponsive and xonsh uses up 99% CPU.

This is with xonsh as default shell.

[2015-03-16 13:46] mbollmann commented on #54
My 5 cents: I basically agree, though note that you might only want to hide stacktraces that relate to xonsh internals, i.e., if you define and execute a Python function in the shell and it throws, I'd not find it unusual to see the stacktrace. Maybe that was what you intended anyway, I just wanted to make it explicit.

I think this should ideally be made into its own "error handling" class, so yo

[2015-03-16 13:56] drvinceknight commented on #60
Same issue.

[2015-03-16 14:05] wrywerytwreywery commented on #62
Able to reproduce with the following directly from bash:
`xonsh -c "(ls) > /tmp/test"`

The following works:
`xonsh -c "ls > /tmp/test"`

But the following doesn't:
`xonsh -c "(ls)"`

```...NameError: name 'ls' is not defined```

Similarly, running `(ls)` from a xonsh prompt fails.

[2015-03-16 15:03] erik-stephens commented on #49
@scopatz Can you explain how `BASH_COMPLETIONS` needs to be defined?  I can't figure out how to export it so that xonsh treats it as a list/tuple instead of a string.  Thanks in advance.  Without looking at the source, I tried a glob pattern:

    BASH_COMPLETIONS="${BASH_COMPLETION_DIR}/*" xonsh

Then I saw that it expects a tuple:

    BASH_COMPLETIONS="$(ls ${BASH_COMPLETION_DIR}/*)" xonsh

But

[2015-03-16 15:17] eldamir opened #63 ".xonshrc file"
I am sorely missing a .xonshrc file or similar. Something like what the .bashrc is to BASH.
I could not find anything on the matter in the documentation or while googling.

I'd love to have something like the following:

[code]

So that when I open a terminal, this code is executed

[2015-03-16 15:21] eldamir commented on #63
Right, nevermind. It is actually mentioned here: http://xonsh.org/tutorial.html#environment-variables

[2015-03-16 15:26] bkeroack opened #64 "Multiline input does not work on OS X/iterm2"
Unless I'm missing something obvious, multiline input does not seem to work:
![image](https://cloud.githubusercontent.com/assets/1949804/6669417/032d362c-cbb6-11e4-927b-cecf593ba58b.png)

I cannot get the command to execute. Hitting enter just creates another line. I have to Ctrl-C to break back to a normal  prompt.

This is on OS X with iterm2. The same behavior occurs with Terminal.

[2015-03-16 15:32] scopatz commented on #63
Hi @eldamir, yup it is there!  Thanks for using xonsh!

[2015-03-16 16:16] djc opened #66 "Make it work with Python 2.7"
Would you accept a pull request to make this work with Python 2.7 (from a single-source code base)? If so, how much work do you think it would be?

[2015-03-16 17:05] wrywerytwreywery commented on #44
Commenting out those lines seems to have fixed it.  Thanks!

[2015-03-16 18:07] scopatz commented on #66
Yes, I would happily accept such a pull request.  I think it would be a fair amount of work (but not nearly as much as it was to start from scratch), most of which is in the parser. I'll outline the steps later today, after work.

[2015-03-16 18:15] novist commented on #54
This includes ``KeyboardInterrupt`` error. Ctrl-c atm produces lots of noise.

[2015-03-16 18:41] hfaran commented on #54
Yes, @novist, I also noticed that but I believe it is different enough to deserve its own Issue.

[2015-03-16 18:51] novist commented on #54
Well it still comes from ``execer.py``

[2015-03-16 19:52] justyns commented on #64
FWIW, I am able to get your two examples working with iterm2 (Build 2.0.0.20141103) and xonsh 0.1.2.

[2015-03-16 19:55] jessejoe opened #68 "Handle paths with spaces"
When you tab complete folders with spaces in them, the spaces are not delimited with `\ `, so you have to instead put quotes around them:

[code]

Adding the the `\ ` instead doesn't work either (maybe why they aren't added during tab completion?):
[code]

This is on OSX with xonsh `0.1.2`.

[2015-03-16 20:30] icarito commented on #62
I found out because my .vimrc contained a call to system. I don't know the proper term for using all CPU, sorry for using words like crazy, bezerk.

[2015-03-16 20:33] bkeroack commented on #64
I tested with master HEAD and multiline works. The problem must be with
whatever is pushed to PyPI.

On Mon, Mar 16, 2015 at 12:52 PM, justyns <notifications@github.com> wrote:

[2015-03-16 21:19] k-bx opened #69 "More intelligent intermix between python and bash pipes"
I'd like this example to not hang, if you know what I mean:

[code]

[2015-03-16 22:02] justanr opened #70 "Getting a name when using a global name inside a local scope without passing it in."
I'm brand new to xonsh and it's pretty freaking awesome. However, I've noticed something odd when attempting to use an imported class (haven't tried it with other things). All this code is run inside xonsh:

[code]

Simple enough.

[code]

[2015-03-16 22:06] hfaran commented on #54
Well, for this issue, you would actually need to look `xonsh.built_ins.run_subproc` first and then look at how it interfaces with `xonsh.execer`, but my point was is that handling Ctrl-C in the form of a `KeyboardInterrupt` needs to be done elsewhere.

[2015-03-16 23:05] scopatz commented on #23
I did add some tests associated with this.

[2015-03-16 23:08] scopatz commented on #24
Yeah, we could show a meaningful error message. However, I think you'd always have to enter multi-line mode before hand.  Mutliline mode is entered when there is a syntax error on the first line.

[2015-03-16 23:19] scopatz commented on #59
Nice catch @Samathy.  6f5da3d should fix the issue. Please let me know how it goes.

[2015-03-16 23:31] scopatz commented on #56
Hi all, this is a feature that I do want to have, I just haven't gotten around to it yet.  I would be happy if someone else did :). Here is how I would do it.  In `xonsh.environ.bash_env()` or a similar function I would add the bash built-in command `alias` to the input (ie `env && alias`).  The alias command in bash prints all your current aliases like follows:

[code]

From here you can parse ou

[2015-03-16 23:33] scopatz commented on #61
Thanks for reporting @mbollmann!

[2015-03-16 23:53] scopatz commented on #60
Crazy! Thanks for reporting @tim-d-blue. Do you (or @drvinceknight) have readline installed?  What does the following give you?

[code]

[2015-03-16 23:56] drvinceknight commented on #60
That imports without a problem for me...

[2015-03-16 23:58] scopatz commented on #62
Ahh yeah, This is a parser issue.  I am not sure it is a bug per-say, though.  Right now subproc-mode does not allow you to group activities with parentheses.  It shouldn't just hang, though. That is bad.  I don't know much about the details of how vim is implemented.  Are the parentheses just inserted for you automatically?

[2015-03-17 00:00] scopatz commented on #49
@TheJJ awesome! Thanks.

[2015-03-17 00:03] wrywerytwreywery commented on #56
There is also a question, though: will `shlex.split` and subprocess handle things like pipes, ${...}, etc?  My initial reaction is that it will be hard to make something that robustly handles all cases, but I could be missing something.

[2015-03-17 00:06] scopatz commented on #49
@erik-stephens So `BASH_COMPLETIONS` expects a list or tuple of strings (see http://xonsh.org/tutorial.html#environment-variables).  The special env variables could probably use their own page in the documentation (pull requests welcome!).  Also you need to prefix environment variables with a `$`.  I would do something like following, using the backtick regular expression globbing, which returns a

[2015-03-17 00:08] scopatz commented on #49
Let me know if you still run into problems or if something is unclear.  For reference, mine look like:

[code]

[2015-03-17 00:23] TheJJ opened #71 "Replace readline and rlcompleter"
In order to massively boost the autocompletion awesomeness, the standard readline completion used in bash and rlcompleter has to be replaced by something more sophisticated.

I can once again point at zsh providing a grid of possible choices, even showing documentation for available options temporarily.

An idea would be creating this grid dynamically using ncurses-stuff, without ever using the rl

[2015-03-17 00:37] scopatz commented on #66
Hi @djc - Would be delighted to see this happen.  To do this, I would do the following:

1. Start by looking at the official Python 2.7 language grammar (https://docs.python.org/2/reference/grammar.html). You may also want to look at the v3.4 grammar, just to see what is different.
2. Pick a single feature (like the print statement).
3. Find the relevant line in the grammar that refers to this fea

[2015-03-17 00:50] scopatz commented on #44
Great! Now figure out the minimal number of times we need this.  I have pushed some code up to `wrap` that only resizes once.  Can try this out and let me know how it goes?  Try to resize after a couple of lines of input too. Thanks!

[2015-03-17 00:50] icarito commented on #62
Yes, there was a line in my .vimrc which I had to comment, it was to
make vim maximized by default.

call system('wmctrl -i -b add,maximized_vert,maximized_horz -r '.v:windowid)

It was an ugly hack, and, come to think of it, I like it better not
maximized, so thank you.

Just then let's change the name of the issue again to better reflect it.

Agreed it shouldn't just hang. Instead, it should fai

[2015-03-17 00:52] scopatz commented on #68
Ahh super interesting.  Maybe the tab-completion should add the quotes.  How do you feel about that?

[2015-03-17 00:52] scopatz commented on #68
Thanks for reporting @jessejoe!

[2015-03-17 00:54] scopatz commented on #64
I wasn't able to reproduce this either.  If HEAD works, great.  We'll do another micro release before the end of the week, I am sure.

[2015-03-17 01:02] scopatz commented on #69
This example, should not hang, I agree.  However, I don't think it is entirely valid either. Subprocess  pipes are meant to explicitly operate on constructs that accept an argument list and stdin and return stdout and stderr.  Without this interface, subprocess piping is not valid.  You could always do something like this, though:

[code]

Maybe we could add an alias wrapper function into the buil

[2015-03-17 01:06] scopatz commented on #70
Ahh wow. Ok this is a serious scope issue.  Thanks for reporting @justanr! I think this might be happening because we are evaluating in a local scope, rather than a global one.  It might be a one line fix.

[2015-03-17 01:08] scopatz commented on #60
hmmm

[2015-03-17 01:12] wrywerytwreywery commented on #68
To me, having the completer add the quotes feels like the right thing.  I started working on this, but it looks like it is going to be difficult to get something that feels "right."

That is, it's easy to make the completer add the quotes.  But it seems like it will be hard to get it to complete halfway-finished quoted strings (particularly after a space).  So if we have a directory called `name w

[2015-03-17 01:15] scopatz commented on #56
shlex would correctly handle parsing things like `${}` and it would parse the pipe correctly.  The current `subproc_run()` probably would not correctly deal with a pipe in an alias though.  Of course if a bash alias was to a bash function, that would be pretty broken here too.

I don't think the point here is to have 100% bash-compatibily.  That would involve making a lot of concessions in xonsh t

[2015-03-17 01:18] scopatz commented on #71
I would love for there to be another front-end, ideally an urwid one.  This is even in the docs (http://xonsh.org/todo.html#urwid-based-command-prompt) ~_~.   I think that this should be parallel to the readline interface though. Folks should be able to use xonsh with a minimum of dependencies (python and ply).  Pull requests always welcome!

[2015-03-17 01:19] wrywerytwreywery commented on #56
I think that's absolutely right, but it does mean that if xonsh moves toward something that tries to automatically grab aliases from bash, it should fail gracefully on those aliases that can't be converted.

[2015-03-17 01:23] scopatz commented on #68
Cool, It seems like the right thing to do to me would be to insert quotes on both sides, though.  I'll check out your PR.

[2015-03-17 01:24] scopatz commented on #56
Yup! I totally agree, @wrywerytwreywery

[2015-03-17 01:57] glenbot opened #73 "curr_branch not showing up"
I have curr_branch in my prompt however the branch doesn't seem to be showing up.

Here is my git version:

[code]

My prompt (which is the default prompt):

[code]
any ideas?

[2015-03-17 02:00] drvinceknight commented on #60
I wish I knew how to help...

[2015-03-17 02:19] wrywerytwreywery commented on #73
I had this issue on one of my machines, as well (running Debian Wheezy).  I submitted a pull request (#74) for a change that fixed this issue for me.  It might be worth trying that change to see if it works for you.

[2015-03-17 03:54] scopatz commented on #73
Hi @wrywerytwreywery - this is because your git does not come with the full bash hooks or perhaps they are being installed to a different location than xonsh expects them.  If you could figure out where the `__git_ps1` bash function is defined, that would be great!

Also, I think that #74 serves as a great fallbak, just in case.

[2015-03-17 04:06] scopatz commented on #44
OK, a fix for this is now available on 8a5dad4.  Please close once confirmed.

[2015-03-17 04:07] scopatz commented on #21
Hi @dahlia sorry for taking so long on this. Could you try master now (8a5dad4) and see if it works, please? Thanks.

[2015-03-17 04:16] scopatz commented on #60
How did you obtain your version of Python?

[2015-03-17 04:17] scopatz commented on #60
In particular, do you know if it was built using libedit?

[2015-03-17 04:31] drvinceknight commented on #60
I updated python3 from the macinstaller. So I don't know if it was built
with libedit. I'll check first thing tomorrow (anyone know how I check?).

On Mon, 16 Mar 2015 21:17 Anthony Scopatz <notifications@github.com> wrote:

[2015-03-17 05:22] scopatz commented on #70
Hi @justanr - the current master (d9b3cc3) should resolve this issue.  Please confirm and let us know!

[2015-03-17 05:26] scopatz commented on #55
Hi @juanpabloaj - yeah, the two blank lines issue is a problem for me, as is trailing whitespace. I'll try to clean this up and be better in the future. :)

[2015-03-17 05:27] icarito commented on #62
I dont' know if this is related, but the following just triggered
another crash:
sudo apt-get update && apt-get upgrade

this time on debian testing

El 16/03/15 a las 18:58, Anthony Scopatz escibió:

[2015-03-17 05:32] scopatz commented on #62
What was the crash?

[2015-03-17 05:44] icarito commented on #62
using 100% cpu

[2015-03-17 05:44] icarito commented on #62
i.e. going bezerk

[2015-03-17 05:53] scopatz commented on #62
Ok.  Same code that caused it, though?

[2015-03-17 06:06] icarito commented on #62
um, doing:

    sudo apt-get update && apt-get upgrade

crashed xonsh

[2015-03-17 06:08] dahlia commented on #21
Unfortunately it still seems unchanged.

[2015-03-17 06:08] scopatz commented on #62
Ohhhhh! Sorry. Yeah.  `&&` is not valid xonsh syntax.  Use semicolons (`;`) to separate instead.  ie

[code]

Again, it shouldn't hang.

[2015-03-17 06:09] scopatz commented on #21
Shoot! Is that from a clean build?

[2015-03-17 06:44] k-bx commented on #69
@scopatz yeah, probably would be best to add:

- error-message that one of pipes is not valid
- suggest putting it inside some wrapper like `to_pipe = lambda f: lambda args, stdin: f()`

[2015-03-17 08:27] eldamir opened #78 "reverse search not interrupted by ^C"
When i press ctrl+r to search my command history, I sometimes want to cancel that search. In Bash, I do so by hitting ctrl+c (^C).

In xonsh, the ctrl+c stroke returns my to a fresh prompt, but as I type, it continues the search from before:

[code]

[2015-03-17 09:00] dahlia commented on #21
@scopatz I tried using clean build again, but seems still the same.

[2015-03-17 09:02] dahlia commented on #21
We’d better reproduce it.  I have two different Mac laptops, and they share the same behavior.

[2015-03-17 12:01] naufraghi opened #79 "Add an example .xonshrc to the docs or repo"
I tryed creating my multiplatform `.xonshrc` but perhaps I failed understending the syntax is allowed inside (weird errors defining e function inside it).

I think an example `.xonshrc` with some best practices (like putting in a pure python module some utility functions? Where?) could be very usefull.

[2015-03-17 12:10] eyalzek opened #80 "Add auto-indentation on multiline function/loops/if statements"
Starting a multineline command, ie:
   if True:

should preferably start the new line indented accordingly, currently it requires me to manually enter spaces which confused me quite a bit at first because my multiline commands just didn't go through (until I realized my mistake).

[2015-03-17 12:19] eyalzek opened #81 "Tab completion doesn't work for nested attributes/objects in python mode"
For example, after importing a module, tab completion is not available for it's methods:
$ import os
$ os.

Clicking tab in the above scenario won't offer completion.
Also happens for class attributes, define a class:
class A:
    def __init__(self, a):
        self.a = a

initialize an instance:
$ a = A(1)
$ a.
Clicking tab in the above scenario won't offer completion.

[2015-03-17 12:44] jessehudl commented on #68
Adding quotes seems *okay*, that's what `cmd.exe` does in Windows, however it is very annoying when it matches something else, you have to backspace, tab again, possibly backspace again, tab again, etc. This would honestly make it a little too annoying for daily use for me.

[2015-03-17 12:45] jessejoe commented on #68
Adding quotes seems *okay*, that's what `cmd.exe` does in Windows, however it is very annoying when it matches something else, you have to backspace, tab again, possibly backspace again, tab again, etc. This would honestly make it a little too annoying for daily use for me.

[2015-03-17 13:07] drvinceknight commented on #60
As far as I can tell: no.

Here is the output of:

[code]

[code]

[2015-03-17 13:17] mbollmann commented on #55
@scopatz, what editor do you use? I have my Emacs set up to automatically remove trailing whitespace before saving, though I usually have to turn it off when working with other people's code because it creates too much noise in the commits ;-)

[2015-03-17 13:29] juanpabloaj commented on #55
@mbollmann I don't like start a editor holy war ... but :p

If you use vim + [syntastic](https://github.com/scrooloose/syntastic) automatically detect if flake8 is installed and use it to mark the python code style issues.

[2015-03-17 17:25] justanr commented on #70
Alright, I'll clone it down when I get home. I figured local execution was the problem, but I was being ushered out the door when I reported this. Allegedly, some things are more important than bug reports.

[2015-03-17 18:30] vitaut opened #84 "Support for the exec builtin"
It would be useful if xonsh supported the [exec Bourne shell builtin](http://www.gnu.org/software/bash/manual/bashref.html#index-exec) as some programs (such as Qt Creator) rely on it which requires using a different shell for them.

Currently trying to use `exec` fails with `FileNotFoundError`:

[code]

[2015-03-17 22:25] justanr commented on #70
I'm gonna play with it more, but it seems fixed.

[2015-03-17 22:54] scopatz commented on #70
Ok! Please close the issue when you feel it has been addressed.

[2015-03-17 22:58] scopatz commented on #84
This wouldn't be significantly different from the source-bash alias that lives in aliases.py. Pull requests welcome!

[2015-03-17 23:08] scopatz commented on #68
Adding quotes or not seems like the kind of thing that could easily be configure by an environment variable. If you wanted to add that behavior, that would be great!

[2015-03-17 23:40] scopatz commented on #54
fixed by #58

[2015-03-17 23:40] #54 closed

[2015-03-18 00:04] scopatz commented on #69
That seems right to me. Pull requests welcome :).

[2015-03-18 00:08] scopatz commented on #55
@mbollmann I wrote my own, of course :). It is called xo (http://exofrills.org/).  We can all be text editor friends here, @juanpabloaj!

[2015-03-18 00:13] scopatz commented on #80
You can hit "Shift-Tab" to indent as well.  I am not a huge fan of auto-indentation, personally.  If someone wanted to implement it with an environment variable to turn it on/off, I would happily accept that PR.

[2015-03-18 00:14] scopatz commented on #81
Yes, this should happen! Pull requests welcome.

[2015-03-18 00:33] wrywerytwreywery commented on #44
Working fine on the machine I am using now, but this is not the one that was having issues before.  I will try that other machine tomorrow, and will close this if everything seems alright there.  Thanks for all the work you put in on this!

[2015-03-18 00:34] gtsafas commented on #60
Also experiencing this issue, I installed python from the official website. I was going to take a look at the source, do you have any suspicions where to start?

[2015-03-18 00:41] wrywerytwreywery opened #85 "Xonsh interprets certain nested structures incorrectly"
The following do not work as expected in xonsh:

[code]
[code]
[code]

I am not sure exactly what the pattern is, but I did notice these failure modes and figured it might be helpful to point them out.  I know there had been some issues in the past with lists inside of dictionaries; maybe this is related?

[2015-03-18 00:57] erik-stephens commented on #49
@scopatz Ah!  The use of the phrase "environment variables" is confusing to me.  To me, that implies that environment variables defined in the parent process (eg bash) will be honored.  Defining $BASH_COMPLETIONS from *within* xonsh still doesn't work for me:

    me@machine ~/ $ $BASH_COMPLETIONS
    ['/opt/boxen/homebrew/etc/bash_completion']

I've got a not-so-standard setup so probably somethi

[2015-03-18 01:06] erik-stephens commented on #49
Got it.  If I define $BASH_COMPLETIONS in a XONSHRC file, then completions are registered:

    BASH  : cat > ~/.xonshrc <<EOF
    $BASH_COMPLETIONS = ['/opt/boxen/homebrew/etc/bash_completion']
    EOF

    BASH  : XONSHRC=~/.xonshrc xonsh

    XONSH : $BASH_COMPLETIONS
    ['/opt/boxen/homebrew/etc/bash_completion']

    XONSH : git st
    st       stage    stash    status

[2015-03-18 05:22] scopatz commented on #49
Whoops, sorry about the confusion @erik-stephens. Yeah, env variables are those that live in the special `__xonsh_env__` mapping. The xonsh language gives you access to these via the `$NAME` syntax. The contents (as applicable) of the environment are exported to subprocess, like in other shells and process management tools.

And yes, I am sorry I didn't realize or mention this.  The bash completio

[2015-03-18 05:24] scopatz commented on #85
Thanks for reporting @wrywerytwreywery! This is clearly a parser bug.  I think I know where too look for it.  I'll take a stab tomorrow, because I am too tired tonight.

[2015-03-18 05:30] scopatz commented on #60
@gtsafas - yes. I think that this has to do with the Cmd superclass not setting the completekey corretly [1].  If you look at the Python source code [2], it is basically supposed to be doing the following:

[code]

You could try adding this line to the `xonsh.shell.setup_readline()` and seeing if that fixes the issue. You might also try using `'TAB'` or `'\t'` as the tab character, instead of `'ta

[2015-03-18 05:36] scopatz commented on #73
Adding those kinds of keys would be nice, for sure.  I like the default string as it is, but there is no reason the namespace couldn't be expanded.

[2015-03-18 05:38] scopatz commented on #79
This is a good idea.  I think I just fixed the function bug you are referring to.  If you keep seeing weird errors, please report them!

[2015-03-18 05:44] scopatz commented on #78
Thanks for reporting @eldamir.  I am not able to reproduce this. Crtl-c seems to do the right thing in Crtl-r mode.

[2015-03-18 05:45] scopatz commented on #78
What kind of system are you on? Where did you get Python from, etc?  What does the following do?

[code]

[2015-03-18 06:23] scopatz opened #86 "Syntactic Improvements"
See this reddit thread: http://www.reddit.com/r/Python/comments/2z8hl1/xonsh_a_pythonish_bashcompatible_shell_language/cpgxelz

Basically the idea is to have non-modal syntax (${} means to look things up in the env in Python-mode and it means to compute something in Python when in subprocess-mode.)  One of these should get a different syntax.

The other idea is to convert the contents of the ${} e

[2015-03-18 08:54] dimaqq opened #87 "More variables for prompt"
At the very least, most basic bash parity:

* host (an actual hostname as opposed to domain name or fqdn)
* basename of cwd (i.e. last element of cwd)

[2015-03-18 10:50] wrywerytwreywery commented on #78
I have this problem as well.  As @eldamir described, if I hit ctrl-c in ctrl-r mode, it shows a fresh prompt, but typing at that prompt continues the search from earlier.  Hitting Return breaks out of the incremental search, but also runs the command it found, so that's not ideal.

Ubuntu 14.04
Python 3.4.0 from APT

[2015-03-18 10:53] wrywerytwreywery commented on #44
Looks good; closing.  Thanks!

[2015-03-18 10:53] #44 closed

[2015-03-18 11:04] eyalzek commented on #80
Shiftt+Tab works well, I suggest adding it to the documentation somewhere in the meantime :)

[2015-03-18 12:22] wrywerytwreywery commented on #86
I like this idea.  The syntax didn't bother me, since I viewed `${...}` as sort of the "run this in the other mode" syntax, but I can see how it would be confusing.

My suggestion would be to leave `${...}` as environment lookup in Python mode, and come up with a different syntax for executing Python in subprocess mode.  I feel like the new syntax probably shouldn't use `$`, since that is (I think

[2015-03-18 12:47] Samathy commented on #59
Sorry for the late reply:

It seems that didnt fix the issue.

![xonsh_quit2](https://cloud.githubusercontent.com/assets/6306834/6708939/d1f1a314-cd6c-11e4-99a7-f6af3e7a51f2.png)

[2015-03-18 14:34] tim-d-blue commented on #60
Installed Python 3.4.3 in a virtualenv from python.org.
Tried with and without readline installed, same issue.
Also tried adding parse_and_bind with various tab identifiers.
Still same result.

[2015-03-18 17:17] mbollmann commented on #87
I can try to put this in. Do you have any further suggestions of variables that would be nice to have?

With an increasing number of variables, I wonder if we should do `if '{varname}' in prompt: ...` before computing them, instead of just computing them all and passing them to `.format()`.

[2015-03-18 17:33] scopatz commented on #87
Awesome, thanks!  I don't have any suggestions, myself...

Probably.  Though the colors should probably always be added, rather than checking all the colors.

[2015-03-18 17:34] cwalv opened #88 "setup.py install fails if working directory not location of setup.py"
C:\Python34>.\python.exe \temp\xonsh-0.1.2\setup.py install
...
Traceback (most recent call last):
  File "\temp\xonsh-0.1.2\setup.py", line 114, in <module>
    main()
  File "\temp\xonsh-0.1.2\setup.py", line 50, in main
    with open('README.rst', 'r') as f:
FileNotFoundError: [Errno 2] No such file or directory: 'README.rst'

[2015-03-18 18:05] spwhitt opened #90 "setup.py fails with UnicodeEncodeError"
When running setup.py install:

[code]

[2015-03-18 18:07] mbollmann opened #91 "KeyboardInterrupt is never cleared"
When a KeyboardInterrupt occurs, it seems to appear in every further exception raised:

[code]

Repeat the last command and it will show the KeyboardInterrupt every time, although CTRL+C was never pressed again.

Additionally, if you do ^C more than once, it will show the stacktrace for KeyboardInterrupt for each time you pressed it.

This happens both when you do ^C on an empty line, and when you

[2015-03-18 18:10] mbollmann commented on #90
This has been fixed already in version 0.1.2; my guess is you're using Python 2, while xonsh requires Python 3.4+

[2015-03-18 18:47] spwhitt commented on #90
Turns out to be an issue with locales local to my machine. Closing.

[2015-03-18 18:47] #90 closed

[2015-03-18 19:15] SavinaRoja opened #92 "Error during use of xonsh scripts"
Was testing the use of xonsh for scripting and ran into an error. Would love to help fix if this is a current bug or limitation.

With a basic script, `xonsh-script.sh`:

    #!/usr/bin/xonsh

    echo "echo"
    print("print()")

when I execute this script I get the following error from argparse:

    usage: xonsh [-h] [-c COMMAND]
    xonsh: error: unrecognized arguments: ./xonsh-script.sh

Is t

[2015-03-18 19:18] #88 closed

[2015-03-18 19:25] scopatz commented on #92
Hi @SavinaRoja - this is a current limitation, and your help would be most appreciated!  We don't have a way for xonsh to take a file as in input argument right now.  It should be a relatively simple fix in `xonsh/main.py`

[2015-03-18 19:40] corbinbs commented on #60
Hi - I was able to get tab completion enabled if I evaluate `readline.parse_and_bind("bind ^I rl_complete")` prior to firing up a xonsh shell using Python 3.4.3 on OS X 10.10.2 (14C109)
[code]
(I entered `dat` and tab completed to `date`)
Maybe that could be used on OS X to ensure tab completion works as expected there?  All of the computers I have are running that same version of OS X so not able

[2015-03-18 19:50] corbinbs commented on #60
There's an example here:  http://stackoverflow.com/a/7116997
that might be useful to detect when you've got `libedit` in the mix and use that other parse_and_bind pattern.

[2015-03-18 20:04] scopatz commented on #59
Try it without the parentheses.

[2015-03-18 20:33] scopatz commented on #60
@corbinbs! This is great that you found a solution.  I'd be ecstatic if a PR for this appeared from someone :)

[2015-03-18 20:43] scopatz commented on #80
Yup @eyalzek - If you would like to add this to the docs via a PR, I would be super grateful!

[2015-03-18 21:10] corbinbs commented on #60
Took a shot at it with pull request #93 and it looks like the Travis CI build passed

[2015-03-18 23:09] #56 closed

[2015-03-18 23:31] scopatz commented on #60
Hi all, thanks to @corbinbs, we have a potential fix for this in master (a371800).  If @tim-d-blue, @drvinceknight, and/or @gtsafas could test this, that'd be great.

[2015-03-18 23:33] scopatz commented on #21
@dahlia can you try again, please?  We just put in another mac-specific fix on master (a371800) and I am hoping that it will help here - though it might not.

[2015-03-18 23:52] Samathy commented on #59
Yep, that works fine.

[2015-03-18 23:54] scopatz commented on #59
Great.  Feel free to close if you think that this has been addressed!

[2015-03-18 23:56] #59 closed

[2015-03-18 23:58] SavinaRoja opened #96 "`Shell.cmdloop` vulnerable to recursion-depth limit"
While I was working on #92 , I noticed that `Shell.cmdloop` was recursive and looked subject to crashing if the recursion limit was exceeded. Tested just to be thorough (that was fun...)

[2015-03-19 00:05] tim-d-blue commented on #60
works of course. @scopatz you've just been introduced to 20(ft) BC!

[2015-03-19 00:06] scopatz commented on #96
hahah I am glad you actually tested it.  Yeah. it *should* be a `while True: ... break`.  But I was lazy.  PR welcome here.  Note that the `builtins.__xonsh_exit__` is a boolean flag for whether or not to exit.  This could be used to break out of this loop.

[2015-03-19 00:08] scopatz commented on #60
Hahah What is that?  Google seems to think it is a fire extinguisher :)

[2015-03-19 00:18] scopatz commented on #86
I completely agree.

I really like the idea of using parentheses here because they 'capture' and then return the expression inside of them.  When I was thinking about it this morning, I came up with `!()` as the syntax.  `!` has a connotation of execution and is definitely different than `$`.  `|()` could mean 'pipe to python', but I could see that getting super confusing if you are using a lot of

[2015-03-19 00:21] scopatz commented on #91
That is weird. That doesn't happen on my machine.  I can hit Crtl-c as many times as I want and I always just get a new empty line. Are you on mac @mbollmann? I forgot....

I am sure that there is some readline hack we can add to fix this.

[2015-03-19 00:27] scopatz commented on #91
The fix might be to call `RL_LIB.rl_reset_line_state()` whenever an KeyboardInterrupt happens.  Can you play around with this and see if it works?

[2015-03-19 00:28] scopatz commented on #78
I have posted a suggested solution in #91

[2015-03-19 00:38] scopatz commented on #92
Feel free to close @SavinaRoja if #95 works for you.

[2015-03-19 00:43] #96 closed

[2015-03-19 00:49] SavinaRoja commented on #92
If you execute the script wthout shebang a la `xonsh script.sh`, things work just fine.

But with the shebang and execution a la `./script.sh`, I get the following error:

[code]

[2015-03-19 00:54] wrywerytwreywery commented on #92
Woof.  It seems not to like comments in general in exec mode.  Putting any comment (not just a shebang) on the first line, it breaks like that.

Comments elsewhere seem to be able to put it into an infinite loop, depending on where they are placed.

[2015-03-19 00:54] SavinaRoja commented on #91
I would imagine that this was due to the recursion for `Shell.cmdloop()`. Each additional error would extend the Traceback of error-handling.

[2015-03-19 00:55] scopatz commented on #92
I am looking into it.

[2015-03-19 00:56] scopatz commented on #91
here's hoping.

[2015-03-19 01:00] scopatz commented on #92
What is weird is that these all work:

[code]

[2015-03-19 01:01] tim-d-blue commented on #60
it's our nickname for @corbinbs, kind of like paul bunyan.

[2015-03-19 01:13] justanr commented on #70
Closed.

[2015-03-19 01:13] drvinceknight commented on #60
Works for me.

What is the expected behaviour when dealing with multiline indentation?

[code]

To get the tabulation for `print` I need to space 4 times right?

[2015-03-19 01:13] #70 closed

[2015-03-19 01:19] scopatz commented on #60
@tim-d-blue That is hilarious. I like it :)

[2015-03-19 01:20] scopatz commented on #60
@drvinceknight Or just 1 space. Or you can hit Shift-Tab and it will indent the value of `$INDENT`, which defaults to 4 spaces.

[2015-03-19 01:22] scopatz commented on #92
Ok.  Try it now.  It works for me locally.

[2015-03-19 01:30] SavinaRoja commented on #92
That test script works now. However when I modified it to include a comment, it hangs. Does this happen for you with the following?

[code]

[2015-03-19 01:30] wrywerytwreywery commented on #92
So it looks like the following works:
[code]

But the following fails:
[code]

Is it possible that comments somehow don't end with a newline?  The regex for `t_ignore_COMMENT` looks fine, but it doesn't seem to be referenced anywhere in the code.  Is that something that `ply` is taking care of automatically?  If so, is it possible that it is using `DOTALL` and `MULTILINE`?  In that case, I'm prett

[2015-03-19 01:32] scopatz commented on #92
It is possible that it is eating the newline.... If you could try, that'd be great.

[2015-03-19 01:36] wrywerytwreywery commented on #92
Okay, I think I have something (at least that fixes the simple test case from above).  Will push to a new PR.

[2015-03-19 02:02] SavinaRoja commented on #92
@wrywerytwreywery That seems to have fixed the comment issue. Then of course I decide to try this and it hung:

[code]

[2015-03-19 02:03] scopatz commented on #92
I think that is my fault.  I don't think there is support for line continuation at all.

[2015-03-19 02:04] scopatz commented on #92
This would probably be a simple fix in the lexer again, like with comments but with the following regex: `'\\$'`

[2015-03-19 02:08] SavinaRoja commented on #92
@scopatz So it seems that the trouble occurs with or without the "\" precluding the standard "\n". Also presents trouble with docstrings.

[code]

[2015-03-19 02:11] scopatz commented on #92
OK.  This is because multiline strings are not high enough in the precedence in the lexer then.

[2015-03-19 02:58] gtsafas commented on #60
@scopatz was about to debug it, but it seems like others already have. I can confirm master is fixed for me as well.

[2015-03-19 02:59] scopatz commented on #60
Great! I'll let @tim-d-blue do the honors of closing this then.

[2015-03-19 03:00] wrywerytwreywery commented on #86
I kind of like the `!(...)` syntax.

[code]

My only (slight) reservation is that `!` means something different in BASH-land, and exploring the history using `!` might be something that xonsh should have in the longer-term.

Something that bash doesn't use (at least to my knowledge) is `@`.  It is arguably uglier (and loses the execution connotation), but I could swear I have seen this character u

[2015-03-19 04:17] drvinceknight commented on #60
Thanks @scopatz for the clarification and to everyone who fixed this :)

[2015-03-19 04:51] scopatz commented on #61
Hey @mbollmann, I have put in #100. If you could take a look at that branch and let me know if it works for you, that'd be great! thanks.

[2015-03-19 04:55] scopatz commented on #85
#100 should address this @wrywerytwreywery

[2015-03-19 05:38] scopatz commented on #62
Ok!  On master now (637702f), it should not hang.  At the prompt, it should enter a multiline mode.  And with `xonsh -c` it will fail silently (which should be fixed). But it doesn't hang!

[2015-03-19 05:39] scopatz commented on #69
OK @k-bx. This should not longer (637702f) hang.  It should enter multiline mode at the prompt.

[2015-03-19 05:57] ivh opened #101 "Tab-completing .. does not append / because Ellipsis exists."
When trying to type "cd ../.." or similar, I use TAB to get the forward slash. This does not work in xonsh because the three-dot Ellipsis exists as an option.

I understand that this might be just me, but it's highly annoying. :)

BTW, del(...) causes ValueError: expression which can't be assigned to in Del context

[2015-03-19 06:00] scopatz commented on #101
This should be as simple as removing the `... ` case from completer.py

[2015-03-19 06:05] ivh commented on #101
You mean from the XONSH_TOKENS list? This seems to remove ..., yes, but there seem to be two .. so the slash still does not get appended.

[2015-03-19 06:07] ivh commented on #101
... and when I remove .. from that list as well, it *does* get completed, but with a blank instead of a slash.

(I won't have time to look at this today, just thought I'd get it out there.)

[2015-03-19 06:08] scopatz commented on #101
OK @ivh - well whenever you get a chance, unless some one beats you to it. Just wanted to let you know that I am very open to this change.

[2015-03-19 06:22] scopatz commented on #92
So this is actually an error withe the multiline regex. I am too sleepy to debug it right now sadly...

[2015-03-19 06:22] scopatz commented on #92
If you want to take a stab, that'd be awesome.

[2015-03-19 06:52] scopatz commented on #86
Luckily, the bash `!` and `!!` syntax doesn't overlap with the `!()` syntax.

[2015-03-19 07:25] k-bx commented on #69
Perfect then, thanks!

[2015-03-19 07:25] #69 closed

[2015-03-19 11:41] wrywerytwreywery commented on #86
That's true; my only concern is whether the `!` character itself might associate more strongly with history than with execution.  Also, I think it might be confusing, if that kind of history is implemented at some point, that, for example, `!-2` and `!(-2)` would do different things.  It might not be worth worrying about, but that's why I have a slight preference for `@`, since I don't think `@` m

[2015-03-19 13:27] dahlia commented on #21
The prompt looks slightly different now, but it still gets cut off: <http://asciinema.org/a/17837>.

[2015-03-19 14:30] mbollmann opened #102 "Make bash alias importing optional?"
I really like that bash aliases can be imported automatically, but unfortunately it broke xonsh for me...

The reason is that I have an alias for `cd` which refers to a bash function defined in my .bashrc file. In xonsh, this function -- of course -- doesn't exist. That means I can't use the `cd` command anymore!

My current workaround is `from xonsh.aliases import cd; aliases['cd'] = cd` in .xons

[2015-03-19 14:30] #60 closed

[2015-03-19 14:45] wrywerytwreywery commented on #102
I agree here; I'd rather just write my aliases in xonsh anyway (switching cold turkey from bash).

A command-line switch might work, but would that work with chsh?  That is, would it work to set the shell to be `/usr/local/bin/xonsh --no-bash-aliases`?

One option would be not to automatically import ever, but to offer a function that, when called, imports the bash aliases.  Then importing could b

[2015-03-19 14:55] scopatz commented on #102
As a temporary fix,  you should be able to delete the alias in the xonshrc. Also broken aliases should not cause crashes.

[2015-03-19 14:58] mbollmann commented on #102
The broken alias doesn't crash; it merely fails because the function it's replaced with doesn't exist. Deleting the alias doesn't work.

[code]

[2015-03-19 15:01] scopatz commented on #102
oh right. For cd you need to do

[code]

[2015-03-19 15:41] eyalzek commented on #80
https://github.com/scopatz/xonsh/pull/104

[2015-03-19 15:41] #80 closed

[2015-03-19 16:22] mbollmann commented on #91
I'm not sure what changed in the meantime (there's no commit referring to this issue), but with the current master this doesn't happen for me anymore.

[2015-03-19 16:26] mbollmann commented on #102
@scopatz, yes, that's what I said in the first post ;-)

@wrywerytwreywery, I couldn't find anything on using command-line switches with `chsh`, but bash uses a symbolic link `rbash` to do the equivalent of `bash --restricted`, so I suppose it doesn't work.

In that case, either not importing bash aliases by default, or providing a variable that can be modified to turn off alias importing (bash ha

[2015-03-19 19:51] scopatz commented on #102
@mbollmann haha whoops.  I was still not really awake when I wrote this. :).

First, I am all in favor of making this an optional, though I think it should be on by default.  We might also want to add a 'safe' mode (also on by default) that prevents and warns when bash aliases would overwrite built-ins (cd, exit, etc).  Lastly, I think the optional behaviour that should be controlled via an enviro

[2015-03-19 20:57] GMLudo opened #106 "less isn't compatible with xonsh"
Hi,

I can't use `less` command in xonsh.
When I launch, the console is frozen.
After a CTRL+C, I see less, but it's incontrolable.
After another CTRL+C, I've this stacktrace + the output of the console is completely broken.
As workaround, I use `most`, I works as a charm, and it's better than `less`.

    Traceback (most recent call last):
    File "/usr/local/bin/xonsh", line 3, in <module>

[2015-03-19 21:00] scopatz commented on #106
Hi @GMLudo - Thanks for reporting. I use less all the time, so I am not sure what is going on here. What is weirder is that the other pagers work.  Can you tell us a little about your system? OS, how you got python? etc.

[2015-03-19 21:02] GMLudo commented on #66
From my point of view, Python 2 compatibility will complexify the source code with a big risk to have more bugs, for what advantage ?
xonsh isn't a Python library: it's a tool to be used on a developer laptop. To my knowledge, all major Linux distributions already have Python 3.4 included and no problems on Windows to install Python 3.4.

[2015-03-19 21:07] scopatz opened #107 "Import Hooks for xonsh source files"
We should have import hooks [1] that allow for xonsh modules to be imported using the normal import mechanism.  I don't think this would be super hard, but it would be awesome to have.

1. https://docs.python.org/3/reference/import.html

[2015-03-19 21:09] GMLudo commented on #106
I use a Kubuntu 14.04 with xonsh installed system-wide with `sudo pip3 install xonsh`.
I use xonsh in yakuake.
I've the same behaviour in konsole.
To test xonsh as a replacement of bash, I've changed my default shell in `/etc/passwd`:

    lg:x:1000:1000:Ludovic Gasc,,,:/home/lg:/usr/local/bin/xonsh

Do you need more information ?

[2015-03-19 21:11] scopatz commented on #106
That should be enough to get started, thanks!

[2015-03-19 21:24] scopatz commented on #106
Hmm I just tried this with yakuake, with xonsh as my default shell and with bash as my default shell and then starting xonsh.  less worked just fine for me.

[2015-03-19 21:24] GMLudo opened #108 "How to enable a pyvenv/venv in xonsh ?"
Hi,

As you understand, I'm trying to replace bash by xonsh.
I've an issue when I try to enable a pyvenv in xonsh:

    $ . pyvenv/bin/activate
    Traceback (most recent call last):
    File "/usr/local/lib/python3.4/dist-packages/xonsh/shell.py", line 109, in default
        self.execer.exec(code, mode='single', glbs=None, locs=self.ctx)
    File "/usr/local/lib/python3.4/dist-packages/xonsh/exe

[2015-03-19 21:31] scopatz commented on #108
Hi @GMLudo, you are trying to source the activate file. To source bash files, we have the `source-bash` alias.  You should be able to do the following:

[code]

The permission error here is kinda funny because it is basically saying that the current directory (`.`) is not executable.

Thanks!  We're glad you like it!  If there are bugs or things that you want to see improved, please don't hesitate

[2015-03-19 21:56] GMLudo commented on #106
ok :-(
It's very strange, I'll try on another computers to see if I find something.
In fact, it isn't really a problem, I use most that is really better compare to less.
Thanks for your test.

[2015-03-19 22:03] GMLudo commented on #108
Thanks for `source-bash`, it works pretty well. The yocto detail I'm still missing is that `activate` script change the bash prompt to show the context change, it isn't the case with xonsh.

For now, I'm trying to be iso-functionnal with I had with bash.
After, my long term plan, is to add some features you have with `oh my zsh` like to know the branch you  have when you are in a Git folder. Or at

[2015-03-19 22:09] GMLudo commented on #106
I've another strange behaviour with `rst2html.py` from docutils, with similar sympthoms.
I've an issue with my computer, or it's another bug ?

    lg@steroids ~/Documents/IDEA/c2c-ws $ rst2html.py

    ^CTraceback (most recent call last):
    File "/home/lg/Documents/IDEA/c2c-ws/pyvenv/bin/rst2html.py", line 23, in <module>
    Traceback (most recent call last):
    File "/usr/local/lib/python3.4

[2015-03-20 01:28] SmartViking opened #109 "Alias cannot refer to other aliases."
[code]

I think the problem is that "cd" is another alias. You could argue that it wouldn't be a very good behavior for alias to recursively evaluate the first token, but `cd` is such a common command that the above should be possible. So the two obvious solutions seem to be either

1. recursive evaluation (give a thought to infinite loops, it might make sense to let it happen, or maybe they shoul

[2015-03-20 01:39] SmartViking opened #110 "CLI-commands cannot deal with preceeding whitespace"
[code]

Maybe this can be fixed by putting a str.lstrip in the right place? Should `$[  ls]` work, in that case?

[2015-03-20 01:45] SmartViking opened #111 "Parse error for `cd -`, `cd ..`, `ls ..` when inside functions"
[code]

As you can see the problems begin when `cd/ls` is followed by symbol-stuff like `..`.

[2015-03-20 01:50] wrywerytwreywery commented on #86
@scopatz, I just submitted a PR to convert the result of `${...}` expressions to strings.  I also have a changeset on my local repo that changes the syntax as we discussed, and I can submit a PR for that, too if you'd like.  I currently have the syntax as `@(...)` in that copy (as that's still the winner in my mind), but I can change it to `!(...)` if that's what you want to go with.

[2015-03-20 06:11] scopatz commented on #109
Interesting point. This should be supported!

[2015-03-20 13:45] wrywerytwreywery commented on #111
This is not a fix, but in the short term, you can use the `$[...]` syntax to force subprocess mode inside of functions and scripts, e.g.:

[code]

[2015-03-20 16:30] scopatz commented on #111
I can reproduce this behavior, @SmartViking.

[2015-03-20 16:31] scopatz commented on #111
Thanks for reporting.

[2015-03-20 17:04] scopatz commented on #110
I actually don't think that they should be able to deal with this. I'll explain more after work.

[2015-03-20 17:19] wrywerytwreywery commented on #86
`!` also means "not" to me, so maybe that's what I'm sensitive to...

[2015-03-20 17:21] scopatz commented on #86
Yeah, I thought about that. It also means factorial to me :) Clearly there are not enough keys on the keyboard....

[2015-03-20 18:50] wrywerytwreywery commented on #92
I'll give this one a shot tonight.

[2015-03-20 20:29] icarito commented on #62
Confirmed, it doesn't hang now! Thanks! Also, it does fail silently.

[2015-03-20 20:33] scopatz commented on #62
Great!  Progress!

[2015-03-21 01:49] SmartViking commented on #109
I can implement the recursive evaluation (planning to do it in `built_ins.Aliases`. I need to change the interface a bit because `run_subproc` needs the extra "expanded" args when the alias is a `callable` (the base case)), but I need to know what the expected behavior/purpose is for string aliases. This is the current behavior:
[code]
Is this correct behavior? Can I rely on the eval'd string-valu

[2015-03-21 03:13] wrywerytwreywery commented on #92
I have a plan for fixing this, but it will involve some heavy work in the lexer (breaking up `string_literal` into several tokens), so I won't be able to get to it tonight.  I'll try to find some time in the next day or two to implement.

[2015-03-21 15:15] zaxebo1 opened #117 "Documentation related minor issues"
suggestion1: sphinx generated doc of xonsh on https://readthedocs.org
 I would suggest using https://readthedocs.org/ for uploading the sphinx generated documentation of xonsh . It has webhooks, which can auto import the documentation from github and update the site using sphinx

 for example: some other projects using readthedocs
      http://plumbum.readthedocs.org/en/latest/
      https://twist

[2015-03-21 15:43] zaxebo1 opened #118 "xonsh installation fails on python 3.2 on ubuntu 12.04 LTS"
when on ubuntu 12.04 LTS , using python 3.2 i tried to install xonsh with the command
  sudo  pip3 install xonsh
then installation FAILED with "following" log in $HOME/.pip/pip.log
------------------------------------------------------------
------------------------------------------------------------
Downloading/unpacking xonsh
  Getting page https://pypi.python.org/simple/xonsh/
  URLs to search

[2015-03-21 18:13] mbollmann commented on #87
@dimaqq, can you clarify what you mean by "an actual hostname as opposed to domain name or fqdn"? The current `{hostname}` variable should return the "actual hostname", shouldn't it?

[2015-03-21 18:36] mbollmann commented on #61
Fixes the cases that I described above, but still doesn't get everything right as mentioned here:
https://github.com/scopatz/xonsh/pull/100#issuecomment-83510570

(I'm duplicating this info here since I got confused myself that I supposedly hadn't answered this yet...)

[2015-03-21 18:38] mbollmann commented on #61
Nevermind, just saw there is a separate issue for that problem.

The specific bug described here is fixed. Closing.

[2015-03-21 18:38] #61 closed

[2015-03-21 21:59] scopatz commented on #109
Probably not.  The intended behaviour was to have a anonymous block of code that is executed.  Unlike with function aliases, string aliases don't take any input and they don't return any output, per say.  It is up to the alias author to determine if the return value of `evalx()` is valid input to the next thing in the pipeline.

[2015-03-21 21:59] scopatz commented on #109
Also @SmartViking - thanks a ton for taking a stab at this!

[2015-03-21 22:27] scopatz commented on #117
Hi @zaxebo1, thanks for opening this issue.

If you'd like to set this up, I'd happily let you.  I don't think I have the bandwidth personally.

It does, right at the top and in the middle of the page.

Pull requests welcome!

I don't actually know if it does or not!  I am assuming it does, which is dangerous....

All dependencies are listed on the front page.

We'd love to have a page like that.

[2015-03-21 22:28] scopatz commented on #118
Yup - this is known.  Currently xonsh only targets the Python v3.4 AST.  I would very readily support any PR that modified xonsh to work on other versions of Python.

[2015-03-21 22:39] scopatz commented on #87
@mbollmann - that is what I thought!

[2015-03-21 22:53] mbollmann commented on #87
Most shells seem to have different variables for "full hostname" and "hostname up to the first dot", but I can't get `socket` to return anything containing a dot on any of my machines (though that might be configuration-dependant!), and I'm not sure if this is what @dimaqq meant.

But I have some other stuff that I added already. Refactoring the formatting so that the variables are only computed w

[2015-03-21 22:59] scopatz commented on #87
sweet, thanks @mbollmann

[2015-03-21 23:24] SmartViking commented on #109
I pretty much have this implemented now, but not the "string alias".

[code]
Isn't this a bug? It runs the code, but then it tries run "hello" afterwards. Would it be out of the question to remove that feature? I seems like a confusing element. Are there things you can do with string-alias that you can't do with callable-alias? Are there things which are more practical to do with string-alias than

[2015-03-21 23:27] scopatz commented on #109
This is definitely a bug

[2015-03-21 23:44] scopatz commented on #109
No not at all.

nope.

Well, the reason for string aliases was a convenience for list aliases.

Yeah, looking at the code now, it is a little confusing what their purpose should be.  Perhaps the right thing to do is for the `Aliases` class to automatically call `shlex.split()` on any string values that are added, prior to inserting them. What do you think about that, @SmartViking?

[2015-03-21 23:48] SmartViking commented on #109
Sounds like a good idea, I'll do that.

[2015-03-22 00:19] scopatz commented on #73
I think that this has been addressed via #114.  Could you check, please? Thanks!

[2015-03-22 00:26] scopatz commented on #102
Hey @mbollmann - Do you wanna take a stab at this?  And if you do, do you think you'll have a chance to get a PR in before a release tomorrow night? Just asking :)

[2015-03-22 00:55] mbollmann commented on #102
I still have this on my radar and can take a look at it tomorrow, if it's not too difficult I might get it in, but no promises since I haven't started yet... :)

[2015-03-22 00:55] scopatz commented on #110
Hi @SmartViking! Sorry for not getting this yesterday.  Basically, here is the situation. In Python mode, we have a situation that is:

* whitespace insensitive inside of an expression
* has blocks defined by initial indentation level

Meanwhile in subprocess mode we have a situation that is:

* whitespace sensitive inside of expressions
* does not allow blocks

and in Bash:

* whitespace sensitiv

[2015-03-22 00:56] scopatz commented on #102
Haha ok! Thanks!

[2015-03-22 01:39] SmartViking commented on #110
That does make sense. My feeling is that trying out commands with preceding whitespace will easily happen, you know when people paste lines of codes into the shell and such, and users might be a little surprised by this behavior. Your Shell solution seems apt.

[2015-03-22 01:54] SmartViking commented on #109
I've implemented it in #115. I made some tests too for `Aliases`, because this evaluation stuff is so delicate. I haven't used nosetest before, so I just tried to imitate the other files.

[2015-03-22 03:09] zaxebo1 opened #124 "."

[2015-03-22 03:14] zaxebo1 commented on #124
delete this issue as of now, i will post it in better way later.

[2015-03-22 05:25] #124 closed

[2015-03-22 07:50] abadger commented on #87
@mbollmann Regarding making it so that variables are only computed when used, I have something that might provide a framework for that:

https://github.com/abadger/xonsh/commit/22e61899cfd2d13dfa5531f5ef6a739807d751eb

I was waiting to PR that until I heard if it was a desirable direction on the mailing list but I can put it up for review sooner if that helps.

It currently separates "variable onl

[2015-03-22 08:59] dimaqq commented on #87
@mbollmann about names

Consider, for example, "irc.cs.hut.fi"

"irc" is hostname, sometimes called short name
"irc.cs" is domain name (assuming certain network settings)
"irc.cs.hut.fi" is fully-qualified domain name

Linux commands for these are "hostname -s/--short", "hostname" and "hostname -f/--fqdn".

If you use the last, note that it may require a DNS query and therefore can break, take tim

[2015-03-22 09:36] abadger commented on #87
Updated my branch and made a pull request for it.  #125 should implement the optimizations and new prompt variables requested here.  There are a few other things I'm interested in but I'm not yet sure how best to implement them so I'll push them in separate PRs:

* zsh's %y: The tty the user is logged in from (ex: "pts/3" "tty4").  I can do this by calling out to /usr/bin/tty but I don't know if t

[2015-03-22 12:50] mbollmann commented on #87
@abadger: Using a class for the prompt arguments is what I was doing as well, but it looks like you beat me to it. Yours looks way more sophisticated than what I would've suggested, though, but that might be a good thing with extensibility in mind.

By the way, I would also suggest a `time` variable that returns `datetime.datetime.now()`. The beauty is that you can already format it any way you li

[2015-03-22 14:09] mbollmann commented on #102
Hmm, looks easy, but might not be.

When aliases can potentially override each other, I believe the desired order is:

1) `DEFAULT_ALIASES`
2) Aliases imported from bash
3) Aliases defined in .xonshrc

...where later ones can override previous ones. But if we want to control the alias importing from a variable set in .xonshrc, we'd need to do the importing after processing .xonshrc, thus switching

[2015-03-22 14:11] dimaqq commented on #87
I get fqdn; granted I have to check why that happens. I suppose it depends on what hostname is being set by dhcp. I'll check that later.

The request is to have separate short host name and host name options; those are different quite often.

[2015-03-22 15:28] abadger commented on #87
@mbollmann, nice, I didn't realize that you could use python formatting like that!  I'll add that.  If you have ideas for simplifying I could see if they could still allow for the extensibility I was looking for.  I think that static strings and call-every-time functions are about the right level of complexity but I'm not completely satisfied with the call-once functions.  Maybe I should get rid o

[2015-03-22 15:37] scopatz commented on #48
@TheJJ - #116 has been merged.  Does this satisfy the issue here?

[2015-03-22 15:47] TheJJ commented on #48
Nice! `cd -` works now, but `cd -$number` is still missing :wink:
Completion for the number with display of the associated stack value would be ideal.

[2015-03-22 15:48] scopatz commented on #48
I think that you can do `cd -number`.

[2015-03-22 15:50] TheJJ commented on #48
[code]

[2015-03-22 15:52] abadger commented on #87
PR updated as per my previous comment.

[2015-03-22 15:54] TheJJ opened #127 "~user is resolved as ${HOME}user"
This should be expanded to the homefolder of user, not just replace ~ with $HOME.

example:
[code]
expected:
[code]

[2015-03-22 15:55] scopatz commented on #48
Ahh, seems like there might be a bug.  @wrywerytwreywery?

[2015-03-22 15:58] scopatz commented on #127
Thanks for reporting.  However, I think what it does now is the desired behaviour and consistent with what other shells do, namely bash.

[2015-03-22 16:01] TheJJ commented on #127
Just tried it, bash also changes directory to ~user the way i described. zsh does this as well.

[2015-03-22 16:04] scopatz commented on #127
I just tried it in bash, and it worked the way I described.  Perhaps there is some environment setting that works does this.  Or maybe your $HOME dir in bash has a trailing `/`.

[2015-03-22 16:12] wrywerytwreywery commented on #85
Fixed with #100.  Closing.

[2015-03-22 16:12] #85 closed

[2015-03-22 16:14] TheJJ commented on #127
https://www.gnu.org/software/bash/manual/html_node/Tilde-Expansion.html
seems that your bash is doing something fishy, hmm.

[2015-03-22 16:17] wrywerytwreywery commented on #48
`pushd`, `popd`, and `dirs` have been implemented, but `cd -n` hasn't been implemented yet, nor has `$AUTO_PUSHD`.  Those are on my queue.

[2015-03-22 16:18] scopatz commented on #127
Given the docs you linked, I don't think that the syntax you proposed is correct.

[code]

[2015-03-22 16:21] scopatz commented on #102
Hmm you are totally right @mbollmann. This is trickier than I thought.

[2015-03-22 16:27] TheJJ commented on #127
[code]

How i understand it:
~ = $HOME
~somebody = homefolder of somebody
And that's exactly the way it works on my machines (i haven't configured anything for bash).
zsh is behaving the same way, cant remember having configured that as well.

Independently, it's really convenient typing `cd ~www` and going to `/srv/http/docroot` or something.

[2015-03-22 16:29] TheJJ commented on #127
And to prove that your bash example proves xonsh wrong:
[code]
whereas the same expression in bash on your machine:
[code]

[2015-03-22 16:32] SmartViking commented on #102
One idea is to make a `.weak_update` method on `Aliases`, that doesn't touch keys that are already present and update bash-imports with that. That implies that `DEFAULT_ALIASES` takes precedence over bash-aliases, not sure if that's desirable.

[2015-03-22 16:36] scopatz commented on #102
Well, the problem to me is that bash aliases can be functions, which render them totally invalid.  Unfortunately, there is no good way I know of (other than having a bash syntax tree) to look an arbitrary string of bash code and tell whether a bash function is being used.

[2015-03-22 16:47] scopatz commented on #102
Here is what I think we should do.  There should be an environment variable that controls this behaviour, maybe `$LOAD_BASH_ALIASES`.  We should not change the order of alias resolution that @mbollmann described.  So the challenge becomes setting the env variable before alias resolution, which makes xonshrc impossible. From here, there are three options I see, one or all of them should be supporte

[2015-03-22 16:56] wrywerytwreywery commented on #127
`os.path.expanduser` does the right thing, so a well-placed call to that should fix this problem.  However, once the directory gets to `cd`, it has already been expanded in the wrong way, so it's too late to fix the problem there.

@scopatz, do you know where that modification is happening?  Maybe we could replace that with a call to `os.path.expanduser`, or something like that.

[2015-03-22 17:08] wrywerytwreywery commented on #102
@mbollmann and I discussed this a little bit earlier in the thread.  The downside here would be that I'm not sure it would work with xonsh as the default shell (via `chsh`); that is, I'm not sure one could set the default shell to be, e.g., `/usr/local/bin/xonsh --no-load-bash-aliases`.  One workaround would be to create a second script with a different name that starts up with the `--no-load-bash

[2015-03-22 17:09] scopatz commented on #127
@wrywerytwreywery it might be the parser that does this (`parser.py:2102`) I might have been trying to be too clever :)

[2015-03-22 17:20] scopatz commented on #102
This would definitely be possible, it just wouldn't apply to any situation other than the aliases. Also, it shifts responsibility a bit.  Right now the Shell loads the xonshrc, not the `load_builtins()`. Perhaps this should be refactored anyway.

In any event, I guess my main point here was that I would rather add another stage to the loading procedure via command line arguments and/or other confi

[2015-03-22 17:30] wrywerytwreywery commented on #127
Yep.  My initial thought is that just removing that check and modifying `cd` always to `expanduser` will fix.  But I'll check a little bit before submitting a PR.

[2015-03-22 18:18] scopatz commented on #86
I think that this has been completed with #113.  Thanks again @wrywerytwreywery!

[2015-03-22 18:18] #86 closed

[2015-03-22 18:30] scopatz commented on #127
Can you check if this is resolved now @TheJJ

[2015-03-22 18:52] #109 closed

[2015-03-22 21:31] SmartViking commented on #110
Looking at the code for `cmd.Cmd`, it becomes apparent that you can't write 'EOF':

[code]
In the first example, I couldn't exit with Ctrl-D, so I had to use `pkill`. I'm not completely sure how the behavior above arises but I think this would be difficult to fix.

[2015-03-22 21:45] scopatz commented on #110
Hi @SmartViking! Yes, so EOF is an alias to the `xonsh.aliases.exit()` function.  Ctrl-D simply writes EOF.  If you happen to overwite this alias accidentally, you can still use the `exit` and `quit` aliases to leave xonsh.

[2015-03-22 21:58] SmartViking commented on #110
That makes sense. It just seems kind of inelegant of `cmd.Cmd` to do that. But it's hardly worth the time and effort to fix that.

[2015-03-22 22:06] #110 closed

[2015-03-22 23:59] TheJJ commented on #127
Jup, now it's behaving correctly. Username completion is missing though :grin:

[2015-03-22 23:59] scopatz commented on #127
Pull requests welcome :)

[2015-03-23 00:03] TheJJ commented on #127
To be honest: I really like the potentiall of this shell, but currently, i'm very happy with my zsh.

I have an `alias p='python3 -q'` for launching python really quick, and because of my current main project (openage) I don't have motivation to contribute things other than ideas and notes.

Keep it up, maybe you may replace my zsh some day! :+1:

[2015-03-23 02:06] abadger opened #131 "In .xonshrc, import does not create a global name"
xonsh: git checkout f44013b31756ba5491f2a7e1dffb7ad64513b28e
python: 3.4.1
OS: Fedora 21

With this as your .xonshrc:

[code]

Trying to start .xonshrc yields a traceback:

[code]

If I change .xonshrc to have the subprocess import inside of the function then it starts up fine.  So it seems like importing does not create a globally available name.  The other things I tried such as:

[code]

also l

[2015-03-23 02:31] zaxebo1 opened #132 "there should be an environmental variable $XONSH_VERSION"
when we are in zsh, there is a $ZSH_VERSION environmental variable
when we are in bash, there is a $BASH_VERSION environmental variable. Rather bash has many many other bash specific envionmental variables, which are probably never needed. :)

I think there should be a $XONSH_VERSION env variable to immediately check the version. and accordingly act in my script

[2015-03-23 02:43] abadger opened #133 "In .xonshrc, classes don't seem to bind their methods"
Current xonsh checkout: f44013b31756ba5491f2a7e1dffb7ad64513b28e
python: 3.4.1
OS: fedora 21

Here's a minimal .xonshrc that defines a class and then attempts to use it:

[code]

Instead of storing an instance of the class in $PF, it throws the following error:

[code]

Not sure if we are supposed to be able to store python code inside of environment variables however the problem is deeper than th

[2015-03-23 05:48] scopatz commented on #132
A good idea.

[2015-03-23 05:52] scopatz commented on #127
Ok. Well thanks for the ideas. Pull requests welcome means that anyone is free to pr though, not just you.

[2015-03-23 06:08] scopatz commented on #133
I am pretty sure this is the same as #131

[2015-03-23 07:58] eldamir opened #134 "Lexer freeze"
I have this little beauty in my .xonshrc

[code]

When I run my terminal, it hangs forever. The prompt is never shown. When I interrupt with ctrl+c, I get the following stack trace

[code]

By coincidence I managed to solve the issue by removing the blank line in the function definintion, like so

[code]

with this change, it works, no problem. I tried the blank line with four space indent to matc

[2015-03-23 09:48] pdavydov108 opened #135 "Commands that start with '/' or './' result in exception"
Hello, I updated xonsh to a new verson today (via `pip`), I think it's 0.1.3 now. If I type `ls` it works just fine, but `/bin/ls` returns an exception:
[code]
Same error occurs if I execute `./a.out`, but with different message:
[code]
It worked fine in previous version.

Update: it looks like it only happens for compiled executables. Python scripts work normally for example.

[2015-03-23 11:57] wrywerytwreywery commented on #133
#131 seems to be fixed by passing `env` in as globals instead of locals to `execer.exec` in `xonsh/environ.py`.

This issue, though, seems to be a problem with the way class definitions are being handled.

What seems to be happening in this specific example is that `msg` is being defined as a function on its own, outside the class `Test`.  So it's not being interpreted as part of `Test`'s `suite`

[2015-03-23 12:02] wrywerytwreywery commented on #133
This might also be the same problem that underlies #134?

[2015-03-23 12:10] averageapps opened #137 "Equivalent to bash's "&&""
Great project! It would be very nice to have a keyword in xonsh that is equivalent to `&&` in bash/zsh or `;and` in fish, meaning that it would execute \<B\> if and only if \<A\> is successful in the following example line:
`<A> <keyword> <B>`.
For maximum "bashwards compatibility" the keyword should be exactly like in bash (&&) if possible.

For completeness' sake there should also be a keyword e

[2015-03-23 12:14] pdavydov108 opened #139 "Weird behavior after ctrl-c in gdb or pdb"
If I start `gdb` or `pdb` from xonsh and hit `ctrl-c`, I first get `KeyboardInterrupt` message, and then normal xonsh prompt is printed, but if I press enter button, it outputs either xonsh or gdb prompt in random order. In fact, gdb never exits on ctrl-c, in bash it just prints `Quit` in it's shell.
[code]
If I then press ctrl-d (to exit gdb) and `reset` xonsh returns to normal behavior.

[2015-03-23 12:23] mbollmann commented on #102
Logically, I think this behaviour is best implemented as a command-line switch, and I don't really like the added complexity of a second configuration file. People will find it more confusing at first what goes into which file. I wouldn't find a proxy script that just calls `xonsh --no-load-bash-aliases` too kludgy, but of course this also isn't a solution if such cases pop up more frequently.

Ca

[2015-03-23 12:23] wrywerytwreywery commented on #137
I agree wholeheartedly.  I would be happy to take this one on.

[2015-03-23 12:55] mbollmann commented on #137
I was already thinking whether the standard subprocess mode $[...] shouldn't return the command's exit code by default, however, a naive implementation would cause the exit code to be printed on screen then each time. Also, the "success" code is 0, which means it can't easily be used in standard Python comparisons, which is awkward.

Alternatively, $[...] could return a StatusCode object, which wo

[2015-03-23 15:05] scopatz commented on #137
Hi All, before anyone gets too far down the road on this, I'd like to make a few points:

1. Right now you can do something that is semantically equivalent to bash `&&` by separating with  semicolons `;`. No, it doesn't check the return status, but it does fail approriately.
2. I would like to see Python's logical operators used (`and`, `or`, `not`) rather than Bash's and C's logical operators (`&

[2015-03-23 15:25] averageapps commented on #137
@scopatz You are right, using standard python operators for this would be more elegant.
Thanks for the hint that the semicolon behaves this way.

[2015-03-23 16:00] #131 closed

[2015-03-23 16:01] scopatz commented on #131
@abadger - let us know if this fixes the problem.  Please re-open if it doesn't

[2015-03-23 16:10] scopatz commented on #135
Thanks for reporting @pdavydov108

[2015-03-23 16:12] scopatz commented on #102
Yep, I am happy with both.

[2015-03-23 16:13] scopatz commented on #102
And they can be implemented separately :)

[2015-03-23 18:34] abadger commented on #131
Yep, fixed!  Thanks.

[2015-03-24 01:38] wrywerytwreywery commented on #133
From what I can tell, this seems to be a problem with `p_suite`, and in particular with the details of how `INDENT` and `DEDENT` are handled.  Nested functions also seem not to work, as an example.

I have something of a plan for a new lexer, making use of the `tokenize` module.  I think that change, along with some slight changes to the parser to make it match Python's grammar more closely, shoul

[2015-03-24 01:45] scopatz commented on #135
Hi @pdavydov108 - I believe that the current master (bac6bfb) should fix this issue.

[2015-03-24 01:45] scopatz commented on #135
Would you please verify and let us know! Thanks.

[2015-03-24 01:48] scopatz commented on #139
Hi yes, this is a weird issue where Crtl-C isn't getting captured at the right place in a subprocess.

[2015-03-24 01:48] wrywerytwreywery commented on #139
I have noticed this same behavior as well with certain programs (mutt and less for me).  It seems like the shell is receiving that signal and acting on it, even when the program in between the user and the shell is ignoring it.

[2015-03-24 01:48] scopatz commented on #139
I think I might know a fix.  I'll give it a try.

[2015-03-24 01:49] scopatz commented on #139
Also, you are right @wrywerytwreywery - this is very much not specific to gdb

[2015-03-24 02:37] scopatz commented on #139
Ok @pdavydov108 and @wrywerytwreywery - I believe that the current master (1e76fd0) fixes this.  Could you confirm, please?

[2015-03-24 02:41] wrywerytwreywery commented on #139
Seems to work for me!

[2015-03-24 02:48] scopatz commented on #133
Doesn't tokenize only work on Python source code?

[2015-03-24 02:53] scopatz commented on #133
Also we should be able to write some simple tests for this.

[2015-03-24 02:56] scopatz commented on #134
I can confirmed this behaviour.  Thanks for the report!

[2015-03-24 02:58] wrywerytwreywery commented on #133
Sort of.  It will produce tokens for things like `$` and `?` though, so we should be able to make good use of it.  So my thought was:
* lex using `tokenize` (should get indents/dedents "right", and should otherwise produce something very close to what your code is making)
* pass through the token stream to convert it to PLY tokens, and to parse out things like `$(` that wouldn't otherwise be valid

[2015-03-24 03:03] wrywerytwreywery opened #141 "Job Control"
I think this won't be easy given how xonsh is put together, but it would be great to support some job control commands (ctrl-z, fg, bg, etc) in addition to having the ability to start a subprocess in the background.

[2015-03-24 04:30] scopatz commented on #133
This affects if-statements too:

[code]

[2015-03-24 04:54] scopatz commented on #133
OK, so I think that this is a known issue and there are a number of PLY-based solutions out there [1-3].  Before you run off and try to rewrite the lexer with tokenize @wrywerytwreywery , I'd like to try a PLY solution. I think that this was just something that I overlooked originally, and not critical flaw.  I also think that ultimately it will be better (faster) to keep everything in PLY.

1. ht

[2015-03-24 04:54] scopatz commented on #133
Not that I don't appreciate the thought :)

[2015-03-24 05:07] scopatz commented on #141
I should note that ending with `&` already exists.  So I think bg is a simple alias along the lines of:

[code]

We might need to build a jobs set, but that shouldn't be too hard.  Also Ctrl-z would be a feature of the Shell, I feel like, which would then need to send the SIGTSTP to the current process.

[2015-03-24 08:25] SmartViking commented on #141
In bash/zsh each job is given a number and you can select which to `fg` with `fg %n`, or kill like `kill %n`, I think xonsh should support something similar to that.

[2015-03-24 11:20] pdavydov108 commented on #139
Works for me too! Thanks for quick fix @scopatz .

[2015-03-24 11:20] #139 closed

[2015-03-24 11:23] pdavydov108 commented on #135
Hi @scopatz ! I've installed the current master (1e76fd076575c3c3d9706e337ef9aa6d41fabe3a) and it works just fine, thanks.

[2015-03-24 11:23] #135 closed

[2015-03-24 13:05] wrywerytwreywery commented on #141
bg and fg are a little more complicated, as they can act on running jobs to push them to the background or bring them to the foreground, so we would definitely need a jobs list.  And we would also need the shell to have a notion of which process, if any, is in the foreground.

There is also the question of the nice way to get xonsh to grab the `SIGSTP` and send it to the current foreground process

[2015-03-24 13:12] wrywerytwreywery commented on #133
My feeling is that the benefits still outweigh the drawbacks; it should be much easier to get everything right if we just hook into Python's tokenizer, and most of the methods you linked to (which I had looked at) implement at least one post-processing step anyway, so I think the speed difference is likely to be negligible.  Otherwise, aren't we likely to be having this conversation again when som

[2015-03-24 13:15] wrywerytwreywery commented on #141
The behavior that I really want, by the way, is at least the following:
* start a process (not backgrounded)
* stop with ctrl-z
* run another command
* bring original process back to foreground

and...
* start a process (not backgrounded)
* realize i wanted it backgrounded
* stop with ctrl-z
* send to background to let it run but keep the shell open for other commands

[2015-03-24 16:27] asmeurer opened #142 "Website suggestions"
Some suggestions when reading the website:

- Make the link to GitHub more prominent (a "fork me on GitHub" banner is one way to do this).

- You can just use `-c scopatz` in the conda command. The full binstar url is not required.

- The movie is low res and looks bad on my retina display

[2015-03-24 20:18] scopatz commented on #132
This should be implemented now

[2015-03-25 01:22] wrywerytwreywery commented on #133
Hi @scopatz,

I spent a little bit of time earlier today trying to get a PLY version working, but I wasn't able to.

However, I think I do have something working with tokenize.  I haven't updated the tests, but I ran it through everything on the tutorial and some of the syntax issues we had had trouble with over the last few days (including the original one in this post), and as far as I can tell,

[2015-03-25 01:40] scopatz commented on #142
Thanks @asmeurer!

Will do.

Will do.

Will do the next time that we make a movie.

[2015-03-25 12:20] SmartViking commented on #141
One job may contain several processes, like this:

[code]

Both `find` and `cat` are considered (here by zsh) as one job.

[2015-03-25 16:30] anula commented on #17
Are you (or anyone) already implementing this? It sounds like an interesting project and I would be happy to implement it if no one else has started yet.

[2015-03-25 17:08] scopatz commented on #17
Hi @anula - to the best of my knowledge, no one has started implementing this yet.  It would be great if you wanted to take a stab it.  We definitely need people to start implementing all of the desired features :)

[2015-03-25 19:44] neoecos opened #146 "[bug] Error parsing rvm-restart in aliases.py"
Hi, i think there's a bug, i have rvm installed (rvm.io)

/usr/local/lib/python3.4/dist-packages/xonsh/aliases.py:89: RuntimeWarning: could not parse Bash alias "rvm-restart": ValueError('No escaped character',)
  RuntimeWarning)

[2015-03-25 20:00] scopatz commented on #146
Hi @neoecos, what is the alias that you are using?  Also are you on the master HEAD or v0.1.3?  There is a bug related to this (possibly) that we have fixed in master.

[2015-03-25 20:03] neoecos commented on #146
Hi, i don't know the alias. I assume is one created by rvm. I'm usiing 0.13 in 0.12 there were no log about this problem.

[2015-03-25 20:44] scopatz commented on #146
In bash, what do you get when you type the following:

[code]

[2015-03-25 21:01] neoecos commented on #146
sortiz@mtardis:~$  alias rvm-restart
alias rvm-restart='rvm_reload_flag=1 source
'\''/home/sortiz/.rvm/scripts/rvm'\'''

On Wed, Mar 25, 2015 at 3:44 PM, Anthony Scopatz <notifications@github.com>
wrote:

--
Sebastián Ortiz Vásquez.
2015

[2015-03-25 21:02] neoecos commented on #146
I also checked running it, and it does !
[code]

[2015-03-25 21:07] scopatz commented on #146
Ahh yeah, So this bash alias isn't importable into xonsh for a couple of reasons.  (1) it uses source and (2) the quotes are messed up for xonsh syntax.  The warning that you are seeing is xonsh just skipping this alias.  We are working on a mechanism to turn off bash-alias importing, but it is not done yet.  This really does not effect much if you don't use the alias.

[2015-03-25 23:05] wrywerytwreywery opened #147 "Simple multiple assignment leads to a syntax error"
I can't figure out why, but simple multiple assignments (like `a, b = 7, 8`) are syntax errors in xonsh.  Starexprs seem to work fine (like the tests currently in tests/test_parser.py, e.g. `*x, y = [1,2,3]`).

I can't see why, but `a, b` seems not to parse out to a `testlist_star_expr`, despite having the right tokens (`NAME`, `COMMA`, `NAME`).    It does parse down to a testlist.  I tried changi

[2015-03-25 23:10] scopatz commented on #147
This seems to be an issue with grouping the left-hand side.  Adding parentheses seems to make everything work:

[code]

I doubt that this is anything that you did @wrywerytwreywery since `a, b = 7, 8` fails on the current master too (cfb031b82765d2713e144b9aaa01ae8b299f46ee).

[2015-03-25 23:13] wrywerytwreywery commented on #147
Oh, that makes sense that it would error if it's grouping that, for example, as `(a,  b=7, 8)`, rather than `(a,b) = (7,8)`.

[2015-03-25 23:20] wrywerytwreywery commented on #133
Hi @abadger,  I think this should be resolved now on the current master (588fa2b377ff91af44dd11c10749697797d223ab).  Can you please verify?

[2015-03-25 23:20] wrywerytwreywery commented on #134
Hi @eldamir,  I think this should be resolved now on the current master (588fa2b377ff91af44dd11c10749697797d223ab).  Can you please verify?

[2015-03-25 23:28] scopatz commented on #142
The first two have been implemented.  The third will have to wait until v0.2

[2015-03-25 23:40] #132 closed

[2015-03-26 01:49] abadger commented on #133
Progress!  It's not perfect but I can get something working if I obey some rules in addition to what python normally allows.

So here's something that works:

[code]
(Not doing anything fancy with DefaultPromptFormatter yet so you could just inherit from object and get rid of the super call to test on unmodified xonsh).

Things that don't work though:
* If ```__init__()``` comes before ```get_tty(

[2015-03-26 02:08] wrywerytwreywery commented on #133
Are you sure you merged with master?  I am unable to reproduce either the issue with blank lines, or with defining `get_tty` before `__init__`.

[2015-03-26 02:19] abadger commented on #133
Doh!  I know what I did.  (pulled from my fork instead of fetching from upstream).  Let me retry my test.

[2015-03-26 02:41] abadger commented on #133
okay, with a fresh checkout it looks like those bugs are gone as well :-)  Everything I've tested looks good.

[2015-03-26 02:53] wrywerytwreywery commented on #133
Great; thanks!

[2015-03-26 03:51] SmartViking commented on #141
You can intercept CTRL-Z with this:

[code]
As I understand it, the fg process will receive `SIGTSTP` and then the main thread will pause execution and run this function. The problem becomes: how to deal with `Popen.communicate()` in `built_ins.run_subproc`? You have make it stop waiting. I tried raising exceptions in `handler` and you can indeed catch them to cancel the waiting. But can that brea

[2015-03-26 04:01] SmartViking opened #148 "File-redirect and `&` aren't compatible"
[code]
The above doesn't create `file`. The reason for the bug is in `built_ins.run_subproc`. When it's a background job it doesn't wait, and consequently doesn't write to the file at the end.

Maybe the fix would be send the object created by `open` as the `stdout` argument to `Popen`? Then, presumably, the process will begin writing to the file before all the output is computed, which is more st

[2015-03-26 04:10] scopatz commented on #148
Yep.  This is an issue.  Thanks for reporting @SmartViking

[2015-03-26 04:16] scopatz commented on #141
Maybe with [something like this](http://stackoverflow.com/a/12058234/2312428) where the process is polled until it is done?

[2015-03-26 04:18] scopatz commented on #141
And if the process is ever put into the background, then the loop is broken out of and communicate never happens

[2015-03-26 04:19] wrywerytwreywery commented on #141
I have something vaguely resembling a plan for this :) I was planning to dig in in the morning.

I think, roughly, it means: we don't want to be using `communicate` anymore.  We can use `poll` instead to check whether the process is still alive.  And if we keep some sort of structure around that tells us the current foreground process, we know what to `poll` (and, also, where to send signals if ne

[2015-03-26 04:23] scopatz commented on #141
Something with multiprocess sounds right to me :).  ProcProxy was a quick hack to get functionality.  Originally I wanted xonsh to be fully usable as possible.

[2015-03-26 04:24] wrywerytwreywery commented on #147
I'm happy to try to give this a shot sometime over the next couple of days, but if you want to take it, that would be fine, too!

[2015-03-26 04:29] scopatz commented on #147
I'll take a look tonight. One of my friends (@gidden) is defending his PhD tomorrow, so I might not be really around tomorrow night :)

[2015-03-26 08:47] anula commented on #17
Great! Then I will start implementing it ;)
One question for now - this extended history should last only for current session, or should be preserved indefinitely? I think that IPython keeps it only for current session, also I don't see any particular use-case for keeping it longer, but maybe I am missing something.

[2015-03-26 14:11] scopatz commented on #17
History should definitely have the option of being persisted. The length of history saved should determined by the `$XONSH_HISTORY_LENGTH`  environment variable.  One thing that would be super neat that you can also think about is having each xonsh session  have its own id and its own history in whatever file is stored.  Thanks!

[2015-03-26 14:12] scopatz commented on #17
This would replace the current history that is written by readline.

[2015-03-26 22:46] wrywerytwreywery commented on #141
I spent some time today trying to rework `ProcProxy`.  As with anything involving `multiprocessing`, shared memory is the hard part (both `cd` and `exit` want to change global variables in the main process), so that rewrite is going to be harder than I expected (though I still think it's possible).  Using `threading` instead would fix that problem, but it also doesn't quite do the trick, since, as

[2015-03-27 02:48] SmartViking commented on #141
Won't the user of xonsh also have to deal with shared memory complications when they're writing aliases? That would make xonsh inaccessible and difficult to use for a lot of people who otherwise would be able to use it.

[2015-03-27 03:25] wrywerytwreywery commented on #141
Yes; I decided to leave `ProcProxy` as it is (at least for now), for exactly that reason.

[2015-03-27 03:25] SmartViking commented on #141
Maybe you could use special decorators for things you want threaded/multiprocessed.

And btw, shouldn't it be possible to create aliases that read/write from stdin/stdout instead of receiving the full deal and returning the full deal? That would enable the alias to run simultaneously as the other parts of a pipe. You could have a decorator for that too.

[2015-03-27 03:45] wrywerytwreywery commented on #141
I have what I think is a working version of job control (ctrl-z, `jobs`, `fg`, `bg`) in wrywerytwreywery/xonsh on the job_control branch as of right now.  It currently only works for subprocesses, and `ProcProxy` exists as it was before.  I am planning on doing some cleanup (and maybe trying to deal with `ProcProxy`) before submitting a pull request, but if you're interested, I'd appreciate more t

[2015-03-27 06:22] #147 closed

[2015-03-27 12:07] jalanb commented on #17
I would definitely prefer that the current history be preserved indefinitelty. (One of my major bugbears with bash is that it took me (literally) decades to find out how to keep history for long enough to get back "that iptables command we used on Project X about 2 years ago". Even now I only *think* the bash history is long enough, but only started new system on 2015/02/04).

If an environment va

[2015-03-27 13:32] scopatz commented on #17
Yep @jalanb - something like that.

[2015-03-27 15:08] anula commented on #17
Sure - I agree that command history should be kept for as long as possible. I also very often try to find a command in my history just to discover that max length is too short to contain the particular command.
But I don't see much value in preserving stdout or stderr for so long - have you ever needed those after time longer than, let's say, a month?
Main issue here is that there are many situati

[2015-03-27 22:51] bsmt opened #153 "Add bash-like history syntax (!!, !n, etc.)"
[Here's](http://www.softpanorama.info/Scripting/Shellorama/bash_command_history_reuse.shtml) a decent (albeit ugly) description of what bash can do. I'm not sure if duplicating all of that is necessary, should probably have !!, !n, and !-n at the very least. I've already started working on this, but it'll probably take me a while to get familiar with all of the code.

[2015-03-27 22:56] scopatz commented on #17
Hi @anula - I agree with you on many of these points.  Setting a garbage collection timer would be an awesome feature :).  However, I do think that different people have different use cases and so most of these choices what, how much, and how long to store things should be configurable.  xonsh should have sensible defaults but accommodate use cases on all ends of the spectrum.

[2015-03-27 22:58] scopatz commented on #153
Hi @bsmt - thanks for reporting this issue.  I agree that this functionality should exist, in some form.  It is probably dependent on #17 to some extent.

That said, I feel like copying the `!`, `!!`, etc  syntax here is a mistake.  This is a bit of arcana that makes bash especially hard to use.  I'd much prefer a built-in alias to do the same thing.  Pull requests very welcome here.

[2015-03-27 23:00] bsmt commented on #153
I guess I could start by just implementing stuff on the parser end until #17 is done. What do you think we should use instead of the ! stuff?

[2015-03-27 23:04] scopatz commented on #153
My point is that this shouldn't touch the parser at all.  history lookup and execution should not be part of the language syntax, but rather but rather be a built-in function.  You could try connecting with @anula, or you could implement a really simple history list for the time being.

[2015-03-27 23:06] bsmt commented on #153
Ah. Would that still work within a subprocess command (say, like sudo !! in bash/zsh)? I just started using xonsh a day or two ago so I'm not totally sure how everything works. Even if it doesn't, I guess there could just be a built-in alias to run the last command in sudo; that's probably what 90% of people use this feature for anyways.

[2015-03-27 23:14] bsmt commented on #17
I can help with this too if it won't conflict with @anula.

[2015-03-27 23:15] scopatz commented on #153
Ahh so for that kind of thing, you'd drop into python mode, go to the history object (call it `hist`) and then get the last stdin.  For example:

[code]

Or something similar.  We could always add more direct access mechanisms too, but that is the basic idea.

[2015-03-27 23:19] bsmt commented on #153
Gotcha; that makes sense. I guess this issue is somewhat redundant then.

[2015-03-27 23:19] #153 closed

[2015-03-27 23:22] scopatz commented on #153
Well, this isn't entirely redundant in the sense that `$ !!` will execute the command, and `$ @(hist[-1].stdin)` might just print the command list, depending on how the history class is implemented.  So there is room for an alias that executes commands from history.

[2015-03-27 23:22] scopatz commented on #153
It just wouldn't apply in the `sudo`, `time`, etc case.

[2015-03-27 23:27] wrywerytwreywery commented on #153
fwiw, I think the example from above of `sudo @(hist[-1].stdin)` wouldn't quite work without some modification to xonsh, because the `@(...)` doesn't currently parse out whatever is inside of it; it just returns it verbatim as a single piece of the command to be run.  So, for example:

`@("ls") -la` would work (the result of the Python-mode chunk, `"ls"`, is a valid command), but...

[code]
becaus

[2015-03-27 23:48] scopatz commented on #153
Yep.  The hooks are there to do this, it just needs to be implemented.

[2015-03-28 02:24] scopatz opened #154 "Parser error on import *"
Well, that is one way to prevent bad behaviour :)

[code]

[2015-03-28 05:48] SmartViking commented on #153
The problem above is kind of like when you construct lists in lisp:

[code]

Maybe there should be an analog to `,@` for xonsh?

[2015-03-28 14:13] scopatz commented on #154
closed by #156

[2015-03-28 14:13] #154 closed

[2015-03-28 14:29] scopatz commented on #153
@SmartViking what does `,@` do in lisp?  It has been over a decade so a refresher would be nice. :) It looks like it expand at the scope of the `,@` rather than inserting at the scope of `,`.

[2015-03-28 14:57] wrywerytwreywery commented on #153
It seems like what we want is _almost_ `*@("ls -la")` (assuming the changes to "star" from [PEP 448](https://www.python.org/dev/peps/pep-0448/)), except that `@(...)` makes a string, so that expansion wouldn't quite work, I think.  Of course, that is workable since the definition of `@(...)` isn't set in stone.

My proposal would be:
* `@()` works as before, returning a string that is added to the

[2015-03-28 15:03] scopatz commented on #153
So my proposal is to not add any extra syntax, but rather to update the parses such that:

* if `@()` returns a string, its inserted as the next argument in a subrporcess.
* else if `@()` returns a list or other `collections.Sequence`, it is assumed that this is a list of string and they extend the argument list, much like the backtick regex
* else call `str()` on the result of `@()` and append it

[2015-03-29 02:46] wrywerytwreywery commented on #141
I am going to close this one for now since job control has been implemented, and I'd like to table updates to `ProcProxy`.  I was writing something this morning and it was close to working, but it's tricky to get exactly right (I was reimplementing a lot of low-level things to try to make pipes work), and as time went on, I because less certain of the benefits.

My current feeling is that the righ

[2015-03-29 02:46] #141 closed

[2015-03-29 03:10] icarito opened #161 "Ctrl-C does not abort readline (reverse-i-search)"
Often I need to look up an older command.
I use readline's ctrl-r for an incremental history search.

Many times I abort the search for whatever reason, using Ctrl-C. This works in bash, but not in xonsh.

To test:
1. In xonsh, use Ctrl-r
2. Start typing (so it will traverse history)
3. Type Ctrl-c to abort
4. Aparently all is fine.
5. Now press enter.
6. Last command in reverse search will be exe

[2015-03-29 03:33] scopatz commented on #141
I think that is reasonable.

On Sat, Mar 28, 2015, 9:46 PM Adam Hartz <notifications@github.com> wrote:

[2015-03-29 16:37] wrywerytwreywery commented on #161
I can confirm this behavior (Ubuntu 14.04, Python 3.4, libreadline 6.3-4ubuntu2).  This may be a duplicate of issue #78, although the specific symptoms seem to have changed since then.

[2015-03-29 18:01] icarito commented on #161
Indeed this is a duplicate of #78 so I'm closing this one. Thanks for pointing it out.

[2015-03-29 18:01] #161 closed

[2015-03-29 19:27] wrywerytwreywery commented on #78
I tried out the suggestion in #91 (calling `reset_line_state` on receiving a `KeyboardInterrupt`), but it did not work for me.  I also tried a few other functions within libreadline that looked promising (`free_line_state`, for one), but nothing seemed to do the trick.  I also tried updating Python to 3.4.3 from Python 3.4.0, but that didn't fix, either.

Looking at the docs, it seems like readlin

[2015-03-29 20:19] wrywerytwreywery commented on #106
Hi @GMLudo,  I believe this issue has been resolved on the current master (1ff8b24cdf070125a36818ada55b052ac244ec59).  Can you please try and confirm?

[2015-03-29 20:22] wrywerytwreywery commented on #133
I believe this is resolved, so I am going to close this issue.  Please feel free to re-open if you feel that this hasn't been addressed properly.

[2015-03-29 20:22] #133 closed

[2015-03-29 20:32] wrywerytwreywery commented on #78
FWIW, though, Python's REPL also has this bug (or maybe it's somehow intentional?), so I don't think there is going to be an easy fix.

[2015-03-29 20:37] scopatz commented on #78
Here is my system:

[code]

And for bugs that Python's REPL shares, the fix pretty much has to go through ctypes.

[2015-03-30 01:44] scopatz opened #166 "Add flag for running interactively or not"
Probably should have this as an environment variable.

[2015-03-30 04:04] wrywerytwreywery commented on #107
Closed by #164.

[2015-03-30 04:04] #107 closed

[2015-03-30 09:20] oersted commented on #66
Actually, Debian Wheezy (Stable) is still using Python 3.2 and it's a bit of a pain to install 3.4 as it is necessary to add the Sid repositories which shouldn't be done generally. A manual installation is always an option, but I guess there's a reason why 3.4 isn't yet in the stable repositories. If you want to use pip to install Xonsh, pip3.4 has to be installed too. Taking into account how much

[2015-03-30 14:03] scopatz commented on #66
Hi @oersted, I didn't know debian was still on v3.2.  I am happy to support older versions of Python, including the 3 series.  But this is a place where we could use some serious help, independent of how it is implemented.  If someone iworking on this and running into problems, please let us know!

[2015-03-30 14:09] GMLudo commented on #106
Hi @wrywerytwreywery, I've just tested 0.1.4 release, it runs like a charm, thank you a lot for your follow-up.

[2015-03-30 14:09] #106 closed

[2015-03-30 14:13] GMLudo commented on #66
@oersted: You can install easily Python 3.4 on Debian Wheezy with Pythonz project: https://github.com/saghul/pythonz

BTW, it isn't my personal time, but if I was a developer of xonsh, I would work to implement new features instead of to try to support all Python versions.

[2015-03-30 15:34] scopatz opened #167 "Parser error for "ls file; ls file""
So `ls file; ls file` will now enter multiline mode, and then fail.  Defining a function will similarly fail:

[code]

Looks like the execer still needs some work :)

[2015-03-30 16:33] wrywerytwreywery commented on #167
I won't have time to look at this for a while, but printing the values fed to `Lexer.input` gives some clue:
[code]

I do remember messing around with the treatment of semicolons in `subproc_toks`.  Hopefully not, but I may have broken something there.

[2015-03-30 16:35] scopatz commented on #167
I'll take a look later tonight.

[2015-03-30 16:36] scopatz commented on #167
I just didn't want to forget.

[2015-03-30 23:40] scopatz commented on #167
@wrywerytwreywery I think that the `subproc_toks()` function is OK since there are test cases that cover this and pass.

[2015-03-31 00:30] scopatz commented on #111
I believe that this is fixed by #167

[2015-03-31 02:10] wrywerytwreywery commented on #78
Also, a few (seemingly unresolved) bug reports filed in IPython as well for this same issue, so we're not alone.

Apparently the default readline binding to abort the search is ctrl-g, not ctrl-c; so using that is a workaround (that, it seems, or hitting ctrl-c twice).

I can try to take a look in the next day or so, to try to figure out how bash handles this (since ctrl-c seems to work to cancel

[2015-03-31 02:51] blink1073 opened #171 "Enable Subprocess Completion for Subsequent Tokens"
I have used the following to set my bash completion:
[code]

There's a `git-completion.bash` in that folder, so one would expect to be able to type `git clo<TAB>` and get `git clone`.  I read in the docs that completion is enabled for the first token in Subprocess mode.  Is there a chance to enable it for the rest of the tokens as well?

[2015-03-31 02:52] blink1073 commented on #171
Right now subsequent tokens are treated as Python, so that if I type `git cl<TAB>` I get `git class`.

[2015-03-31 03:00] blink1073 commented on #71
This may be of interest for an alternative: https://github.com/davidhalter/jedi/blob/master/jedi/utils.py#L17

[2015-03-31 03:23] blink1073 opened #172 "Stdin option not working"
I am attempting to make a simple `Xonsh` Jupyter Kernel using [Metakernel](https://pypi.python.org/pypi/metakernel) (which provides a standard set of magics).  I have a rough implementation [here](https://gist.github.com/blink1073/4289a9393880b5d3e74b).  I tried to follow along with the `stdin` option in `main.py`, but ran into an issue [here](https://gist.github.com/blink1073/4289a9393880b5d3e74b

[2015-03-31 03:46] blink1073 commented on #172
It *almost* works if I detect the `TypeError`, and add `$()` around it.  However, is there a way to capture the stdout and stderr?  Right now I get `None` back from `compile` when I add the `$()` and the stderr is piped to the console where kernel was started.

[2015-03-31 03:56] scopatz commented on #71
Cool, thanks @blink1073

[2015-03-31 04:04] blink1073 commented on #172
Stdout is now working if I use `eval` instead of `exec`, but it is still going to the kernel instead of the frontend.

[2015-03-31 04:04] blink1073 commented on #172
My brain is about to explode, that's enough for tonight :smile:

[2015-03-31 06:30] scopatz commented on #171
Hi @blink1073 - where are you setting the `$BASH_COMPLETIONS`? This needs to be done in the `~/.xonshrc` file.  Also, since you are using the backtick globbing, you probably meant to do `.*` at the end of your regex.  That is:

[code]

Do those fixes help?

[2015-03-31 06:36] scopatz commented on #172
Hi @blink1073, first off this would be amazing!

Secondly, I think that you probably should use exec mode.  The fix for forcing exec mode instead of eval is to ensure that the input ends in a newline.  For example, you can just do something like:

[code]

and then xonsh should work fine.

[2015-03-31 08:47] SmartViking commented on #111
Unfortunately it seems to halt:

    uglemat@uglemat ~ $ def f():
    ...................   cd -
    ...................

    ^C
    uglemat@uglemat ~ $ def f():
    ...................   $[cd -]
    ...................
    uglemat@uglemat ~ $

[2015-03-31 11:27] wrywerytwreywery commented on #172
Hi @blink1073, also it might be worth noting that the original error you posted seems to be caused by the issue we are working on in #168.  So I don't think there's necessarily an issue with the way you're handling `stdin`; what you're seeing could be caused by that bug.  A test would be to send in `ls .` instead of `ls` and see whether that works.

[2015-03-31 12:30] blink1073 commented on #171
Works on my Linux box, I'll try it on my Mac when I get home, thanks @scopatz.

[2015-03-31 13:00] blink1073 commented on #172
@wrywerytwreywery, `ls .` works as expected.  I think `xonsh` may need to be run as a subprocess (using the [process metakernel](https://github.com/blink1073/metakernel/blob/master/metakernel/process_metakernel.py#L14])), which will give us finer grain control over stdout/stderr, and avoid `exec` interfering with IPython itself, as evidenced when I `exec` `1 + 1`:

[code]

[2015-03-31 22:35] blink1073 commented on #171
Yep, it works now, but I get a *lot* of errors when I start up.  Here's a sampling:

[code]

[2015-03-31 22:41] scopatz commented on #171
Can you post the full output please?

[2015-03-31 22:43] blink1073 commented on #171
https://gist.github.com/blink1073/cdfa267f222f83d1066d

[2015-03-31 22:47] scopatz commented on #171
You need to add the file "/usr/local/etc/bash_completion" to the front of the list, if it exists.  If not, you need to find the bash completion file that contains the `have()` function and then put that file at the beginning.

[2015-03-31 22:54] blink1073 commented on #171
`have()` is indeed defined in "/usr/local/etc/bash_completion", and I added as

[code]

The error persists.  I verified that the desired file was first in `$BASH_COMPLETIONS`.

[2015-03-31 23:04] scopatz commented on #171
What if you leave off the regex globbing?  Here is what mine looks like:

[code]

[2015-03-31 23:06] scopatz commented on #111
What if you do:

[code]

[2015-03-31 23:48] #148 closed

[2015-03-31 23:49] scopatz commented on #148
@SmartViking can you confirm that master (c3bb6acae2f1e2b83594501cad5cdc7fc8536dd7) fixes the issue for you, please? Thanks!

[2015-04-01 00:08] scopatz opened #174 "Updating $PATH error"
Updating $PATH or other container variables in-place does not invalidate the detype'd cache.  Should be a quick fix, but I don't want to forget.

[2015-04-01 01:15] wrywerytwreywery opened #176 "Issues when SSH'ing (with command) into machine running xonsh"
I have noticed two issues with SSH'ing with a command into a machine running xonsh (i.e., `ssh machine_running_xonsh COMMAND`).  I have plans to fix these, but I wanted to document them.

* Currently, running any command in this way will error.  This is because of a bug in the job control, where it tries to pass the terminal in which it is currently running to a child subprocess; but when started

[2015-04-01 01:27] scopatz commented on #176
Crazy!  I haven't tried this yet.  sshing in as a log in (no command) works, though, right?

[2015-04-01 01:35] blink1073 commented on #171
We have a winner!

[2015-04-01 01:37] blink1073 commented on #171
Final version: `$BASH_COMPLETIONS=["/usr/local/etc/bash_completion"]`

[2015-04-01 01:38] wrywerytwreywery commented on #176
Yep.  Because (I think) ssh actually connects us to a terminal in that case, whereas, with a command, it seems to just hook us up to a pipe.

[2015-04-01 01:38] wrywerytwreywery commented on #176
I may be able to get a fix pushed tonight.

[2015-04-01 01:56] scopatz commented on #171
Great!  Please feel free to close.

[2015-04-01 02:06] blink1073 commented on #171
I'm pondering whether the docs should be more explicit on this.  Right now `$BASH_COMPLETION` is mentioned in the doc, but not the fact that it *must* be in the `.xonshrc` file (I was setting it via the command line at first).  It also mentions that the defaults are platform dependent, but sane.  When using brew, it ends up in `$(brew --prefix)/etc/bash_completion`.  When using Macports its in `/o

[2015-04-01 02:11] blink1073 commented on #171
(or just assume `/usr/local/` for `(brew --prefix)` since that is the default).

[2015-04-01 04:50] scopatz commented on #171
Hi @blink1073 - I completely agree.  The docs should be more explicit.  Also, I am all for adding checks for common locations in environ.  Adding extra files should be safe, since the completer will check for the file's existence before trying to source it.

Pull requests are really very welcome here for both of these issues. I clearly did a bad job on the docs the first time and I can't test this

[2015-04-01 12:57] #167 closed

[2015-04-01 13:11] #174 closed

[2015-04-01 14:09] #176 closed

[2015-04-01 16:01] aig787 opened #178 "Exec bashrc crash"
I added lines to my .bashrc to exec xonsh instead if present and it immediately crashes. If I redirect stdout to a file it looks like the error I get is

Traceback (most recent call last):
  2   File "/usr/local/bin/xonsh", line 3, in <module>
  3     main()
  4   File "/usr/local/lib/python3.4/dist-packages/xonsh/main.py", line 61, in m    ain
  5     code = shell.execer.compile(code, mode='exec'

[2015-04-01 16:39] scopatz commented on #178
Hi @aig787 - what version of xonsh are you on?  This looks suspiciously similar to an issue that is now fixed on master, if you want to give that a try.  Thanks for reporting!

[2015-04-01 16:45] wrywerytwreywery commented on #178
Won't it also be the case, though, that, even if this issue has been resolved, having bashrc start xonsh could lead to an infinite loop (since xonsh runs bash when getting the initial environment and when trying to import aliases)?

[2015-04-01 16:53] scopatz commented on #178
@wrywerytwreywery probably, unless @aig787 has xonsh running in an if-block that first checks to make sure that xonsh isn't running.

[2015-04-01 16:54] scopatz commented on #178
PS infinite bash loops are really annoying since they hang forever and eat up all of your system resources.

[2015-04-01 18:17] aig787 commented on #178
@scopatz and @wrywerytwreywery thanks so much for the awesome (and quick) feedback! I'm running 0.1.4 and it looks like it's a combination of the two you mentioned depending on quotes. If I put `exec 'xonsh'` I get the crash, if I put `exec xonsh` everything goes okay after I added the bit to check if it was already running.

When I went to install from master to see if the quote problem has been

[2015-04-01 18:38] SmartViking commented on #148
Yep, works as expected now.

[2015-04-01 18:40] SmartViking commented on #111
The problem seems to be fixed on current master.

[2015-04-01 18:40] #111 closed

[2015-04-02 00:17] scopatz commented on #178
When do you see this @aig787? When you install or when you run?

[2015-04-02 03:39] #171 closed

[2015-04-02 03:42] scopatz commented on #148
Awesome!

[2015-04-02 03:51] aig787 commented on #178
When I run it. If I removed it and was able to install with pip just fine.

[2015-04-02 03:54] scopatz commented on #178
hmm what directory are you in when you run it and what is your python path (ie `python -c 'import sys; import pprint; pprint.pprint(sys.path)'`)

[2015-04-02 08:42] eldamir commented on #134
Sry for the late reply. Yes, it does work for me.

[2015-04-02 15:34] scopatz commented on #134
Thanks for confirming @eldamir

[2015-04-02 15:34] #134 closed

[2015-04-02 16:30] aig787 commented on #178
I'm in my home directory and my python path is

[code]

[2015-04-02 16:34] scopatz commented on #178
Can you install (without sudo) with `python setup.py --user`?  You will need to add `~/.local/bin` to your PATH, too.

[2015-04-02 16:56] aig787 commented on #178
That worked perfectly no issues now. Thanks so much.

[2015-04-02 16:56] #178 closed

[2015-04-02 16:57] scopatz commented on #178
Glad it is working!

[2015-04-02 23:43] scopatz commented on #172
Any updates here @blink1073?

[2015-04-02 23:44] scopatz commented on #172
Just wanna make sure that you aren't stuck because of something in xonsh :)

[2015-04-02 23:45] scopatz commented on #127
I think that the core issue here has been addressed.  Please reopen if you feel otherwise.

[2015-04-02 23:45] #127 closed

[2015-04-02 23:48] scopatz commented on #101
This change has been implemented at some point.  Feel free to reopen if it hasn't been.

[2015-04-02 23:49] scopatz commented on #92
I believe that these issues have all been cleared up @SavinaRoja.  Please reopen if you are still having trouble!  Thanks!

[2015-04-02 23:49] #92 closed

[2015-04-02 23:50] scopatz commented on #91
Great! Thanks again for reporting @mbollmann

[2015-04-02 23:50] #91 closed

[2015-04-02 23:52] scopatz commented on #73
Please feel free to reopen if this has not been addressed.

[2015-04-02 23:52] #73 closed

[2015-04-02 23:54] scopatz opened #181 "Add env variable for whether quotes should be added to tab-completions of files with spaces inthe name"
See #68

[2015-04-02 23:55] scopatz commented on #68
I am closing this in favor of #181.

[2015-04-02 23:55] #68 closed

[2015-04-02 23:55] scopatz commented on #64
Are you still experiencing this on master, @bkeroack?

[2015-04-02 23:58] scopatz commented on #21
Are you still seeing this issue @dahlia?

[2015-04-03 00:49] blink1073 commented on #172
I'm not stuck, just lacking cycles...
I'd still argue there is a valid bug here.  It still fails if I use `echo "$(ls)" | xonsh`.

[2015-04-03 00:51] blink1073 commented on #172
Actually, nevermind, bash is interpreting the command prior to sending it in, I'll just close this.

[2015-04-03 00:51] #172 closed

[2015-04-03 01:29] wrywerytwreywery commented on #181
I am not sure how I feel about this.  Not adding quotes means that tab completion (as currently implemented) would lead to completions that aren't valid.  To me, it seems like if you want to turn off quotes, the only other valid option is not to offer completions for names with spaces in them.  Alternatively, we could allow escaping spaces with `\`, but that feels weird (to me, the "right" way in

[2015-04-03 01:48] scopatz commented on #181
I am not a huge fan of this either, which is why I won't implement it personally :).  Though I do empathize with people who want tools to work for them.  So if someone plopped down a PR that implemented this, I'd be all for including it.  I think the current behaviour should remain as the default, though.

[2015-04-03 02:50] dahlia commented on #21
It still is unchanged, but I might just have a clue.  I’m using `vcprompt` in my `PS1`, could it be related?

[code]

[2015-04-03 02:52] dahlia commented on #21
Oh, `xonsh` doesn’t seem to use `bash`’s `PS1`. Haha…

[2015-04-03 04:36] ivh commented on #101
I just tried (with master) and .. does not get its slash tab-appended, same as before. Still for the same reasons, I think, there is the ellipsis and a second instance of ..

[2015-04-03 16:54] wrywerytwreywery commented on #101
I am planning on working a little bit on tab competion today (to try to deal with names with spaces more appropriately), so I can try to figure out this problem while I am working on that (unless you want to go for it, @ivh).

[2015-04-03 17:27] ivh commented on #101
Please do @wrywerytwreywery, I don't have time for this soon. :)

[2015-04-03 17:44] wrywerytwreywery commented on #166
Closing since this has been implemented (#169)

[2015-04-03 17:44] #166 closed

[2015-04-03 23:08] scopatz commented on #21
In your `~/.xonshrc` file, set `$TITLE = ''` and see if that makes a difference @dahlia.  Thanks!

[2015-04-04 01:55] dahlia commented on #21
It seems xonsh has a builtin vcprompt equivalent, isn’t it?

[2015-04-04 18:13] scopatz commented on #21
Yes, we do.

[2015-04-05 02:45] wrywerytwreywery opened #188 "Parser Error"
The following runs fine in xonsh:
`$ bash -c "echo 'hey'; ls"`

As does the following:
`$ bash -c "echo 'hey'" > test.out`

But the following fails:
[code]

It seems like the combination of `;` and `>` that confuses the parser (even though `;` is inside a string?!)...

[2015-04-05 02:58] scopatz commented on #188
This is probably a `subproc_toks()` error since `$[bash -c "echo 'hey'; ls" > test.out]` works.

[2015-04-05 02:59] scopatz commented on #188
... which really shouldn't be tokenizing inside of a string :)

[2015-04-05 03:15] scopatz commented on #21
@dahlia - can you post what your bashrc is?

[2015-04-05 03:53] dahlia commented on #21
I don’t have .bashrc, but have .bash_profile:

[code]

[2015-04-05 04:14] wrywerytwreywery commented on #188
Yep, looks like the string is being tokenized properly (that is still a string), but `maxcol` is being set to the position of the semicolon in the middle of the string?

[2015-04-05 04:15] wrywerytwreywery commented on #188
Oh, just found it.  In execer.py, line 165: `maxcol = line.find(';', last_error_col)`

Reminds me of my bug with clearing out all comments :)

[2015-04-05 06:35] scopatz commented on #21
So you are sourcing a bunch of things in this profile.  I wonder if this has something to do with it.  Just as a test, what happens if you (temporarily) move the `.bash_profile` to a backup file (`.bash_profile.bak`) and then run xonsh.  Sorry we don't have a great way of starting up with out bash support yet.  If this works, I'll make sure to get a fix out tomorrow.

Alternatively,  you could try

[2015-04-05 06:35] scopatz commented on #21
...if it is coming from the bash startup, that is.

[2015-04-05 07:02] dahlia commented on #21
I renamed .bash_profile to .bash_profile.bak, but it still is unchanged.

[2015-04-05 07:06] scopatz commented on #21
hmmm Ok. I'll keep thinking about it.

[2015-04-05 07:12] dahlia commented on #21
The cursor is wrongly placed if my terminal width is narrower than 85 cols.  If its width reaches 85 cols, the cursor finally becomes well placed.  Note that my hostname is automatically generated by Mac:

[code]

[2015-04-05 07:23] dahlia commented on #21
I just found one more clue. The cursor is correctly placed only if my terminal width is wider than double of the prompt.  For example, my prompt is `dahlia@Hong-Minhees-MacBook-Pro.local ~ $ ` and it consists of 42 characters.

[2015-04-05 07:27] scopatz commented on #21
Interesting!  Try setting the `$PROMPT` in your `~/.xonshrc` to the following:

[code]

[2015-04-05 07:30] dahlia commented on #21
Oh, I got a wrong clue.  Note that it’s my observation:

| Prompt                                                | Prompt width | Terminal width | Correctly placed? |
|-------------------------------------------------------|--------------|----------------|-------------------|
| `dahlia@Hong-Minhees-MacBook-Pro.local ~ $ `          | 42           | 84             | Incorrect         |
| `dahlia@Hon

[2015-04-05 07:32] dahlia commented on #21
Changing ‘$PROMPT’ does not solve the problem: <http://asciinema.org/a/18388>.

[2015-04-05 07:37] scopatz commented on #21
Ok what if you take out all of the color, and everything and just set:

[code]

Does this work with size 84 width terminal?

[2015-04-05 07:42] scopatz commented on #21
Also, since you are using virtualenv, inside of xonsh, what does the following print:

[code]

[2015-04-05 08:15] dahlia commented on #21
It does work! <http://asciinema.org/a/18391>

[2015-04-05 08:15] dahlia commented on #21
[code]

[2015-04-05 18:43] #188 closed

[2015-04-05 19:01] scopatz commented on #21
Yes!  Great.  Now try this.  I want to see if it is a problem with the colors or with the hostname:

[code]

[2015-04-06 03:00] dahlia commented on #21
The cursor is placed well now!

[2015-04-06 03:02] scopatz commented on #21
Great!  What terminal are you using again?

[2015-04-06 03:09] scopatz commented on #21
Also, what does the following return (either in xonsh or in Python):

[code]

[2015-04-06 04:10] dahlia commented on #21
I’m currently using Terminal app bundled by Mac OS X.

![screen shot 2015-04-06 at 1 09 41 pm](https://cloud.githubusercontent.com/assets/12431/7000456/36fcd062-dc5e-11e4-8296-610218cdb36d.png)

[2015-04-06 04:11] dahlia commented on #21
[code]

[2015-04-06 04:41] scopatz commented on #21
OK. So maybe try the following.  Using a color prompt again, go to the Terminal settings, and under "Profiles" -> "Advanced" there is an option to "Declare terminal as".  I believe that right now yours is set to "xterm-256color".  Set this instead to just "xterm".  Open up a new terminal window (so the changes apply) and then start up xonsh again.

Also, what version of Mac OSX are you on?

[2015-04-06 06:09] dahlia commented on #21
Yes, I’ve used xterm-256color as you guessed.  I set this to xterm, but the cursor is still wrongly placed.

![screen shot 2015-04-06 at 3 09 23 pm](https://cloud.githubusercontent.com/assets/12431/7001201/ed6a23ee-dc6e-11e4-8721-49cce686a55b.png)

[2015-04-06 15:30] bkeroack commented on #64
:+1: Looks good to me. Installed 0.1.4 via pip.

[2015-04-06 15:30] #64 closed

[2015-04-06 15:32] scopatz commented on #21
Can you try the current master? We just merged up a possible (though unlikely) fix.

[2015-04-06 17:29] dahlia commented on #21
Still unchanged.  :sweat_smile:

[2015-04-06 22:04] SavinaRoja opened #198 "Slow initialization of xonsh"
I started out writing this issue rather more clueless than I am now that I am finishing it... Basically it seems that the start-up time for PLY might be pretty punitive on weaker processors as found on the Raspberry Pi when it comes to scripting. This issue may or may not be a bit complicated to address.

I installed xonsh on a little Raspberry Pi 2 Model B I have for personal file serving so I co

[2015-04-06 23:32] scopatz commented on #21
Hi @dahlia - could you try the following four prompts, please?

[code]

Also, if you could tell me the output of, the following:

[code]

I think we are narrowing in on what the problem is (colors) but finding the fix is proving tricky / annoying.  Part of the problem is that there is no standard for 256 terminal colors.  Thanks!

[2015-04-06 23:32] scopatz commented on #64
Awesome!

[2015-04-07 01:32] scopatz commented on #198
Fascinating: here are my timings.

[code]

This person from reddit claimed a 25 second startup! http://www.reddit.com/r/commandline/comments/2z7727/xonsh_intelligent_modern_shell/cph3n0a

[2015-04-07 02:14] scopatz commented on #198
So most of the damage comes from the `yacc.lr_parse_table()` fucntion  (https://github.com/dabeaz/ply/blob/master/ply/yacc.py#L2421)  I think that we have a rather complicated parse tree, but trying to smooth that out would only give differential benefits.

[2015-04-07 02:34] scopatz commented on #198
OK I have figured out that you are not running in optimize mode on either your desktop or on the Pi. That explains the really long run times.  Can you please do a clean install and then post the full output, please?  You desktop should be good enough.  Thanks!

[2015-04-07 02:45] dahlia commented on #21
<http://asciinema.org/a/18458>

[code]

[2015-04-07 02:53] scopatz commented on #21
Wow fascinating,  OK.  two more to try and then I promise that is it (hopefully ~_~).

[code]

[2015-04-07 02:58] dahlia commented on #21
<http://asciinema.org/a/18459>

[2015-04-07 03:14] scopatz commented on #21
Hmm, OK.  I really have no idea as to what the root cause of this is.  But at least we have some solutions.  I would recommend playing around with the colors - if you want them.  If you get an example that works with the maximum coloring, please let us know.

I really don't know which piece of this is causing the problem. I'd love it if you run more permutations and determine what is messing thing

[2015-04-07 03:25] SavinaRoja commented on #198
Both of these installations for the testing I did today were from GitHub a couple of hours prior to opening this issue. I'll reinstall and see if anything changes, get back to you in a minute.

[2015-04-07 03:35] SavinaRoja commented on #198
I have an interesting finding; there is a noticeable and reliable difference between installation modes. I created two virtualenvs, one with standard installation and one with a development "Editable" install (this was the mode I was employing before). Here are the summarized results:

[code]

[2015-04-07 03:41] SavinaRoja commented on #198
The new timings for the Raspberry Pi are as follows:

[code]

[2015-04-07 04:01] scopatz commented on #198
What was the command you ran for the editable install?

[2015-04-07 04:02] scopatz commented on #198
Just `--editable`?

[2015-04-07 04:03] SavinaRoja commented on #198
`pip install -e <xonsh-dir>`

[2015-04-07 04:22] scopatz commented on #198
OK!  I believe I have a potential fix for editable on the `e` branch, see #199.  Can you try this out, please?

[2015-04-07 04:41] SavinaRoja commented on #198
Error during installation:
[code]

[2015-04-07 04:59] scopatz commented on #198
Sorry, there was a really stupid bug. It should be fixed now.

[2015-04-07 05:09] SavinaRoja commented on #198
Looks good, new timing:

[code]

[2015-04-07 05:10] scopatz commented on #198
Whoohoo!

[2015-04-07 05:23] SavinaRoja commented on #198
Later when I'm not sleepy I'll have study why this all worked the way it did. I'd still be curious about ways to reduce the load time overhead further, but this definitely knocked out a major part of the observed issue.

[2015-04-07 05:53] scopatz commented on #198
Yup, yup. I am still interested in startup time speedups too.  Feel free to ask any questions!  Further profiling is probably needed to get more speed ups.  For me, it looks like a lot of time is spent in subprocess and `load_builtins()`.  I loading the bash completions is a fair amount of that, which frankly doesn't have to happen in the main thread.

[2015-04-07 06:51] dahlia commented on #21
What permutations could be made?

[2015-04-07 16:26] Russell-Jones-OxPhys commented on #176
For reference, ssh -t allocates pseudo terminal (pty).

[2015-04-07 16:40] scopatz commented on #176
Cool thanks for the tip, @Russell-Jones-OxPhys

[2015-04-08 01:13] scopatz commented on #198
Alright @SavinaRoja - #198 is now on master, feel free to close this, please.  I think we can continue the discussion of speedups in another thread. Thanks!

[2015-04-08 01:44] scopatz commented on #21
Here are some:

[code]

And so on.  Just move the colors around.

[2015-04-09 21:41] asmeurer opened #201 "ProcessLookupError: [Errno 3] No such process"
[code]

[2015-04-09 21:53] asmeurer opened #202 "KeyError when exiting xonsh"
[code]

This was after typing `Ctrl-D` to exit xonsh.

[2015-04-09 23:16] wrywerytwreywery commented on #201
Thanks for reporting, @asmeurer!  I think that it is likely that this is related to the other issue you reported (#202).

I have been unable to replicate this behavior.  Is this something that always happens (regardless of what program you are trying to run), something that happens consistently when running a particular program, or something that just happens every once in a while?

Also, can you

[2015-04-10 00:45] asmeurer commented on #201
Mac OS X with iTerm 2 nightly. conda install -c scopatz xonsh. I haven't had time to use xonsh since this, so I can't say if it reproduces well or not.

[2015-04-10 04:04] scopatz commented on #202
Hmmm, any ideas @wrywerytwreywery?

[2015-04-10 05:11] scopatz commented on #201
I'll try playing around with this tomorrow, on my mac.  Also, @asmeurer, what happens if you just do:

[code]

[2015-04-10 09:02] wrywerytwreywery commented on #202
My first guess is that this is related to (and caused by) the issue from #201.

My first guess is that there could be a condition where a process finishes before we try to get its process group, which could cause the error in #201.  In that case, even though the job wasn't stored properly, we have already set `__xonsh_active_job__` to be this new process number.  So then, after #201 happens, runni

[2015-04-10 10:42] wrywerytwreywery commented on #202
I was also able to replicate this another way:
[code]

This shows that there is, in fact, a bug in the job control logic (and, specifically, with the way `ProcProxy` is handled.  I believe I have a fix in place on my local machine; I will test some more and then submit a PR.

[2015-04-10 16:31] asmeurer commented on #201
They get mixed up

[code]

[2015-04-10 16:32] asmeurer commented on #201
(to be clear, the final line of that is the next prompt, not part of the `print($PS1)`).

[2015-04-12 05:44] auscompgeek opened #204 "bash aliases extraction is unreliable"
The `xonsh.aliases.bash_aliases()` function mostly assumes only the output of the `alias` command will be written. However, many `bashrc`s, including distros' `/etc/bash.bashrc`s set `$PROMPT_COMMAND` when bash is run in interactive mode, which can cause unexpected output.

[2015-04-12 05:53] auscompgeek commented on #204
This begins to raise the question of whether this is worth the trouble that it causes...

[2015-04-13 06:08] scopatz commented on #204
Thanks for opening this issues @auscompgeek, I think the choice of whether it is worth it or not should be left up the users.  So really, there should be a way to toggle whether this feature is on or off....

[2015-04-13 06:19] #201 closed

[2015-04-13 06:20] scopatz commented on #202
@asmeurer can you confirm that the current master (0677827) solves this problem?

[2015-04-13 06:21] scopatz commented on #202
Thanks!

[2015-04-13 19:50] aig787 opened #205 "!! alias"
Would it be possible to add !! as an alias to the last executed command like in bash? I tried to add it, but it looks like it gets hung up on the parsing stage. Probably because `!` is valid python input? I'm not really sure where to start implementing that.

[2015-04-13 20:01] scopatz commented on #84
Hi @vitaut - I believe that this has now been added to master with #200 via the xexec builtin.  Would you mind verifying this?

[2015-04-13 20:02] scopatz commented on #81
I believe that this has now been added as of v0.1.5

[2015-04-13 20:03] scopatz commented on #81
Would you mind checking @eyalzek?

[2015-04-13 20:04] scopatz commented on #198
Please feel free to reopen @SavinaRoja, if this is not sufficient.

[2015-04-13 20:04] #198 closed

[2015-04-13 20:08] eyalzek commented on #81
The above use cases seem to be working very well! I'll give it a further look when I get the chance.

Thanks!

[2015-04-13 20:14] scopatz commented on #205
This came up in #153 as well. I personally don't really like the syntax, but if people are clamouring for it, it is hard to say no.  However, before doing this, we first need a robust history object, see #17.  I would be overjoyed if you implement this @aig787 :).  Other people have said that they would try, but i haven't seen a PR yet, so I think it is OK to go ahead and do it.

[2015-04-13 23:08] vitaut commented on #84
AFACS the `xexec` builtin works fine. Is there a way to make `xexec` override Python's `exec` for systems that expect a shell with the `exec` builtin?

[2015-04-13 23:50] scopatz commented on #84
@vitaut yes, but it shouldn't be enabled by default.  The way to do this is to stick the following in xonshrc or elsewhere:

[code]

This will override the Python built-in `exec()` function.

[2015-04-14 01:43] aig787 commented on #205
I'm not particularly attached to the syntax of it, the benefit I see there is that it's easier for newcomers. It would be just as easy to suggest an alternate command if someone typed `!!` and they could alias it if they like. I'd be happy to jump into a history object and see where things go from there, but I'm out of my depth when things get down to the parsing level. To change that stuff I woul

[2015-04-14 01:46] scopatz commented on #205
Awesome!  That is definitely a PR on its own.

No worries.  I am glad to help, and I am sure @wrywerytwreywery is too.  The more people who know more of the code base the better.  It'd be great to bring you up to speed on that part when the time comes.

[2015-04-14 10:31] eyalzek commented on #81
Still not getting tab completion for modules, for example; typing:
import
and clicking tab, won't list available modules. Not sure if that's expected.

[2015-04-14 14:04] scopatz commented on #81
module import completion is not yet implemented.  Can you make a separate issue for that?

[2015-04-14 14:05] eyalzek commented on #81
No problem

[2015-04-14 14:05] #81 closed

[2015-04-14 14:06] eyalzek opened #206 "Implement module import completion"
For example; typing:
import
and clicking tab, should list available modules.

[2015-04-14 15:09] aig787 commented on #205
So, IPython has its history in a SQLite database. There's some flexibility and speed that comes with that, but then we don't have the advantage of having it in an easily accessible text file. Any preference/thoughts on which way to go with that?

[2015-04-14 15:16] scopatz commented on #205
I vastly prefer JSON for this.

[2015-04-14 15:23] aig787 commented on #205
I tend to agree. That's the direction I'll head down then.

[2015-04-14 15:24] scopatz commented on #205
Great!

[2015-04-14 17:01] vitaut commented on #84
Fair enough, I'll add it to `.xonshrc`.

There is one issue with passing absolute paths to `exec` though:

[code]

[2015-04-14 17:25] aig787 commented on #84
@scopatz it looks like even with the alias entry in .xonshrc `exec` still refers to the python builtin.
[code]

[2015-04-14 17:58] aig787 commented on #108
I'm interested in getting the prompt to change as well. @scopatz is there a better approach than just parsing the bash prompt? Ultimately I'd like to have virtualenv-wrapper like functionality built in so we wouldn't need to worry about it.

[2015-04-15 00:55] wrywerytwreywery commented on #205
This sounds very nice.  I think what you all are saying is the right approach: make a rich history object of some kind, and then alias `!!` to some operation on it, rather than introducing `!!` as a new built-in feature itself.

It was actually surprising to me that aliasing something to `!!` (for example, `aliases['!!'] = lambda x,stdin=None: x`) doesn't work.  I think I can see why, though, now;

[2015-04-15 01:02] wrywerytwreywery commented on #205
Also, maybe going down the lines of premature optimization, but I think it would also be nice to be able to turn that "rich history" on and off, and, ideally to turn pieces of it (e.g., storing the resulting stdout) on/off as well, independently of the others.

Also also, @anula and @bsmt had expressed some interest in working on history as well (in #17).  I'm not sure where things stand with that

[2015-04-15 01:48] scopatz commented on #205
I was also surprised by that.  Probably warrants further investigation.

[2015-04-15 01:48] scopatz commented on #205
that is, I have been meaning to look into it :)

[2015-04-15 02:00] wrywerytwreywery commented on #108
I am not sure about the virtualenv stuff, but customizing the prompt in a general sense is possible (see [this section](http://xonsh.org/tutorial#customizing-the-prompt) of the xonsh tutorial).

I haven't tested, but if virtualenv is setting `$PS1` to try to make that change, it seems like you could set your xonsh prompt always to read that value from the environment:
`$PROMPT = lambda: $PS1`

...

[2015-04-15 02:07] wrywerytwreywery commented on #205
It seems like it is happening because `!` is coming out as an `ERRORTOKEN`, which makes sense in Python mode.

This feels kind of wrong, but I think in subprocess mode, we might want to turn that into a `NAME` (possibly along with all other `ERRORTOKEN`s that don't have some other meaning?), or maybe some other new kind of token to distinguish that it can be considered a name only in subprocess mo

[2015-04-15 02:09] scopatz commented on #205
I think that is the right thing to do.  That was the intent in the original tokenizer, even though I think this case broke that one too.

[2015-04-15 05:04] scopatz commented on #206
Thanks for opening this issue @eyalzek

[2015-04-15 05:09] scopatz commented on #84
Ahh yes, this is almost certainly a builtin issue since `exec/bin/sh` is valid Python syntax.  Try the following.

[code]

If that doesn't work, try this:

[code]

This could break many things...

[2015-04-15 05:37] scopatz commented on #108
For conda, you can probably do something like:

[code]

And then you modify the PROMPT to use this variable. I would imagine it is similar for virtual env.  This should probably be added to the default formatter.  PRs welcome!

[2015-04-15 21:17] scopatz opened #207 "crash when cd from deleted dir"
bash handles this through some magic that we should probably implement too.

[2015-04-15 23:46] aig787 opened #208 "Bash error on start"
On a base install of Fedora 20 Workstation I get
[code]
when I try to launch xonsh. The link here https://kb.brightcomputing.com/faq/index.php?action=artikel&cat=2&id=239&artlang=en seems to suggest it has something to do with how bash handles functions post shellshock.

[2015-04-16 00:22] aig787 commented on #208
The issue resolved itself. Couldn't tell you how or why, but it's very likely not anything xonsh was doing.

[2015-04-16 01:28] scopatz commented on #208
Weird, thanks for reporting, though.

[2015-04-16 18:45] #207 closed

[2015-04-16 19:01] wrywerytwreywery opened #210 "Dictionary Comprehension Crash"
xonsh just crashed when running the following:
[code]

The error is coming from an `assert False` in the parser.  It looks like an issue with the multiple assignment, since wrapping `k,v` in parens works:
[code]

[2015-04-16 19:02] wrywerytwreywery commented on #210
Also an issue in list comprehensions:
[code]

[2015-04-16 19:05] scopatz commented on #210
OK, I'll try to take a look later tonight.

[2015-04-16 21:54] vitaut commented on #84
@scopatz Unfortunately neither workaround works with exceptions at xonsh startup in both cases.

In the first case I get exception:

[code]

And in the second:
[code]

Is there a way to make xonsh interpret `exec /bin/sh` as a call to `exec`?  Dividing a builtin by something is not particularly useful anyway.

[2015-04-16 23:44] scopatz commented on #84
Agreed, but there is no way to tell from the syntax that it is a builtin.

[2015-04-16 23:44] scopatz commented on #84
I'll think about this

[2015-04-17 00:08] scopatz commented on #210
Fix in #211

[2015-04-17 01:20] #210 closed

[2015-04-17 01:57] scopatz commented on #48
I believe that this is now implemented.  Please re-open if I am in error

[2015-04-17 01:57] #48 closed

[2015-04-17 01:59] scopatz commented on #87
I believe that this has now been addressed.  Please re-open in I am incorrect.

[2015-04-17 01:59] #87 closed

[2015-04-17 02:00] scopatz commented on #55
With landscape.io I believe that this has been fixed.

[2015-04-17 02:00] #55 closed

[2015-04-17 02:01] scopatz commented on #202
ping @asmeurer...

[2015-04-17 03:02] juanpabloaj commented on #55
and https://codeclimate.com/ ?

[2015-04-17 03:29] scopatz commented on #55
nope we didn't set that up, but I wouldn't mind it if we did.

[2015-04-17 05:11] asmeurer commented on #202
I don't know how to reproduce it.

[2015-04-21 15:34] aig787 commented on #205
I have what I think is a good design for how the history should work, I think the next step is to implement a `history` command so I can do some more testing while I try to replace readline with it. Currently the history is referenced in the shell.py with `self.history` and I'm not sure how to reference that from within aliases.py. Any suggestions on how to go about that?

[2015-04-21 17:25] scopatz commented on #205
Hi @aig787 - I think that you should move all of the core history functionality to aliases.py or its own module (hist.py?) and then simply reference it from the shell.  Does that make sense?

[2015-04-21 17:31] aig787 commented on #205
@scopatz Yes that makes sense, how would I make sure both the shell and aliases are referencing the same instance of the history object though?If I load the module in each separately it'll be empty. Would it make sense to add that as a builtin property like `xonsh.history`?

[2015-04-21 17:41] scopatz commented on #205
Yes, you could add a `history` variable as an attribute to builtins.  See the `load_builtins()` and `unload_builins()` functions in the `built_ins.py` file (I think)

[2015-04-22 09:53] anula commented on #205
You are definitely more advanced in implementing history than I am (not putting as much time into it as I wanted), so good luck with that. But if you need a hand (or two) in implementing something I still would be willing to help.

[2015-04-28 03:15] scopatz opened #214 "Look int prompt-toolkit as a readline replacement."
https://github.com/jonathanslenders/python-prompt-toolkit

It would be awesome if this was a drop-in.

[2015-04-29 02:40] wrywerytwreywery commented on #214
This seems like it would be very nice!  In particular, I think this would let us do syntax highlighting with pygments, would allow some more control over tab-completion (to help with improving quoted strings, for example), and might also allow us to do zsh-style tab-completion (where the suggestions happen in place, rather than re-printing each time)...

[2015-05-01 06:56] anula commented on #214
Just a question: are you working on this right now, or is it also "help wanted"?

[2015-05-01 14:30] anula commented on #214
I had some time today to play with this, so if no one works on this yet here are my findings, otherwise just ignore me.

So I tried to replace all readline+cmd stuff with prompt-toolkit. It required really small amount of work to get something working (if you don't count time needed to learn prompt-toolkit), and here is an example of what I changed:
https://github.com/anula/xonsh/commit/a3176fd0cf

[2015-05-01 15:55] wrywerytwreywery commented on #214
Woo-hoo, thanks for giving this a go!

I think we will need to have something closer to a finished product before we can make a real decision about whether this is a win or not, but my personal feeling is that it is worth it to try to run with this, and the benefits I see (syntax highlighting, more control over tab-completion) outweigh the downside of the added dependency.  I am happy to help how

[2015-05-01 17:27] anula commented on #214
Hah, nice that this is already here!

Great! Then I will try to implement something "more finished".  For starters, I will try to copy current behavior (so just rewrite Completer and create a simple History object).

About prompt, can you tell me if [this page](http://xonsh.org/tutorial.html#customizing-the-prompt) covers everything that user can do to customize it?
If so, then I guess I can write

[2015-05-01 21:21] wrywerytwreywery commented on #214
That all sounds good to me.  Thanks!

Yes, I believe that should be it.

It seems like fixing the colors will be hard to implement with pygments.  I think it is worth looking into how `prompt_toolkit` is doing its thing with regard to ASNI color codes in the prompt.

Ahh, yes; that would be very nice.  I guess I have gotten used to hitting the up arrow multiple times to get back the multiline inpu

[2015-05-02 10:11] anula commented on #214
`FileHistory` in prompt-toolkit has a bit different behavior than history provided by readline. The latter writes all lines of history to the history file at the end of session (similarly to bash) and the former opens history file for each command that is entered and writes it down immediately (but if you press up you don't see commands that were entered in other terminal that is running simultane

[2015-05-02 15:54] anula commented on #214
On second thought, writing each line to file immediately isn't a very good idea if we want to keep maximal limit of lines. Writing at the end of session seems to be more reasonable and still it can be written in a way that prevents overriding.

[2015-05-02 16:02] traverseda opened #215 "RPyC zero deploy for seamless xonsh with ssh."
This is a feature discussion. Don't know if I'd go so far as to call it a feature request.

RPyC is a tool for remote procedure calls. It's zero deploy, and runs over ssh.

You can run data intensive tasks over a bunch of servers, or you could just import the remote's "os" module and use "remotefile = remote.open('/home/remoteServerUser/cat.jpg', 'r')", and treat it like a normal file object.

Als

[2015-05-02 19:30] scopatz commented on #215
Actually, as long as `remoteServer.xonsh(/home/remoteServerUser/log.txt)` returned something that could be eval'd into a string (or returned a list of strings) to file-like objects, this would work.  So if this call opened up a temporary file on the file system this could work.

Personally, I'd love to see experimentation in this direction.  Before adding any syntax, though, I think there should b

[2015-05-02 19:32] scopatz commented on #214
I agree.  I think we are going to do our own thing with history very soon anyway (as you mentioned)

[2015-05-05 06:26] tdsmith opened #217 "Errors on quoted arguments"
I noticed that this was failing:
[code]

Another failure, which crashes xonsh:
[code]

And another failure, which does not crash xonsh:
[code]

I'm not sure how many separate issues these are.

[2015-05-05 16:24] wrywerytwreywery commented on #217
Thanks for reporting!  I think this is all one issue, and I think I know how to fix it.

[2015-05-05 16:32] wrywerytwreywery commented on #217
In the meantime, it should work to do the following:
[code]

(without the "equals" sign)

[2015-05-05 16:37] tdsmith commented on #217
Gotcha, thanks!

[2015-05-06 05:18] #217 closed

[2015-05-06 05:19] scopatz commented on #217
Should be fixed on master now @tdsmith.  Thanks for reporting

[2015-05-06 05:19] scopatz commented on #217
Feel free to confirm and close this issue,

[2015-05-06 05:19] scopatz commented on #217
Err whoops, the PR closed it.  Feel free to reopen as needed!

[2015-05-07 09:04] anula commented on #214
Just a quick update: it seems to be easy to get completion to work, but I still didn't manage to get colorful prompt to work. This library assumes that it knows everything about what is written on screen, so using my workaround with `print` doesn't seem like a good idea in the long run (things like this start happening:
![completions_in_wrong_place](https://cloud.githubusercontent.com/assets/43997

[2015-05-07 12:05] wrywerytwreywery commented on #214
Thanks again for looking into this!  Glad to hear that completion seems to be working.

I think you're right that the `print` solution isn't the right thing in the long run.  It does look like there is a way to force colorization in prompt_toolkit by setting the handler in `DefaultPrompt` (this will probably involve doing some more setup rather than just using `get_input` directly) to return token

[2015-05-07 14:42] anula commented on #214
So I'd say that it should be possible to create one Token for each color and then to convert strings that have those colors like `{GREEN}` or even ANSI colors into list of pairs of tokens and text. However, I'd say that it may break some of currently working prompts that rely more on ANSI escape sequences - I am not sure if it is easy (or even possible) to emulate its behavior completely.
I am now

[2015-05-07 20:41] rbrewer123 opened #220 "Subprocess exit code exception (bash "set -e")"
I saw some mention of subprocess exit codes under another issue but thought opening a separate issue would be best.

The upcoming history mechanism may provide a useful way to fetch the exit code of a recently run process.  For scripts, it would also be nice to have a mechanism similar to "set -e" in bash, where any subprocess that exits with a non-zero exit code is considered an error.  For xonsh

[2015-05-07 23:13] scopatz commented on #214
Hi @anula, first off thanks *a ton* for investigating this.

Also, I just wanted to say that I currently lean towards this being optional (ie the default prompt-toolkit is around, and falling back to readline if it isn't). That way we can retain only one strict dependency (PLY).  I wanted to get your and @wrywerytwreywery's thoughts though.  Thanks again!

[2015-05-07 23:18] scopatz commented on #220
Hi @rbrewer123, thanks for noting this. I think this is good feature to have, just like traces (`set -x`).  The variable name might need to be special and/or namespaced (`__xonsh_subproc_check__`), but the general idea is good.  A context manager would also be nice.

[2015-05-08 10:48] anula commented on #214
With my current knowledge I'd say it seems like a doable and sensible idea. Surely readline doesn't offer all the possibilities that prompt_toolkit offers, so some features would work only when prompt_toolkit is available.
The only problem that I see right now is prompt. The easiest solution for it to work in both modes would be to just make prompt_toolkit display it correctly, so that is what I a

[2015-05-08 17:25] scopatz commented on #214
Sounds good!

[2015-05-08 20:04] traverseda commented on #215
I've got the ssh authentication working, and I've even got xonsh running on the remote server. But it uses the local machines os and sys. Need to get better at monkey patching.

[2015-05-08 20:06] scopatz commented on #215
@traverseda Cool :) Let us know when you have a PR.

[2015-05-08 21:12] anula commented on #214
Hah, I think I found out why just passing ANSI colors to `get_input` doesn't work. They use [`Char`](https://github.com/jonathanslenders/python-prompt-toolkit/blob/master/prompt_toolkit/layout/screen.py#L31) to represent single character, and that class just manually replaces all color sequences with something else.
The crucial moment is [here](https://github.com/jonathanslenders/python-prompt-too

[2015-05-09 00:32] scopatz commented on #214
I think that this is an acceptable workaround for the time being.  We do much worse things to get readline working properly.  I'd also bring up this use case with them once the workaround is implemented and see what they have to say. They will probably have some ideas about what the best way to support us long term are.

[2015-05-09 12:09] anula commented on #214
Great, I will proceed with this then.

[2015-05-11 00:34] tdsmith opened #226 "xonsh is not robust to the presence of gnureadline"
gnureadline writes a Python readline.py, which keeps xonsh from starting:

[code]

[2015-05-11 00:49] scopatz commented on #226
Thanks for reporting! I think that the current windows pr has a fix for this.

[2015-05-11 00:51] tdsmith commented on #226
Great, thanks!

[2015-05-12 06:39] rbrewer123 commented on #78
I'm seeing this bug on Windows too with Python 3.4.3 and pyreadline 2.0.  Neither ctrl-c (multiple times) nor ctrl-g (multiple times) stop the reverse search.  ctrl-g seems to restart the previous reverse search.  ctrl-c followed by return exits the reverse search.

[2015-05-12 15:39] scopatz commented on #78
My hope is that @anula's work on prompt-toolkit can fix this in some circumstances.

[2015-05-12 16:14] anula commented on #78
With prompt_toolkit it seems to work without problems on Ubuntu 14.04, on Windows I have it yet to check, but I guess it would require more people to confirm if it really works.

[2015-05-15 18:49] tdsmith opened #231 "Funny command parsing"
Google Chrome Canary's binary ships as `/Applications/Google Chrome Canary.app/Contents/MacOS/Google Chrome Canary`. I want to pass it a command-line option, so I chdir'd to `/Applications/Google Chrome Canary.app/Contents/MacOS` and typed:

`./G[tab]`

which autocompleted to

`'./Google Chrome Canary'`

Then, I added `--enable-new-bookmark-apps`, and hit enter.

xonsh complains:

[code]

Using `$

[2015-05-15 19:59] scopatz commented on #231
Hi @tdsmith - Thanks for reporting! I see what the problem is here.  Basically `--enable-new-bookmark-apps` is a valid Python expression, ie `-(-enable) - new - bookmarks - apps`.  Normally, this wouldn't matter because the command would not be in the execution context. and so the parser would auto-wrap this in `$[]`.  However, the command here is given as string, and so this is a theoretically va

[2015-05-15 20:13] tdsmith opened #232 "Allow backslash-escaping globbing characters"
To run e.g. `find . -name *.pdf` with an escaped asterisk (so that it doesn't match `foo.pdf` in the current working directory), I tried `find . -name \*.pdf`, which matches no files, presumably (I didn't investigate) because xonsh is handing find a literal backslash. `find . -name '*.pdf'` works.

I don't know what the set of bashisms xonsh wants to support is. Stop me if these aren't useful; I'm

[2015-05-15 21:35] scopatz commented on #232
Thanks for reporting these! For what it is worth, I do think it is very helpful.  Personally, I don't mind the string method.  But if escape characters are going to be added then we may as well add this one.  Note that Bash requires `find . -name \*.pdf` form.

[2015-05-16 01:32] rbrewer123 opened #233 "windows: shebang (#!) scripts don't work"
On Windows, running shebang scripts from xonsh generally doesn't work.  My preliminary investigation shows that _is_runnable_name() may be too restrictive and preventing the shebang-checking code from ever executing.  On Linux this is no big deal since Linux intrinsically can run shebang lines.  On Windows, this needs to be fixed.

I think a good answer here is for _is_runnable_name() to do an eff

[2015-05-16 01:47] rbrewer123 opened #234 "windows: enable git branch checking"
Git branch checking is currently disabled on Windows due to it having really poor performance.  My first  implementation (the one that was too slow) attempted to run 'git' to check availability, since 'which' is not available on Windows.  A simple Python implementation of 'which' is probably the first thing to try to see if acceptable performance is achieved.

If that's not enough, perhaps some ve

[2015-05-16 01:54] rbrewer123 opened #235 "windows: ctrl-c inside git bash window exits xonsh"
I'm not sure if this is a problem with msysGit bash, xonsh, or a strange interaction.  I'm observing this behavior with msysGit 1.9.5.20150319 on Windows 8.1 with xonsh using the just-merged Windows support.

Open File Explorer and navigate to a directory.  Right click, and choose 'Git Bash Here'.  Inside the git bash window, run xonsh.  At the xonsh prompt, press ctrl-c.  xonsh exits and you are

[2015-05-16 02:02] rbrewer123 opened #236 "windows: support for suspending jobs"
xonsh running on Windows allows use of the '&' operator in subprocess mode to create background processes.  These may be brought to the foreground via the 'fg' command.  ctrl-z to suspend the foreground process is currently not implemented.

@wrywerytwreywery has stated that the 'psutils' package may provide some underlying Python tools for implementing process suspension on Windows.  I believe th

[2015-05-16 13:53] wrywerytwreywery commented on #233
When I wrote `_is_runnable_name`, it was only intended for running when invoking an executable by specifying its full name.  So I think it is important not to lose that, but extending it to also check whether the argument is an executable in the PATH seems like it should be fine.

I'm no Windows expert, but I think that sounds pretty reasonable (though of course we don't want to do that on *nix sy

[2015-05-16 13:56] wrywerytwreywery commented on #236
`psutils` has support for suspending processes, so the actual suspending should be possible.  The hard part is getting the ^Z command to the process, I think (iirc, Windows treats ^Z as EOF, so I'm not sure how possible it is to grab that when a process is running).

[2015-05-16 14:04] rbrewer123 commented on #233
@wrywerytwreywery it'll be a couple days until I could get back to this, so you're welcome to take it.  I think it's the highest priority issue on the Windows port.

[2015-05-16 14:10] wrywerytwreywery commented on #234
Hmmm my initial feeling would have been just to skip the other checks on Windows and do something like the following (from `current branch` in `env.py`):
[code]

But that is slow on Windows?

One kludgy option (not sure how reliable it would be, but it might be faster) is to climb to directory tree looking for `.git/HEAD` and try to read the current branch from that.

[2015-05-16 14:58] rbrewer123 commented on #234
I hadn't tried your first idea.  My quick test is that although it's still slower than I'd prefer, it's within the realm of sanity and may be acceptable on faster hardware.  I'll work on a patch but it may be a couple days to get back to it.

[2015-05-16 15:13] rbrewer123 commented on #234
I'm getting faster at the process, so #238 is available.

[2015-05-17 20:39] scopatz commented on #235
That sounds weird.  Can anyone else reproduce this...

[2015-05-17 20:42] scopatz commented on #236
Maybe ^Z is terminal dependent too....

[2015-05-17 20:54] wrywerytwreywery commented on #235
I get the same behavior.  Maybe Git Bash is intercepting the ^C and interpreting that as "kill the child?"

Still works fine for me in `cmd.exe`, though.

[2015-05-17 20:55] scopatz commented on #235
Ahh ok.  Still this is weird, especially if ^C works in msys.

[2015-05-17 20:58] #233 closed

[2015-05-17 21:08] wrywerytwreywery commented on #236
I think there's a chance, but I did a quick test in git bash, and that also didn't interpret ^Z.  I think the odds are slim that there is an easy way to add such a hook.